<template>
  <div>
    <form id="AddEditAccount">
      <div class="row">
        <div class="container">
          <div class="row mb-0">

            <div class="col-lg-4 col-sm-12">
                <div class="avata-user-change-main">
                  <div class="avata-user-change-image" :style="isUploading ? 'opacity: 0.5': ''">
                      <b-spinner v-if="isUploading" variant="primary" label="Spinning" class="spinner-load-image"></b-spinner>
                      <cld-image cloudName="donghcmute" :publicId="userAvatarId" height="150" width="150" crop="scale" />
                  </div>
                  <div class="btn-change-main">
                    <input type="file" accept="image/*" class="btn-change" @change="uploadImage">
                  </div>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12">
              <div class="row mb-0">
                <div class="col-lg-6 col-sm-12">
                    <form-group-input
                        type="text"
                        label="Họ"
                        invalidFeedback="Vui lòng nhập Họ hợp lệ"
                        v-model="userFirstName"
                        :touch="$v.userFirstName.$touch"
                        :invalid="$v.userFirstName.$error"
                    />
                </div>
                <div class="col-lg-6 col-sm-12">
                    <form-group-input
                        type="text"
                        label="Tên"
                        invalidFeedback="Vui lòng nhập tên hợp lệ"
                        v-model="userLastName"
                        :touch="$v.userLastName.$touch"
                        :invalid="$v.userLastName.$error"
                    />
                </div>
                <div class="col-lg-12 col-sm-12">
                    <form-group-input
                        type="text"
                        label="Tài Khoản"
                        invalidFeedback="Vui lòng nhập tài khoản hợp lệ"
                        v-model="userUsername"
                        :touch="$v.userUsername.$touch"
                        :invalid="$v.userUsername.$error"
                    />
                </div>
                <div class="col-lg-12 col-sm-12">
                    <form-group-input
                        type="password"
                        label="Mật khẩu"
                        invalidFeedback="Vui lòng nhập mật khẩu hợp lệ"
                        v-model="userPassWord"
                        :touch="$v.userPassWord.$touch"
                        :invalid="$v.userPassWord.$error"
                    />
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                    <form-group-input
                        type="text"
                        label="Email"
                        invalidFeedback="Vui lòng nhập email hợp lệ"
                        v-model="userEmail"
                        :touch="$v.userEmail.$touch"
                        :invalid="$v.userEmail.$error"
                    />
            </div>
            <div class="col-lg-4 col-sm-12">
                    <form-group-input
                        type="text"
                        label="Số điện thoại"
                        invalidFeedback="Vui lòng nhập số điện thoại hợp lệ(số điện thoại có 10 số)"
                        v-model="userPhone"
                        :touch="$v.userPhone.$touch"
                        :invalid="$v.userPhone.$error"
                    />
            </div>
            <div class="col-lg-4 col-sm-12 mb-2">
                  <label for="categoryIcon">Trạng thái của tài khoản</label>
                  <b-form-select v-model="userStatus" class="mb-3" :options="listStatus">
                  </b-form-select>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="info-user-row">
                  <div class="info-user-row-left">
                    <p class="info-user-row-text">Giới tính</p>
                  </div>
                  <div class="info-user-row-right my-radio-btn">
                    <span class="info-user-row-right-radio">
                      <input  name="gender" type = "radio" value="male" class="" v-model="userSex"> Nam
                    </span>
                    <span class="info-user-row-right-radio">
                      <input  name="gender" type = "radio" value="female" class="" v-model="userSex"> Nữ
                    </span>
                    <span class="info-user-row-right-radio">
                      <input  name="gender" type = "radio" value="other" class="" v-model="userSex"> Khác
                    </span>
                  </div>
                </div>
            </div>
            <!-- <div class="row mb-0">
            </div>
            <div class="col-lg-12 col-sm-12">
                <form-group-input
                    type="text"
                    label="Ảnh đại diện"
                    invalidFeedback="Vui lòng chọn ảnh đại diện hợp lệ"
                    v-model="userAvatar"
                    :touch="$v.userAvatar.$touch"
                    :invalid="$v.userAvatar.$error"
                />
            </div> -->

            <!-- <div class="col-lg-6 col-sm-12 mb-2">
              <label for="categoryIcon">Giới tính</label>
              <b-form-select v-model="userSex" class="mb-3" :options="listSex">
              </b-form-select>
            </div> -->
            <div class="col-lg-6 col-sm-12 mb-2">
              <label for="categoryIcon">Quyền tài khoản</label>
              <b-form-select v-model="userUserRole" class="mb-3" :options="listRole">
              </b-form-select>
            </div>
            <div class="col-lg-12 col-sm-12" v-if="userUserRole == 1">
                <form-group-input
                  type="text"
                  label="Khu vực quản lý"
                  invalidFeedback="Vui lòng nhập Khu vực quản lý"
                  v-model="userChargeArea"
                  :touch="$v.userChargeArea.$touch"
                  :invalid="$v.userChargeArea.$error"
                />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, numeric, minLength, maxLength, email } from 'vuelidate/lib/validators'
import FormGroupInput from '../../../components/form/FormGroupInput.vue'
import userService from '../../../services/user.service'
import notification from '../../../utils/notification'
import fileService from '../../../services/file.service'
export default {
  mixins: [validationMixin],
  props: {
    userId: { type: Number, default: 0 },
    firstName: { type: String, default: '' },
    lastName: { type: String, default: '' },
    username: { type: String, default: '' },
    phone: { type: String, default: '' },
    avatar: { type: String, default: '' },
    sex: { type: String, default: '' },
    email: { type: String, default: '' },
    userRole: { type: Number, default: 0 },
    status: { type: Boolean, default: true },
    passWord: { type: String, default: '' },
    chargeArea: { type: String, default: '' }
  },
  validations: {
    userFirstName: { required },
    userLastName: { required },
    userUsername: { required },
    userPhone: {
      required,
      numeric,
      minLength: minLength(10),
      maxLength: maxLength(10)
    },
    userAvatar: { required },
    userSex: { required },
    userEmail: { required,
      email
    },
    userUserRole: { required },
    userStatus: { required },
    userPassWord: { required },
    userChargeArea: {required}
  },
  data () {
    return {
      userFirstName: this.firstName ? this.firstName : '',
      userLastName: this.lastName ? this.lastName : '',
      userUsername: this.username ? this.username : '',
      userPhone: this.phone ? this.phone : '',
      userAvatar: this.avatar ? this.avatar : 'https://res.cloudinary.com/donghcmute/image/upload/v1634690680/user_bbt8lk.png',
      userAvatarId: this.avatar ? this.avatar.substring(this.avatar.indexOf('upload'), this.avatar.length).replace('upload/', '') : 'v1634690680/user_bbt8lk.png',
      userSex: this.sex ? this.sex : 'male',
      userEmail: this.email ? this.email : '',
      userUserRole: this.userRole ? this.userRole : 0,
      userStatus: this.status !== undefined ? this.status : true,
      userPassWord: this.passWord ? this.passWord : '',
      userChargeArea: this.chargeArea ? this.chargeArea : '',
      isUploading: false,
      uploadFile: null,
      listRole: [
        {text: 'Quản lý', value: 0},
        {text: 'Giao hàng', value: 1},
        {text: 'Khách hàng', value: 2}
      ],
      listSex: [
        {text: 'Nam', value: 'male'},
        {text: 'Nữ', value: 'female'},
        {text: 'Khác', value: 'other'}
      ],
      listStatus: [
        {text: 'Hoạt động', value: true},
        {text: 'Không hoạt động', value: false}
      ]
    }
  },
  components: {
    FormGroupInput
  },
  mounted () { },

  computed: {
  },
  methods: {
    validate () {
      this.$v.$touch()
      return !this.$v.$invalid
    },
    addUser () {
      if (!this.validate()) {
        return
      }
      let data = {
        'firstName': this.userFirstName,
        'lastName': this.userLastName,
        'username': this.userUsername,
        'phone': this.userPhone,
        'avatar': this.userAvatar,
        'avataId': this.userAvatarId,
        'sex': this.userSex,
        'email': this.userEmail,
        'userRole': this.userUserRole,
        'status': this.userStatus,
        'passWord': this.userPassWord,
        'chargeArea': this.userChargeArea
      }
      userService.addUser(data).then(rs => {
        if (rs.code === 200) {
          notification.success('Thêm thành công')
          this.$emit('onUpdateData')
          this.$bvModal.hide('UserAddEdit')
        }
      })
    },
    uploadImage (e) {
      var checkType = false
      var checkSize = false
      e.target.files.forEach(r => {
        if (!r.type.includes('image/')) {
          checkType = true
        }
        if (r.size > 2 * 1024 * 1024) { // check size 5mb
          checkSize = true
        }
      })
      if (checkType) {
        notification.error('Xin vui lòng chỉ chọn hình ảnh')
        return
      }
      if (checkSize) {
        notification.error('Xin vui lòng chọn file có kích thước nhỏ hơn 2MB')
        return
      }
      this.isUploading = true
      //   console.log('e.target.files', e.target.files)
      let formData = new FormData()
      formData.append('file', e.target.files[0])
      let uploadPreset = 'dongne'
      formData.append('upload_preset', uploadPreset)

      fileService.uploadImage(formData).then(res => {
        console.log(res)
        this.isUploading = false
        this.avatar = res.data.url
        this.userAvatarId = res.data.public_id
      })
    },
    updateUser () {
      if (!this.validate()) {
        return
      }
      console.log('updateUser')
      let data = {
        id: this.userId,
        user: {
          'name': this.categoryName,
          'firstName': this.userFirstName,
          'lastName': this.userLastName,
          'username': this.userUsername,
          'phone': this.userPhone,
          'avatar': this.userAvatar,
          'avataId': this.userAvatarId,
          'sex': this.userSex,
          'email': this.userEmail,
          'userRole': this.userUserRole,
          'status': this.userStatus,
          'passWord': this.userPassWord,
          'chargeArea': this.userChargeArea
        }
      }
      userService.updateUser(data).then(rs => {
        if (rs.code === 200) {
          notification.success('Cập nhật thành công')
          this.$emit('onUpdateData')
          this.$bvModal.hide('UserAddEdit')
        }
      })
    }
  }
}
</script>

<style scoped>
.label {
  margin-bottom: 2px !important ;
}
.avata-user-change-main{
width: 100%;
    }

    .avata-user-change-image{
        position: relative;
        width: 167px;
        height: 167px;
        margin-left: auto;
        margin-right: auto;
    }

    .avata-user-change-img{
        width: 100%;
        border-radius: 50%;
    }

    .btn-change-main{
        margin: 20px 0;
        text-align: center;
    }

    .btn-change{
      padding: 5px 8px;
      color: #a8b324;
      border: 1px solid #a8b324;
      font-size: 11px;
      background-color: #fff;
      border-radius: 5px;
      width: 100%;
    }

    input:focus {
        outline: none !important;
        border:1px solid #a8b324;
        box-shadow: 0 0 5px #a8b324;
    }

    .btn-change:hover{
        padding: 5px 8px;
        color: #fff;
        border: 1px solid #a8b324;
        font-size: 11px;
        background-color: #a8b324;
        border-radius: 5px;
        cursor: pointer;
    }

    .avata-user-change-text{
        color: #999;
        font-size: 14px;
        line-height: 14px;
    }

    .my-radio-btn{
    display: flex;
    }

    .info-user-row-right-radio{
        display: flex;
        align-items: center;
        padding: 0 10px;
    }
    .info-user-row{
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        margin-top: 35px;
    }

    .info-user-row-left{
        width: 20%;
        text-align: right;
        color: rgba(85,85,85,.8);
        text-transform: capitalize;
        overflow: hidden;
    }

    .info-user-row-text{
      margin-bottom:2px;
    }

    .info-user-row-right{
        width: 80%;
        margin-left: 20px;
    }

    .info-user-row-user{

    }

    .info-user-row-name{
        display: flex;
        align-items: center;
    }

    .info-user-row-name-text{
        padding: 10px 15px;
        border: 1px solid #eaeaea;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        min-width: 350px;
    }

    .info-user-row-name-email{
        padding: 10px 15px;
        border: 1px solid #eaeaea;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        min-width: 350px;
    }

    .change-btn{
        margin-left: 15px;
        color: #a8b324;
        cursor: pointer;
        font-size: 13px;
        text-decoration: none;
    }

    .info-user-row-name-day{
        padding: 10px 15px;
        border: 1px solid #eaeaea;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        margin-right: 15px;
        max-width: 110px;
    }

    .info-user-row-name-month{
        padding: 10px 10px;
        border: 1px solid #eaeaea;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        margin-right: 15px;
        max-width: 110px;

    }

    .info-user-row-name-year{
        padding: 10px 15px;
        border: 1px solid #eaeaea;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        margin-right: 15px;
        max-width: 110px;
    }
    .info-user-row-right-radio{
        display: flex;
        align-items: center;
        padding: 0 10px;
    }
</style>
