<template>
  <div>
    <form id="AddEditCategory">
      <div class="row">
        <div class="container">
          <div class="row mb-0">
            <div class="col-lg-6 col-sm-12 mb-2">
              <label for="categoryIcon">Icon</label>
              <b-form-select v-model="categoryIcon" class="mb-3" :options="listIcon">
              </b-form-select>
            </div>
            <div class="col-lg-6 col-sm-12">
                <form-group-input
                    type="text"
                    label="Tên loại sản phẩm"
                    invalidFeedback="Vui lòng nhập tên loại sản phẩm hợp lệ"
                    v-model="categoryName"
                    :touch="$v.categoryName.$touch"
                    :invalid="$v.categoryName.$error"
                />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'
import FormGroupInput from '../../../components/form/FormGroupInput.vue'
import categoryService from '../../../services/category.service'
import notification from '../../../utils/notification'
export default {
  mixins: [validationMixin],
  props: {
    icon: { type: String, default: '' },
    name: { type: String, default: '' },
    categoryId: { type: Number, default: 0 }
  },
  validations: {
    categoryIcon: { required },
    categoryName: { required }
  },
  data () {
    return {
      categoryIcon: this.icon ? this.icon : 'fas fa-egg',
      categoryName: this.name ? this.name : '',
      cateId: this.categoryId ? this.categoryId : 0,
      listIcon: [
        {text: 'fas fa-egg', value: 'fas fa-egg'},
        {text: 'fas fa-apple-alt', value: 'fas fa-apple-alt'},
        {text: 'fas fa-carrot', value: 'fas fa-carrot'},
        {text: 'fas fa-pizza-slice', value: 'fas fa-pizza-slice'},
        {text: 'fas fa-shield-virus', value: 'fas fa-shield-virus'},
        {text: 'fas fa-baby-carriage', value: 'fas fa-baby-carriage'},
        {text: 'fas fa-tags', value: 'fas fa-tags'}
      ]
    }
  },
  components: {
    FormGroupInput
  },
  mounted () { },

  computed: {
  },
  methods: {
    validate () {
      this.$v.$touch()
      return !this.$v.$invalid
    },
    addCategory () {
      if (!this.validate()) {
        return
      }
      console.log('addCategory')
      let data = {
        'name': this.categoryName,
        'icon': this.categoryIcon
      }
      categoryService.addCategory(data).then(rs => {
        if (rs.code === 200) {
          notification.success('Thêm thành công')
          this.$emit('onUpdateData')
          this.$bvModal.hide('CategoryAddEdit')
        }
      })
    },
    updateCategory () {
      if (!this.validate()) {
        return
      }
      console.log('updateCategory')
      let data = {
        id: this.categoryId,
        category: {
          'name': this.categoryName,
          'icon': this.categoryIcon
        }
      }
      categoryService.updateCategory(data).then(rs => {
        if (rs.code === 200) {
          notification.success('Cập nhật thành công')
          this.$emit('onUpdateData')
          this.$bvModal.hide('CategoryAddEdit')
        }
      })
    }
  }
}
</script>

<style scoped>
.label {
  margin-bottom: 2px !important ;
}
</style>
