<template>
  <div class="home-content">
    <div class="group-button-header">
      <button class= "add-new-item" @click="openModalAdd">Thêm mới</button>
      <b-form-input v-model="search" class="input-custom-search" placeholder="Tìm kiếm ..." @keypress.enter="loadData()"></b-form-input>
    </div>
    <Dialog
      id="CategoryAddEdit"
      :title="isEdit ? 'Chỉnh sửa loại sản phẩm' : 'Thêm loại sản phẩm'"
      size="lg"
      :titleBtnSubmit="isEdit ? 'Cập nhật' : 'Thêm mới'"
      :onSubmit="onAddEditCategory"
    >
      <template v-slot:modal-body>
        <AddEditCategory
          ref="addEditCategory"
          :icon="categoryIcon"
          :name="categoryName"
          :categoryId="categoryId"
          @onUpdateData="loadData"
        >
        </AddEditCategory>
      </template>
    </Dialog>
    <check-delete
      id="CheckDeleteCategory"
      @confirmDelete="confirmDelete"
      content="Bạn có muốn xóa loại sản phẩm không?"
    ></check-delete>
    <div class="my-table">
        <div class="table_responsive">
        <table>
            <thead>
            <tr>
                <th>STT</th>
                <th>Tên loại sản phẩm</th>
                <th>Icon</th>
                <th>Trạng thái</th>
                <th>Thao tác</th>
            </tr>
            </thead>

            <tbody>
            <tr v-for="(item, index) in listCategory" :key="item.id">
                <td>{{index + 1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.icon}}</td>
                <td class="td-justify-center">
                  <div class="record-status" :class="item.recordStatus == 1 ? 'record-off-sale' : 'record-in-sale'">
                    {{item.recordStatus == 1 ? 'Ngừng kinh doanh' : 'Đang kinh doanh'}}
                  </div>
                </td>
                <td>
                <span class="action_btn" v-if="!(item.recordStatus == 1)">
                    <button class="js-open-form" @click="openModalEdit(item)">Sửa</button>
                    <button @click="onDeleteRow(item.id)">Xóa</button>
                </span>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="admin-pagination">
              <AdminPagination
              :key="totalPage"
                :total="totalPage"
                @onPageChange="onPageChanged"
              >
              </AdminPagination>
          </div>
        </div>
    </div>
      <vue-excel-xlsx
        :data="listCategory"
        :columns="columns"
        :file-name="'Thống kê quản lý loại sản phẩm'"
        :file-type="'xlsx'"
        :sheet-name="'sheetname'"
        class="add-new-item"
        >
        Tải xuống file Excel
    </vue-excel-xlsx>
  </div>
</template>
<script>
import AdminPagination from '../../../components/pagination/AdminPagination.vue'
import AddEditCategory from './AddEditCategory.vue'
import categoryService from '../../../services/category.service'
import CheckDelete from '../../../components/confirm/DeleteConfirm.vue'
import notification from '../../../utils/notification'
import VueExcelXlsx from 'vue-excel-xlsx'
import Vue from 'vue'
Vue.use(VueExcelXlsx)
export default ({
  name: 'AdminLayout2',
  components: {
    AddEditCategory,
    AdminPagination,
    CheckDelete
  },
  data () {
    return {
      search: '',
      isEdit: true,
      listCategory: {},
      pageNumber: 1,
      pageSize: 5,
      totalPage: 1,
      categoryIcon: '',
      categoryName: '',
      categoryId: 0,
      columns:
      [
        {
          label: 'STT',
          field: 'id'
        },
        {
          label: 'Tên loại sản phẩm',
          field: 'name'
        },
        {
          label: 'Biểu tượng',
          field: 'icon'
        }
      ]
    }
  },
  mounted () {
    this.loadData()
  },
  methods: {
    loadData () {
      categoryService.getCategoriesByAdmin(this.pageNumber, this.pageSize, this.search).then(rs => {
        console.log('rs', rs)
        this.listCategory = rs.data
        this.totalPage = Math.ceil(rs.totalElements / this.pageSize)
        console.log('this.totalPage', this.totalPage)
        console.log('list category', this.listCategory)
      })
    },
    onPageChanged (number) {
      this.pageNumber = number
      this.loadData()
    },
    openModalAdd () {
      this.isEdit = false
      this.categoryId = null
      this.categoryIcon = ''
      this.categoryName = ''
      this.$bvModal.show('CategoryAddEdit')
    },
    openModalEdit (item) {
      this.isEdit = true
      this.categoryId = item.id
      this.categoryIcon = item.icon
      this.categoryName = item.name
      this.$bvModal.show('CategoryAddEdit')
    },
    onAddEditCategory () {
      if (this.isEdit) {
        this.$refs.addEditCategory.updateCategory()
      } else {
        this.$refs.addEditCategory.addCategory()
      }
    },
    onDeleteRow (id) {
      this.$bvModal.show('CheckDeleteCategory')
      this.deleteId = id
    },
    confirmDelete () {
      this.$bvModal.hide('CheckDeleteCategory')
      categoryService.deleteCategory(this.deleteId).then(rs => {
        if (rs.code === 200) {
          notification.success('Xóa thành công')
          this.loadData()
        }
      })
    }
  }
})
</script>

<style scoped>
.main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* justify-content: center;
    align-items: center;
    background: #232c33; */
}
.dashboard{
  white-space: nowrap;
}

.home-content .overview-boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
}
.overview-boxes .box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.overview-boxes .box-topic{
  font-size: 20px;
  font-weight: 500;
}
.home-content .box .number{
  display: inline-block;
  font-size: 20 px;
  margin-top: -6px;
  font-weight: 500;
}
.home-content .box .indicator{
  display: flex;
  align-items: center;
}
.home-content .box .indicator i{
  height: 20px;
  width: 20px;
  background: #8FDACB;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  margin-right: 5px;
}
.box .indicator i.down{
  background: #e87d88;
}
.home-content .box .indicator .text{
  font-size: 12px;
}
.home-content .box .cart{
  display: inline-block;
  font-size: 10px;
  height: 50px;
  width: 50px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 12px;
  margin: -15px 0 0 6px;
}
.home-content .box .cart.two{
   color: #2BD47D;
   background: #C0F2D8;
 }
.home-content .box .cart.three{
   color: #ffc233;
   background: #ffe8b3;
 }
.home-content .box .cart.four{
   color: #e05260;
   background: #f7d4d7;
 }
.home-content .total-order{
  font-size: 20px;
  font-weight: 500;
}

.picture-colum{
    text-align: center;
}

.center-colum{
    text-align: center;
}

.table_responsive {
  margin: 0 20px;
  max-width: 100%;
  border: 1px solid #00bcd4;
  background-color: #efefef33;
  padding: 15px;
  overflow: auto;
  margin: auto;
  border-radius: 4px;
}

table {
  width: 100%;
  font-size: 13px;
  color: #444;
  white-space: nowrap;
  border-collapse: collapse;
}

table>thead {
  background-color: #00bcd4;
  color: #fff;
}

table>thead th {
  padding: 15px;
}

table th,
table td {
  border: 1px solid #00000017;
  padding: 10px 15px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: center;
  text-align: center;
}
/* table td{
  display: flex;
  justify-content: center;
} */

table>tbody>tr>td>img {
  display: inline-block;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 2px 6px #0003;
}

.action_btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.action_btn>button {
  text-decoration: none;
  color: #444;
  background: #fff;
  border: 1px solid;
  display: inline-block;
  padding: 7px 20px;
  font-weight: bold;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
}

.action_btn>button:nth-child(1) {
  border-color: #26a69a;
}

.action_btn>button:nth-child(2) {
  border-color: orange;
}

.action_btn>button:hover {
  box-shadow: 0 3px 8px #0003;
}

table>tbody>tr {
  background-color: #fff;
  transition: 0.3s ease-in-out;
}

table>tbody>tr:nth-child(even) {
  background-color: rgb(238, 238, 238);
}

table>tbody>tr:hover{
  filter: drop-shadow(0px 2px 6px #0002);
}

.my-table{
  margin: 0 20px;
}

/* Right box */

/* Responsive Media Query */

@media (max-width: 1150px) {
  .home-content .sales-boxes{
    flex-direction: column;
  }
  .home-content .sales-boxes .box{
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .home-content .sales-boxes .top-sales{
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .overview-boxes .box{
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  .home-content .sales-boxes .sales-details{
    width: 560px;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box{
    width: 100%;
    margin-bottom: 15px;
  }
}

.modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  display: none;
}

.open{
  display: flex;
}

.modal-container{
  max-width: calc(100% - 32px);
  background-color: #fff;
  width: 800px;
  min-height: 200px;
  position: relative;
  padding-bottom: 30px;
  animation: modalFadeIn ease 0.4s;
}

header.modal-header{
  background: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}

.modal-close{
  position: absolute;
  right: 0;
  top : 0;
  padding: 12px;
  cursor: pointer;
  opacity: 0.8;
  color: #fff;
}

.modal-close:hover{
  opacity: 1;
}

.modal-body{
  padding: 20px;
  max-height: 300px;
  overflow-x:hidden;
  overflow-y:auto;
}

.modal-label{
  font-size: 15px;
  display: block;
  margin-bottom: 8px;
}

.modal-input{
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 16px;
}

.submit-btn{
  text-align: center;
}

#submit-form{
  background: #009688;
  border: none;
  color: #fff;
  width: 50%;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
}

#submit-form:hover{
  opacity: 0.8;
}

@keyframes modalFadeIn{
  from{
    opacity: 0;
    transform: translateY(-140px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
.add-new-item{
  margin: 20px ;
  padding: 10px 15px;
  border: none;
  background-color: #40916C;
  color: #fff;
  border-radius: 5px ;
  font-size: 14px;
}

.add-new-item:hover{
  background-color: #40916C;
}
</style>
