<template>
    <nav>
        <div class="sidebar-button">
          <button @click="sidebarClick" class="sidebarBtn"><i class="fas fa-bars"></i></button>
          <span class="dashboard">{{title}}</span>
        </div>
        <!-- <div class="search-box">
          <input type="text" placeholder="Tìm kiếm...">
          <button class="my-search">
            <i class="fas fa-search"></i>
          </button>
        </div> -->
        <b-nav-item-dropdown id="nav7_ddown" right>
          <template slot="button-content">
            <div class="profile-details">
              <img :src="currentUser.avatar" alt="">
              <span class="admin_name">{{currentUser.username}}</span>
              <i class="fas fa-chevron-down"></i>
            </div>
          </template>
          <b-dropdown-item @click="redirectToMyAccount">Tài khoản của tôi</b-dropdown-item>
          <b-dropdown-item @click="logout">Đăng xuất</b-dropdown-item>
        </b-nav-item-dropdown>
    </nav>
</template>
<script>
export default ({
  name: 'Nav',
  components: {
  },
  data () {
    return {
      title: 'Trang chủ'
    }
  },
  mounted () {
  },
  watch: {
    $route (to, from) {
      if (this.checkActive('adminhomelayout')) {
        this.title = 'Trang chủ'
      }
      if (this.checkActive('accountlayout')) {
        this.title = 'Tài khoản'
      }
      if (this.checkActive('categorylayout')) {
        this.title = 'Loại sản phẩm'
      }
      if (this.checkActive('productlayout')) {
        this.title = 'Sản phẩm'
      }
      if (this.checkActive('discountlayout')) {
        this.title = 'Khuyến mãi'
      }
      if (this.checkActive('orderlayout')) {
        this.title = 'Đơn hàng'
      }
      if (this.checkActive('commentLayout')) {
        this.title = 'Bình luận'
      }
      if (this.checkActive('shippingLayout')) {
        this.title = 'Giao nhận'
      }
      if (this.checkActive('productDiscountLayout')) {
        this.title = 'Sản phẩm & Khuyến mãi'
      }
    }
  },
  computed: {
    currentUser () {
      return this.$store.getters['user/currentUser']
    }
  },
  methods: {
    sidebarClick (e) {
      console.log('sidebarClick')
      let sidebar = document.querySelector('.sidebar')
      sidebar.classList.toggle('active')
      if (sidebar.classList.contains('active')) {
        e.target.classList.replace('bx-menu', 'bx-menu-alt-right')
      } else { e.target.classList.replace('bx-menu-alt-right', 'bx-menu') }
    },
    checkActive (route) {
      if (this.$route.name === route) {
        return true
      }
      if (route.includes(this.$route.name)) {
        return true
      }
    },
    redirectToMyAccount () {
      if (this.$route.name !== 'myaccount-page') {
        this.$router.push({path: '/myaccount'})
      }
    },
    logout () {
      this.$store.dispatch('user/logout')
      if (this.$route.name !== 'login') {
        this.$router.push({path: '/login'})
      }
    }
  }
})
</script>
<style scoped>
    #nav7_ddown{
      list-style: none;
    }
    .sidebarBtn{
        outline: none;
        border: none;
        margin-right: 20px;
        padding: 0px 10px;
    }
    .sidebarBtn:hover{
        background-color: #40916C;
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .sidebar{
    position: fixed;
    height: 100%;
    width: 240px;
    background: #40916c;
    transition: all 0.5s ease;
    }
    .dashboard{
    white-space: nowrap;
    }
    .sidebar.active{
    width: 60px;
    }
    .sidebar .logo-details{
    height: 80px;
    display: flex;
    align-items: center;
    }
    .sidebar .logo-details .my-logo{
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    min-width: 60px;
    text-align: center
    }
    .sidebar .logo-details .logo_name{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    white-space: nowrap;
    }
    .sidebar .nav-links{
    margin-top: 10px;
    padding: 0;
    }
    .sidebar .nav-links li{
    position: relative;
    list-style: none;
    height: 50px;
    }
    .sidebar .nav-links li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    }
    .sidebar .nav-links li a.active{
    background: #2d6a4f;
    }
    .sidebar .nav-links li a:hover{
    background: #2d6a4f;
    }
    .sidebar .nav-links li span{
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    }
    .sidebar .nav-links li a .links_name{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    }
    .sidebar .nav-links .log_out{
    position: absolute;
    bottom: 0;
    width: 100%;
    }
    .home-section{
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
    padding-bottom: 50px;
    }
    .sidebar.active ~ .home-section{
    width: calc(100% - 60px);
    left: 60px;
    }
    .home-section nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    }
    .sidebar.active ~ .home-section nav{
    left: 60px;
    width: calc(100% - 60px);
    }
    .home-section nav .sidebar-button{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    }
    nav .sidebar-button i{
    font-size: 35px;
    margin-right: 10px;
    }
    .home-section nav .search-box{
    position: relative;
    height: 50px;
    max-width: 550px;
    width: 100%;
    margin: 0 20px;
    }
    nav .search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
    }
    nav .search-box button{
      position: absolute;
      height: 47px;
      width: 47px;
      background: #40916C;
      right: 0px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      border-radius: 4px;
      line-height: 40px;
      text-align: center;
      color: #fff;
      font-size: 16px;
      outline: none;
      border: none;
    }
    .home-section nav .profile-details{
    display: flex;
    align-items: center;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    height: 50px;
    min-width: 190px;
    padding: 0 15px 0 2px;
    }
    nav .profile-details img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    }
    nav .profile-details .admin_name{
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
    }
    nav .profile-details i{
    font-size: 25px;
    color: #333;
    }
    .home-section .home-content{
    position: relative;
    padding-top: 104px;
    }
    .home-content .overview-boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-bottom: 26px;
    }
    .overview-boxes .box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 4 - 15px);
    background: #fff;
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    }
    .overview-boxes .box-topic{
    font-size: 20px;
    font-weight: 500;
    }
    .home-content .box .number{
    display: inline-block;
    font-size: 20 px;
    margin-top: -6px;
    font-weight: 500;
    }
    .home-content .box .indicator{
    display: flex;
    align-items: center;
    }
    .home-content .box .indicator i{
    height: 20px;
    width: 20px;
    background: #8FDACB;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    margin-right: 5px;
    }
    .box .indicator i.down{
    background: #e87d88;
    }
    .home-content .box .indicator .text{
    font-size: 12px;
    }
    .home-content .box .cart{
    display: inline-block;
    font-size: 10px;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    line-height: 50px;
    text-align: center;
    color: #66b0ff;
    border-radius: 12px;
    margin: -15px 0 0 6px;
    }
    .home-content .box .cart.two{
    color: #2BD47D;
    background: #C0F2D8;
    }
    .home-content .box .cart.three{
    color: #ffc233;
    background: #ffe8b3;
    }
    .home-content .box .cart.four{
    color: #e05260;
    background: #f7d4d7;
    }
    .home-content .total-order{
    font-size: 20px;
    font-weight: 500;
    }

    .picture-colum{
        text-align: center;
    }

    .center-colum{
        text-align: center;
    }

    .table_responsive {
    margin: 0 20px;
    max-width: 100%;
    border: 1px solid #00bcd4;
    background-color: #efefef33;
    padding: 15px;
    overflow: auto;
    margin: auto;
    border-radius: 4px;
    }

    table {
    width: 100%;
    font-size: 13px;
    color: #444;
    white-space: nowrap;
    border-collapse: collapse;
    }

    table>thead {
    background-color: #00bcd4;
    color: #fff;
    }

    table>thead th {
    padding: 15px;
    }

    table th,
    table td {
    border: 1px solid #00000017;
    padding: 10px 15px;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-items: center;
    text-align: center;
    }

    table>tbody>tr>td>img {
    display: inline-block;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 2px 6px #0003;
    }

    .action_btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    }

    .action_btn>button {
    text-decoration: none;
    color: #444;
    background: #fff;
    border: 1px solid;
    display: inline-block;
    padding: 7px 20px;
    font-weight: bold;
    border-radius: 3px;
    transition: 0.3s ease-in-out;
    }

    .action_btn>button:nth-child(1) {
    border-color: #26a69a;
    }

    .action_btn>button:nth-child(2) {
    border-color: orange;
    }

    .action_btn>button:hover {
    box-shadow: 0 3px 8px #0003;
    }

    table>tbody>tr {
    background-color: #fff;
    transition: 0.3s ease-in-out;
    }

    table>tbody>tr:nth-child(even) {
    background-color: rgb(238, 238, 238);
    }

    table>tbody>tr:hover{
    filter: drop-shadow(0px 2px 6px #0002);
    }

    .my-table{
    margin: 0 20px;
    }

    /* Right box */

    /* Responsive Media Query */
    @media (max-width: 1240px) {
    .sidebar{
        width: 60px;
    }
    .sidebar.active{
        width: 220px;
    }
    .home-section{
        width: calc(100% - 60px);
        left: 60px;
    }
    .sidebar.active ~ .home-section{
        /* width: calc(100% - 220px); */
        overflow: hidden;
        left: 220px;
    }
    .home-section nav{
        width: calc(100% - 60px);
        left: 60px;
    }
    .sidebar.active ~ .home-section nav{
        width: calc(100% - 220px);
        left: 220px;
    }
    }
    @media (max-width: 1150px) {
    .home-content .sales-boxes{
        flex-direction: column;
    }
    .home-content .sales-boxes .box{
        width: 100%;
        overflow-x: scroll;
        margin-bottom: 30px;
    }
    .home-content .sales-boxes .top-sales{
        margin: 0;
    }
    }
    @media (max-width: 1000px) {
    .overview-boxes .box{
        width: calc(100% / 2 - 15px);
        margin-bottom: 15px;
    }
    }
    @media (max-width: 700px) {
    nav .sidebar-button .dashboard,
    nav .profile-details .admin_name,
    nav .profile-details i{
        display: none;
    }
    .home-section nav .profile-details{
        height: 50px;
        min-width: 40px;
    }
    .home-content .sales-boxes .sales-details{
        width: 560px;
    }
    }
    @media (max-width: 550px) {
    .overview-boxes .box{
        width: 100%;
        margin-bottom: 15px;
    }
    .sidebar.active ~ .home-section nav .profile-details{
        display: none;
    }
    }
</style>
