<template>
    <div class="main">
        <div class="slider">
            <img src="../../../assets/img/slider_shop.jpg" alt="" class="slider-img">
            <!-- ../../assets/img/slider_shop.jpg -->
            <div class="slider-main">
                <p class="slider-header">Giỏ Hàng</p>
                <div class="slider-menu">
                    <a class="slider-home" href="">Trang chủ</a>
                    <i class="fas fa-angle-double-right"></i>
                    <p class="slider-item">Giỏ Hàng</p>
                </div>
            </div>
        </div>

        <div class="content background-white">
            <div class="my-grid wide">
                <div class="my-row">
                    <div class="my-col my-l-8 my-m-12 my-c-12 ">
                        <div class="list-item-card hide-on-mobile-tablet">
                            <table class="list-item-table" cellspacing = "0">
                                <thead class="list-item-table__header">
                                    <tr>
                                        <th class="item-product-remove">

                                        </th>
                                        <th class="item-product-image">

                                        </th>
                                        <th class="item-product-name">
                                            Tên sản phẩm
                                        </th>
                                        <th class="item-product-price">
                                            Giá
                                        </th>
                                        <th class="item-product-quantity">
                                            Số Lượng
                                        </th>
                                        <th class="item-product-subtotal">
                                            Tổng Cộng
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cart-item-row" v-for="item in cart" :key="item.id">
                                        <th class="item-product-remove">
                                            <div class="item-product-remove__link" @click="removeCartItem(item.id)">
                                                <i class="far fa-times-circle"></i>
                                            </div>
                                        </th>
                                        <th class="item-product-image">
                                            <div class="item-product-image__main">
                                                <img :src="item.picture" alt="" class="item-product__img">
                                            </div>
                                        </th>
                                        <th class="item-product-name">
                                            <a href="" class="item-product-name__text">{{item.name}}</a>
                                        </th>
                                        <th class="item-product-price">
                                            <span class="item-cart__price"><span class="item-cart__num">{{item.price}}</span> VNĐ</span>
                                        </th>
                                        <th class="item-product-quantity">
                                            <input type="number" v-model="item.quantity" name="" id="" class="item-cart__quantity" step="1" min="1" max="99" value="1" title="Qty" inputmode="numeric">
                                        </th>
                                        <th class="item-product-subtotal">
                                            <span class="item-cart__price-total"><span class="item-cart__num-total">{{item.price * item.quantity}}</span> VNĐ</span>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td colspan="6" class="cart-item-last123">
                                            <!-- <div class="update-and-coupon">
                                                <div class="item-coupon-code">
                                                    <input type="text" name="coupon_code" id="" class="coupon-code" placeholder="Nhập mã giảm giá">
                                                    <button type="button" class="apply-coupon">Sử dụng</button>
                                                </div>
                                                <div class="item-update-card">
                                                    <button type="button" class="update-card no-active">Cập nhật giỏ hàng</button>
                                                </div>
                                            </div> -->
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>

                                </tfoot>
                            </table>
                        </div>
                        <div class="list-item-card-in-mobile hiden-on-pc">
                            <ul class="list-item-card-in-mobile-table" >
                                <li class="list-item-card-in-mobile-item" v-for="item in cart" :key="item.id">
                                    <div class="picture-in-mobile">
                                        <img :src="item.picture" alt="" class="item-product__img-mobie">
                                    </div>
                                    <div class="infomation-cart-in-mobile">
                                        <div class="infomation-cart-in-mobile-1">
                                            <p class="infomation-cart-in-mobile-name">{{item.name}}</p>
                                            <div class="item-product-remove__link" @click="removeCartItem(item.id)">
                                                <i class="far fa-times-circle"></i>
                                            </div>
                                        </div>
                                        <div class="infomation-cart-in-mobile-2">
                                            <p class="infomation-cart-in-mobile-text">Giá</p>
                                            <span class="item-cart__price-in-mobile"><span class="item-cart__num-in-mobile">{{item.price}}</span> VNĐ</span>
                                        </div>
                                        <div class="infomation-cart-in-mobile-3">
                                            <p class="infomation-cart-in-mobile-text">Số lượng</p>
                                            <input type="number" v-model="item.quantity" name="" id="" class="item-cart__quantity-in-mobile" step="1" min="0" max="99" value="1" title="Qty" inputmode="numeric">
                                        </div>
                                        <div class="infomation-cart-in-mobile-4">
                                            <p class="infomation-cart-in-mobile-text">Tổng cộng</p>
                                            <span class="item-cart__price-total-in-mobile"><span class="item-cart__num-total-in-mobile">{{item.price * item.quantity}}</span> VNĐ</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="my-col my-l-4 my-m-12 my-c-12">
                        <div class="cart-total">
                            <div class="cart-total-main">
                                <p class="cart-total-main__header">GIỎ HÀNG CỦA BẠN</p>
                                <div class="cart-total-main__body">
                                    <div class="cart-total-main__subtotal">
                                        <p class="cart-total-main__text">Tổng giá</p>
                                        <span class="cart-total-main__price"> <span class="cart-total-main__num">{{totalCostOfCast}}</span> VNĐ</span>
                                    </div>
                                    <div class="cart-total-main__discount">
                                        <p class="cart-total-main__text">Giảm giá</p>
                                        <span class="cart-total-main__discount-total"> <span class="cart-total-main__discount-num">0</span> %</span>
                                    </div>
                                    <div class="cart-total-main__total">
                                        <p class="cart-total-main__text">Thành tiền</p>
                                        <span class="cart-total-main__price-total"> <span class="cart-total-main__price-num">{{totalCostOfCast}}</span> VNĐ</span>
                                    </div>
                                    <button @click="redirectToCheckout" class="goto-checkout">Tiến hành thanh toán</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default ({
  name: 'Cart',
  components: {
  },
  data () {
    return {

    }
  },
  mounted () {
  },
  computed: {
    cart () {
      return this.$store.getters['cart/cart']
    },
    numOfCart () {
      return this.cart.length
    },
    totalCostOfCast () {
      let sum = 0
      this.cart.forEach(el => {
        sum += el.price * el.quantity
      })
      return sum
    }
  },
  methods: {
    removeCartItem (productId) {
      this.$store.dispatch('cart/deleteproduct', productId)
    },
    redirectToCheckout () {
      this.$router.push({
        name: 'checkout-page'
      })
    }
  }
})
</script>

<style scoped>
    .bg-green{
        background-color: #235a43 !important;
    }

    .slider-main{
        position: absolute;
        top: 10px;
        left: 5%;
    }

    .slider-header{
        text-transform: capitalize;
        color: #0a472e;
        font-size: 40px;
        max-width: 850px;
        margin-bottom: 5px;
        font-weight: 700;
    }

    .slider-menu{
        display: flex;
        align-items: center;
    }

    .slider-home{
        font-size: 14px;
        color: #999;
        text-decoration: none;
        margin-right: 5px;
    }

    .slider-home:hover{
        color: #a8b324;
    }

    .slider-item{
        font-size: 14px;
        color: #000;
        text-decoration: none;
        margin-left: 5px;
        margin-top: 15px;
    }

    .list-item-table{
        width: 100%;
    }

    table {

        border: 0;
        border-collapse: separate;
        border-spacing: 0 5px;
    }

    thead tr th {
        padding: 10px 0 20px;
        border-bottom: 2px solid #eaeaea;
        border-collapse: separate;
        border-spacing: 5px 5px;
    }

    tbody tr th {
        padding: 10px 0;
        border-bottom: 1px solid #eaeaea;
        border-collapse: separate;
        border-spacing: 5px 5px;
    }

    tfoot tr th {
        padding: 10px 0;
        border-bottom: 1px solid #eaeaea;
        border-collapse: separate;
        border-spacing: 5px 5px;
    }

    .list-item-table__header{
        display: table-header-group;
    }

    .item-product-remove{
        width: 5%;
    }

    .item-product-image{
        width: 17%;
    }

    .item-product-name{
        width: 30%;
    }

    .item-product-price{
        width: 16%;
    }

    .item-product-quantity{

    }

    .item-product-remove__link{
        color: #000;
    }

    .item-product-remove__link:hover{
        color: red;
    }

    .item-product-subtotal{
        width: 16%;
    }

    .table-header__name{
        font-size: 13px;
        color: #333;
        font-weight: 700;
        text-transform: uppercase;
    }

    .list-item-table__body{
        margin-top: 30px;
    }

    .list-item-table__body-row{
        display: flex;
        align-items: center;
    }

    .item-product-image__main{
        display: block;
        padding: 0 20px;
        width: 100%;
    }

    .item-product__img{
        width: 100%;
    }

    .item-product-name__text{
        color: #333;
        font-size: 14px;
        text-decoration: none;
        font-weight: 700;
    }

    .item-product-name__text:hover{
        color: #a8b324;;
    }

    .item-cart__quantity{
        padding: 10px;
        width: 50px;
        font-weight: 700;
        color: #0a472e;
    }

    .update-and-coupon{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 200px;
    }

    .coupon-code{
        padding: 15px;
        width: 200px;
        font-weight: 300;
        color: #0a472e;
        border: 1px solid #eaeaea;
        border-radius: 3px;
    }

    .coupon-code:focus{
        outline:  1px solid #a8b324;
        border: 1px solid transparent;
        border-radius: 3px;
    }

    .apply-coupon{
        margin-left: 10px;
        padding: 13px 20px;
        outline: none;
        border: 1px solid transparent;
        color: #fff;
        font-weight: 700;
        background-color: #a8b324;
        border-radius: 3px;
        font-size: 16px;
    }

    .apply-coupon:hover{
        background-color: #0a472e;
        cursor: pointer;
    }

    .update-card{
        padding: 13px 20px;
        outline: none;
        border: 1px solid transparent;
        color: #fff;
        font-weight: 700;
        background-color: #a8b324;
        border-radius: 3px;
        font-size: 16px;
    }

    .update-card:hover{
        background-color: #0a472e;
        cursor: pointer;
    }

    .no-active{
        opacity: 0.6;
    }

    .no-active:hover{
        cursor: default;
        background-color: #a8b324;
    }

    .cart-total{
        border: 5px solid #eaeaea;
    }

    .cart-total-main{
        padding: 15px 35px 30px;
    }

    .cart-total-main__header{
        color: #0a472e;
        font-size: 20px;
        font-weight: 700;
        display: block;
        padding-bottom: 20px;
        border-bottom: 2px solid #eaeaea;
    }
    .cart-total-main__body{

    }
    .cart-total-main__subtotal{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .cart-total-main__text{
        color: #0a472e;
        font-size: 14px;
        font-weight: 700;
    }

    .cart-total-main__price{
        color: #0a472e;
        font-size: 18px;
        font-weight: 700;
    }

    .cart-total-main__discount{
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #eaeaea;
    }

    .cart-total-main__discount-total{
        color: #d62828;
        font-size: 18px;
        font-weight: 700;
    }

    .cart-total-main__total{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    }

    .cart-total-main__price-total{
        color: #a8b324;
        font-size: 20px;
        font-weight: 700;
    }

    .goto-checkout{
        display: block;
        text-align: center;
        text-decoration: none;
        width: 100%;
        padding: 15px 0px;
        background-color: #a8b324;
        margin-top: 60px;
        border-radius: 2px;
        color: #fff;
        font-size: 15px;
        font-weight: 700;
    }

    .goto-checkout:hover{
        background-color: #0A472E;
    }
    .item-product__img-mobie{
        max-width: 100px;
    }
    .list-item-card-in-mobile-item{
        width: 100%;
        display: flex;
        border-bottom: 1px solid #ebebeb ;
        margin-bottom: 5px;
    }
    .infomation-cart-in-mobile{
        width: 100%;
        margin-left: 20px;
    }

    .infomation-cart-in-mobile-1{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ebebeb ;
        padding: 5px 0;
    }
    .infomation-cart-in-mobile-2{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ebebeb ;
        padding: 5px 0;

    }
    .infomation-cart-in-mobile-3{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ebebeb ;
        padding: 10px 0;
    }
    .infomation-cart-in-mobile-4{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }
    .infomation-cart-in-mobile-text{
        margin: 10px 0;
        font-size: 14px;
        color: #333;
    }
    .infomation-cart-in-mobile-name{
        margin: 10px 0;
    }
    .item-cart__quantity-in-mobile{
        padding: 5px;
        width: 52px;
        font-weight: 700;
        color: #0a472e;
    }
    .item-cart__price-in-mobile{
        color: #a8b324;
        font-size: 16px;
    }
    .item-cart__price-total-in-mobile{
        color: #a8b324;
        font-size: 16px;
    }
    .item-cart__num-in-mobile{
        color: #a8b324;
        font-size: 17px;

    }
    .item-cart__num-total-in-mobile{
        font-size: 17px;
        color: #a8b324;

    }

</style>
