<template>
    <div class="main">
        <div class="slider">
            <img src="../../../assets/img/slider_shop.jpg" alt="" class="slider-img">
            <!-- ../../assets/img/slider_shop.jpg -->
            <div class="slider-main">
                <p class="slider-header">Thanh Toán</p>
                <div class="slider-menu">
                    <a class="slider-home" href="">Trang chủ</a>
                    <i class="fas fa-angle-double-right"></i>
                    <p class="slider-item">Thanh Toán</p>
                </div>
            </div>
        </div>

        <div class="content background-white">
            <div class="my-grid wide">
                <div class="my-row">
                    <div class="my-col my-l-6  my-m-12 my-c-12">
                        <div class="bill-info">
                            <p class="bill-info__header">Nhập thông tin giao hàng</p>
                            <div class="bill-info__body">
                                <div class="col-lg-12 col-sm-12 ">
                                    <form-group-input
                                        type="text"
                                        label="Họ và tên người nhận hàng"
                                        invalidFeedback="Vui lòng nhập họ và tên người nhận hàng hợp lệ"
                                        v-model="receiverName"
                                        :touch="$v.receiverName.$touch"
                                        :invalid="$v.receiverName.$error"
                                    />
                                    <!-- :iconPrepend="iconPrepend" -->
                                </div>
                                <div class="col-lg-12 col-sm-12">
                                    <form-group-input
                                        type="text"
                                        label="Số điện thoại người nhận hàng"
                                        invalidFeedback="Vui lòng nhập số điện thoại người nhận hàng hợp lệ"
                                        v-model="receiverPhone"
                                        :touch="$v.receiverPhone.$touch"
                                        :invalid="$v.receiverPhone.$error"
                                    />
                                </div>
                                <div class="col-lg-12 col-sm-12">
                                    <form-group-input
                                        type="text"
                                        label="Địa chỉ nhận hàng"
                                        invalidFeedback="Vui lòng nhập địa chỉ nhận hàng hợp lệ"
                                        v-model="receiverAddress"
                                        :touch="$v.receiverAddress.$touch"
                                        :invalid="$v.receiverAddress.$error"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-col my-l-6 my-m-12 my-c-12">
                        <div class="bill-total">
                            <div class="bill-total-main">
                                <p class="bill-total-main__header">GIỎ HÀNG CỦA BẠN</p>
                                <div class="bill-total-main__body">
                                    <table class="bill-total-main__body-main">
                                        <thead>
                                            <tr>
                                                <th class="bill-product-name">Tên sản phẩm</th>
                                                <th class="bill-product-total">Tổng giá tiền</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table-bill__body">
                                            <tr class="bill-cart_item" v-for="item in cart" :key="item.id">
                                                <th class="bill-product-name">
                                                    <span class="bill-product-name__text">
                                                        <span class="name-of-product-buy">{{item.name}}</span> x
                                                        <span class="quantity-product">{{item.quantity}}</span>
                                                    </span>
                                                </th>
                                                <th class="bill-product-total">
                                                    <span class="bill-product-total__text">
                                                        <span class="price-of-product-buy">{{item.price * item.quantity}}</span> VNĐ
                                                    </span>
                                                </th>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr class="bill-cart-subtotal">
                                                <th class="bill-product-name">
                                                    <span class="subtotal-text">
                                                        Thành tiền :
                                                    </span>
                                                </th>
                                                <th class="bill-product-total">
                                                    <span class="subtotal__total">
                                                        <span class="subtotal__total-money">{{totalCostOfCast}}</span> VNĐ
                                                    </span>
                                                </th>
                                            </tr>
                                            <tr class="bill-cart-subtotal">
                                                <th class="bill-product-name">
                                                    <span class="discount-text">
                                                        Nhập mã khuyến mãi của bạn :
                                                    </span>
                                                </th>
                                                <th class="bill-product-total">
                                                    <span class="discount__total">
                                                        <input
                                                            type="text"
                                                            v-model="discountCode"
                                                            class="bill-product-total__input"
                                                            :class="`form-control input ${
                                                                discountCodeError ? 'is-invalid' : ''
                                                            }`"
                                                            @input="checkCode"
                                                        />
                                                        <div v-if="discount && totalCostOfCast < discount.minimumBill" class="invalid-feedback">
                                                            Tổng hóa đơn của bạn không đủ để áp dụng khuyến mãi này
                                                        </div>
                                                        <div v-else class="invalid-feedback">
                                                            Mã khuyến mãi không tồn tại hoặc đã được sử dụng
                                                        </div>
                                                    </span>
                                                </th>
                                            </tr>
                                            <tr class="bill-cart-subtotal">
                                                <th class="bill-product-name">
                                                    <span class="discount-text">
                                                        Khuyến mãi :
                                                    </span>
                                                </th>
                                                <th class="bill-product-total">
                                                    <span class="discount__total">
                                                        <span class="discount__number">{{!discountCodeError && discount ? discount.discountValue : 0}}</span>{{discount ? discountType[discount.discountType] : '%'}}
                                                    </span>
                                                </th>
                                            </tr>
                                            <tr class="bill-order-total">
                                                <th class="bill-order-total-money__left">
                                                    <span class="total-all-money__text">
                                                        Tổng cộng :
                                                    </span>
                                                </th>
                                                <th class="bill-order-total-money__right">
                                                    <span class="total-all-money__price">
                                                        <span class="total-all-money__number">{{ !discountCodeError ? (
                                                            discount ?
                                                            (discount.discountType == 0 ? totalCostOfCast * (100 - (discount.discountValue))/ 100 : (totalCostOfCast - discount.discountValue) > 0 ? (totalCostOfCast - discount.discountValue)
                                                            : 0)
                                                            : totalCostOfCast)
                                                            : totalCostOfCast }}</span> VNĐ
                                                    </span>
                                                </th>
                                            </tr>
                                        </tfoot>
                                    </table>

                                    <div class="HDSD">
                                        <span class="HDSD-text">
                                            Hãy chắc chắn kỹ là bạn đã đọc hết các điều khoản và hướng dẫn
                                             mua hàng và sử dụng của chúng tôi, nếu bạn chưa biết hoặc chưa hiểu
                                             chỗ nào vui lòng <a href="" class="HDSD-link">click vào đây</a>
                                             để tìm hiểu kỹ hơn. Chúc các bạn mua hàng tại chợ Online vui vẻ.
                                        </span>
                                    </div>

                                    <div class="checkout-btn-group">
                                        <button @click="onSubmit('Cash')" class="checkout-by">
                                            Thanh toán bằng tiền mặt
                                        </button>
                                    </div>
                                    <div class="checkout-btn-group">
                                        <button @click="onSubmit('Momo')" class="checkout-by">
                                            Thanh toán bằng Momo
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import notification from '../../../utils/notification'
import {PaymentType} from '../../../utils/constant'
import orderService from '../../../services/order.service'
import FormGroupInput from '../../../components/form/FormGroupInput.vue'
import { validationMixin } from 'vuelidate'
import { required, numeric, minLength, maxLength } from 'vuelidate/lib/validators'
import DiscountCodeService from '../../../services/discountCode.service'
export default ({
  mixins: [validationMixin],
  name: 'Checkout',
  components: {
    FormGroupInput
  },
  validations: {
    receiverName: { required },
    receiverPhone: {
      required,
      numeric,
      minLength: minLength(10),
      maxLength: maxLength(10)
    },
    receiverAddress: { required }
  },
  data () {
    return {
      receiverName: '',
      receiverPhone: '',
      receiverAddress: '',
      discountCode: null,
      discountCodeError: false,
      discount: null,
      distanceBetweenToDate: (endDate) => {
        return Math.ceil((new Date(endDate).getTime() - new Date().getTime()) / (1000 * 3600 * 24))
      },
      discountType: ['%', 'VND']
    //   iconPrepend: { isShow: true, class: 'fas fa-search' }
    }
  },
  computed: {
    cart () {
      return this.$store.getters['cart/cart']
    },
    numOfCart () {
      return this.cart.length
    },
    totalCostOfCast () {
      let sum = 0
      this.cart.forEach(el => {
        sum += el.price * el.quantity
      })
      return sum
    },
    currentUser () {
      return this.$store.getters['user/currentUser']
    }
  },
  mounted () {
    console.log('this.currentUser', this.currentUser)
    if (this.currentUser.id) {
      console.log('this.currentUser', this.currentUser)
      this.receiverName = this.currentUser.firstName + ' ' + this.currentUser.lastName
      this.receiverPhone = this.currentUser.phone
    }
  },
  methods: {
    validate () {
      this.$v.$touch()
      return !this.$v.$invalid
    },

    onSubmit (method) {
      let loader = this.$loading.show({})

      console.log('dis', this.discount)
      if (!this.validate()) {
        return
      }

      if (!this.currentUser.id) {
        notification.warning('Bạn phải đăng nhập để tiếp tục')
        this.$router.push({path: '/login'})
      }
      if (this.cart.length === 0) {
        notification.warning('Giỏ hàng phải có ít nhất một sản phẩm')
        return
      }
      if (method === 'Cash' && this.discount && this.discount.paymentType === 1) {
        notification.warning('Khuyến mãi này chỉ dành cho thanh toán Online')
        this.discountCode = ''
        return
      }
      if (method === 'Momo' && this.discount && this.discount.paymentType === 0) {
        notification.warning('Khuyến mãi này chỉ dành cho thanh toán bằng tiền mặt')
        this.discountCode = ''
        return
      }
      if (!this.discountCodeError && this.discount) {
        DiscountCodeService.useCode(this.discount.code)
      }
      let totalCost = !this.discountCodeError ? (this.discount ? (this.discount.discountType === 0 ? this.totalCostOfCast * (100 - (this.discount.discountValue)) / 100 : this.totalCostOfCast - this.discount.discountValue) : this.totalCostOfCast) : this.totalCostOfCast
      let data = {
        'receiverName': this.receiverName,
        'receiverPhone': this.receiverPhone,
        'receiverAddress': this.receiverAddress,
        'paymentType': method === 'Cash' ? PaymentType.Cash : PaymentType.Momo,
        'orderDate': new Date(),
        'note': ' ',
        'isApplyDiscount': !!(!this.discountCodeError && this.discount),
        'userId': this.currentUser.id,
        'realTotalCost': totalCost > 0 ? totalCost : 0,
        'orderDetails': [
        ]
      }

      this.cart.forEach(el => {
        data.orderDetails.push({
          'productId': el.id,
          'quantity': el.quantity,
          'realPrice': el.price
        })
      })

      orderService.addOrder(data).then(rs => {
        loader.hide()
        if (rs.code && rs.code === 200) {
          if (method === 'Cash') {
            notification.success('Đặt hàng thành công')
            this.$store.dispatch('cart/clearCart')
            this.$router.push({path: '/'})
          } else {
            let message = JSON.parse(rs.message)
            this.$store.dispatch('cart/clearCart')
            if (message.errorCode === 0) {
              let a = document.createElement('a')
              a.href = message.payUrl
              a.click()
            }
            console.log('message', message)
          }
        }
      })
    },
    checkCode () {
      if (!this.discountCode) {
        this.discountCodeError = true
      } else {
        DiscountCodeService.checkCode(this.discountCode).then(rs => {
          console.log('AAAAAAA', rs)
          if (rs.data) {
            if (rs.data.code !== 200) {
              console.log('Discount err')
              this.discount = null
              this.discountCodeError = true
            } else {
              this.discount = rs.data.data
              console.log('this.discount', this.discount, this.totalCostOfCast, this.discount.minimumBill)
              if (this.totalCostOfCast < this.discount.minimumBill) {
                this.discountCodeError = true
              } else if (this.discount.isUsed) {
                this.discountCodeError = true
              } else if (this.distanceBetweenToDate(this.discount.expirationDate) < 0) {
                this.discountCodeError = true
              } else {
                this.discountCodeError = false
              }
            }
          } else {
            this.discountCodeError = true
          }
        }).catch(e => {
          if (e.data) {
            if (e.data.code !== 200) {
              console.log('Discount err')
              this.discount = null
              this.discountCodeError = true
            } else {
              this.discount = e.data.data
              console.log('this.discount', this.discount, this.totalCostOfCast, this.discount.minimumBill)
              if (this.totalCostOfCast < this.discount.minimumBill) {
                this.discountCodeError = true
              } else if (this.discount.isUsed) {
                this.discountCodeError = true
              } else if (this.distanceBetweenToDate(this.discount.expirationDate) < 0) {
                this.discountCodeError = true
              } else {
                this.discountCodeError = false
              }
            }
          } else {
            this.discountCodeError = true
          }
        })
      }
    }
  }
})
</script>

<style scoped>
    .bill-product-total__input{
        width: 100%;
    }
    .bill-product-total__input:focus{
            outline: none !important;
            border: 1px solid #a8b324;
            -webkit-box-shadow: 0 0 5px #a8b324;
            box-shadow: 0 0 5px #a8b324;
    }
    .table-bill__body{
        height: 200px;
        overflow-y: auto;
    }
    .bg-green{
        background-color: #235a43 !important;
    }

    .slider-main{
        position: absolute;
        top: 10px;
        left: 5%;
    }

    .slider-header{
        text-transform: capitalize;
        color: #0a472e;
        font-size: 40px;
        max-width: 850px;
        margin-bottom: 5px;
        font-weight: 700;
    }

    .slider-menu{
        display: flex;
        align-items: center;
    }

    .slider-home{
        font-size: 14px;
        color: #999;
        text-decoration: none;
        margin-right: 5px;
    }

    .slider-home:hover{
        color: #a8b324;
    }

    .slider-item{
        font-size: 14px;
        color: #000;
        text-decoration: none;
        margin-left: 5px;
        margin-top: 15px;
    }

    .list-item-table{
        width: 100%;
    }

    thead tr th {
        padding: 10px 0 20px;
        border-bottom: 1px solid #eaeaea;
        border-collapse: separate;
        border-spacing: 5px 5px;
    }

    tbody tr th {
        padding: 20px 0;
        border-bottom: 1px solid #eaeaea;
        border-collapse: separate;
        border-spacing: 5px 5px;
    }

    tfoot tr th {
        padding: 20px 0;
        border-bottom: 1px solid #eaeaea;
        border-collapse: separate;
        border-spacing: 5px 5px;
    }

    tfoot tr th.bill-order-total-money__right {
        border-bottom: none;
        text-align: right;
    }

    tfoot tr th.bill-order-total-money__left {
        text-align: left;
        border-bottom: none;
    }

    .bill-info__header{
        display: block;
        color: #0a472e;
        font-size: 24px;
        margin-bottom: 40px;
        font-weight: 700;
    }

    .bill-info__text{
        display: block;
        color: #0a472e;
        font-size: 15px;
        margin-bottom: 15px;
    }

    .bill-info__input{
        padding: 12px;
        width: 100%;
        font-size: 16px;
        color: #0a472e;
        border: 1px solid #eaeaea;
    }

    .bill-info__input:focus{
        outline:  1px solid #a8b324;
        border: 1px solid transparent;
        border-radius: 3px;
    }

    .bill-total{
        border: 5px solid #eaeaea;
        margin-bottom: 100px;
    }

    .bill-total-main{
        padding: 15px 35px 30px;
    }

    .bill-total-main__header{
        color: #0a472e;
        font-size: 20px;
        font-weight: 700;
        display: block;
        padding-bottom: 20px;
        border-bottom: 2px solid #eaeaea;
    }

    .bill-total-main__body-main{
        width: 100%;
        align-items: center;
    }

    .bill-product-name{
        width: 55%;
        text-align: left;

    }

    .bill-product-total{
        width: 45%;
        text-align: right;
    }

    .bill-product-name{
        font-size: 16px;
        font-weight: 700;
        color: #0a472e;
    }

    .bill-product-name__text{
        font-size: 13px;
        font-weight: 300;
        color: #0a472e;
    }

    .bill-product-total{
        font-size: 16px;
        font-weight: 700;
        color: #0a472e;
    }

    .discount__total{
        color: #d62828;
    }

    .total-all-money__text{
        font-size: 16px;
        font-weight: 700;
        color: #0a472e;
    }

    .total-all-money__price{
        font-size: 26px;
        font-weight: 700;
        color: #a8b324;
    }

    .HDSD{
        margin-top: 10px;
        text-align: justify;
        line-height: 18px;
    }

    .HDSD-text{
        color: #000;
        font-size: 15px;
    }

    .HDSD-link{
        color: #a8b324;
        text-decoration: none;
    }

    .checkout-by{
        display: block;
        text-align: center;
        padding: 15px 0;
        background-color: #a8b324;
        color: #fff;
        font-size: 15px;
        text-decoration: none;
        border-radius: 2px;
        margin-top: 20px;
        font-weight: 700;
        width: 100%;
    }

    .checkout-by:hover{
        background-color: #80891b;
    }
</style>
