<template>
    <div class="navigation">
        <ul>
            <li class="list">
                <router-link :to="{name: 'home-page'}" class="router-link">
                    <span class="icon">
                        <i class="fas fa-home"></i>
                    </span>
                    <span class="title">
                        Home
                    </span>
                </router-link>
            </li>
            <li class="list" :class="checkActive('product-management') ? 'active' : ''">
                <router-link :to="{name: 'product-management'}" class="router-link">
                    <span class="icon">
                        <i class="fas fa-box-open"></i>
                    </span>
                    <span class="title">
                        Sản phẩm
                    </span>
                </router-link>
            </li>
            <li class="list">
                <router-link :to="{name: 'home-page'}" class="router-link" >
                    <span class="icon">
                        <i class="fas fa-users"></i>
                    </span>
                    <span class="title">
                        Khách hàng
                    </span>
                </router-link>
            </li>
            <li class="list">
                <router-link :to="{name: 'home-page'}" class="router-link" >
                    <span class="icon">
                        <i class="fas fa-file-invoice-dollar"></i>
                    </span>
                    <span class="title">
                        Hóa đơn
                    </span>
                </router-link>
            </li>
            <li class="list">
                <router-link :to="{name: 'home-page'}" class="router-link" >
                    <span class="icon">
                        <i class="fas fa-calculator"></i>
                    </span>
                    <span class="title">
                        Doanh thu
                    </span>
                </router-link>
            </li>
            <li class="list">
                <router-link :to="{name: 'home-page'}" class="router-link" >
                    <span class="icon">
                        <i class="fas fa-user"></i>
                    </span>
                    <span class="title">
                        Profile
                    </span>
                </router-link>
            </li>
            <li class="list">
                <router-link :to="{name: 'home-page'}" class="router-link" >
                    <span class="icon">
                        <i class="fas fa-sign-out-alt"></i>
                    </span>
                    <span class="title">
                        Đăng xuất
                    </span>
                </router-link>
            </li>
        </ul>
    </div>
</template>
<script>
export default ({
  name: 'SideBar',
  components: {
  },
  data () {
    return {
    }
  },
  mounted () {
    // this.registerEvent()
  },
  methods: {
    // addActiveLink (e) {
    //   console.log('el', e)
    //   const list = document.querySelectorAll('.list')
    //   list.forEach(item => {
    //     item.classList.remove('active')
    //   })
    //   e.classList.add('active')
    // },
    // registerEvent () {
    //   const list = document.querySelectorAll('.list')
    //   list.forEach(el => {
    //     el.addEventListener('click', this.addActiveLink)
    //   })
    // }
    checkActive (route) {
      if (this.$route.name === route) {
        return true
      }
      if (route.includes(this.$route.name)) {
        return true
      }
    }
  }
})
</script>
<style scoped>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .navigation{
        position: relative;
        height: 100vh;
        width: 70px;
        background: #232c33;
        box-shadow: 10px 0 0 #88891B;
        border-left: 10px solid #232c33;
        overflow-x: hidden;
        transition: width 0.5s;
    }
    .navigation:hover{
        width: 300px;
    }
    .navigation ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-left: 5px;
        padding-top: 40px;
    }
    .navigation ul li {
        position: relative;
        list-style: none;
        width: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .navigation ul li.active{
        background: #88891B;
    }
    .navigation ul li.active .router-link::before{
        content: '';
        position: absolute;
        top: -15px;
        right: 0;
        width: 15px;
        height: 15px;
        background: #232c33;
        border-radius: 50%;
        box-shadow: 7.5px 7.5px 0 #88891B;
    }
    .navigation ul li.active .router-link::after{
        content: '';
        position: absolute;
        bottom: -15px;
        right: 0;
        width: 15px;
        height: 15px;
        background: #232c33;
        border-radius: 50%;
        box-shadow: 7.5px -7.5px 0 #88891B;
    }
    .navigation ul li .router-link{
        position: relative;
        display: block;
        width: 100%;
        display: flex;
        text-decoration: none;
        color: #fff;
    }
    .navigation ul li .router-link .icon{
        position: relative;
        display: block;
        min-width: 60px;
        height: 60px;
        line-height: 70px;
        text-align: center;
    }
    .navigation ul li .router-link .icon i{
        position: relative;
        font-size: 1.5em;
        z-index: 1;
    }
    .navigation ul li .router-link .title{
        position: relative;
        display: block;
        padding-left: 10px;
        height: 60px;
        line-height: 60px;
        white-space: nowrap;
    }
</style>
