<template>
    <div class="item-slider shop-body__main">
        <a class="shop-body__link">
            <img @click="redirectToProductDetail(productData.id)" :src="productData.picture || ''" alt="" class="shop-body__main-img">
        </a>
        <div class="shop-body__circle">
            <div class="shop-body__circle-item">
                <a href="" class="shop-body__circle-link" @click="unlikeProduct($event,productData.id)" :key="favoriteProduct.length">
                    <i v-if="favoriteProduct.findIndex(el => el.productId === productData.id) === -1" class="far fa-heart"></i>
                    <i v-if="favoriteProduct.findIndex(el => el.productId === productData.id) !== -1" class="fas fa-heart"></i>
                </a>
            </div>
            <div class="shop-body__circle-item">
                <a href="" class="shop-body__circle-link">
                    <i class="shop-body__circle-icon fas fa-random"></i>
                </a>
            </div>
            <div class="shop-body__circle-item">
                <a @click="redirectToProductDetail(productData.id)" class="shop-body__circle-link">
                    <i class="shop-body__circle-icon fas fa-eye"></i>
                </a>
            </div>
        </div>
        <div class="shop-body__rating">
            <i v-for="index in productData.star" :key="`star${index}`" class="shop-body__star-gold fas fa-star"></i>
            <i v-for="index in 5 - productData.star" :key="`unstar${index}`" class="fas fa-star"></i>
        </div>
        <a href="" class="shop-body__product-name" @click="redirectToProductDetail(productData.id)">{{productData.name}}</a>
        <p class="shop-body__price"><span class="shop-body__num">{{productData.discountPrice && distanceBetweenToDate(productData.expirationDiscountDate) >= 0 ? productData.discountPrice : product.price}}</span> VNĐ</p>
        <button @click="addProductToCart(productData)" :class="product.category.recordStatus == 1 || product.recordStatus == 1 ? 'btn-disabled' : ''" class="shop-body__btn">
            Thêm vào giỏ hàng <i class="fas fa-angle-double-right"></i>
        </button>
    </div>
</template>
<script>
import notification from '../../utils/notification'
export default {
  name: 'HomeProduct',
  props: {
    product: { default: {} }
  },
  data () {
    return {
      debounceTimeoutHandle: undefined,
      productData: this.product ? this.product : {},
      distanceBetweenToDate: (endDate) => {
        return Math.ceil((new Date(endDate).getTime() - new Date().getTime()) / (1000 * 3600 * 24))
      }
    }
  },
  computed: {
    favoriteProduct () {
      return this.$store.getters['favoriteProduct/favoriteProduct']
    },
    currentUser () {
      return this.$store.getters['user/currentUser']
    }
  },
  methods: {
    addProductToCart (item) {
      let data = {
        ...item,
        id: this.productData.id,
        name: this.productData.name,
        code: this.productData.code,
        picture: this.productData.picture,
        price: this.productData.price,
        quantity: 1
      }
      console.log('addProductToCart', data)
      this.$store.dispatch('cart/addProduct', data)
    },
    redirectToProductDetail (productId) {
      console.log('redirectToProductDetail', productId)
      this.$router.push({path: `/product?productId=${productId}`})
    },
    unlikeProduct (e, productId) {
      e.preventDefault()
      if (!this.currentUser.id) {
        notification.error('Bạn phải đăng nhập để thực hiện chức năng này')
        return
      }
      let userId = this.currentUser.id
      let data = {
        userId: userId,
        productId: productId
      }
      this.$store.dispatch('favoriteProduct/likeOrUnlike', data)
    }
  }
}
</script>
<style scoped>
.btn-disabled{
  pointer-events: none;
  opacity: 0.5;
}
.shop-body__btn{
    color: #000 !important;
    text-decoration: none !important;
    font-size: 15px !important;
    background: transparent !important;
    border: none !important;
}

.shop-body__btn:hover{
    color: #a8b324 !important;
}
.shop-body__main:hover .shop-body__circle{
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform: translateY(calc(-100% - 10px));
    -webkit-transform: translateY(calc(- 100% - 10px));
    -ms-transform: translateY(calc(- 100% - 10px));
}
.shop-body__circle{
    display: flex;
    position: absolute;
    top: 60%;
    justify-content: space-evenly;
    width: 100%;
    opacity: 0;
}

.shop-body__circle-item{

}

.shop-body__circle-link{
    display: block;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #ccc;
    color: #000;
}

.shop-body__circle-link:hover{
    background-color: #a8b324;
    color: #fff;
    cursor: pointer;
}

.shop-body__circle-icon{
    font-size: 14px;

}
</style>
