<template>
    <div class="main">
        <!-- <app-header ref="header"/> -->
        <div class="slider">
            <img src="../../../assets/img/cam1.jpg" alt="" class="slider-img">
            <div class="slider-main">
                <p class="slider-header">Liên hệ</p>
                <div class="slider-menu">
                    <a class="slider-home" href="index.html">Trang chủ</a>
                    <i class="fas fa-angle-double-right"></i>
                    <p class="slider-item">Liên hệ</p>
                </div>
            </div>
        </div>

        <div class="content background-white">
            <div class="my-grid wide">
                <div class="main-contact">
                    <div class="my-row">
                        <div class="my-col my-l-4 my-m-12 my-c-12">
                            <img src="../../../assets/img/dautay.jpg" alt="" class="contact-img">
                        </div>
                        <div class="my-col my-l-8 my-m-12 my-c-12">
                            <p class="contact-header">Cảm ơn mọi người đã tin tưởng và sử dụng Chợ Online</p>
                            <p class="contact-content">
                                Chúng tôi luôn lắng nghe những ý kiến, đóng góp của mọi người khi sử dụng Chợ Online.
                                Chợ Online được thành lập và phát triển bởi 2 thành viên là Phan Duy Khoa và Thân
                                Trọng Đông, nếu có thắc mắc hay phàn nàn gì xin hãy gửi những đóng góp cho chúng tôi
                                để Chợ Online ngày càng hoàn thiện hơn. Xin cảm ơn mọi người.
                            </p>
                            <div class="contact-body hide-on-mobile-tablet">
                                <div class="my-row">
                                    <div class="my-col my-l-4 my-m-12 my-c-12">
                                        <p class="contact-body__header">Địa chỉ:</p>
                                        <p class="contact-body__info">484, Lê Văn Việt, Phường Tăng Nhơn Phú, Thành phố Hồ Chí Minh</p>
                                        <p class="contact-body__header">Liên Hệ:</p>
                                        <p class="contact-body__info">(+84)9469372</p>
                                        <p class="contact-body__info">Khoagooner@gmail.com</p>
                                    </div>
                                    <div class="my-col my-l-4 my-m-12 my-c-12">

                                    </div>
                                    <div class="my-col my-l-4 my-m-12 my-c-12">
                                        <p class="contact-body__header">Giờ mở cửa:</p>
                                        <p class="contact-body__day">Thứ 2 - Thứ 7 :</p>
                                        <p class="contact-body__hour">8:00 - 16:00</p>
                                        <p class="contact-body__day">Chủ Nhật :</p>
                                        <p class="contact-body__hour">9:00 - 18:00</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <app-footer ref="footer"/> -->
    </div>
</template>
<script>
// import Header from '../../../components/header/Header.vue'
// import Footer from '../../../components/footer/Footer.vue'
export default {
  name: 'Contact',
  components: {
    // 'app-header': Header,
    // 'app-footer': Footer
  },
  data () {
    return {
      // test: []
    }
  },
  mounted () {
  },
  methods: {

  }
}
</script>
<style scoped>
    .slider-main{
        position: absolute;
        top: 10px;
        left: 5%;
    }

    .slider-header{
        text-transform: capitalize;
        color: #0a472e;
        font-size: 40px;
        max-width: 850px;
        margin-bottom: 5px;
        font-weight: 700;
    }

    .slider-menu{
        display: flex;
        align-items: center;
    }

    .slider-home{
        font-size: 14px;
        color: #999;
        text-decoration: none;
        margin-right: 5px;
    }

    .slider-home:hover{
        color: #a8b324;
    }

    .slider-item{
        font-size: 14px;
        color: #000;
        text-decoration: none;
        margin-left: 5px;
        margin-top: 15px;
    }
    .main-contact{

    }

    .contact-img{
        width: 100%;
    }

    .contact-header{
        font-size: 30px;
        color: #0a472e;
    }

    .contact-content{
        font-size: 14px;
        color: #555;
        padding-right: 30px;
        text-align: justify;
        line-height: 20px;
    }

    .contact-body{

    }

    .contact-body__header{
        color: #000;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .contact-body__info{
        color: #555;
        font-size: 14px;

    }

    .contact-body__day{
        color: #555;
        font-size: 14px;
    }

    .contact-body__hour{
        color: #a8b324;
        font-size: 14px;
    }
    @media (max-width: 1024px){

        .slider-menu{
            display: none;
        }
    }

</style>
