<!-- eslint-disable indent -->
<template>
  <div class="home-content">
    <div class="group-button-header">
        <div class="col-lg-4 col-sm-12 mb-2">
            <label for="statusOfOrder">Trạng thái đơn hàng</label>
            <b-form-select v-model="statusOfOrder" class="mb-3" :options="listStatusOfOrder" @change="loadData">
            </b-form-select>
        </div>
    </div>
    <Dialog
      id="assignShipper"
      :title="'Gán shipper'"
      :isHiddenSubmit="true"
      size="lg"
    >
      <template v-slot:modal-body>
        <div class="row">
        <div class="container">
          <div class="row mb-0">
            <div class="col-lg-12 col-sm-12">
                <label for="status">Danh sách shipper</label>
                <div class="table_responsive">
                    <table>
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Hình ảnh</th>
                            <th>Tên shipper</th>
                            <th>Số đơn đang giao</th>
                            <th>Khu vực chính</th>
                            <th>Thao tác</th>
                        </tr>
                        </thead>
                        <tbody v-if="listShipper && listShipper.length == 0">
                            <tr>
                                Không có shipper nào được tìm thấy
                            </tr>
                        </tbody>
                        <tbody v-else>
                            <tr v-for="(item, index) in listShipper" :key="index">
                                <td>{{index + 1}}</td>
                                <td>
                                    <img :src="item.avatar" alt="">
                                </td>
                                <td>{{item.firstName + " " + item.lastName}}</td>
                                <td>{{item.numOfOrderShipping}}</td>
                                <td>{{item.chargeArea}}</td>
                                <td>
                                <span class="action_btn">
                                    <button class="buttonDelete" @click="onAssignedShipper(item.id)">Gán</button>
                                </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
        </div>
      </div>
      </template>
    </Dialog>
      <div class="my-table">
          <div class="table_responsive">
          <table>
              <thead>
              <tr>
                  <th>Mã đơn hàng</th>
                  <th>Tên người nhận</th>
                  <th>Địa chỉ người nhận</th>
                  <th>Hình thức chi trả</th>
                  <th>Ngày đặt hàng</th>
                  <th>Shipper</th>
              </tr>
              </thead>

              <tbody>
                  <tr v-for="item in listOrder" :key="item.id">
                        <td>{{item.id}}</td>
                        <td>{{item.receiverName}}</td>
                        <td>{{item.receiverAddress}}</td>
                        <td>{{item.paymentType == 0 ? "Tiền mặt" : "Momo"}}</td>
                        <td>{{momentFormat.stringify(item.orderDate)}}</td>
                        <td>
                            <!-- <b-form-select v-model="statusOfOrder" class="mb-3" :options="listStatusOfOrder" @change="loadData">
                            </b-form-select> -->
                            <div v-if="statusOfOrder != 1 && statusOfOrder != 0">
                              <div v-if="listShipper.find(el => el.id == item.shipperId)" class="d-flex align-items-center">
                                  <img class="avatar-shipper" :src="listShipper.find(el => el.id == item.shipperId).avatar || 'http://res.cloudinary.com/donghcmute/image/upload/v1654264314/xozmnzdyjk9etefbdamu.png'" />
                                  <span class="ml-1">{{listShipper.find(el => el.id == item.shipperId).firstName + " " + listShipper.find(el => el.id == item.shipperId).lastName}}</span>
                              </div>
                              <div v-else>
                                <span v-if="item.status != 5">Khách nhận tại cửa hàng</span>
                                <span v-else>Khách chưa thanh toán</span>
                              </div>
                            </div>
                            <span v-else class="action_btn">
                              <button @click="openModalEdit(item)">Gán shipper</button>
                            </span>
                        </td>
                  </tr>
              </tbody>
          </table>
          <div class="admin-pagination">
              <AdminPagination
                :key="totalPage"
                :total="totalPage"
                @onPageChange="onPageChanged"
              >
              </AdminPagination>
            </div>
          </div>
      </div>
  </div>
</template>

<script>
import moment from 'moment'
import AdminPagination from '../../../components/pagination/AdminPagination.vue'
// import AddEditComment from './AddEditComment.vue'
import orderService from '../../../services/order.service'
import CheckDelete from '../../../components/confirm/DeleteConfirm.vue'
import userService from '../../../services/user.service'
import notification from '../../../utils/notification'
export default ({
  name: 'AdminLayout',
  components: {
    AdminPagination,
    CheckDelete
  },
  data () {
    return {
      orderStatus: ['Đang xử lý', 'Đã duyệt', 'Đang giao', 'Đã giao', 'Hủy', 'Chưa thanh toán'],
      momentFormat: {
        stringify: (date) => {
          return date ? moment(date).format('DD/MM/YYYY') : ''
        },
        parse: (value) => {
          return value ? moment(value, 'DD/MM/YYYY').toDate() : null
        }
      },
      search: '',
      listOrder: [],
      pageNumber: 1,
      pageSize: 10,
      totalPage: 1,
      isEdit: false,
      // receiverName: '',
      // receiverPhone: '',
      // receiverAddress: '',
      isApplyDiscount: false,
      realTotalCost: 0,
      status: 0,
      note: '',
      details: [],
      orderId: null,
      deleteId: null,
      statusOfOrder: 1,
      shipperId: 0,
      listStatusOfOrder: [
        {text: 'Đang xử lý', value: 0},
        {text: 'Đã duyệt', value: 1},
        {text: 'Đang giao', value: 2},
        {text: 'Đã giao', value: 3},
        {text: 'Hủy', value: 4}
        // {text: 'Chưa thanh toán', value: 5}
      ],
      listShipper: [],
      currentItem: null
    }
  },
  mounted () {
    // this.$store.dispatch('product/loadAllProducts')
    this.loadData()
    // this.checkTotalOrder()
    this.loadShipper()
  },
  methods: {
    loadData () {
      orderService.getOrderByStatus(this.pageNumber, this.pageSize, this.statusOfOrder).then(rs => {
        this.listOrder = rs.data.sort((a, b) => a.status - b.status)
        this.totalPage = Math.ceil(rs.totalElements / this.pageSize)
      })
    },
    loadShipper () {
      userService.getShippers(1, 1000).then(rs => {
        this.listShipper = rs.data
        console.log('shipppp', rs)
      })
    },
    onPageChanged (number) {
      this.pageNumber = number
      this.loadData()
    },
    openModalAdd () {
      this.isEdit = false
    },
    openModalEdit (item) {
      this.currentItem = item
      this.$bvModal.show('assignShipper')
    },
    onAssignedShipper (shipperId) {
      if (!this.currentItem.id) {
        notification.error('Đơn hàng không thể giao cho shipper')
        return
      }

      orderService.shipperReceiveOrder(this.currentItem.id, shipperId).then(rs => {
        if (rs.code === 200) {
          notification.success('Nhận đơn hàng thành công')
          this.loadData()
          this.loadShipper()
        }
      })
    },
    onDeleteRow (id) {
    },
    confirmDelete () {
    },
    onAddEditOrder () {
    },
    approveOrder (item) {
    }
  }
})
</script>

<style scoped>
.avatar-shipper{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.disabled{
    border-color: #000 !important;
    pointer-events: none;
    background-color: gainsboro !important;
}
.main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* justify-content: center;
    align-items: center;
    background: #232c33; */
}
.dashboard{
  white-space: nowrap;
}
.home-content .overview-boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
}
.overview-boxes .box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.overview-boxes .box-topic{
  font-size: 20px;
  font-weight: 500;
}
.home-content .box .number{
  display: inline-block;
  font-size: 20 px;
  margin-top: -6px;
  font-weight: 500;
}
.home-content .box .indicator{
  display: flex;
  align-items: center;
}
.home-content .box .indicator i{
  height: 20px;
  width: 20px;
  background: #8FDACB;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  margin-right: 5px;
}
.box .indicator i.down{
  background: #e87d88;
}
.home-content .box .indicator .text{
  font-size: 12px;
}
.home-content .box .cart{
  display: inline-block;
  font-size: 10px;
  height: 50px;
  width: 50px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 12px;
  margin: -15px 0 0 6px;
}
.home-content .box .cart.two{
   color: #2BD47D;
   background: #C0F2D8;
 }
.home-content .box .cart.three{
   color: #ffc233;
   background: #ffe8b3;
 }
.home-content .box .cart.four{
   color: #e05260;
   background: #f7d4d7;
 }
.home-content .total-order{
  font-size: 20px;
  font-weight: 500;
}

.picture-colum{
    text-align: center;
}

.center-colum{
    text-align: center;
}

.table_responsive {
  margin: 0 20px;
  max-width: 100%;
  border: 1px solid #00bcd4;
  background-color: #efefef33;
  padding: 15px;
  overflow: auto;
  margin: auto;
  border-radius: 4px;
}

table {
  width: 100%;
  font-size: 13px;
  color: #444;
  white-space: nowrap;
  border-collapse: collapse;
}

table>thead {
  background-color: #00bcd4;
  color: #fff;
}

table>thead th {
  padding: 15px;
}

table th,
table td {
  border: 1px solid #00000017;
  padding: 10px 15px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: center;
  text-align: center;
}

table>tbody>tr>td>img {
  display: inline-block;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 2px 6px #0003;
}

.action_btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.action_btn>button {
  text-decoration: none;
  color: #444;
  background: #fff;
  border: 1px solid;
  display: inline-block;
  padding: 7px 20px;
  font-weight: bold;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
}

.action_btn>button:nth-child(1) {
  border-color: #26a69a;
}

.action_btn>button:nth-child(2) {
  border-color: orange;
}

.action_btn>button:hover {
  box-shadow: 0 3px 8px #0003;
}

table>tbody>tr {
  background-color: #fff;
  transition: 0.3s ease-in-out;
}

table>tbody>tr:nth-child(even) {
  background-color: rgb(238, 238, 238);
}

table>tbody>tr:hover{
  filter: drop-shadow(0px 2px 6px #0002);
}

.my-table{
  margin: 0 20px;
}

/* Right box */

/* Responsive Media Query */
@media (max-width: 1150px) {
  .home-content .sales-boxes{
    flex-direction: column;
  }
  .home-content .sales-boxes .box{
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .home-content .sales-boxes .top-sales{
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .overview-boxes .box{
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  .home-content .sales-boxes .sales-details{
    width: 560px;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box{
    width: 100%;
    margin-bottom: 15px;
  }
}

.modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  display: none;
}

.open{
  display: flex;
}

.modal-container{
  max-width: calc(100% - 32px);
  background-color: #fff;
  width: 800px;
  min-height: 200px;
  position: relative;
  padding-bottom: 30px;
  animation: modalFadeIn ease 0.4s;
}

header.modal-header{
  background: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}

.modal-close{
  position: absolute;
  right: 0;
  top : 0;
  padding: 12px;
  cursor: pointer;
  opacity: 0.8;
  color: #fff;
}

.modal-close:hover{
  opacity: 1;
}

.modal-body{
  padding: 20px;
  max-height: 300px;
  overflow-x:hidden;
  overflow-y:auto;
}

.modal-label{
  font-size: 15px;
  display: block;
  margin-bottom: 8px;
}

.modal-input{
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 16px;
}

.submit-btn{
  text-align: center;
}

#submit-form{
  background: #009688;
  border: none;
  color: #fff;
  width: 50%;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
}

#submit-form:hover{
  opacity: 0.8;
}

@keyframes modalFadeIn{
  from{
    opacity: 0;
    transform: translateY(-140px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
.add-new-item{
  margin: 20px ;
  padding: 10px 15px;
  border: none;
  background-color: #40916C;
  color: #fff;
  border-radius: 5px ;
  font-size: 14px;
}

.add-new-item:hover{
  background-color: #40916C;
}
</style>
