<template>
  <div>
    <form id="AddEditDiscountCode">
      <div class="row">
        <div class="container">

          <div class="row mb-0">
            <div class="col-lg-5 col-sm-12">
              <label for="commentIcon">Hình thức thanh toán</label>
              <b-form-select v-model="discountCodePaymentType" class="mb-3" :options="listPaymentType">
              </b-form-select>
            </div>
            <div class="col-lg-4 col-sm-12">
              <label for="commentIcon">Loại giảm giá</label>
              <b-form-select v-model="discountCodeDiscountType" class="mb-3" :options="listDiscountType">
              </b-form-select>
            </div>
            <div class="col-lg-3 col-sm-12">
              <form-group-input
                    type="text"
                    label="Số tiền tối thiểu"
                    invalidFeedback="Vui lòng nhập số tiền tối thiểu hợp lệ"
                    v-model="discountCodeMinimumBill"
                    :touch="$v.discountCodeMinimumBill.$touch"
                    :invalid="$v.discountCodeMinimumBill.$error"
                />
            </div>
            <div class="col-lg-4 col-sm-12">
                <form-group-input
                    type="date"
                    label="Ngày hết hạn"
                    invalidFeedback="Vui lòng nhập ngày hết hạn hợp lệ"
                    v-model="discountCodeExpirationDate"
                    :touch="$v.discountCodeExpirationDate.$touch"
                    :invalid="$v.discountCodeExpirationDate.$error"
                />
            </div>
            <div class="col-lg-4 col-sm-12">
                <form-group-input
                    type="number"
                    label="Giá trị giảm"
                    invalidFeedback="Vui lòng nhập giá trị giảm hợp lệ"
                    v-model="discountCodeDiscountValue"
                    :touch="$v.discountCodeDiscountValue.$touch"
                    :invalid="$v.discountCodeDiscountValue.$error"
                />
            </div>
            <div class="col-lg-4 col-sm-12">
                <form-group-input
                    type="number"
                    label="Số lượng muốn tạo"
                    invalidFeedback="Vui lòng nhập số lượng muốn tạo hợp lệ"
                    v-model="discountCodeDiscountQuantity"
                    :touch="$v.discountCodeDiscountQuantity.$touch"
                    :invalid="$v.discountCodeDiscountQuantity.$error"
                />
            </div>
            <div class="col-lg-12 col-sm-12">
                <div class="comment-item">
                  <p class="comment-item-header">Mô tả</p>
                  <textarea v-model="discountCodeDesciption" cols="45" rows="3" required="" class="body-coment"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, numeric } from 'vuelidate/lib/validators'
import FormGroupInput from '../../../components/form/FormGroupInput.vue'
import discountCodeService from '../../../services/discountCode.service'
import notification from '../../../utils/notification'
import SelectProduct from '../../../components/form/select/SelectProduct.vue'
import SelectUser from '../../../components/form/select/SelectUser.vue'
import * as moment from 'moment'
export default {
  mixins: [validationMixin],
  props: {
    code: { type: String, default: '' },
    desciption: { type: String, default: '' },
    createdDate: { type: String, default: '' },
    expirationDate: { type: String, default: '' },
    paymentType: { type: Number, default: 0 },
    discountType: { type: Number, default: 0 },
    discountValue: { type: Number, default: 0 },
    minimumBill: { type: Number, default: 0 },
    isUsed: { type: Boolean, default: true },
    // userId: { type: Number, default: 0 },
    discountCodeId: { type: Number, default: 0 }
  },
  validations: {
    discountCodeDesciption: { required },
    discountCodeExpirationDate: { required },
    discountCodePaymentType: { required },
    discountCodeDiscountType: { required },
    discountCodeDiscountValue: { required, numeric },
    discountCodeMinimumBill: { required, numeric },
    discountCodeDiscountQuantity: {required, numeric}
  },
  data () {
    return {
      discountCodeCode: this.code ? this.code : '',
      discountCodeDesciption: this.desciption ? this.desciption : '',
      discountCodeCreatedDate: this.createdDate ? moment(this.createdDate).format('YYYY-MM-DD') : moment().format('YYYY-MM-DD'),
      discountCodeExpirationDate: this.expirationDate ? moment(this.expirationDate).format('YYYY-MM-DD') : moment().format('YYYY-MM-DD'),
      discountCodePaymentType: this.paymentType ? this.paymentType : 0,
      discountCodeDiscountType: this.discountType ? this.discountType : 0,
      discountCodeDiscountValue: this.discountValue ? this.discountValue : 0,
      discountCodeMinimumBill: this.minimumBill ? this.minimumBill : 0,
      discountCodeIsUsed: this.isUsed !== undefined ? this.isUsed : true,
      discountCodeDiscountQuantity: 0,
      // discountCodeUserId: this.userId ? this.userId : 0,
      listPaymentType: [
        {text: 'Thanh toán bằng tiền mặt', value: 0},
        {text: 'Thanh toán trực tuyến', value: 1},
        {text: 'Cả hai', value: 2}
      ],
      listDiscountType: [
        {text: 'Giảm theo phần trăm', value: 0},
        {text: 'Trừ tiền', value: 1}
      ],
      listIsUsed: [
        {text: 'Còn hiệu lực', value: true},
        {text: 'Đã sử dụng', value: false}
      ]
    }
  },
  components: {
    FormGroupInput,
    SelectProduct,
    SelectUser
  },
  mounted () { },

  computed: {
  },
  methods: {
    validate () {
      this.$v.$touch()
      return !this.$v.$invalid
    },
    addDiscountCode () {
      if (!this.validate()) {
        return
      }
      // console.log('addDiscountCode')
      let data = {
        'desciption': this.discountCodeDesciption,
        'expirationDate': this.discountCodeExpirationDate,
        'paymentType': this.discountCodePaymentType,
        'discountType': this.discountCodeDiscountType,
        'discountValue': this.discountCodeDiscountValue,
        'minimumBill': this.discountCodeMinimumBill,
        'quantity': this.discountCodeDiscountQuantity
      }
      console.log('addDiscountCode', this.discountCodeExpirationDate, data)
      discountCodeService.addDiscountCode(data).then(rs => {
        if (rs.code === 200) {
          notification.success('Thêm thành công')
          this.$emit('onUpdateData')
          this.$bvModal.hide('DiscountCodeAddEdit')
        }
      })
    },
    updateDiscountCode () {
      if (!this.validate()) {
        return
      }
      console.log('updateDiscountCode')
      let data = {
        id: this.discountCodeId,
        discountCode: {
          'code': this.discountCodeCode,
          'desciption': this.discountCodeDesciption,
          'createdDate': this.discountCodeCreatedDate,
          'expirationDate': this.discountCodeExpirationDate,
          'paymentType': this.discountCodePaymentType,
          'discountType': this.discountCodeDiscountType,
          'discountValue': this.discountCodeDiscountValue,
          'minimumBill': this.discountCodeMinimumBill,
          'isUsed': this.discountCodeIsUsed
          // 'userId': this.discountCodeUserId
        }
      }
      discountCodeService.updateDiscountCode(data).then(rs => {
        if (rs.code === 200) {
          notification.success('Cập nhật thành công')
          this.$emit('onUpdateData')
          this.$bvModal.hide('DiscountCodeAddEdit')
        }
      })
    },
    onSelectProduct (product) {
    },
    onSelectUser (user) {

    }
  }
}
</script>

<style scoped>
.label {
  margin-bottom: 2px !important ;
}
.body-coment{
  width: 100%;
}
</style>
