<template>
    <div class="home-content">
      <button class= "add-new-item" @click="openModalAdd">Thêm mới</button>
      <Dialog
        id="DiscountCodeAddEdit"
        :title="isEdit ? 'Chỉnh sửa mã giảm giá' : 'Thêm mã giảm giá'"
        size="lg"
        :titleBtnSubmit="isEdit ? 'Cập nhật' : 'Thêm mới'"
        :onSubmit="onAddEditDiscountCode"
      >
        <template v-slot:modal-body>
          <AddEditDiscountCode
            ref="addEditDiscountCode"
            :code="discountCodeCode"
            :desciption="discountCodeDesciption"
            :createdDate="discountCodeCreatedDate"
            :expirationDate="discountCodeExpirationDate"
            :paymentType="discountCodePaymentType"
            :discountType="discountCodeDiscountType"
            :discountValue="discountCodeDiscountValue"
            :minimumBill="discountCodeMinimumBill"
            :isUsed="discountCodeIsUsed"
            :userId="discountCodeUserId"
            :discountCodeId="discountCodeId"
            @onUpdateData="loadData"
          >
          </AddEditDiscountCode>
        </template>
      </Dialog>
      <Dialog
        id="DiscountCodeEdit"
        :title="isEdit ? 'Chỉnh sửa mã giảm giá' : 'Thêm mã giảm giá'"
        size="lg"
        :titleBtnSubmit="isEdit ? 'Cập nhật' : 'Thêm mới'"
        :onSubmit="onAddEditDiscountCode"
      >
        <template v-slot:modal-body>
          <EditDiscountCode
            ref="editDiscountCode"
            :code="discountCodeCode"
            :desciption="discountCodeDesciption"
            :createdDate="discountCodeCreatedDate"
            :expirationDate="discountCodeExpirationDate"
            :paymentType="discountCodePaymentType"
            :discountType="discountCodeDiscountType"
            :discountValue="discountCodeDiscountValue"
            :minimumBill="discountCodeMinimumBill"
            :isUsed="discountCodeIsUsed"
            :userId="discountCodeUserId"
            :discountCodeId="discountCodeId"
            @onUpdateData="loadData"
          >
          </EditDiscountCode>
        </template>
      </Dialog>
      <check-delete
        id="CheckDeleteDiscountCode"
        @confirmDelete="confirmDelete"
        content="Bạn có muốn xóa bình luận không?"
      ></check-delete>
      <div class="my-table">
          <div class="table_responsive">
          <table>
              <thead>
              <tr>
                  <th style="width: 20px">STT</th>
                  <th>Mã giảm giá</th>
                  <th>Mô tả</th>
                  <th>Ngày tạo</th>
                  <th>Ngày hết hạn</th>
                  <th>Loại hình thanh toán</th>
                  <th>Loại hình giảm giá</th>
                  <th>Giá trị giảm</th>
                  <th>Số tiền tối thiểu</th>
                  <th>Trạng thái</th>
                  <th>Thao tác</th>
              </tr>
              </thead>
              <tbody>
              <tr v-for="(item, index) in listDiscountCode" :key="item.id">
                  <td>{{index + 1}}</td>
                  <td>{{item.code}}</td>
                  <td>{{item.desciption}}</td>
                  <td>{{ formatDate(item.createdDate)}}</td>
                  <td>{{ formatDate(item.expirationDate)}}</td>
                  <td>{{ item.paymentType == 0 ? ' Thanh toán bằng tiền mặt' : (item.paymentType == 1 ? ' Thanh toán trực tuyến' : 'Cả 2')}}</td>
                  <td>{{ item.discountType == 0 ? 'Giảm theo phần trăm' : 'Trừ tiền'}}</td>
                  <td>{{ item.discountType == 1 ? item.discountValue + ' VNĐ' : item.discountValue+' %'}}</td>
                  <td>{{item.minimumBill}}</td>
                  <td>{{ item.isUsed == true ? 'Còn hiệu lực' : 'Hết hạn'}}</td>
                  <td>
                  <span class="action_btn">
                      <button class="js-open-form" @click="openModalEdit(item)">Sửa</button>
                      <button @click="onDeleteRow(item.id)">Xóa</button>
                  </span>
                  </td>
              </tr>
              </tbody>
          </table>
          <div class="admin-pagination">
                <AdminPagination
                :key="totalPage"
                  :total="totalPage"
                  @onPageChange="onPageChanged"
                >
                </AdminPagination>
              </div>
          </div>
      </div>
    </div>
</template>
<script>
import AdminPagination from '../../../components/pagination/AdminPagination.vue'
import AddEditDiscountCode from './AddEditDiscountCode.vue'
import EditDiscountCode from './EditDiscountCode.vue'
import discountCodeService from '../../../services/discountCode.service'
import CheckDelete from '../../../components/confirm/DeleteConfirm.vue'
import notification from '../../../utils/notification'
import * as moment from 'moment'
export default ({
  name: 'AdminLayout2',
  components: {
    AddEditDiscountCode,
    EditDiscountCode,
    AdminPagination,
    CheckDelete
  },
  data () {
    return {
      listDiscountCode: {},
      pageNumber: 1,
      pageSize: 5,
      totalPage: 1,
      discountCodeCode: '',
      discountCodeDesciption: '',
      discountCodeCreatedDate: null,
      discountCodeExpirationDate: null,
      discountCodePaymentType: 0,
      discountCodeDiscountType: 0,
      discountCodeDiscountValue: 0,
      discountCodeMinimumBill: 0,
      discountCodeIsUsed: true,
      discountCodeUserId: 0,
      discountCodeId: 0,
      deleteId: null,
      isEdit: false,
      formatDate: (date) => {
        return moment(date).format('YYYY-MM-DD')
      }
    }
  },
  mounted () {
    this.$store.dispatch('product/loadAllProducts')
    this.$store.dispatch('user/loadAllUsers')
    this.loadData()
  },
  methods: {
    loadData () {
      discountCodeService.getDiscountCodes(this.pageNumber, this.pageSize).then(rs => {
        console.log('rs', rs)
        this.listDiscountCode = rs.data
        this.totalPage = Math.ceil(rs.totalElements / this.pageSize)
        console.log('this.totalPage', this.totalPage)
      })
    },
    onPageChanged (number) {
      this.pageNumber = number
      this.loadData()
    },
    openModalAdd () {
      this.isEdit = false
      this.discountCodeId = null
      this.discountCodeCode = ''
      this.discountCodeDesciption = ''
      this.discountCodeCreatedDate = moment().format('YYYY-MM-DD')
      this.discountCodeExpirationDate = moment().format('YYYY-MM-DD')
      this.discountCodePaymentType = 0
      this.discountCodeDiscountType = 0
      this.discountCodeDiscountValue = 0
      this.discountCodeMinimumBill = 0
      this.discountCodeIsUsed = true
      this.discountCodeUserId = 0
      this.$bvModal.show('DiscountCodeAddEdit')
    },
    openModalEdit (item) {
      this.isEdit = true
      this.discountCodeId = item.id
      this.discountCodeCode = item.code
      this.discountCodeDesciption = item.desciption
      this.discountCodeCreatedDate = moment(item.createdDate).format('YYYY-MM-DD')
      this.discountCodeExpirationDate = moment(item.expirationDate).format('YYYY-MM-DD')
      this.discountCodePaymentType = item.paymentType
      this.discountCodeDiscountType = item.discountType
      this.discountCodeDiscountValue = item.discountValue
      this.discountCodeMinimumBill = item.minimumBill
      this.discountCodeIsUsed = item.isUsed
      this.discountCodeUserId = item.userId || 0
      this.$bvModal.show('DiscountCodeEdit')
    },
    onDeleteRow (id) {
      this.$bvModal.show('CheckDeleteDiscountCode')
      this.deleteId = id
    },
    confirmDelete () {
      this.$bvModal.hide('CheckDeleteDiscountCode')
      discountCodeService.deleteDiscountCode(this.deleteId).then(rs => {
        if (rs.code === 200) {
          notification.success('Xóa thành công')
          this.loadData()
        }
      })
    },
    onAddEditDiscountCode () {
      if (this.isEdit) {
        this.$refs.editDiscountCode.updateDiscountCode()
      } else {
        console.log(`moment().format('YYYY-MM-DD')`, moment().format('YYYY-MM-DD'))
        this.$refs.addEditDiscountCode.addDiscountCode()
      }
    }
  }
})
</script>

<style scoped>
.main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* justify-content: center;
    align-items: center;
    background: #232c33; */
}
.dashboard{
  white-space: nowrap;
}
.home-content .overview-boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
}
.overview-boxes .box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.overview-boxes .box-topic{
  font-size: 20px;
  font-weight: 500;
}
.home-content .box .number{
  display: inline-block;
  font-size: 20 px;
  margin-top: -6px;
  font-weight: 500;
}
.home-content .box .indicator{
  display: flex;
  align-items: center;
}
.home-content .box .indicator i{
  height: 20px;
  width: 20px;
  background: #8FDACB;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  margin-right: 5px;
}
.box .indicator i.down{
  background: #e87d88;
}
.home-content .box .indicator .text{
  font-size: 12px;
}
.home-content .box .cart{
  display: inline-block;
  font-size: 10px;
  height: 50px;
  width: 50px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 12px;
  margin: -15px 0 0 6px;
}
.home-content .box .cart.two{
   color: #2BD47D;
   background: #C0F2D8;
 }
.home-content .box .cart.three{
   color: #ffc233;
   background: #ffe8b3;
 }
.home-content .box .cart.four{
   color: #e05260;
   background: #f7d4d7;
 }
.home-content .total-order{
  font-size: 20px;
  font-weight: 500;
}

.picture-colum{
    text-align: center;
}

.center-colum{
    text-align: center;
}

.table_responsive {
  margin: 0 20px;
  max-width: 100%;
  border: 1px solid #00bcd4;
  background-color: #efefef33;
  padding: 15px;
  overflow: auto;
  margin: auto;
  border-radius: 4px;
}

table {
  width: 100%;
  font-size: 13px;
  color: #444;
  white-space: nowrap;
  border-collapse: collapse;
}

table>thead {
  background-color: #00bcd4;
  color: #fff;
}

table>thead th {
  padding: 15px;
}

table th,
table td {
  border: 1px solid #00000017;
  padding: 10px 15px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: center;
  text-align: center;
}

table>tbody>tr>td>img {
  display: inline-block;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 2px 6px #0003;
}

.action_btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.action_btn>button {
  text-decoration: none;
  color: #444;
  background: #fff;
  border: 1px solid;
  display: inline-block;
  padding: 7px 20px;
  font-weight: bold;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
}

.action_btn>button:nth-child(1) {
  border-color: #26a69a;
}

.action_btn>button:nth-child(2) {
  border-color: orange;
}

.action_btn>button:hover {
  box-shadow: 0 3px 8px #0003;
}

table>tbody>tr {
  background-color: #fff;
  transition: 0.3s ease-in-out;
}

table>tbody>tr:nth-child(even) {
  background-color: rgb(238, 238, 238);
}

table>tbody>tr:hover{
  filter: drop-shadow(0px 2px 6px #0002);
}

.my-table{
  margin: 0 20px;
}

/* Right box */

/* Responsive Media Query */
@media (max-width: 1150px) {
  .home-content .sales-boxes{
    flex-direction: column;
  }
  .home-content .sales-boxes .box{
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .home-content .sales-boxes .top-sales{
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .overview-boxes .box{
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  .home-content .sales-boxes .sales-details{
    width: 560px;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box{
    width: 100%;
    margin-bottom: 15px;
  }
}

.modal{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  display: none;
}

.open{
  display: flex;
}

.modal-container{
  max-width: calc(100% - 32px);
  background-color: #fff;
  width: 800px;
  min-height: 200px;
  position: relative;
  padding-bottom: 30px;
  animation: modalFadeIn ease 0.4s;
}

header.modal-header{
  background: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}

.modal-close{
  position: absolute;
  right: 0;
  top : 0;
  padding: 12px;
  cursor: pointer;
  opacity: 0.8;
  color: #fff;
}

.modal-close:hover{
  opacity: 1;
}

.modal-body{
  padding: 20px;
  max-height: 300px;
  overflow-x:hidden;
  overflow-y:auto;
}

.modal-label{
  font-size: 15px;
  display: block;
  margin-bottom: 8px;
}

.modal-input{
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 16px;
}

.submit-btn{
  text-align: center;
}

#submit-form{
  background: #009688;
  border: none;
  color: #fff;
  width: 50%;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
}

#submit-form:hover{
  opacity: 0.8;
}

@keyframes modalFadeIn{
  from{
    opacity: 0;
    transform: translateY(-140px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
.add-new-item{
  margin: 20px ;
  padding: 10px 15px;
  border: none;
  background-color: #40916C;
  color: #fff;
  border-radius: 5px ;
  font-size: 14px;
}

.add-new-item:hover{
  background-color: #40916C;
}
</style>
