<template>
  <div>
    <form id="AddEditAccount">
      <div class="row">
        <div class="container">
          <div class="row mb-0">

            <div class="col-lg-4 col-sm-12">
                <div class="avata-user-change-main">
                  <div class="avata-user-change-image" :style="isUploading ? 'opacity: 0.5': ''">
                      <b-spinner v-if="isUploading" variant="primary" label="Spinning" class="spinner-load-image"></b-spinner>
                      <cld-image cloudName="donghcmute" :publicId="productPictureId" height="150" width="150" crop="scale" />
                  </div>
                  <div class="btn-change-main">
                    <input type="file" accept="image/*" class="btn-change" @change="uploadImage">
                  </div>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12">
              <div class="row mb-0">
                <div class="col-lg-6 col-sm-12">
                    <form-group-input
                        type="text"
                        label="Mã vạch"
                        invalidFeedback="Vui lòng nhập mã vạch hợp lệ(mã vạch có 13 số)"
                        v-model="productCode"
                        :touch="$v.productCode.$touch"
                        :invalid="$v.productCode.$error"
                    />
                </div>
                <div class="col-lg-6 col-sm-12">
                    <form-group-input
                        type="text"
                        label="Tên sản phẩm"
                        invalidFeedback="Vui lòng nhập sản phẩm hợp lệ"
                        v-model="productName"
                        :touch="$v.productName.$touch"
                        :invalid="$v.productName.$error"
                    />
                </div>
                <div class="col-lg-4 col-sm-12">
                    <form-group-input
                        type="text"
                        label="Giá tiền"
                        invalidFeedback="Vui lòng nhập giá tiền hợp lệ"
                        v-model="productPrice"
                        :touch="$v.productPrice.$touch"
                        :invalid="$v.productPrice.$error"
                    />
                </div>
                <div class="col-lg-4 col-sm-12">
                    <form-group-input
                        type="text"
                        label="Số lượng"
                        invalidFeedback="Vui lòng số lượng  hợp lệ"
                        v-model="productQuantity"
                        :touch="$v.productQuantity.$touch"
                        :invalid="$v.productQuantity.$error"
                    />
                </div>
                <div class="col-lg-4 col-sm-12">
                    <form-group-input
                        type="text"
                        label="Lượt thích"
                        invalidFeedback="Vui lòng nhập lượt thích hợp lệ"
                        v-model="productLike"
                        :touch="$v.productLike.$touch"
                        :invalid="$v.productLike.$error"
                    />
                </div>
                <div class="col-lg-6 col-sm-12 mb-2">
                    <label for="commentIcon">Sao đánh giá</label>
                    <b-form-select v-model="productStar" class="mb-3" :options="listStar">
                    </b-form-select>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <label for="category">Loại sản phẩm</label>
                    <b-form-select v-model="productCategoryId" class="mb-3" :options="listCategories" value-field="category.id" text-field="category.name">
                    </b-form-select>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-sm-12">
              <div class="comment-item">
                  <p class="comment-item-header">Mô tả của sản phẩm</p>
                  <textarea v-model="productDescription" cols="45" rows="4" required="" class="body-coment"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, numeric, minLength, maxLength } from 'vuelidate/lib/validators'
import FormGroupInput from '../../../components/form/FormGroupInput.vue'
import productService from '../../../services/product.service'
import notification from '../../../utils/notification'
import fileService from '../../../services/file.service'
export default {
  mixins: [validationMixin],
  props: {
    productId: { type: Number, default: 0 },
    code: { type: String, default: '' },
    name: { type: String, default: '' },
    picture: { type: String, default: '' },
    description: { type: String, default: '' },
    price: { type: Number, default: 0 },
    quantity: { type: Number, default: 0 },
    like: { type: Number, default: 0 },
    star: { type: Number, default: 1 },
    categoryId: { type: Number, default: 0 }
  },
  validations: {
    productCode: {
      required,
      numeric,
      minLength: minLength(13),
      maxLength: maxLength(13)
    },
    productName: { required },
    productPicture: { required },
    productDescription: { required },
    productPrice: {
      required,
      numeric },
    productQuantity: {
      required,
      numeric },
    productLike: {
      required,
      numeric },
    productStar: { required },
    productCategoryId: { required }
  },
  data () {
    return {
      productCode: this.code ? this.code : '',
      productName: this.name ? this.name : '',
      productPicture: this.picture ? this.picture : 'https://res.cloudinary.com/donghcmute/image/upload/v1634690680/user_bbt8lk.png',
      productPictureId: this.picture ? this.picture.substring(this.picture.indexOf('upload'), this.picture.length).replace('upload/', '') : 'v1634690680/user_bbt8lk.png',
      productDescription: this.description ? this.description : '',
      productPrice: this.price ? this.price : 0,
      productQuantity: this.quantity ? this.quantity : 0,
      productLike: this.like ? this.like : 0,
      productStar: this.star ? this.star : 1,
      productCategoryId: this.categoryId ? this.categoryId : 0,
      isUploading: false,
      uploadFile: null,
      listStar: [
        {text: '1 sao', value: 1},
        {text: '2 sao', value: 2},
        {text: '3 sao', value: 3},
        {text: '4 sao', value: 4},
        {text: '5 sao', value: 5}
      ]
    }
  },
  components: {
    FormGroupInput
  },
  mounted () {
    this.$store.dispatch('category/getCategoriesWithQuantity').then(rs => {
      console.log('rs cat', rs)
    })
  },
  computed: {
    categoryData () {
      return this.$store.getters['category/listCategoryWithQuantity']
    },
    listCategories () {
      return this.categoryData.data || []
    }
  },
  methods: {
    validate () {
      this.$v.$touch()
      return !this.$v.$invalid
    },
    addProduct () {
      if (!this.validate()) {
        return
      }
      console.log('addProduct')
      let data = {
        'code': this.productCode,
        'name': this.productName,
        'picture': this.productPicture,
        'description': this.productDescription,
        'price': this.productPrice,
        'quantity': this.productQuantity,
        'like': this.productLike,
        'star': this.productStar,
        'categoryId': this.productCategoryId
      }
      productService.addProduct(data).then(rs => {
        if (rs.code === 200) {
          notification.success('Thêm thành công')
          this.$emit('onUpdateData')
          this.$bvModal.hide('ProductAddEdit')
        }
      })
    },
    uploadImage (e) {
      var checkType = false
      var checkSize = false
      e.target.files.forEach(r => {
        if (!r.type.includes('image/')) {
          checkType = true
        }
        if (r.size > 2 * 1024 * 1024) { // check size 5mb
          checkSize = true
        }
      })
      if (checkType) {
        notification.error('Xin vui lòng chỉ chọn hình ảnh')
        return
      }
      if (checkSize) {
        notification.error('Xin vui lòng chọn file có kích thước nhỏ hơn 2MB')
        return
      }
      this.isUploading = true
      //   console.log('e.target.files', e.target.files)
      let formData = new FormData()
      formData.append('file', e.target.files[0])
      let uploadPreset = 'dongne'
      formData.append('upload_preset', uploadPreset)

      fileService.uploadImage(formData).then(res => {
        console.log(res)
        this.isUploading = false
        this.productPicture = res.data.url
        this.productPictureId = res.data.public_id
      })
    },
    updateProduct () {
      if (!this.validate()) {
        return
      }
      console.log('updateProduct')
      let data = {
        id: this.productId,
        product: {
          'code': this.productCode,
          'name': this.productName,
          'picture': this.productPicture,
          'description': this.productDescription,
          'price': this.productPrice,
          'quantity': this.productQuantity,
          'like': this.productLike,
          'star': this.productStar,
          'categoryId': this.productCategoryId
        }
      }
      productService.updateProduct(data).then(rs => {
        if (rs.code === 200) {
          notification.success('Cập nhật thành công')
          this.$emit('onUpdateData')
          this.$bvModal.hide('ProductAddEdit')
        }
      })
    }
  }
}
</script>

<style scoped>
.label {
  margin-bottom: 2px !important ;
}
.avata-user-change-main{
width: 100%;
    }

    .avata-user-change-image{
        position: relative;
        width: 167px;
        height: 167px;
        margin-left: auto;
        margin-right: auto;
    }

    .avata-user-change-img{
        width: 100%;
        border-radius: 50%;
    }

    .btn-change-main{
        margin: 20px 0;
        text-align: center;
    }

    .btn-change{
      padding: 5px 8px;
      color: #a8b324;
      border: 1px solid #a8b324;
      font-size: 11px;
      background-color: #fff;
      border-radius: 5px;
      width: 100%;
    }

    input:focus {
        outline: none !important;
        border:1px solid #a8b324;
        box-shadow: 0 0 5px #a8b324;
    }

    .btn-change:hover{
        padding: 5px 8px;
        color: #fff;
        border: 1px solid #a8b324;
        font-size: 11px;
        background-color: #a8b324;
        border-radius: 5px;
        cursor: pointer;
    }

    .avata-user-change-text{
        color: #999;
        font-size: 14px;
        line-height: 14px;
    }

    .my-radio-btn{
    display: flex;
    }

    .info-user-row-right-radio{
        display: flex;
        align-items: center;
        padding: 0 10px;
    }
    .info-user-row{
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        margin-top: 35px;
    }

    .info-user-row-left{
        width: 20%;
        text-align: right;
        color: rgba(85,85,85,.8);
        text-transform: capitalize;
        overflow: hidden;
    }

    .info-user-row-text{
      margin-bottom:2px;
    }

    .info-user-row-right{
        width: 80%;
        margin-left: 20px;
    }

    .info-user-row-user{

    }

    .info-user-row-name{
        display: flex;
        align-items: center;
    }

    .info-user-row-name-text{
        padding: 10px 15px;
        border: 1px solid #eaeaea;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        min-width: 350px;
    }

    .info-user-row-name-email{
        padding: 10px 15px;
        border: 1px solid #eaeaea;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        min-width: 350px;
    }

    .change-btn{
        margin-left: 15px;
        color: #a8b324;
        cursor: pointer;
        font-size: 13px;
        text-decoration: none;
    }

    .info-user-row-name-day{
        padding: 10px 15px;
        border: 1px solid #eaeaea;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        margin-right: 15px;
        max-width: 110px;
    }

    .info-user-row-name-month{
        padding: 10px 10px;
        border: 1px solid #eaeaea;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        margin-right: 15px;
        max-width: 110px;

    }

    .info-user-row-name-year{
        padding: 10px 15px;
        border: 1px solid #eaeaea;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        margin-right: 15px;
        max-width: 110px;
    }
    .info-user-row-right-radio{
        display: flex;
        align-items: center;
        padding: 0 10px;
    }
    .body-coment{
        width: 100%;
    }
</style>
