
html{
    scroll-behavior: smooth;
    width: 100%;
}

*{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.dropdown-toggle::after{
    display: none;
  }
.nav-item .b-nav-dropdown .dropdown a{
    outline: none;
    border: none;
}
.background-white{
    background-color: #fff !important;
}

.mt-30{
    margin-top: 30px !important;
}

.record-status{
    width: min-content;
    border: 2px solid #272727;
    padding: 2px 5px;
    border-radius: 5px;
}

.record-in-sale{
    border-color: #24d030;
    color: #24d030;
}

.record-off-sale{
    border-color: #FF0000;
    color: #FF0000;
}

#main{

}

.header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav_header{
    display: block;
    margin-top: 16px;
}

.header-top{
    display: flex;
    align-items: center;
    height: 110px;
}

.header-top__main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top__left{
    display: flex;
    align-items: center;
}

.header-logo{

}

.header-logo__link{

}

.header-logo__img{
    width: 130px;
}

.header-search{
    margin-left: 80px;
    min-width: 425px;
    position: relative;

}

.header-search-main{
    position: relative;
}

.suggestions{
    position: absolute;
    margin-left: 80px;
    min-width: 425px;
    background-color: #f4f4f4;
    z-index: 99999;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    max-height: 500px;
    overflow: auto;
}
.td-justify-center{
    display: flex;
    justify-content: center;
}
.group-button-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-custom-search{
    max-width: 300px;
    margin-right: 20px;
    min-width: 100px;
}
.suggestions > div{
    padding: 8px;
    font-size: 16px;
    color: #0a472e;
    cursor: pointer;
}

.suggestions > div:hover{
    background-color: #a8b324;
}

.header-find{
    width: 100%;
    padding: 12px 100px 12px 50px;
    border-radius: 50px;
    font-size: 14px;
    border: 1px solid transparent;
    background-color: #f4f4f4;
    outline: none;
}

.header-find:focus{
    /* border: 1px solid #a8b324; */
}

.header-find.search-active{
    border-radius: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px solid #ccc;
}

.search-hide{
    display: none;
}

.header-find::placeholder{
    color: #ccc;

}

.btn-search{
    position: absolute;
    top: 28%;
    right: 3%;
    color: #333;
    font-size: 15px;
    text-decoration: none;
    font-weight: 700;
    border: none;
    background: transparent;
}

.btn-search:hover{
    color: #a8b324;
}

.header-search__icon{
    position: absolute;
    top: 28%;
    left: 5%;
    font-size: 18px;

}

.header-top__right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-info{
    display: flex;
    align-items: center;
}

.header-logoHeadphone{

}

.header-logoHeadphone__icon{
    font-size: 34px;
    color: #a8b324;
}

.header-info__main{
    margin-left: 15px;
}

.header-info__text{

    font-size: 14px;
    display: block;
    font-weight: 700;
}

.header-info__content{
    font-size: 18px;
    display: block;
    margin-top: 2px;
    color: #a8b324;
    letter-spacing: 1.5px;
}


.header-user{

}

.header-user__list{
    display: flex;
    list-style: none;
    align-items: center;
}

.header-user__item{

}

.header-user__table{
    position: relative;
}

.header-user__icon:hover .cart-item{
    display: block;
}

/*tạo cầu*/
.header-user__icon-3::after{
    content: '';
    height: 34px;
    background-color: transparent;
    position: absolute;
    top: 68%;
    right: -100%;
    width: 100px;
}

.header-user__icon-2::after{
    content: '';
    height: 34px;
    background-color: transparent;
    position: absolute;
    top: 68%;
    right: -100%;
    width: 100px;
}

.header-user__link{
    display: block;
    margin: 0 20px;
    text-decoration: none;
}

.header-user__link:hover .header-user__icon{
    background-color: #a8b324;
}

.header-user__icon{
    padding: 10px 15px;
    border-radius: 50%;
    color: #333;
}

.header-user__icon-1{
    position: relative;
}

.header-user__icon-2{
    position: relative;
}

.header-user__icon-3{
    position: relative;
}

.number-of-item{
    position: absolute;
    top: 0;
    color: #fff;
    background-color: #dfb178;
    padding: 5px 8px;
    font-size: 9px;
    border-radius: 50%;
    font-weight: 700;
    right: -10px;
}

.header-user__last{
    display: flex;
    align-items: center;
    position: relative;
}

.header-user__last:hover{
    text-decoration: none;
}

.header-user__price{
    text-decoration: none;
    margin-left: 15px;
    font-size: 14px;
    font-weight: 700;
    color: #333;
}

.header-user__user{
    background-color: #e8f8f7;
}

.header-user__heart{
    background-color: #f6f3e3;
}

.header-user__cart{
    background-color: #f3e4dc;
}


/*************************/
.cart-item{
    position: absolute;
    top: 140%;
    right: -200%;
    width: 300px;
    background-color: #fff;
    border: 2px solid #eaeaea;
    border-top: 2px solid #a8b324;
    padding: 0;
    display: none;
    z-index: 5;
    cursor: default;
}

.cart-item__main{

}

.cart-item__list{
    padding: 20px;
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
}

.cart-item__item{
    display: flex;
    align-items: center;
    margin-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-item__delete{
    text-decoration: none;
    font-size: 14px;
    color: #ccc;
}

.cart-item__delete:hover{
    color: rgb(247, 91, 91);
}

.cart-item__content{
    display: flex;
    padding: 0;
    margin-left: 10px;

}

.cart-item__picture{

}

.cart-item__img{
    max-width: 90px;
}

.cart-item__info{
    margin-left: 20px;
}

.cart-item__name{
    color: #0a472e;
    line-height: 1.4;
    display: block;
    text-decoration: none;
    font-size: 13px;
}

.cart-item__name:hover{
    color: #a8b324;
    text-decoration: none;
}

.cart-item__total-price{
    margin-top: 10px;
}

.cart-item__quantity{
    color: #0a472e;
    font-size: 14px;
}

.cart-item__price{
    color: #a8b324;
    font-size: 16px;
    font-weight: 700;
}

.cart-item__sub-total{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}

.cart-item__sub-total-text{
    color: #0a472e;
    font-size: 14px;
}

.cart-item__sub-total-price{
    color: #0a472e;
    font-size: 20px;
    font-weight: 700;
}

.cart-item__btn{
    padding: 0 20px;
    text-align: center;
}

.cart-item__checkout{
    display: block;
    text-decoration: none;
    padding: 14px 0;
    border-radius: 5px;
    background-color: #a8b324;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

.cart-item__checkout:hover{
    background-color: #80891b;
    text-decoration: none;
}

.cart-item__viewCart{
    margin-top: 5px;
    display: block;
    text-decoration: none;
    padding: 14px 0;
    border-radius: 5px;
    background-color: transparent;
    color: #0a472e;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 15px;
}

.cart-item__viewCart:hover{
    color: #a8b324;
    text-decoration: none;
}

/******************************/

.header-main{
    height: 64px;
    background-color: #0a472e;
    display: flex;
    align-items: center;
}

/******************************/
.header-main__left{
    margin-left: 30px;
    position: relative;
}

.header-main__first:hover{
    text-decoration: none;
}

.header-main__first-icon{
    margin-right: 10px;
    margin-left: 5px;
}


.header-main__left::after{
    content: '';
    height: 18px;
    background-color: transparent;
    position: absolute;
    top: 90%;
    left: 1%;
    width: 250px;
}

.header-main__left:hover .header-main__category{
    display: block;
}


.header-main__category{
    position: absolute;
    min-width: 300px;
    background-color: #fff;
    top: 116%;
    border-radius: 5px;
    display: none;
    z-index: 999;
}

.header-main__category::after{
    content: "";
    border: 9px solid;
    background: transparent;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    left: 30px;
    top : -18px;
}

.header-main__category-list{
    list-style: none;
    padding: 0 30px;
}

.header-main__category-item{
    padding: 15px 0;
    border-bottom: 1px solid #eaeaea;
}

.header-main__category-item:last-child{
    border-bottom: none;
}

.header-main__category-link{
    color: #333;
    text-decoration: none;

}

.header-main__icon{
    margin-right: 5px;
    color: #aaa;
    font-size: 18px;
}

.header-main__category-link:hover{
    color: #a8b324;
    text-decoration: none;
    cursor: pointer;
}

.header-main__category-link:hover .header-main__icon{
    color: #a8b324;
}




/*********************************/






.header-main__list{
    margin-top: 16px;
    display: flex;
    list-style: none;
    align-items: center;
    z-index: 999;
}

.header-main__item{
    margin: 0 25px ;
}

.header-main__link{
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-weight: 700;
}

.header-main__link:hover{
    color: #a8b324;
    text-decoration: none;
}

.header-main__first{
    background-color: #80891b;
    padding: 15px 80px 15px 20px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    display: block;
}

.header-main__home{
    color: #a8b324;
}

.slider{
    position: relative;
}

.slider-img{
    width: 100%;
    max-height: 150px;
    display: block;
}

/*****************************/
/*CONTENT*/

.content{
    background-color: #fcf4eb;
    padding: 30px 0;
}

.content-banner__main{
    display: flex;
    flex: 0 0 32%;

}

.content-banner__item{
    position: relative;
    overflow: hidden;
}

.content-banner__item:nth-child(2){
    margin: 0 20px;
}
.content-banner__item:hover .content-banner__img{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}

.content-banner__img{
    width: 100%;
    border-radius: 2px;
    height: 100%;
}

.content-banner__text{
    position: absolute;
    top: 10%;
    left: 10%;
}

.content-banner__header{
    color: #0A472E;
    width: 100px;
    font-size: 24px;
}

.content-banner__shop{
    color: #333;
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
    border-bottom: 1px solid #333;
    text-decoration: none;
}

.content-banner__shop:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
    text-decoration: none;
}

.content-marketing{
    margin-top: 30px;
}

.content-marketing__img{
    width: 100%;
    height: 280px;
    border-radius: 4px;
}

.content-marketing__left{
    height: 280px;
    overflow: hidden;
    position: relative;
}

.content-marketing__left-main{
    position: absolute;
    top: 30%;
    left: 36%;
    right: auto;
    text-align: center;
    color: #0a472e;
    font-size: 23px;
}

.content-marketing__right{
    height: 280px;
    overflow: hidden;
    position: relative;
}

.content-marketing__right-main{
    position: absolute;
    top: 5%;
    left: 8%;
    right: auto;
    padding: 0 10px;
    text-align: left;
    color: #0a472e;
}

.content-marketing__right-icon{
    font-size: 50px;
    color: #fff;
}
.content-marketing__right-text{
    color: #0a472e;
    font-size: 16px;
}
.email-user{
    border-radius: 50px;
    border: none;
    font-size: 16px;
    color: #333;
    padding: 6px ;
    width: 80%;
}
.email-user:active{
    border: none;
}

.content-shop{
    height: 1000px;
}

/**************DÙNG CHUNG**************/
.content-shop__main{
    padding: 20px 30px 30px;
}

.content-shop__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eaeaea;
}

.content-shop__name{
    font-size: 30px;
    color: #0a472e;

}

.content-shop__category{
    display: flex;
    align-items: center;
}

.content-shop__category-list{
    display: flex;
    border-right: 1px solid #ccc;
}

.content-shop__category-item{
    margin: 0 15px;
}

.content-shop__category-link{
    text-decoration: none;
    font-size: 13px;
    color: #333;
    text-decoration: none;
}

.content-shop__category-link:hover{
    color: #BAC34E;
    text-decoration: none;

}

.content-shop__category-active{
    color: #BAC34E;
}

.content-shop__watchingAll{
    display: block;
    margin-left: 10px;
    font-size: 13px;
    color: #a8b324;
    text-decoration: none;
    /* font-weight: 700; */
    border-bottom: 1px solid #a8b324;
    margin-bottom: 14px;
    text-decoration: none;
}

.content-shop__watchingAll:hover{
    color: #80891b;
    border-bottom: 1px solid #80891b;
    text-decoration: none;

}

.content-shop__body{
    margin-top: 30px;
}

.content-shop__all-product{
    position: relative;
}

.content-shop__all-product:hover .btn-left{
    display: block;
}

.content-shop__all-product:hover .btn-right{
    display: block;
}


.shop-body__main{
    text-align: center;
    position: relative;
    text-align: center;
}

.shop-body__main:hover .shop-body__circle{
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    transform: translateY(calc(-100% - 10px));
    -webkit-transform: translateY(calc(- 100% - 10px));
    -ms-transform: translateY(calc(- 100% - 10px));
}

.shop-body__link{
}

.shop-body__circle{
    display: flex;
    position: absolute;
    top: 60%;
    justify-content: space-evenly;
    width: 100%;
    opacity: 0;
}

.shop-body__circle-item{

}

.shop-body__circle-link{
    display: block;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #ccc;
    color: #000;
}

.shop-body__circle-link:hover{
    background-color: #a8b324;
    color: #fff;
}

.shop-body__circle-icon{
    font-size: 14px;

}


.shop-body__main-img{
    width: 100%;
    height: 200px;
}

.shop-body__rating{
    font-size: 12px;
    color: #ccc;
    margin-top: 8px;
}

.shop-body__star-gold{
    color: #ffce3e;

}

.shop-body__product-name{
    margin-top: 10px;
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 14px;
}

.shop-body__product-name:hover{
    color: #a8b324;
}

.shop-body__price{
    font-size: 16px;
    color: #a8b324;
    font-weight: 700;
}

.shop-body__btn{
    color: #000;
    text-decoration: none;
    font-size: 15px;
}

.shop-body__btn:hover{
    color: #a8b324;
}

.btn-left{
    position: absolute;
    top: 60%;
    left: 0;
    display: none;
}

.btn-left__link{
    display: block;
    padding: 10px 16px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #000;
}

.btn-left__link:hover{
    color: #fff;
    background-color: #a8b324;
}

.btn-right{
    position: absolute;
    top: 60%;
    right: 0;
    display: none;
}

.btn-right__link:hover{
    color: #fff;
    background-color: #a8b324;
}

.btn-right__link{
    display: block;
    padding: 10px 16px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #000;
}



/********************************/
.shop-item{
    background-color: #fff;
    border-radius: 4px;
    margin-top: 30px;
}

.category-item{
    flex : 16.6666%;
    border-left: 1px solid #eaeaea;
    position: relative;
}

.category-item:first-child{
    border-left: none;
}

.category-item__img{
    float: right;
    height: 100%;
    bottom: 0;
}

.category-main{
    position: absolute;
    top: 0;
    margin-left: 10px;
}

.category-main__header{
    font-size: 16px;
    color: #333;
    font-weight: 700;
    padding-top: 10px;
}

.category-main__list{
    list-style: none;
    padding: 0;
    padding-top: 4px;
}

.category-main__item{

}

.category-main__link{
    text-decoration: none;
    font-size: 15px;
    color: #555;
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.category-main__link:hover{
    color: #a8b324;
}

.category-icon{
    font-size: 9px;
    color: #a8b324;
    margin-right: 8px;
    font-weight: 700;

}

/*********************************/
.shop-footer{
    margin-top: 30px;
    background-color: #fff;
}

.shop-footer__main{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;

}

.shop-footer__item{
    display: flex;
    width: 160px;

    margin-left: 30px;
}

.shop-footer__icon{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 10px 15px;
    border-radius: 50%;
    font-size: 30px;
    margin-right: 20px;
    color: #0A472E;
    background: #cce2f4;
}

.shop-footer__icon-award{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 15px 10px 10px;
    border-radius: 50%;
    font-size: 40px;
    margin-right: 20px;
    color: #0A472E;
    background: #cce2f4;
}

.shop-footer__text{
    margin: 0;
    font-size: 16px;
    color: #0A472E;
}


.footer{

    margin-top: 10px;
}

.footer-header{
    padding-bottom: 50px;
    border-bottom: 1px solid #eaeaea;
    padding-top: 30px;
}


.footer-header__item{
    display: flex;
    align-items: center;
}

.footer-main__boder{
    border-right: 1px solid #ccc;
}

.footer-main__first{
   margin-left: 30px;
}

.footer-header__icon{
    font-size: 50px;
    color: #a8b324;
    margin-right: 10px;
}

.footer-header__content{

}

.footer-header__text{
    display: block;
    padding: 5px 0;
    font-size: 14px;
    color: #000;
    font-weight: 700;
}

.footer-header__phone{
    display: block;
    padding: 5px 0;
    font-size: 18px;
    color: #a8b324;

}

.footer-header__info{
    display: block;
    padding: 5px 0;
    font-size: 16px;
    color: #000;
    border-bottom: 1px solid #a8b324;
}

.footer-header__link{
    display: block;
    margin-right: 26px;
    color: #a8b324;
    font-size: 20px;
}

.footer-header__social{
    display: flex;
    margin-top: 10px;
}

.footer-header__img{
    width: 70%;
    margin-top: 20px;
}

.footer-main{
    padding: 40px 0;
}

.footer-main__content{

}

.footer-main__img{
    width: 70%;
}

.footer-main__header{
    color: #000;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footer-main__list{
    padding: 0;
    list-style: none;
}

.footer-main__item{
    padding: 6px 0;
}

.footer-main__link{
    text-decoration: none;
    color: #909896;
    font-size: 14px;

}

.footer-main__link:hover{
    color: #a8b324;
}

.footer-main__day{
    color: #909896;
    font-size: 15px;
}

.footer-main__time{
    color: #000;
    font-size: 14px;
}

.footer-copyright{
    text-align: center;
    font-size: 14px;
    color: #ccc;
    display: block;
    padding: 50px 0;
    border-top: 1px solid #eaeaea;
}
.bg-green{
    background-color: #235a43 !important;
}
.white-text{
    color: #fff;
}

.content-shop-hastext{
    position: relative;
}

.content-shop-hastext:hover{
    opacity: 2;
    cursor: pointer;
}

.content-shop-hastext:hover .content-shop-hastext__btn{
    display: block;
    align-items: center;
    transition: all 0.5s ease-in;
}

.content-shop-hastext__main{
    position: absolute;
    top: 20%;
    text-align: center;
    color: #fff;
    width: 93%;
}

.content-shop-hastext__heading{
    font-size: 25px;
    font-weight: 700;

}

.content-shop-hastext__content{
    font-size: 30px;
    font-weight: 700;
    color: #ffb703;
    margin: 0;
}

.content-shop-hastext__footer{
    font-size: 14px;
    margin: 10PX 0;
}

.content-shop-hastext__btn{
    padding: 10px 15px;
    background-color: #fff;
    border: none;
    color: #333;
    border-radius: 20px;
    font-size: 15px;
    margin-top: 25px;
    font-weight: 700;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

.content-shop-hastext__btn:hover{
    color: #a8b324;
    cursor: pointer;
}

/*header noti*/
.header__notify{
    position: absolute;
    top : 118%;
    right: -12px;
    width: 404px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px ;
    background-color: #fff;
    cursor: default;
    /*đổi tâm */
    transform-origin: calc(100% - 32px) right;
    /* animation: headerNotifyGrowth ease-in 0.25s; */
    will-change: opacity, transform;
    display: none;
    z-index: 9999999;
    border-top: 2px solid #a8b324;
}



/*làm chóp nhọn ở phần thông báo*/
.header__notify::before{
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent transparent transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}

.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;

}

@keyframes headerNotifyGrowth {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header{
    height: 40px;
    background-color: #fff;

}

.header__navbar-list--has-notify:hover .header__notify{
    display: block;
}

.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    user-select: none;
}

.header__notify-list{
    padding-left: 0;
    list-style-type: none;
}

.header__notify-item{

}
    /* display: flex;
} */

.header__notify-item:hover{
    background-color: #f7f7f7;
}

.header__notify-item--viewed{
    background-color: rgba(238,75,43,0.08);
}

.header__notify-link{
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none !important;

}

.header__notify-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-info{
    margin-left: 12px;
}

.header__notify-name{
    display: block;
    font-size: 14px;
    color: #333;
    font-weight: 600;
    line-height: 18px;
    text-decoration: none;

}

.header__notify-desc{
    margin-top: 4px;
    display: block;
    font-size: 12px;
    line-height: 16px;
    color: #756F6E;
    text-decoration: none;

}

.header__notify-footer{
    display: flex;
}

.header__notify-footer-btn{
    text-decoration: none;
    color: #333;
    padding: 8px 0;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.header-user__heart:hover .header__notify{
    display: block;
}

/**************************************/
.header-user__icon-1:hover .header__navbar-user-menu{
    display: block;
}
.header__navbar-user-menu{
    position: absolute;
    padding-left: 0;
    top: calc(100% + 6px);
    right: 0;
    width: 160px;
    background-color: #fff;
    list-style-type: none;
    border-radius: 2px;
    z-index: 1;
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    display: none;
    border-top: 2px solid #a8b324;
}

.header__navbar-user-menu::after{
    content: "";
    border-width: 20px 27px;
    border-style: solid;
    border-color: transparent transparent transparent transparent;
    position: absolute;
    right: 4px;
    top: -29px;
}
.header__navbar-user-item{

}

.header__navbar-user-item--separate{
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.header__navbar-user-item div{
    text-decoration: none;
    font-size: 14px;
    color: #333;
    padding: 10px 16px;
    display: block;
}


.header__navbar-user-item div:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item div:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item div:hover{
    background-color: #fafafa;
}

.sidebarBtn{
    outline: none;
    border: none;
    margin-right: 20px;
}
.sidebarBtn:hover{
    background-color: #40916C;
}
button.slick-arrow{
    color: #fff !important;
    background-color: #fff !important;
    width: 50px;
    height: 50px;
    z-index: 100;
    border-radius: 50%;
    border: 1px solid #0A472E
}
button.slick-arrow:hover{
    background-color: #0a472e !important;
}
button.slick-arrow::before{
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    color: #0a472e;
    background-color: #fff;
}
button.slick-arrow:hover::before{
    background-color: #0a472e !important;
    color: #fff;
}
button.slick-next{
    margin-right: 10px;
}
button.slick-prev{
    margin-left: 10px;
}
/********************************************/
/*nav mobie*/
.nav__bars-btn{
    width: 28px;
    height: 28px;
    color: #fff;
    display: none;
}

.nav__overlay{
    position: fixed;
    top : 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0,0, 0.3);
    display: none;
    animation: fadeIn linear 0.3s;
    z-index: 99999;
    margin: 0;
}


.nav__mobie{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    max-width: 100%;
    background-color: #000;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform linear 0.4s,opacity linear 0.4s;
    z-index: 9999999;
}

.nav__mobie-list{
    margin-top: 24px;
    padding: 0;
    list-style: none;
}

.nav__mobie-link{
    text-decoration: none;
    color:  #333;
    display: block;
    padding: 8px 0;
    font-size: 1.4rem;
}

.nav__mobie-close{
    width: 28px;
    height: 28px;
    color: #fff;
    position: absolute;
    top: 0.4rem;
    right: 5px;

}

.header-main__link-mobile{
    color: #fff;
    font-size: 16px;
}

.header-main__link-mobile:hover{
    text-decoration: none;
}

.header-main__item-mobile{
    padding: 10px 5px;
    border-bottom: 0.5px solid #999;
}

.nav__input:checked ~ .nav__overlay{
    display: block;
}

.nav__input:checked ~ .nav__mobie{
    transform: translateX(0%);
    opacity: 1;
}

@media (max-width:1023px){
    .nav__bars-btn{
        display: block;
        margin-left: 8px;
    }

    .nav__pc{
        display: none;
    }


}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/******************************************/
.link-nav-in-mobile{
    color: #0a472e;
    text-decoration: none;
}
.link-nav-in-mobile:hover{
    color: #0a472e;
    text-decoration: none;
}
.hiden-on-pc{
    display: none;
}

/*Mobie & Tablet*/
@media (max-width: 1024px){
    .hiden-on-pc{
        display: block;
    }
    .hide-on-mobile-tablet{
        display: none;
    }
    .header-top__main{
        width: 100%;
        height: 100%;
    }
    .header-top__mobie-and-tablet{
        width: 100%;
    }
    .header-top__mobie-and-tablet-body{
        display: flex;
        flex: 1;
        justify-content: space-between;

        align-items: center;
        width: 100%;
    }
    .icon-mobie-nav{
        margin-left: 30px;
    }
    .footer-top__mobie-and-tablet-main{
        margin-top: 30px;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 9999;
        background: #fff;
        /* width: calc(100% - 5px); */
    }
    .footer-copyright{
        margin-bottom: 40px;
    }
    .footer-top__mobie-and-tablet-content{
        /* display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        list-style: none; */
        margin: 0;
        padding: 0;
    }
    .footer-top__mobie-and-tablet-item{
        width: 25%;
        font-size: 24px;
        color: #0a472e;
        padding: 8px 0 5px;
        display: inline-block;
        float: left;
        text-align: center;
        border-bottom: 1px solid #a8b324;
        border-top: 1px solid #a8b324;
        border-right: 1px solid #a8b324;
    }
    .footer-top__mobie-and-tablet-item:first-child{
        border-left: 1px solid #a8b324;
    }
    .footer-top__mobie-and-tablet-text{
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 0;
    }
    .max_with-not-pc{
        text-align: center;
        width: 100%;
    }
    .shop-footer__main {
        display: block;
        text-overflow: clip;
        text-align: center;
    }
    .shop-footer__item {
        display: flex;
        width: 100%;
        align-items: center;
        margin: 20px;
    }
    .shop-footer__text {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
    }
    .content-shop__name {
        font-size: 20px;
        color: #0a472e;
    }
    .footer-main__boder{
        border-right: none;
        width: 100%;
        text-align: center;
        margin: 20px 0;
    }
    .footer-main__first{
        margin-left: 0 !important;
    }
    .content-banner__main {
        display: block;
    }
    .content-banner__item{
        margin: 20px;
    }
    .content{
        padding: 10px 0;
    }
    .content-banner__header {
        width: 150px;
    }
    .cart-item{
        display: none;
    }
    .header-user__icon:hover .cart-item{
        display: none;
    }

}

/*Tablet*/
@media  (min-width: 740px) and (max-width: 1024px) {
    .hiden-on-pc{
        display: block;
    }
    .hide-on-mobile-tablet{
        display: none;
    }
    .header-top__main{
        width: 100%;
        height: 100%;
    }
    .header-top__mobie-and-tablet{
        width: 100%;
    }
    .header-top__mobie-and-tablet-body{
        display: flex;
        flex: 1;
        justify-content: space-between;

        align-items: center;
        width: 100%;
    }
    .icon-mobie-nav{
        margin-left: 30px;
    }
    .footer-top__mobie-and-tablet-main{
        margin-top: 30px;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 9999;
        background: #fff;
        /* width: calc(100% - 5px); */
    }
    .footer-copyright{
        margin-bottom: 40px;
    }
    .footer-top__mobie-and-tablet-content{
        /* display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        list-style: none; */
        margin: 0;
        padding: 0;
    }
    .footer-top__mobie-and-tablet-item{
        width: 25%;
        font-size: 24px;
        color: #0a472e;
        padding: 8px 0 5px;
        display: inline-block;
        float: left;
        text-align: center;
        border-bottom: 1px solid #a8b324;
        border-top: 1px solid #a8b324;
        border-right: 1px solid #a8b324;
    }
    .footer-top__mobie-and-tablet-item:first-child{
        border-left: 1px solid #a8b324;
    }
    .footer-top__mobie-and-tablet-text{
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 0;
    }
    .max_with-not-pc{
        text-align: center;
        width: 100%;
    }
    .shop-footer__main {
        display: block;
        text-overflow: clip;
        text-align: center;
    }
    .shop-footer__item {
        display: flex;
        width: 100%;
        align-items: center;
        margin: 20px;
    }
    .shop-footer__text {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
    }
    .content-shop__name {
        font-size: 20px;
        color: #0a472e;
    }
    .footer-main__boder{
        border-right: none;
        width: 100%;
        text-align: center;
        margin: 20px 0;
    }
    .footer-main__first{
        margin-left: 0 !important;
    }
    .content-banner__main {
        display: block;
    }
    .content-banner__item{
        margin: 20px;
    }
    .content{
        padding: 10px 0;
    }
    .content-banner__header {
        width: 150px;
    }
    .cart-item{
        display: none;
    }
    .header-user__icon:hover .cart-item{
        display: none;
    }
}

/*Mobie*/
@media (max-width: 740px){
    .hiden-on-pc{
        display: block;
    }
    .hide-on-mobile-tablet{
        display: none;
    }
    .header-top__main{
        width: 100%;
        height: 100%;
    }
    .header-top__mobie-and-tablet{
        width: 100%;
    }
    .header-top__mobie-and-tablet-body{
        display: flex;
        flex: 1;
        justify-content: space-between;

        align-items: center;
        width: 100%;
    }
    .icon-mobie-nav{
        margin-left: 30px;
    }
    .footer-top__mobie-and-tablet-main{
        margin-top: 30px;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 9999;
        background: #fff;
        /* width: calc(100% - 5px); */
    }
    .footer-copyright{
        margin-bottom: 40px;
    }
    .footer-top__mobie-and-tablet-content{
        /* display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        list-style: none; */
        margin: 0;
        padding: 0;
    }
    .footer-top__mobie-and-tablet-item{
        width: 25%;
        font-size: 24px;
        color: #0a472e;
        padding: 8px 0 5px;
        display: inline-block;
        float: left;
        text-align: center;
        border-bottom: 1px solid #a8b324;
        border-top: 1px solid #a8b324;
        border-right: 1px solid #a8b324;
    }
    .footer-top__mobie-and-tablet-item:first-child{
        border-left: 1px solid #a8b324;
    }
    .footer-top__mobie-and-tablet-text{
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 0;
    }
    .max_with-not-pc{
        text-align: center;
        width: 100%;
    }
    .shop-footer__main {
        display: block;
        text-overflow: clip;
        text-align: center;
    }
    .shop-footer__item {
        display: flex;
        width: 100%;
        align-items: center;
        margin: 20px;
    }
    .shop-footer__text {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
    }
    .content-shop__name {
        font-size: 20px;
        color: #0a472e;
    }
    .footer-main__boder{
        border-right: none;
        width: 100%;
        text-align: center;
        margin: 20px 0;
    }
    .footer-main__first{
        margin-left: 0 !important;
    }
    .content-banner__main {
        display: block;
    }
    .content-banner__item{
        margin: 20px;
    }
    .content{
        padding: 10px 0;
    }
    .content-banner__header {
        width: 150px;
    }
    .cart-item{
        display: none;
    }
    .header-user__icon:hover .cart-item{
        display: none;
    }
    .footer-header__item{
        justify-content: center;
    }
    .footer-main__first{
        margin-left: 0 !important;
    }
    .footer-main__boder{
        border-right: none;
        text-align: center;
        width: 100%;
    }
    .content-banner__main {
        display: block;
    }
    .content-banner__item{
        margin: 20px;
    }
    .content{
        padding: 10px 0;
    }
    .content-banner__header {
        width: 150px;
    }
    .shop-footer__main {
        display: block;
        text-overflow: clip;
        text-align: center;
    }
    .shop-footer__item {
        display: flex;
        width: 100%;
        align-items: center;
        margin: 10px;
    }
    .shop-footer__text {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
    }
    .content-shop__name {
        font-size: 20px;
        color: #0a472e;
    }
    .content-marketing__left{
        margin-right: 20px;
    }
    .contact-header{
        padding-left: 30px;
    }
    .contact-content{
        padding-left: 30px;
    }

}

.footer-input{
    width: 100%;
    padding: 12px 100px 12px 50px;
    border-radius: 50px;
    font-size: 15px;
    border: 1px solid transparent;
    background-color: #f4f4f4;
    outline: none;
}

.footer-search{
    position: relative;
}
.btn-search-footer{
    position: absolute;
    top: 28%;
    right: 3%;
    color: #333;
    font-size: 15px;
    text-decoration: none;
    font-weight: 700;
    border: none;
    background: transparent;
}



