<template>
    <div class="main">
        <!-- <app-header ref="header"/> -->
        <div class="slider">
            <img src="../../../assets/img/slider_shop.jpg" alt="" class="slider-img">
            <!-- ../../assets/img/slider_shop.jpg -->
            <div class="slider-main">
                <p class="slider-header">Menu</p>
                <div class="slider-menu hide-on-mobile-tablet">
                    <a class="slider-home" href="index.html">Trang chủ</a>
                    <i class="fas fa-angle-double-right"></i>
                    <p class="slider-item">Menu</p>
                </div>
            </div>
        </div>
        <div class="content background-white">
            <div class="my-grid wide">
                <div class="your-maket">
                    <div class="my-row">
                        <div class="my-col my-l-12">
                            <div class="maket-right">
                                <div class="content-shop__header">
                                    <div class="show-and-sort">
                                        <div class="showing-text">
                                            Hiển thị sản phẩm trong tổng số <span class="showing-number"></span> sản phẩm
                                        </div>
                                    </div>
                                </div>
                                <div class="maket-right__body">
                                    <p v-if="totalElements === 0">Không có sản phẩm nào được tìm thấy</p>
                                    <div v-if="!(totalElements === 0)" class="list-market-products" >
                                        <div class="market-product-item" v-for="item in listMenuAll" :key="item.id">
                                            <img :src="item.picture" alt="" class="market-product-img">
                                            <div class="market-product-content">
                                                <div class="market-product-top">
                                                    <h3 class="market-product-name">{{item.menuName}}</h3>
                                                </div>
                                                <div class="market-product-bottom">
                                                    <button class="cart-button">
                                                        <span class="add-to-cart" @click="showTable(item.id)">Xem chi tiết</span>
                                                        <i class="fas fa-shopping-cart"></i>
                                                        <i class="fas fa-box"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->
        <div class="modal">
            <div class="modal-container">
                <div class="my-grid wide">
                    <div class="my-row">
                        <div class="my-col my-l-6 my-m-0 my-c-0">
                            <div class="menu-bander-main">
                                <img src="https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-vector-textured-green-vegetables-green-food-background-image_145346.jpg" class="menu-img-left" alt="">
                                <div class="menu-bander-circle">
                                    <img src="https://www.downloadclipart.net/medium/fresh-healthy-food-png-transparent-picture.png" alt="" class="menu-bander-circle-img">
                                </div>
                                <div class="menu-bander-name">
                                    <span class="menu-bander-name-text">
                                        Thực đơn số {{selectedMenuId !== null ? selectedMenuId : 1000}}
                                    </span>
                                </div>
                                <div class="total-kalo">
                                    Tổng cộng :
                                    <span class="total-kalo-number">{{selectedMenuId !== null ? listMenuAll.find(el => el.id === selectedMenuId).realTotalKalo : 1000}}</span> Kalo
                                </div>
                            </div>
                        </div>
                        <div class="my-col my-l-6 my-m-12 my-c-12">
                            <div class="menu-body-right">
                                <div class="menu-body-main-right">
                                    <div class="menu-body-in-main">
                                        <div class="my-row">
                                            <div class="my-col my-l-12 my-m-12 my-c-12">
                                                <div class="menu-body-item-right">
                                                    <div class="menu-body-item-header">
                                                        <span class="menu-body-icon">
                                                            <i class="fas fa-headphones-alt"></i>
                                                        </span>
                                                        <span class="menu-body-name">
                                                            Danh sách thực phẩm có trong menu
                                                        </span>
                                                    </div>
                                                    <div v-if="listItems.length > 0" class="menu-body-item-body">
                                                        <template v-for="(item, index) in listItems" >
                                                            <div class="menu-body-item-body-child m-bt-10" :key="index">
                                                                <span class="menu-body-item-name">
                                                                    {{item.product.name}}
                                                                </span>
                                                                <span class="menu-body-item-kalo">
                                                                    <span class="menu-body-item-kalo-num">
                                                                        {{item.totalKalo}}
                                                                    </span> Kalo
                                                                </span>
                                                            </div>
                                                        </template>
                                                    </div>
                                                </div>
                                                <div class="buy-all-list">
                                                    <button @click="addAllProductToCart()" class="btn-buy-all">Thêm tất cả vào giỏ hàng</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-close">
                    <button class="btn-close-main" @click="HideTable()">x</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import menuService from '../../../services/menu.service'
export default ({
  name: 'Shop',
  components: {
    // 'app-header': Header,
    // 'app-footer': Footer
  },
  data () {
    return {
      pageNumber: 1,
      pageSize: 12,
      totalElements: 0,
      listMenuAll: [
      ],
      listItems: [

      ],
      selectedMenuId: null
    }
  },
  computed: {
  },
  mounted () {
    this.loadData()
  },
  watch: {
  },
  methods: {
    async loadData () {
      menuService.getMenu(this.pageNumber, this.pageSize).then(rs => {
        console.log('list menu', rs)
        if (rs.code === 200) {
          this.totalElements = rs.totalElements
          this.listMenuAll = rs.data
        }
      })
    },
    showTable (id) {
      menuService.getMenuDetails(id).then(rs => {
        console.log('menu details', rs)
        if (rs.code === 200) {
          this.selectedMenuId = id
          this.listItems = rs.data
          const modal = document.querySelector('.modal')
          modal.classList.add('open')
        }
      })
    },
    HideTable () {
      const modal = document.querySelector('.modal')
      modal.classList.remove('open')
    },
    OpenTable (callback) {
      const menuElement = document.querySelectorAll('.cart-button')
      menuElement.addEventListener('click', callback)
    },
    addAllProductToCart () {
      console.log('addAllProductToCart', this.listItems)
      this.listItems.forEach(item => {
        this.addProductToCart(item.product)
      })
    },
    addProductToCart (item) {
      let data = {
        ...item,
        id: item.id,
        name: item.name,
        code: item.code,
        picture: item.picture,
        price: item.price,
        quantity: 1
      }
      console.log('addProductToCart', data)
      this.$store.dispatch('cart/addProduct', data)
    }
  }
})
</script>

<style scoped>
    .bg-green{
    background-color: #235a43 !important;
    }

    .slider-main{
        position: absolute;
        top: 10px;
        left: 5%;
    }

    .slider-header{
        text-transform: capitalize;
        color: #0a472e;
        font-size: 40px;
        max-width: 850px;
        margin-bottom: 5px;
        font-weight: 700;
    }

    .slider-menu{
        display: flex;
        align-items: center;
    }

    .slider-home{
        font-size: 14px;
        color: #999;
        text-decoration: none;
        margin-right: 5px;
    }

    .slider-home:hover{
        color: #a8b324;
    }

    .slider-item{
        font-size: 14px;
        color: #000;
        text-decoration: none;
        margin-left: 5px;
        margin-top: 15px;
    }

    .content-shop__header{

        padding: 40px 0 20px;
    }

    .show-and-sort{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .showing-text{
        font-size: 14px;
        color: #333;
    }

    .content-sort{
    }

    .orderby{
        padding: 10px 5px;
        border: 1px solid #eaeaea;
    }

    .content-shop__footer{
        text-align: center;
    }

    .number-pages{

    }

    .number-pages__list{
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
    }

    .number-pages__item{
        margin: 0 10px;
        cursor: pointer;
    }

    .number-pages__link{
        text-decoration: none;
        color: #0a472e;
        font-weight: 700;
        font-size: 13px;
        cursor: pointer;
    }

    .number-pages__link-active{
        display: block;
        padding: 5px 10px;
        background-color: #a8b324;
        border-radius: 50%;
    }

    .number-pages__link-first{
        text-decoration: none;
        color: #0a472e;
        margin-right: 5px;
    }

    .number-pages__link-last{
        text-decoration: none;
        color: #0a472e;
        margin-left: 5px;
    }

    .maket-left__header{
    font-size: 20px;
    color: #0a472e;
    padding-bottom: 10px;
    font-weight: 700;
    border-bottom: 1px solid #eaeaea;
    }

    .maket-left__category{

    }

    .maket-left__list{
        list-style: none;
        padding: 0;
    }

    .maket-left__item{
        padding: 8px 0;
    }

    .maket-left__link{
        color: #333;
        text-decoration: none;
        font-size: 14px;

    }

    .maket-left__link:hover{
        color: #a8b324;
        cursor: pointer;
    }

    .maket-left__icon{
        margin-right: 10px;
        color: #a8b324;
    }

    /*******************/
    .maket-right{

    }

    .maket-right__header{
        font-size: 14px;
        color: #0a472e;
        padding-bottom: 22px;

        border-bottom: 1px solid #eaeaea;
    }

    .maket-right__body{
        text-align: center;
        margin-top: 40px;
    }

    .maket-right__list{
        padding: 0;
        list-style: none;
    }

    .maket-right__item{
        margin-top: 30px;
        padding: 20px 15px;
    }

    .maket-right__content{

    }

    .maket-right__img{
        width: 100%;
        border: 1px solid #ccc;
        min-height: 300px;
    }

    .maket-right__nav{
        margin-left: 20px;
        padding-top: 10px;
    }

    .maket-name{
        text-decoration: none;
        color: #000;
        font-size: 16px;
        font-weight: 700;
    }
    .maket-name:hover{
        color: #a8b324;
    }

    .maket-right__time{
        font-size: 14px;
        font-weight: 700;
        color: #333;
    }

    .maket-right__hour{
        font-size: 13px;
        font-weight: 700;
        color: #a8b324;
    }

    .maket-right__description{
        font-size: 14px;
        color: #555;
    }

    .maket-right__text{
        font-size: 14px;
        font-weight: 700;
        color: #333;
    }

    .maket-right__category-list{
        display: flex;
        padding: 0;
        list-style: none;
    }

    .maket-right__category-item{
        margin: 0 5px;
    }

    .maket-right__category-link{
        text-decoration: none;
        color: #fff;
        padding: 5px 10px;
        border-radius: 20px;
        background-color: #a8b324;
        font-size: 13px;
    }

    .maket-right__bottom{
        margin: 40px 20px 0;
    }

    .maket-right__bottom-link{
        text-decoration: none;
        color: #000;
        padding: 10px 10px;
        border-radius: 4px;
        background-color: #a8b324;
        font-weight: 700;
    }

    .maket-right__bottom-link:hover{
        color: #fff;
        background-color: #0a472e;
    }

    .list-start-product{
        display: flex;
        transform: translate(0%, 0%);
        justify-content: center;
        flex-direction: row-reverse;
        margin-top: 10px;
    }

    .list-start-product input{
        display: none;
        margin: 0 5px;
    }

    .list-start-product label{
        display: block;
        cursor: pointer;
        width: 15x;
        /* background: #ccc; */
        margin: 0 1px;

    }

    .list-start-product label::before{
        content: '\f005';
        font-family: fontAwesome;
        position: relative;
        display: block;
        font-size: 15px;
        color: #ccc;
    }

    .list-start-product label::after{
        content: '\f005';
        font-family: fontAwesome;
        position: absolute;
        display: block;
        font-size: 15px;
        color: #ffd500;
        top : 0;
        opacity: 0;
        transition: 0.5s;
    }

    .list-start-product label:hover::after,
    .list-start-product label:hover ~ label::after,
    .list-start-product label:checked ~label:after{
        opacity: 1;
    }

    .list-market-products {
        --spacing: 20px;
        --columns: 4;
        display: flex;
        flex-wrap: wrap;
        margin-left: calc(-1 * var(--spacing));
        justify-content: flex-start;
    }
    @media screen and (max-width: 1023px) {
        .list-market-products {
        --columns: 2;
        padding: 20px;
        }
    }
    @media screen and (max-width: 767px) {
        .list-market-products {
        --spacing: 15px;
        --columns: 1;
        padding: 20px;
        }
    }

    .market-product-item {
        border-radius: 20px;
        overflow: hidden;
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 20px 0px;
        width: calc(calc(100% / var(--columns)) - var(--spacing));
        margin-left: var(--spacing);
        margin-bottom: var(--spacing);
    }

    .market-product-img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        flex-shrink: 0;
    }

    .market-product-top {
        padding: 0 25px 25px;
    }

    .market-product-name {
        margin-top: 20px;
        font-weight: 500;
        margin-bottom: 15px;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
        font-size: 14px;
    }

    .market-product-name:hover{
        color: #a8b324;
        cursor: pointer;
    }

    .market-product-money{
        margin-top: auto;
        flex-shrink: 0;
    }

    .market-product-money-text{
        margin: auto;
        font-size: 16px;
        color: #a8b324;
        font-weight: 700;
    }

    .market-product-bottom {
        padding: 5px;
        border-top: 1px solid #eee;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .market-product-content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    .market-product-top {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .market-product-bottom {
        margin-top: auto;
        flex-shrink: 0;
    }
    .market-product-item {
        display: flex;
        flex-direction: column;
    }

    .market-product-btn{
        width: 100%;
        background: transparent;
        border: none;
        cursor: pointer;
    }
    /*************************/
    .cart-button {
        position: relative;
        padding: 10px;
        width: 100%;
        height: 60px;
        border: 0;
        border-radius: 10px;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        color: #a8b324;
        transition: .3s ease-in-out;
        overflow: hidden;
        font-size: 16px;

    }
    .cart-button:hover {
        background-color: transparent;
    }
    .cart-button:active {
        transform: scale(.9);
    }

    .cart-button .fa-shopping-cart {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: -10%;
        font-size: 2em;
        transform: translate(-50%,-50%);
    }
    .cart-button .fa-box {
        position: absolute;
        z-index: 3;
        top: -20%;
        left: 52%;
        font-size: 1.2em;
        transform: translate(-50%,-50%);
    }
    .cart-button span {
        z-index: 3;
        left: 50%;
        top: 50%;
        font-size: 1.2em;
        color: #a8b324;
        transform: translate(-50%,-50%);
        text-align: center;
    }

    .cart-button .added{
        position: absolute;
        z-index: 3;
        left: 50%;
        top: 50%;
        font-size: 1.2em;
        color: #a8b324;
        transform: translate(-50%,-50%);
    }
    .cart-button span.add-to-cart {
        opacity: 1;
    }
    .cart-button span.added {
        opacity: 0;
    }

    .cart-button.clicked .fa-shopping-cart {
        animation: cart 1.5s ease-in-out forwards;
    }
    .cart-button.clicked .fa-box {
        animation: box 1.5s ease-in-out forwards;
    }
    .cart-button.clicked span.add-to-cart {
        animation: txt1 1.5s ease-in-out forwards;
    }
    .cart-button.clicked span.added {
        animation: txt2 1.5s ease-in-out forwards;
    }
    @keyframes cart {
        0% {
            left: -10%;
        }
        40%, 60% {
            left: 50%;
        }
        100% {
            left: 110%;
        }
    }
    @keyframes box {
        0%, 40% {
            top: -20%;
        }
        60% {
            top: 40%;
            left: 52%;
        }
        100% {
            top: 40%;
            left: 112%;
        }
    }
    @keyframes txt1 {
        0% {
            opacity: 1;
        }
        20%, 100% {
            opacity: 0;
        }
    }
    @keyframes txt2 {
        0%, 80% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @media (max-width: 1024px){
      .show-and-sort{
        display: block;
        margin-left: 10px;
      }
      .content-sort{
        margin-top: 20px;
      }
      .number-pages__list{
        padding: 0;
      }
      .slider-menu{
        display: none;
      }
    }

    /*Tablet*/
    @media  (min-width: 740px) and (max-width: 1024px) {
      .show-and-sort{
        display: block;
        margin-left: 10px;
      }
      .content-sort{
        margin-top: 20px;
      }
      .number-pages__list{
        padding: 0;
      }
      .slider-menu{
        display: none;
      }
    }

    /*Mobie*/
    @media (max-width: 739px){
      .show-and-sort{
        display: block;
        margin-left: 10px;
      }
      .content-sort{
        margin-top: 20px;
      }
      .number-pages__list{
        padding: 0;
      }
      .slider-menu{
        display: none;
      }
    }

    .modal{
    position: fixed;
    top : 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99999999;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open{
    display: flex;
}

.modal-container{
    background-color: #C0D8C0;
    width: 900px;
    min-height: 200px;
    max-height: 530px;
    padding: 20px 15px;
    position: relative;
}

.menu-img-left{
    width: 100%;
    height: 100%;
    max-height: 500px;
}

.menu-body-right{
    height: 100%;
    width: 100%;
    background-color: #65C18C;
    padding: 15px 10px;
    max-height: 500px;
    overflow-y:scroll;
}

.menu-body-right::-webkit-scrollbar{
    width: 4px;
    background-color: #F5F5F5;
    border-radius: 5px;
    height: 2px;
}
.menu-body-right::-webkit-scrollbar-thumb {
    background-color: #0a472e;
    height: 2px;
}

.menu-body-right::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    height: 2px;

}

.menu-body-main-right{
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: 5px solid #C1F4C5;
}

.menu-body-in-main{
    padding: 15px 10px;
}

.menu-body-item-right{
    border: 2px solid #8BDB81;
    margin: 15px 0;
}

.menu-body-item-header{
    padding: 5px;
    border-bottom: 1px solid #8BDB81 ;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.menu-body-icon{
    color: #E7ED9B;
    font-size: 30px;
}

.menu-body-name{
    color: #E7ED9B;
}

.menu-body-item-body{
    margin: 10px 5px;
}

.menu-body-item-body-child{
    color: #0A472E;
    display: flex;
    justify-content: space-between;
}

.menu-body-item-name{

}

.menu-body-item-kalo{

}

.menu-body-item-kalo-num{

}

.menu-bander-main{
    position: relative;
}
.menu-bander-circle{
    position: absolute;
    top: 16%;
    left: 18%;
}

.menu-bander-circle-img{
    width: 270px;
}

.menu-bander-name{
    position: absolute;
    top: 5%;
    text-transform: uppercase;
    color: #C85C5C;
    font-size: 26px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.total-kalo{
    position: absolute;
    bottom: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    color: #0B4619;
}

.total-kalo-number{
    font-size: 26px;
    margin: 0 5px;
}

.m-bt-10{
    margin-bottom: 10px;
}

.buy-all-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-buy-all{
    padding: 8px 10px;
    border: none;
    background-color: #0a472e;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
}

.btn-buy-all:hover{
    background-color: #235a43;
    cursor: pointer;
}

.btn-close{
    position: absolute;
    top: -7px;
    right: -2px;
    z-index: 99;
}

.btn-close-main{
    padding: 3px 12px;
    background-color: transparent;
    color: #FC4F4F;
    font-size: 25px;
    font-weight: 700;
    border: 2px;
    cursor: pointer;
}

</style>
