<template>
  <div>
    <b-button
      v-if="btnOpen"
      v-b-modal="`${id}`"
    >{{ btnName }}</b-button>

    <b-modal
      :id="`${id}`"
      :title="`${title}`"
      :size="`${size}`"
      hide-footer
      ignore-enforce-focus-selector=".select2-search__field, .search-bar__input, .search-bar"
    >
      <slot
        class="body-style"
        name="modal-body"
      />
      <div
      v-if="!hiddenSubmit"
        class="btn btn-style"
        :style="btnStyle"
      >
        <b-button
          class="btn-close"
          variant="danger"
          v-if="btnClose"
          @click="$bvModal.hide(id)"
        >Đóng cửa sổ</b-button>
        <b-button
          @click="onSubmit"
          :disabled="isDisabledSubmit"
          :hidden="isHiddenSubmit"
          variant="primary"
        >{{ titleBtnSubmit }}</b-button>
      </div>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: 'Dialog',
  props: {
    id: { type: String, default: '' },
    btnName: { type: String, default: '' },
    title: { type: String, default: '' },
    size: { type: String, default: '' },
    btnOpen: { type: Boolean, default: false },
    btnClose: { type: Boolean, default: false },
    isDisabledSubmit: { type: Boolean, default: false },
    isHiddenSubmit: { type: Boolean, default: false },
    onSubmit: { type: Function, default: () => { } },
    titleBtnSubmit: { type: String, default: 'Thêm mới' },
    btnStyle: { type: String, default: '' },
    hiddenSubmit: {type: Boolean, default: false}
  }
}
</script>

<style scoped>
.modal-body {
  padding: 10px 30px 15px 30px !important;
}
.btn-style {
  display: flex !important;
  justify-content: center !important;
  padding-bottom: 0 !important;

}
.btn-style .btn-close {
    margin-right: 80px;
    background-color: #ff723d;
  }
.btn-style .btn-close :hover{
    background-color: #ff723d;
}
</style>
