<template>
    <div class="table_footer">
        <div v-if="totalPage > 0" class="number-pages">
            <ul v-if="(pageNumber == 1 && totalPage < 3) || (pageNumber == totalPage && totalPage < 3)" class="number-pages__list">
                <li class="number-pages__item"  @click="prevPage">
                    <div  class="number-pages__link-first">
                        Trang trước
                    </div>
                </li>
                <li v-for="i in totalPage" :key="i" class="number-pages__item" @click="onPageChange(i)">
                    <div  class="number-pages__link" :class="i == pageNumber ? 'number-pages__link-active': ''">
                        {{i}}
                    </div>
                </li>
                <li class="number-pages__item" @click="nextPage">
                    <div  class="number-pages__link-last">
                        Trang sau
                    </div>
                </li>
            </ul>
            <ul v-else-if="pageNumber == 1 && totalPage >= 3" class="number-pages__list">
                <li class="number-pages__item"  @click="prevPage">
                    <div  class="number-pages__link-first">
                        Trang trước
                    </div>
                </li>
                <li v-for="i in 3" :key="i" class="number-pages__item" @click="onPageChange(i)">
                    <div  class="number-pages__link" :class="i == pageNumber ? 'number-pages__link-active': ''">
                        {{i}}
                    </div>
                </li>
                <li  class="number-pages__item" @click="nextPage">
                    <div  class="number-pages__link">
                        ...
                    </div>
                </li>
                <li class="number-pages__item" @click="nextPage">
                    <div  class="number-pages__link-last">
                        Trang sau
                    </div>
                </li>
            </ul>
            <ul v-else-if="pageNumber == totalPage && totalPage >= 3" class="number-pages__list">
                <li class="number-pages__item"  @click="prevPage">
                    <div  class="number-pages__link-first">
                        Trang trước
                    </div>
                </li>
                <li  class="number-pages__item" @click="prevPage">
                    <div  class="number-pages__link">
                        ...
                    </div>
                </li>
                <li v-for="i in [totalPage - 2, totalPage - 1, totalPage]" :key="i" class="number-pages__item" @click="onPageChange(i)">
                    <div  class="number-pages__link" :class="i == pageNumber ? 'number-pages__link-active': ''">
                        {{i}}
                    </div>
                </li>
                <li class="number-pages__item" @click="nextPage">
                    <div  class="number-pages__link-last">
                        Trang sau
                    </div>
                </li>
            </ul>
            <ul v-else class="number-pages__list">
                <li class="number-pages__item"  @click="prevPage">
                    <div  class="number-pages__link-first">
                        Trang trước
                    </div>
                </li>
                <li  class="number-pages__item" @click="prevPage">
                    <div  class="number-pages__link">
                        ...
                    </div>
                </li>
                <li v-for="i in [pageNumber - 1, pageNumber, pageNumber + 1]" :key="i" class="number-pages__item" @click="onPageChange(i)">
                    <div  class="number-pages__link" :class="i == pageNumber ? 'number-pages__link-active': ''">
                        {{i}}
                    </div>
                </li>
                <li  class="number-pages__item" @click="nextPage">
                    <div  class="number-pages__link">
                        ...
                    </div>
                </li>
                <li class="number-pages__item" @click="nextPage">
                    <div  class="number-pages__link-last">
                        Trang sau
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
export default ({
  name: 'AdminPagination',
  props: {
    total: { type: Number, default: 0 }
  },
  data () {
    return {
      pageNumber: 1,
      totalPage: this.total ? this.total : 0
    }
  },
  //   watch: {
  //     total: function (val) {
  //       this.totalPage = val
  //     }
  //   },
  computed: {
  },
  mounted () {
  },
  methods: {
    prevPage () {
      if (this.pageNumber > 1) {
        this.pageNumber--
        this.$emit('onPageChange', this.pageNumber)
      }
    },
    nextPage () {
      if (this.pageNumber < this.totalPage) {
        this.pageNumber++
        this.$emit('onPageChange', this.pageNumber)
      }
    },
    onPageChange (i) {
      this.pageNumber = i
      console.log('emit pagechange', this.pageNumber)
      this.$emit('onPageChange', this.pageNumber)
    }
  }
})
</script>
<style scoped>
    .table_footer{
        margin-top: 20px;
        text-align: center;
    }
    .number-pages{

    }
    .number-pages__list{
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
    }

    .number-pages__item{
        margin: 0 10px;
        cursor: pointer;
    }

    .number-pages__link{
        text-decoration: none;
        color: #0a472e;
        font-weight: 700;
        font-size: 13px;
        cursor: pointer;
    }

    .number-pages__link-active{
        display: block;
        padding: 5px 10px;
        background-color: #a8b324;
        border-radius: 50%;
    }

    .number-pages__link-first{
        text-decoration: none;
        color: #0a472e;
        margin-right: 5px;
    }

    .number-pages__link-last{
        text-decoration: none;
        color: #0a472e;
        margin-left: 5px;
    }
</style>
