<template>
  <div class="main">
    <app-header ref="header" />
    <div class="content-page">
      <!-- <VueFbCustomerChat /> -->
      <transition name="router-anim">
        <router-view />
      </transition>
    </div>
    <app-footer ref="footer" />
  </div>
</template>

<script>
import Header from '../../components/header/Header.vue'
import Footer from '../../components/footer/Footer.vue'
export default {
  name: 'ClientLayout',
  components: {
    'app-header': Header,
    'app-footer': Footer
  },
  data () {
    return {
      // test: []
    }
  },
  mounted () {
    this.reload()
  },
  methods: {
    reload () {
      console.log('reload')
    }
  }
}
</script>

<style scoped>
</style>
