<template>
    <div class="footer bg-green">
        <div class="my-grid wide">
            <div class="footer-header">
                <div class="my-row">
                    <div class="my-col my-l-3 my-m-6 my-c-12">
                        <div class="footer-header__item">
                            <div class="footer-header__icon">
                                <i class="fas fa-headphones-alt"></i>
                            </div>
                            <div class="footer-header__content">
                                <span class="footer-header__text white-text">
                                    Tổng đài túc trực 24/7
                                </span>
                                <span class="footer-header__phone white-text">
                                    (+84)399469372
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="my-col my-l-3 my-m-6 my-c-12">
                        <div class="footer-header__item">
                            <div class="footer-header__icon">
                                <i class="fas fa-envelope-open-text"></i>
                            </div>
                            <div class="footer-header__content">
                                <span class="footer-header__text white-text">
                                    Phản hồi email tại :
                                </span>
                                <span class="footer-header__info white-text">
                                    khoagooner@gmail.com
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="my-col my-l-3 my-m-6 my-c-12">
                        <div class="footer-header__item">
                            <div class="footer-header__main">
                                <span class="footer-header__text white-text">
                                    Các kênh trực tuyến :
                                </span>
                                <div class="footer-header__social">

                                    <a href="" class="footer-header__link">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                    <a href="" class="footer-header__link">
                                        <i class="fab fa-facebook-square"></i>
                                    </a>
                                    <a href="" class="footer-header__link">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="my-col my-l-3 my-m-6 my-c-12">
                        <div class="footer-header__item">
                            <img src="../../assets/img/payment.png" alt="" class="footer-header__img">
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-main">
                <div class="my-row">
                    <div class="my-col my-l-2-4 my-m-12 my-c-12 max_with-not-pc">
                        <img src="../../assets/img/logo.svg" alt="" class="footer-main__img">
                    </div>
                    <div class="my-col my-l-2-4 footer-main__boder">
                        <div class="footer-main__content">
                            <p class="footer-main__header white-text">Thời gian hoạt động</p>
                            <p class="footer-main__day">Thứ 2 - Thứ 7:</p>
                            <p class="footer-main__time">8:00 - 16:00</p>
                            <p class="footer-main__day">Chủ Nhật :</p>
                            <p class="footer-main__time">9:00 - 18:00</p>
                        </div>
                    </div>
                    <div class="my-col my-l-2-4 my-m-12 my-c-12 max_with-not-pc">
                        <div class="footer-main__content footer-main__first">
                            <p class="footer-main__header white-text">Thông tin</p>
                            <ul class="footer-main__list">
                                <li class="footer-main__item">
                                    <a href="" class="footer-main__link">Trang chủ</a>
                                </li>
                                <li class="footer-main__item">
                                    <a href="" class="footer-main__link">Về chúng tôi</a>
                                </li>
                                <li class="footer-main__item">
                                    <a href="" class="footer-main__link">Liên hệ</a>
                                </li>
                                <li class="footer-main__item">
                                    <a href="" class="footer-main__link">Chợ của bạn</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="my-col my-l-2-4 my-m-12 my-c-12 max_with-not-pc">
                        <div class="footer-main__content">
                            <p class="footer-main__header white-text">Tài khoản của tôi</p>
                            <ul class="footer-main__list">
                                <li class="footer-main__item">
                                    <a href="" class="footer-main__link">Thông tin tài khoản</a>
                                </li>
                                <li class="footer-main__item">
                                    <a href="" class="footer-main__link">Giỏ hàng</a>
                                </li>
                                <li class="footer-main__item">
                                    <a href="" class="footer-main__link">Quản lí gian hàng</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="my-col my-l-2-4 my-m-12 my-c-12 max_with-not-pc">
                        <div class="footer-main__content">
                            <p class="footer-main__header white-text">Danh mục sản phẩm</p>
                            <ul class="footer-main__list">
                                <li class="footer-main__item">
                                    <a href="" class="footer-main__link">Rau củ</a>
                                </li>
                                <li class="footer-main__item">
                                    <a href="" class="footer-main__link">Hoa quả</a>
                                </li>
                                <li class="footer-main__item">
                                    <a href="" class="footer-main__link">Bánh mì và trứng</a>
                                </li>
                                <li class="footer-main__item">
                                    <a href="" class="footer-main__link">Thức ăn nhanh</a>
                                </li>
                                <li class="footer-main__item">
                                    <a href="" class="footer-main__link">TP bảo vệ sức khỏe</a>
                                </li>
                                <li class="footer-main__item">
                                    <a href="" class="footer-main__link">TP cho trẻ em</a>
                                </li>
                                <li class="footer-main__item">
                                    <a href="" class="footer-main__link">Đang giảm giá</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <span class="footer-copyright__text">Copyright © 2021 Phan Duy Khoa & Than Trong Dong - HCMUTE. All Rights Reserved.</span>
            </div>
        </div>
    </div>
</template>
<script>
export default ({
  name: 'Footer',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
      // test: []
    }
  },
  mounted () {
  },
  methods: {
  }
})
</script>

<style scoped>

</style>
