<template>
    <div class="main">
        <!-- <app-header ref="header"/> -->
        <!-- <div class="slider">
            <img src="../../../assets/img/market2.jpg" alt="" class="slider-img">
        </div> -->

        <div class="content">
            <div class="container-fluid">
                <div class="content-banner">
                    <div class="content-banner__main">
                        <div class="content-banner__item">
                            <img src="../../../assets/img/cam.jpg" alt="" class="content-banner__img">
                            <div class="content-banner__text">
                                <p class="content-banner__header">Hoa quả tươi mát</p>
                                <a href="" class="content-banner__shop">
                                    Mua hàng ngay <i class="fas fa-angle-double-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="content-banner__item">
                            <img src="../../../assets/img/honney.jpg" alt="" class="content-banner__img">
                            <div class="content-banner__text">
                                <p class="content-banner__header">Mật ong thượng hạng</p>
                                <a href="" class="content-banner__shop">
                                    Mua hàng ngay <i class="fas fa-angle-double-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="content-banner__item">
                            <img src="../../../assets/img/raucu.jpg" alt="" class="content-banner__img">
                            <div class="content-banner__text">
                                <p class="content-banner__header">Rau củ sạch</p>
                                <a href="" class="content-banner__shop">
                                    Mua hàng ngay <i class="fas fa-angle-double-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="shop-item">
                    <div class="content-shop__main">
                        <div class="content-shop__header">
                            <p class="content-shop__name">Sản phẩm mới</p>
                            <div class="content-shop__category hide-on-mobile-tablet">
                                <ul class="content-shop__category-list">
                                    <li class="content-shop__category-item">
                                        <a href="" class="content-shop__category-link content-shop__category-active">Hạt</a>
                                    </li>
                                    <li class="content-shop__category-item">
                                        <a href="" class="content-shop__category-link">Dầu ăn</a>
                                    </li>
                                    <li class="content-shop__category-item">
                                        <a href="" class="content-shop__category-link">Trái cây</a>
                                    </li>
                                    <li class="content-shop__category-item">
                                        <a href="" class="content-shop__category-link">Các loại củ</a>
                                    </li>
                                    <li class="content-shop__category-item">
                                        <a href="" class="content-shop__category-link">Thức ăn nhanh</a>
                                    </li>
                                </ul>

                                <a href="" class="content-shop__watchingAll">
                                    Xem tất cả <i class="fas fa-angle-double-right"></i>
                                </a>
                            </div>
                        </div>

                        <div class="content-shop__body">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-12 content-shop-hastext">
                                    <img src="../../../assets/img/banner1.jpg" alt="" class="content-banner__img">
                                    <div class="content-shop-hastext__main">
                                        <p class="content-shop-hastext__heading">GIẢM GIÁ HÈ SỐC</p>
                                        <p class="content-shop-hastext__content">GIẢM 50%</p>
                                        <p class="content-shop-hastext__footer">Tất cả các loại hoa quả trong cửa hàng</p>
                                        <button class="content-shop-hastext__btn">Mua hàng ngay</button>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <VueSlickCarousel v-bind="settings" :key="newProducts.length">
                                        <template v-if="newProducts.length === 0">
                                            <span>Comming Soon</span>
                                        </template>
                                        <template v-if="newProducts.length > 0">
                                            <home-product v-for="item in newProducts" :key="`newProduct${item.id}`" :product="item"></home-product>
                                        </template>
                                    </VueSlickCarousel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="shop-item">
                    <div class="content-shop__main">
                        <div class="content-shop__header">
                            <p class="content-shop__name">Sản phẩm đang giảm giá</p>
                            <div class="content-shop__category hide-on-mobile-tablet">
                                <ul class="content-shop__category-list">
                                    <li class="content-shop__category-item">
                                        <a href="" class="content-shop__category-link content-shop__category-active">Hạt</a>
                                    </li>
                                    <li class="content-shop__category-item">
                                        <a href="" class="content-shop__category-link">Dầu ăn</a>
                                    </li>
                                    <li class="content-shop__category-item">
                                        <a href="" class="content-shop__category-link">Trái cây</a>
                                    </li>
                                    <li class="content-shop__category-item">
                                        <a href="" class="content-shop__category-link">Các loại củ</a>
                                    </li>
                                    <li class="content-shop__category-item">
                                        <a href="" class="content-shop__category-link">Thức ăn nhanh</a>
                                    </li>
                                </ul>

                                <a href="" class="content-shop__watchingAll">
                                    Xem tất cả <i class="fas fa-angle-double-right"></i>
                                </a>
                            </div>
                        </div>

                        <div class="content-shop__body">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-12 content-shop-hastext">
                                    <img src="../../../assets/img/banner2.jpg" alt="" class="content-banner__img">
                                    <div class="content-shop-hastext__main">
                                        <p class="content-shop-hastext__heading">GIẢM GIÁ HÈ SỐC</p>
                                        <p class="content-shop-hastext__content">GIẢM 50%</p>
                                        <p class="content-shop-hastext__footer">Tất cả các loại hoa quả trong cửa hàng</p>
                                        <button class="content-shop-hastext__btn">Mua hàng ngay</button>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <!-- <template>
                                        <span>Không có sản phẩm nào được khuyến mãi</span>
                                    </template> -->
                                    <VueSlickCarousel v-bind="settings" :key="discountProducts.length">

                                         <template v-if="discountProducts.length === 0">
                                            <span>Comming Soon</span>
                                        </template>
                                        <template v-if="discountProducts.length > 0">
                                            <home-product v-for="item in discountProducts" :key="`discountProducts${item.id}`" :product="item"></home-product>
                                        </template>
                                    </VueSlickCarousel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="content-marketing">
                    <div class="row">
                        <div class="my-col my-l-8 my-c-12 my-m-12 content-marketing__left">
                            <img src="../../../assets/img/marketing1.jpg" alt="" class="content-marketing__img">
                            <div class="content-marketing__left-main">
                                <p class="content-marketing__left-text">Mua sắm dễ dàng</p>
                                <p class="content-marketing__left-text">với Chợ online</p>
                            </div>
                        </div>
                        <div class="my-col my-l-4 my-c-12 my-m-12 content-marketing__right">
                            <img src="../../../assets/img/potato.jpg" alt="" class="content-marketing__img">
                            <div class="content-marketing__right-main">
                                <p class="content-marketing__right-icon"><i class="far fa-envelope-open"></i></p>
                                <p class="content-marketing__right-text">Nhập email để nhận những thông báo mới nhất về các sản phẩm của chúng tôi</p>
                                <input type="email" name="" id="" class="email-user" placeholder="Nhập email">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="shop-item">
                    <div class="content-shop__main">
                        <div class="content-shop__header">
                            <p class="content-shop__name">Sản phẩm được ưa chuộng</p>
                            <div class="content-shop__category hide-on-mobile-tablet">
                                <ul class="content-shop__category-list">
                                    <li class="content-shop__category-item">
                                        <a href="" class="content-shop__category-link content-shop__category-active">Hạt</a>
                                    </li>
                                    <li class="content-shop__category-item">
                                        <a href="" class="content-shop__category-link">Dầu ăn</a>
                                    </li>
                                    <li class="content-shop__category-item">
                                        <a href="" class="content-shop__category-link">Trái cây</a>
                                    </li>
                                    <li class="content-shop__category-item">
                                        <a href="" class="content-shop__category-link">Các loại củ</a>
                                    </li>
                                    <li class="content-shop__category-item">
                                        <a href="" class="content-shop__category-link">Thức ăn nhanh</a>
                                    </li>
                                </ul>

                                <a href="" class="content-shop__watchingAll">
                                    Xem tất cả <i class="fas fa-angle-double-right"></i>
                                </a>
                            </div>
                        </div>

                        <div class="content-shop__body">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-12 content-shop-hastext">
                                    <img src="../../../assets/img/banner3.jpg" alt="" class="content-banner__img">
                                    <div class="content-shop-hastext__main">
                                        <p class="content-shop-hastext__heading">GIẢM GIÁ HÈ SỐC</p>
                                        <p class="content-shop-hastext__content">GIẢM 50%</p>
                                        <p class="content-shop-hastext__footer">Tất cả các loại hoa quả trong cửa hàng</p>
                                        <button class="content-shop-hastext__btn">Mua hàng ngay</button>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <VueSlickCarousel v-bind="settings" :key="popularProducts.length">
                                        <template v-if="popularProducts.length === 0">
                                            <span>Comming Soon</span>
                                        </template>
                                        <template v-if="popularProducts.length > 0">
                                            <home-product v-for="item in popularProducts" :key="`popularProduct${item.id}`" :product="item"></home-product>
                                        </template>
                                    </VueSlickCarousel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shop-item">
                    <div class="content-shop__main">
                        <div class="content-shop__header">
                            <p class="content-shop__name">Hot trong tuần</p>
                            <div class="content-shop__category hide-on-mobile-tablet">
                                <ul class="content-shop__category-list">
                                    <li class="content-shop__category-item">
                                        <a href="" class="content-shop__category-link content-shop__category-active">Hạt</a>
                                    </li>
                                    <li class="content-shop__category-item">
                                        <a href="" class="content-shop__category-link">Dầu ăn</a>
                                    </li>
                                    <li class="content-shop__category-item">
                                        <a href="" class="content-shop__category-link">Trái cây</a>
                                    </li>
                                    <li class="content-shop__category-item">
                                        <a href="" class="content-shop__category-link">Các loại củ</a>
                                    </li>
                                    <li class="content-shop__category-item">
                                        <a href="" class="content-shop__category-link">Thức ăn nhanh</a>
                                    </li>
                                </ul>

                                <a href="" class="content-shop__watchingAll">
                                    Xem tất cả <i class="fas fa-angle-double-right"></i>
                                </a>
                            </div>
                        </div>

                        <div class="content-shop__body">

                            <div class="my-row">
                                <div class="col-lg-3 col-md-4 col-sm-12 content-shop-hastext">
                                    <img src="../../../assets/img/banner4.jpg" alt="" class="content-banner__img">
                                    <div class="content-shop-hastext__main">
                                        <p class="content-shop-hastext__heading">GIẢM GIÁ HÈ SỐC</p>
                                        <p class="content-shop-hastext__content">GIẢM 50%</p>
                                        <p class="content-shop-hastext__footer">Tất cả các loại hoa quả trong cửa hàng</p>
                                        <button class="content-shop-hastext__btn">Mua hàng ngay</button>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-8 col-sm-12">
                                    <VueSlickCarousel v-bind="settings" :key="popularLastWeekProduct.length">
                                        <template v-if="popularLastWeekProduct.length === 0">
                                            <span>Comming Soon</span>
                                        </template>
                                        <template v-if="popularLastWeekProduct.length > 0">
                                            <home-product v-for="item in popularLastWeekProduct" :key="`popularProduct${item.id}`" :product="item"></home-product>
                                        </template>
                                    </VueSlickCarousel>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shop-footer">
                    <div class="shop-footer__main">
                        <div class="shop-footer__item">
                            <div class="shop-footer__icon">
                                <i class="fas fa-hand-holding-usd"></i>
                            </div>
                            <div class="shop-footer__content">
                                <p class="shop-footer__text">
                                    Tiết kiệm
                                </p>
                            </div>
                        </div>
                        <div class="shop-footer__item">
                            <div class="shop-footer__icon">
                                <i class="fas fa-truck-moving"></i>
                            </div>
                            <div class="shop-footer__content">
                                <p class="shop-footer__text">
                                    Vận chuyển nhanh chóng
                                </p>
                            </div>
                        </div>
                        <div class="shop-footer__item">
                            <div class="shop-footer__icon">
                                <i class="fas fa-user-shield"></i>
                            </div>
                            <div class="shop-footer__content">
                                <p class="shop-footer__text">
                                    An toàn, hợp vệ sinh
                                </p>
                            </div>
                        </div>
                        <div class="shop-footer__item">
                            <div class="shop-footer__icon-award">
                                <i class="fas fa-award"></i>
                            </div>
                            <div class="shop-footer__content">
                                <p class="shop-footer__text">
                                    Có nguồn gốc rõ ràng
                                </p>
                            </div>
                        </div>
                        <div class="shop-footer__item">
                            <div class="shop-footer__icon">
                                <i class="fas fa-seedling"></i>
                            </div>
                            <div class="shop-footer__content">
                                <p class="shop-footer__text">
                                    Thân thiện với môi trường
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <app-footer ref="footer"/> -->
    </div>
</template>

<script>
import HomeProduct from '../../../components/product/HomeProduct.vue'
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
// optional style for arrows & dots
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
import OrderService from '../../../services/order.service'
import productService from '../../../services/product.service'
import notification from '../../../utils/notification'

export default ({
  name: 'Home',
  components: {
    HomeProduct,
    VueSlickCarousel
  },
  data () {
    return {
      settings: {
        // dots: true,
        // dotsClass: 'slick-dots custom-dot-class',
        // edgeFriction: 0.35,
        infinite: true,
        useCSS: true,
        speed: 500,
        autoplay: true,
        autoplaySpeed: 3000,
        slidesToShow: 4,
        slidesToScroll: 1
      },
      discountProducts: []
    }
  },
  computed: {
    newProducts () {
      return this.$store.getters['product/newProducts']
    },
    popularProducts () {
      return this.$store.getters['product/popularProducts']
    },
    popularLastWeekProduct () {
      return this.$store.getters['product/popularLastWeekProduct']
    },
    currentUser () {
      return this.$store.getters['user/currentUser']
    }
  },
  created () {
    window.addEventListener('resize', this.onResize)
  },

  beforeDestroy () {
    window.removeEventListener('resize', this.onResize)
  },
  mounted () {
    this.$store.dispatch('product/loadNewProduct')
    this.$store.dispatch('product/loadPopularProduct')
    this.$store.dispatch('product/loadPopularLastWeekProduct')
    productService.getProductHasDiscounts(1, 10, 1).then(rs => {
      this.discountProducts = rs.data
    })

    let orderId = this.$route.query.orderId
    if (orderId) {
      console.log('orderId', orderId)
      OrderService.updateAcceptPayment(orderId).then(rs => {
        if (rs.code === 200) {
          notification.success('Thanh toán thành công')
        }
      })
    }

    this.loadData()
  },
  methods: {
    loadData () {
      if (this.currentUser && this.currentUser.id) {
        let userId = this.currentUser.id
        this.$store.dispatch('favoriteProduct/getProduct', userId)
      }
    },
    onResize () {
      if (window.innerWidth > 1023) {
        console.log('> 1023')
        this.settings = {...this.settings, slidesToShow: 4}
      } else if (window.innerWidth <= 1023 && window.innerWidth > 975) {
        console.log('< 1023')
        this.settings = {...this.settings, slidesToShow: 3}
      } else if (window.innerWidth <= 975 && window.innerWidth > 500) {
        console.log('< 975')
        this.settings = {...this.settings, slidesToShow: 2}
      } else if (window.innerWidth <= 500) {
        console.log('< 500')
        this.settings = {...this.settings, slidesToShow: 1}
      }
    }
  }
})
</script>

<style scoped>
.abc{
    width: 500px;
}
.item-slider{
    text-align: center;
    padding: 0 10px;
}
.shop-body__btn{
    border: none;
    background-color: transparent;
    color: #333;
}
.shop-body__btn:hover{
    color: #a8b324;
}
.shop-body__main-img{
    min-width: 200px;
    min-height: 200px;
}
.col-content-slider{
    text-align: center;
    font-size: 40px;
}
</style>
