<template>
  <div class="hello">
    {{appName}}
    <div v-for="item in test" :key="item.temperatureF">
      {{item.summary}}
    </div>
    <div @click="chuyenCHoKhac">ffffffffff</div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
      // test: []
    }
  },
  computed: {
    appName () {
      return this.$store.getters['appName']
    }
  },
  mounted () {
    this.loadData()
  },
  methods: {
    loadData () {
    },
    chuyenCHoKhac () {
      console.log('alooooooooo')
      this.$router.push({name: 'Heloo'})
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
