<template>
    <div>
        ssssssssskjdhsakdhaksjdssssssssss
    </div>
</template>
<script>
export default {
  name: 'Heloo',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
      // test: []
    }
  },
  mounted () {
  },
  methods: {

  }
}
</script>
