<template>
    <div class="main">
        <!-- <app-header ref="header"/> -->
        <div class="slider">
            <img src="../../../assets/img/cam1.jpg" alt="" class="slider-img">
            <div class="slider-main">
                <p class="slider-header">Về chúng tôi</p>
                <div class="slider-menu">
                    <a class="slider-home" href="index.html">Trang chủ</a>
                    <i class="fas fa-angle-double-right"></i>
                    <p class="slider-item">Về chúng tôi</p>
                </div>
            </div>
        </div>

        <div class="content background-white">
            <div class="my-grid wide">
               <div class="main-contact">
                    <div class="AB_top">
                        <img src="https://demo2wpopal.b-cdn.net/freshio/wp-content/uploads/2020/08/icon1-h8.jpg" alt="" class="AB_imgtop">
                    </div>
                    <div class="my-row AB_body">
                        <div class="my-col my-l-4  AB_body-itemtop">
                            <img src="https://demo2wpopal.b-cdn.net/freshio/wp-content/uploads/2020/08/image1-h8.jpg" alt="" class="contact-img">
                            <p class="AB_body-text">Chúng tôi là</p>
                            <p class="AB_body-content">Những kỹ sư phần mềm phát triển web để giúp người dân đi chợ thuận tiện và tiếp cận những sản phẩm tốt nhất</p>
                        </div>
                        <div class="my-col my-l-4 AB_body-itemtop">
                            <img src="https://demo2wpopal.b-cdn.net/freshio/wp-content/uploads/2020/08/image2-h8.jpg" alt="" class="contact-img">
                            <p class="AB_body-text">Sản phẩm của chúng tôi</p>
                            <p class="AB_body-content">Luôn luôn đảm bảo vệ sinh an toàn thực phẩm và luôn luôn tươi sống</p>

                        </div>
                        <div class="my-col my-l-4 AB_body-itemtop">
                            <img src="https://demo2wpopal.b-cdn.net/freshio/wp-content/uploads/2020/08/image3-h8.jpg" alt="" class="contact-img">
                            <p class="AB_body-text">Cách chúng tôi làm việc</p>
                            <p class="AB_body-content">là mong muốn đem lại những gì tốt nhất cho mọi người</p>

                        </div>
                    </div>

                    <div class="my-row AB_content">
                        <div class="my-col my-l-12 AB_content-header">
                            <p class="AB_content-text">Những lợi ích mà chợ Online đem lại</p>
                        </div>
                        <div class="my-col my-l-4  AB_body-itemleft">
                            <ul class="AB_content-list">
                                <li class="AB_content-item">
                                    <div class="AB_content-Advantage">
                                        <div class="AB_content-Advantage-left">
                                            <div class="AB_content-Advantage-icon icon-l1">
                                                <i class="fas fa-hands"></i>
                                            </div>
                                        </div>
                                        <div class="AB_content-Advantage-right">
                                            <span class="AB_content-Advantage-title">Thủ công</span>
                                            <p class="AB_content-Advantage-text">Các sản phẩm đều là tự tay các nông dân, các nông trại trồng 100%</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="AB_content-item">
                                    <div class="AB_content-Advantage">
                                        <div class="AB_content-Advantage-left">
                                            <div class="AB_content-Advantage-icon icon-l2">
                                                <i class="fas fa-seedling"></i>
                                            </div>
                                        </div>
                                        <div class="AB_content-Advantage-right">
                                            <span class="AB_content-Advantage-title">100% tự nhiên</span>
                                            <p class="AB_content-Advantage-text">Các sản phẩm đều có nguồn gốc 100% là từ thiên nhiên</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="AB_content-item">
                                    <div class="AB_content-Advantage">
                                        <div class="AB_content-Advantage-left">
                                            <div class="AB_content-Advantage-icon icon-l3">
                                                <i class="fas fa-cogs"></i>
                                            </div>
                                        </div>
                                        <div class="AB_content-Advantage-right">
                                            <span class="AB_content-Advantage-title">Quy trình nghiêm ngặt</span>
                                            <p class="AB_content-Advantage-text">Các sản phẩm đều được kiểm tra kỹ lưỡng, đạt chất lượng tốt nhất đến tay người tiêu dùng</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="my-col my-l-4  AB_body-itemcenter">
                            <img src="https://res.cloudinary.com/donghcmute/image/upload/v1636913802/pictureCenter_mp3vmh.png" alt="" class="contact-img">
                        </div>
                        <div class="my-col my-l-4  AB_body-itemright">
                            <ul class="AB_content-list">
                                <li class="AB_content-item">
                                    <div class="AB_content-Advantage">
                                        <div class="AB_content-Advantage-left">
                                            <div class="AB_content-Advantage-icon icon-l4">
                                                <i class="fas fa-award"></i>
                                            </div>
                                        </div>
                                        <div class="AB_content-Advantage-right">
                                            <span class="AB_content-Advantage-title">Không chứa chất bảo quản</span>
                                            <p class="AB_content-Advantage-text">Các sản phẩm của chúng tôi không chứa chất bảo quản</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="AB_content-item">
                                    <div class="AB_content-Advantage">
                                        <div class="AB_content-Advantage-left">
                                            <div class="AB_content-Advantage-icon icon-l5">
                                                <i class="fas fa-truck"></i>
                                            </div>
                                        </div>
                                        <div class="AB_content-Advantage-right">
                                            <span class="AB_content-Advantage-title">Giao hàng nhanh chóng</span>
                                            <p class="AB_content-Advantage-text">Chúng tôi luôn cố gắng giao hàng nhanh nhất để người dùng có thể trải nghiệm những sản phẩm tốt</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="AB_content-item">
                                    <div class="AB_content-Advantage">
                                        <div class="AB_content-Advantage-left">
                                            <div class="AB_content-Advantage-icon icon-l6">
                                                <i class="fas fa-people-carry"></i>
                                            </div>
                                        </div>
                                        <div class="AB_content-Advantage-right">
                                            <span class="AB_content-Advantage-title">Tận tâm</span>
                                            <p class="AB_content-Advantage-text">Chúng tôi luôn luôn lắng nghe ý kiến của khách hàng về sản phẩm và cách phục vụ</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="my-row AB_content">
                        <div class="my-col my-l-12 AB_content-header">
                            <p class="AB_content-text">Các thành viên trong nhóm</p>
                        </div>
                        <div class="my-col my-l-3">
                            <img src="https://res.cloudinary.com/donghcmute/image/upload/v1636913802/pictureCenter_mp3vmh.png" alt="" class="contact-img">
                        </div>
                        <div class="my-col my-l-3 has-coder">
                            <img src="https://res.cloudinary.com/donghcmute/image/upload/v1637492302/123_vqeoof.jpg" alt="" class="contact-img">
                            <p class="name-coder">Phan Duy Khoa</p>
                            <p class="id-name-coder">18110307</p>
                            <p class="work-name-coder">Web Developer</p>
                        </div>
                        <div class="my-col my-l-3 has-coder">
                            <img src="https://scontent.fdad3-4.fna.fbcdn.net/v/t1.6435-9/158667287_1004331743306033_9205689645191625337_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=drogQl0PTiAAX9K7Vqu&_nc_oc=AQnk1E0s8qWpzy7pmSBxelP4cNOQ_cRqFZGrRgq9CsKVfd7FjuRG57d7BQ_YCsunA2ROuNnnxDbLwh_gzFxj7SuI&_nc_ht=scontent.fdad3-4.fna&oh=b636b447b9c2f87d2021ebf23e0cb419&oe=61B6FBA1" alt="" class="contact-img">
                            <p class="name-coder">Thân Trọng Đông</p>
                            <p class="id-name-coder">18110271</p>
                            <p class="work-name-coder">Web Developer</p>
                        </div>
                        <div class="my-col my-l-3">
                            <img src="https://res.cloudinary.com/donghcmute/image/upload/v1636913802/pictureCenter_mp3vmh.png" alt="" class="contact-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <app-footer ref="footer"/> -->
    </div>
</template>
<script>
// import Header from '../../../components/header/Header.vue'
// import Footer from '../../../components/footer/Footer.vue'
export default {
  name: 'Contact',
  components: {
    // 'app-header': Header,
    // 'app-footer': Footer
  },
  data () {
    return {
      // test: []
    }
  },
  mounted () {
  },
  methods: {

  }
}
</script>
<style scoped>
    .slider-main{
        position: absolute;
        top: 10px;
        left: 5%;
    }

    .slider-header{
        text-transform: capitalize;
        color: #0a472e;
        font-size: 40px;
        max-width: 850px;
        margin-bottom: 5px;
        font-weight: 700;
    }

    .slider-menu{
        display: flex;
        align-items: center;
    }

    .slider-home{
        font-size: 14px;
        color: #999;
        text-decoration: none;
        margin-right: 5px;
    }

    .slider-home:hover{
        color: #a8b324;
    }

    .slider-item{
        font-size: 14px;
        color: #000;
        text-decoration: none;
        margin-left: 5px;
        margin-top: 15px;
    }
    .main-contact{

    }

    .contact-img{
        width: 100%;
    }

    .contact-header{
        font-size: 30px;
        color: #0a472e;
    }

    .contact-content{
        font-size: 14px;
        color: #555;
        padding-right: 30px;
        text-align: justify;
        line-height: 20px;
    }

    .contact-body{

    }

    .contact-body__header{
        color: #000;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .contact-body__info{
        color: #555;
        font-size: 14px;

    }

    .contact-body__day{
        color: #555;
        font-size: 14px;
    }

    .contact-body__hour{
        color: #a8b324;
        font-size: 14px;
    }
    /********************************/
.AB_top{
    text-align: center;
}
.AB_imgtop{
    width: 234px;
    height: 177px;
}
.AB_body{
    margin-top: 30px;
}
.AB_body-itemtop{
    text-align: center;
}
.AB_body-text{
    font-size: 22px;
    color: #0a472e;
    margin-bottom: 10px;
}
.AB_body-content{
    font-size: 16px;
    color: #333;
    margin: 0 25px;
}
.AB_content{
    margin-top: 30px;
}
.AB_content-header{
    text-align: center;
    margin-bottom: 30px;

}
.AB_content-text{
    font-size: 28px;
    color: #0a472e;
    margin-bottom: 10px;
}
.AB_content-list{
    list-style: none;
}
.AB_content-item{
    margin: 40px 0;
}
.AB_content-Advantage{
    display: flex;
    align-items: center;
}
.AB_content-Advantage-left{

}
.AB_content-Advantage-icon{
    font-size: 40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-l1{
    background: #e4d98b;
}
.icon-l2{
    background: #a9ebd9;
}
.icon-l3{
    background: #e4c28b;
}
.icon-l4{
    background: #b3cde3;
}
.icon-l5{
    background: #cbb1e7;
}
.icon-l6{
    background: #e1afbf;
}
.AB_content-Advantage-right{
    margin-left: 10px;
}
.AB_content-Advantage-title{
    color: #0a472e;
    font-size: 16px;
    font-weight: 800;
}
.AB_content-Advantage-text{
    color: #333;
    font-size: 14px;
    margin-right: 10px;
}
.has-coder{
    text-align: center;
}
.name-coder{
    font-size: 20px;
    color: #a8b324;
}
.id-name-coder{
    font-size: 18px;
    color: #0a472e;
}
.work-name-coder{
    font-size: 18px;
    color: #a8b324;
}
    @media (max-width: 1024px){
        .AB_body-itemtop{
            margin: 10px;
        }
        .slider-menu{
            display: none;
        }
    }
</style>
