<template>
    <div class="main">
        <div class="slider">
            <img src="../../../assets/img/slider_shop.jpg" alt="" class="slider-img">
            <!-- ../../assets/img/slider_shop.jpg -->
            <div class="slider-main">
                <p class="slider-header">Thông tin tài khoản</p>
                <div class="slider-menu">
                    <a class="slider-home" href="">Trang chủ</a>
                    <i class="fas fa-angle-double-right"></i>
                    <p class="slider-item">Thông tin tài khoản</p>
                </div>
            </div>
        </div>

        <div class="content background-white">
            <div class="my-grid wide">
                <div class="my-row">
                    <div class="my-col my-l-2">
                        <div class="user-avata-top">
                            <div class="user-avata-top__place">
                                <img class="user-avata-top-img" :src="currentUser.avatar"/>
                            </div>
                            <div class="user-avata-top-nav">
                                <p class="user-avata-top-user">{{currentUser.username}}</p>
                                <router-link :to="{name: 'myaccount-page'}" class="user-avata-top-text">
                                    <i class="fas fa-pen"></i> Sửa hồ sơ
                                </router-link>
                            </div>
                        </div>

                        <div class="user-item-bottom">
                            <ul class="user-item-list">
                                <li class="user-item-item">
                                    <router-link :to="{name: 'myaccount-page'}" class="user-item-main">
                                        <i class="fas fa-user"></i>
                                        <span class="user-item-text">Tài khoản của tôi</span>
                                    </router-link>
                                </li>
                                <li v-if="currentUser && currentUser.userRole == 0" class="user-item-item">
                                    <router-link :to="{name: 'adminhomelayout'}" class="user-item-main">
                                        <i class="fas fa-tasks"></i>
                                        <span class="user-item-text">Quản lý</span>
                                    </router-link>
                                </li>
                                <li class="user-item-item">
                                    <router-link :to="{name: 'changepassword-page'}" class="user-item-main">
                                        <i class="fas fa-lock"></i>
                                        <span class="user-item-text">Đổi mật khẩu</span>
                                    </router-link>
                                </li>
                                <li v-if="currentUser && currentUser.userRole == 2" class="user-item-item">
                                    <router-link :to="{name: 'account-page'}" class="user-item-main">
                                        <i class="fas fa-shopping-cart"></i>
                                        <span class="user-item-text">Đơn Mua</span>
                                    </router-link>
                                </li>
                                <li v-if="currentUser && currentUser.userRole == 2" class="user-item-item">
                                    <router-link :to="{name: 'discountcode-page'}" class="user-item-main">
                                        <i class="fas fa-tags"></i>
                                        <span class="user-item-text">Mã giảm giá</span>
                                    </router-link>
                                </li>
                                <li v-if="currentUser && currentUser.userRole == 1" class="user-item-item">
                                    <router-link :to="{name: 'shipper-listbill'}" class="user-item-main">
                                        <i class="fas fa-shopping-cart"></i>
                                        <span class="user-item-text">Danh sách đơn hàng</span>
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="my-col my-l-10">
                        <div class="user-infomation">
                            <div class="user-infomation-main">
                                <div class="user-infomation-header">
                                    <h2 class="user-infomation-header-name">Đổi mật khẩu</h2>
                                    <p class="user-infomation-header-text">Vui lòng điền đúng mật khẩu cũ và xác nhận mật khẩu mới để đổi mật khẩu</p>
                                </div>

                                <div class="user-infomation-body">
                                    <div class="row">
                                        <div class="col l-12">
                                            <div class="info-user-row">
                                                <div class="info-user-row-left">
                                                    <p class="info-user-row-text">Tên đăng nhập </p>
                                                </div>
                                                <div class="info-user-row-right">
                                                    <p class="info-user-row-user">{{currentUser.username}}</p>
                                                </div>
                                            </div>

                                            <div class="info-user-row">
                                                <div class="info-user-row-left">
                                                    <p class="info-user-row-text">Mật khẩu cũ</p>
                                                </div>
                                                <div class="info-user-row-right">
                                                    <div class="info-user-row-name row">
                                                        <input
                                                        type="password"
                                                        v-model="oldPassWord"
                                                        class="info-user-row-name-text form-control input">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="info-user-row">
                                                <div class="info-user-row-left">
                                                    <p class="info-user-row-text">Mật khẩu mới</p>
                                                </div>
                                                <div class="info-user-row-right">
                                                    <div class="info-user-row-name row">
                                                        <input
                                                        type="password"
                                                        v-model="newPassWord1"
                                                        class="info-user-row-name-text"
                                                        :class="
                                                        `form-control input ${
                                                            $v.newPassWord1.$error ? 'is-invalid' : ''
                                                        }`
                                                        "
                                                        @input="$v.newPassWord1.$touch"
                                                        >
                                                        <div class="invalid-feedback">
                                                            Vui lòng nhập mật khẩu hợp lệ.
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="info-user-row">
                                                <div class="info-user-row-left">
                                                    <p class="info-user-row-text">Nhập lại mật khẩu mới</p>
                                                </div>
                                                <div class="info-user-row-right">
                                                    <div class="info-user-row-name row">
                                                        <input
                                                        type="password"
                                                        v-model="newPassWord2"
                                                        class="info-user-row-name-text"
                                                        :class="
                                                        `form-control input ${
                                                            $v.newPassWord2.$error ? 'is-invalid' : ''
                                                        }`
                                                        "
                                                        @input="$v.newPassWord2.$touch"
                                                        >
                                                        <div class="invalid-feedback">
                                                            Vui lòng nhập mật khẩu hợp lệ và giống nhau.
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="info-user-row">
                                                <div class="info-user-row-left">
                                                </div>
                                                <div class="info-user-row-right">
                                                    <div class="btn-save-main">
                                                        <button type="submit" @click="onBtnSubmitClick()" class="btn-save">Lưu</button>
                                                        <button type="submit" @click="onBtnCancelClick()" class="btn-no-save">Hủy</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { validationMixin } from 'vuelidate'
import { required, sameAs } from 'vuelidate/lib/validators'
import notification from '../../../utils/notification'
import authService from '../../../services/auth.service'
export default ({
  name: 'Account',
  mixins: [validationMixin],
  validations: {
    newPassWord1: { required },
    newPassWord2: {
      required,
      sameAs: sameAs('newPassWord1')
    }
  },
  components: {
  },
  data () {
    return {
      avatar: 'https://res.cloudinary.com/donghcmute/image/upload/v1634690680/user_bbt8lk.png',
      avatarId: 'v1634690680/user_bbt8lk.png',
      oldPassWord: '',
      newPassWord1: '',
      newPassWord2: ''
    }
  },
  computed: {
    currentUser () {
      return this.$store.getters['user/currentUser']
    }
  },
  mounted () {
    this.loadData()
  },
  methods: {
    loadData () {
      console.log('user', this.currentUser)
      if (!this.currentUser.id) {
        notification.error('Bạn phải đăng nhập để thực hiện chức năng này')
        this.$router.push({path: '/login'})
      }
      this.avatar = this.currentUser ? this.currentUser.avatar : 'https://res.cloudinary.com/donghcmute/image/upload/v1634690680/user_bbt8lk.png'
      this.avatarId = this.currentUser ? this.currentUser.avatar.substring(this.currentUser.avatar.indexOf('upload'), this.currentUser.avatar.length).replace('upload/', '') : 'v1634690680/user_bbt8lk.png'
      this.oldPassWord = this.currentUser ? this.currentUser.passWord : ''
      this.newPassWord1 = ''
      this.newPassWord2 = ''
    },
    onBtnSubmitClick () {
      console.log('old + new ', this.oldPassWord, this.newPassWord1)
      let data = {
        id: this.currentUser.id,
        user: {
          'email': this.currentUser.email,
          'oldPassword': this.oldPassWord,
          'newPassWord': this.newPassWord1
        }
      }
      authService.changePassword(data).then(rs => {
        if (rs.code === 200) {
          notification.success('Cập nhật mật khẩu thành công')
        } else {
          notification.success('Cập nhật mật khẩu thất bại')
        }
      })
    },
    onBtnCancelClick () {
      this.loadData()
    }
  }
})
</script>

<style scoped>
    .bg-green{
        background-color: #235a43 !important;
    }

    .slider-main{
        position: absolute;
        top: 10px;
        left: 5%;
    }

    .slider-header{
        text-transform: capitalize;
        color: #0a472e;
        font-size: 40px;
        max-width: 850px;
        margin-bottom: 5px;
        font-weight: 700;
    }

    .slider-menu{
        display: flex;
        align-items: center;
    }

    .slider-home{
        font-size: 14px;
        color: #999;
        text-decoration: none;
        margin-right: 5px;
    }

    .slider-home:hover{
        color: #a8b324;
    }

    .slider-item{
        font-size: 14px;
        color: #000;
        text-decoration: none;
        margin-left: 5px;
        margin-top: 15px;
    }

    .user-avata-top{
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
    }

    .user-avata-top__place{
        width: 50px;
        height: 50px;
    }

    .user-avata-top-img{
        width: 100%;
        border-radius: 50%;
        height: 100%;
    }

    .user-avata-top-nav{
        margin-left: 10px;
    }

    .user-avata-top-user{
        margin: 0;
        font-size: 14px;
        color: #333;
        font-weight: 600;
        margin: 5px 0;

    }

    .user-avata-top-text{
        margin: 0;
        font-size: 14px;
        color: #888;
        margin: 5px 0;
        cursor: pointer;
        text-decoration: none;
    }

    .user-item-bottom{
        margin-top: 20px;
    }

    .user-item-list{
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .user-item-item{
        padding: 10px 5px;
    }

    .user-item-main{
        cursor: pointer;
        text-decoration: none;
    }

    .user-item-text{
        margin-left: 10px;
        color: #333;
    }

    .fa-user{
        color: #90e0ef;
    }

    .fa-lock{
        color: #f94144;
    }

    .fa-shopping-cart{
        color: #a8b324;
    }

    .fa-bell{
        color: #f9c74f;
    }

    .fa-tags{
        color: #14213d;
    }

    .tabs {
        display: flex;
        position: relative;
    }

    .tabs .line {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 6px;
        border-radius: 15px;
        background-color: #a8b324;
        transition: all 0.2s ease;
    }

    .tab-item {
        min-width: 80px;
        padding: 16px 20px 11px 20px;
        font-size: 20px;
        text-align: center;
        color: #a8b324;
        background-color: #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: 5px solid transparent;
        opacity: 0.6;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    .tab-icon {
        font-size: 24px;
        width: 32px;
        position: relative;
        top: 2px;
    }

    .tab-item:hover {
        opacity: 1;
        background-color: rgba(194, 53, 100, 0.05);
        border-color: rgba(194, 53, 100, 0.1);
    }

    .tab-item.active {
        opacity: 1;
    }

    .tab-content {
        padding: 28px 0;
    }

    .tab-pane {
        color: #333;
        display: none;
    }

    .tab-pane.active {
        display: block;
    }

    .tab-pane h2 {
        font-size: 24px;
    }

    .tab-content-product-list__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .tab-content-product-list__header-status{
        font-size: 14px;
    }

    .tab-content-product-list__body{

    }

    .tab-content-product-list__item{
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #eaeaea;
        padding: 20px 0;
    }

    .tab-content-product-list__left{
        display: flex;
    }

    .tab-content-product-list__image{
        width: 80px;
        height: 80px;
        overflow: hidden;
        border: 1px solid #eaeaea;
    }

    .tab-content-product-list__img{
        width: 100%;
    }

    .tab-content-product-list__main{
        margin-left: 10px;
    }

    .discount-and-name{
        display: flex;
        align-items: center;
    }

    .discount-tag{
        padding: 5px;
        border: 1px solid #a8b324;
        color: #a8b324;
    }

    .name-of-product{
        margin: 0;
        margin-left: 10px;
        font-size: 16px;
        color: #333;
    }

    .category-of-product{
        color: #888;
        font: 12px;
        padding-top: 10px;
        display: block;
    }

    .category-of-product-name{

    }

    .quantity-of-product{
        color: #333;
        font: 14px;
        padding-top: 10px;
        display: block;
    }

    .quantity-of-product-num{

    }

    .tab-content-product-list__right{
        display: flex;
        align-items: center;
        font-size: 15px;
    }

    .price-discount{
        display: flex;
        margin-right: 10px;
        text-decoration: line-through;
        color: #888;
    }

    .price-discount-num{

    }

    .price-product{
        display: flex;
        color: #a8b324;
        font-weight: 700;
    }

    .price-product-num{

    }

    .tab-content-bottom{
        border-top: 1px solid #eaeaea;
        padding-top: 30px;
    }

    .tab-content-total{

    }

    .total-and-none{
        display: flex;
        justify-content: space-between;
    }
    .none{

    }

    .tab-content-total-text{

    }

    .tab-content-total-num{
        color: #a8b324;
        font-size: 20px;
        font-weight: 700;
    }

    .curreny{
        color: #a8b324;
        font-size: 20px;
        font-weight: 700;
    }

    .button-and-notice{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 30px;
        align-items: center;
    }

    .notice-of-product{

    }

    .notice-text{

    }

    .button-of-product{

    }

    .received-product-btn{
        padding: 15px 20px;
        margin-right: 20px;
        border: transparent;
        color: #fff;
        background-color: #a8b324;
        font-size: 16px;
        cursor: pointer;
    }

    .contact-product-btn{
        padding: 15px 20px;
        border: 1px solid #a8b324;
        color: #a8b324;;
        background-color: #fff;
        font-size: 16px;
        cursor: pointer;

    }

    .user-infomation{

    }

    .user-infomation-main{
    padding: 0 10px 10px;
    }

    .user-infomation-header{
        /* padding-bottom: 15px; */
        border-bottom: 1px solid #eaeaea;
    }

    .user-infomation-header-name{
        margin: 5px 0;
        font-size: 26px;
        font-weight: 700;
    }

    .user-infomation-header-text{
        margin: 10px 0;
    }

    .user-infomation-body{
        margin-top: 30px;
    }

    .info-user-row{
        display: flex;
        margin-bottom: 10px;
        align-items: center;
    }

    .info-user-row-left{
        width: 20%;
        text-align: right;
        color: rgba(85,85,85,.8);
        text-transform: capitalize;
        overflow: hidden;
    }

    .info-user-row-right{
        width: 80%;
        margin-left: 20px;
    }

    .info-user-row-user{

    }

    .info-user-row-name{
        display: flex;
        align-items: center;
        margin: 0px !important;
    }

    .info-user-row-name-text{
        padding: 10px 15px;
        border: 1px solid #eaeaea;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        min-width: 350px;
        max-width: 550px;
    }

    .info-user-row-name-email{
        padding: 10px 15px;
        border: 1px solid #eaeaea;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        min-width: 350px;
    }

    .change-btn{
        margin-left: 15px;
        color: #a8b324;
        cursor: pointer;
        font-size: 13px;
    }

    .btn-save-main{
        margin-top: 20px;
    }

    .btn-save{
        padding: 10px 30px;
        color: #a8b324;
        border: 1px solid #a8b324;
        font-size: 16px;
        background-color: #fff;
        border-radius: 5px;
    }

    .btn-no-save{
        padding: 10px 30px;
        color: #e5383b;
        border: 1px solid #e5383b;
        font-size: 16px;
        background-color: #fff;
        border-radius: 5px;
        margin-left: 30px;
    }

    .btn-save:hover{
        padding: 10px 30px;
        color: #fff;
        border: 1px solid #a8b324;
        font-size: 16px;
        background-color: #a8b324;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-no-save:hover{
        padding: 10px 30px;
        color: #fff;
        border: 1px solid #e5383b;
        font-size: 16px;
        background-color: #e5383b;
        border-radius: 5px;
        cursor: pointer;
    }

    .avata-user-change{
        margin-top: 20px;
        border-left: 1px solid #ccc;
        padding-left: 50px;

    }

    .avata-user-change-image{
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .avata-user-change-img{
        width: 100%;
        border-radius: 50%;
    }

    .btn-change-main{
        margin: 20px 0;
        text-align: center;
    }

    .btn-change{
        padding: 10px 20px;
        color: #a8b324;
        border: 1px solid #a8b324;
        font-size: 16px;
        background-color: #fff;
        border-radius: 5px;
    }

    input:focus {
        outline: none !important;
        border:1px solid #a8b324;
        box-shadow: 0 0 5px #a8b324;
    }
    @media (max-width: 1024px){
        .user-item-list{
           display: flex;
           justify-content: space-between;
        }
        .slider-menu{
            display: none;
        }
    }
</style>
