<template>
    <div class="main">
        <div class="slider">
            <img src="../../../assets/img/slider_shop.jpg" alt="" class="slider-img">
            <!-- ../../assets/img/slider_shop.jpg -->
            <div class="slider-main">
                <p class="slider-header">Mã giảm giá</p>
                <div class="slider-menu">
                    <a class="slider-home" href="">Trang chủ</a>
                    <i class="fas fa-angle-double-right"></i>
                    <p class="slider-item">Mã giảm giá</p>
                </div>
            </div>
        </div>
        <div class="content background-white">
            <div class="my-grid wide">
                <div class="my-row">
                    <div class="my-col my-l-2">
                        <div class="user-avata-top">
                            <div class="user-avata-top__place">
                                <img class="user-avata-top-img" :src="currentUser.avatar"/>
                            </div>
                            <div class="user-avata-top-nav">
                                <p class="user-avata-top-user">{{currentUser.username}}</p>
                                <router-link :to="{name: 'myaccount-page'}" class="user-avata-top-text">
                                    <i class="fas fa-pen"></i> Sửa hồ sơ
                                </router-link>
                            </div>
                        </div>

                        <div class="user-item-bottom">
                            <ul class="user-item-list">
                                <li class="user-item-item">
                                    <router-link :to="{name: 'myaccount-page'}" class="user-item-main">
                                        <i class="fas fa-user"></i>
                                        <span class="user-item-text">Tài khoản của tôi</span>
                                    </router-link>
                                </li>
                                <li class="user-item-item">
                                    <router-link :to="{name: 'changepassword-page'}" class="user-item-main">
                                        <i class="fas fa-lock"></i>
                                        <span class="user-item-text">Đổi mật khẩu</span>
                                    </router-link>
                                </li>
                                <li class="user-item-item">
                                    <router-link :to="{name: 'account-page'}" class="user-item-main">
                                        <i class="fas fa-shopping-cart"></i>
                                        <span class="user-item-text">Đơn Mua</span>
                                    </router-link>
                                </li>
                                <li class="user-item-item">
                                    <router-link :to="{name: 'discountcode-page'}" class="user-item-main">
                                        <i class="fas fa-tags"></i>
                                        <span class="user-item-text">Mã giảm giá</span>
                                    </router-link>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="my-col my-l-10">
                        <div class="user-infomation">
                            <div class="user-infomation-main">
                                <div class="user-infomation-header">
                                    <h2 class="user-infomation-header-name">Mã giảm giá</h2>
                                    <p class="user-infomation-header-text">Ở đây hiển thị danh sách các mã giảm giá bạn có thể áp dụng</p>
                                </div>

                                <div class="user-infomation-body">
                                    <div class="my-row">
                                        <span v-if="listDiscountCode.length === 0" style="padding-left: 30px">Bạn không có mã khuyến mãi nào.</span>
                                        <div v-for="item in listDiscountCode" :key="item.id" class="my-col my-l-6">
                                            <div class="discount-main">
                                                <div class="discount-main-content">
                                                    <div class="my-row h-100 ">
                                                        <div class="my-col my-l-4 my-c-4 my-m-4 h-100 ">
                                                            <div class="discount-main-content__left">
                                                                <div class="big-name">
                                                                    {{item.desciption}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="my-col my-l-5 my-c-5 my-m-5">
                                                            <div class="discount-main-content__behind">
                                                                <p class="discount-main-content__title">{{item.paymentType === 2 ? 'Tất cả hình thức thanh toán' : (item.paymentType === 1) ? 'Chỉ áp dụng cho thanh toán trực tuyến': 'Chỉ áp dụng cho thanh toán bằng tiền mặt'}}</p>
                                                                <span class="discount-main-content__condition">Đơn hàng trên <span class="discount-num-condition">{{item.minimumBill}}</span> VNĐ</span>
                                                                <span class="time-over" v-if="distanceBetweenToDate(item.expirationDate) > 0">Hết hạn sau : <span class="time-over-num">{{ distanceBetweenToDate(item.expirationDate)}}</span> ngày </span>
                                                                <span class="time-over" v-if="distanceBetweenToDate(item.expirationDate) < 0">Khuyến mãi đã hết hạn</span>
                                                            </div>
                                                        </div>
                                                        <div class="my-col my-l-3 my-c-3 my-m-3 pd-0">
                                                            <div class="discount-main-content__right">
                                                                <button
                                                                    v-if="distanceBetweenToDate(item.expirationDate) > 0"
                                                                    class="btn-discount-total"
                                                                    v-b-tooltip.hover title="Copy code to clipboard"
                                                                    @click="copyCodeToClipboard(item.code)"
                                                                    ><i class="fas fa-copy" ></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import notification from '../../../utils/notification'
// import * as moment from 'moment'
export default ({
  name: 'Account',
  components: {
  },
  data () {
    return {
      distanceBetweenToDate: (endDate) => {
        return Math.ceil((new Date(endDate).getTime() - new Date().getTime()) / (1000 * 3600 * 24))
      }
    }
  },
  computed: {
    currentUser () {
      return this.$store.getters['user/currentUser']
    },
    listDiscountCodeData () {
      return this.$store.getters['discountCode/listDiscountCode']
    },
    listDiscountCode () {
      return this.listDiscountCodeData.data ? this.listDiscountCodeData.data.filter(el => !el.isUsed) : []
    }
  },
  mounted () {
    this.loadData()
    this.scriptPage()
  },
  methods: {
    scriptPage () {
      //       JS từ đây
      // lấy ra 1 phần tử
      const $ = document.querySelector.bind(document)
      // lấy ra tất cả phần tử
      const $$ = document.querySelectorAll.bind(document)
      // lấy ra tất cả thẻ có class là tab-item
      const tabs = $$('.tab-item')
      const panes = $$('.tab-pane')
      const tabActive = $('.tab-item.active')
      const line = $('.tabs .line')
      // lấy vị trí của line ở dưới item
      if (line) {
        line.style.left = tabActive.offsetLeft + 'px'
        line.style.width = tabActive.offsetWidth + 'px'
        tabs.forEach((tab, index) => {
          const pane = panes[index]
          tab.onclick = function () {
          // console.log(this);
          // Trước hết cần kiểm tra xem có class nào đang active hay
          // không? nếu có thì xóa class cũ trước rồi mới thêm
          // class active mới vào thẻ mới
            $('.tab-item.active').classList.remove('active')
            $('.tab-pane.active').classList.remove('active')
            // tab = this
            line.style.left = tab.offsetLeft + 'px'
            line.style.width = this.offsetWidth + 'px'
            // thêm class active vào khi click vào 1 tab-item
            this.classList.add('active')
            pane.classList.add('active')
          }
        })
      }
    },
    loadData () {
      console.log('user', this.currentUser)
      if (!this.currentUser.id) {
        notification.error('Bạn phải đăng nhập để thực hiện chức năng này')
        this.$router.push({path: '/login'})
      } else if (this.currentUser.userRole !== 2) {
        notification.error('Bạn phải đăng nhập với tài khoản khách hàng để thực hiện chức năng này')
        this.$router.push({path: '/login'})
      }
      this.$store.dispatch('discountCode/getListDiscountCode', this.currentUser.id).then(rs => {
        console.log('listDiscountCode', this.listDiscountCode)
      })
    },
    copyCodeToClipboard (code) {
      navigator.clipboard.writeText(code)
      notification.success('Đã copy vào bộ nhớ đệm')
    }
  }
})
</script>

<style scoped>
    .bg-green{
        background-color: #235a43 !important;
    }

    .slider-main{
        position: absolute;
        top: 10px;
        left: 5%;
    }

    .slider-header{
        text-transform: capitalize;
        color: #0a472e;
        font-size: 40px;
        max-width: 850px;
        margin-bottom: 5px;
        font-weight: 700;
    }

    .slider-menu{
        display: flex;
        align-items: center;
    }

    .slider-home{
        font-size: 14px;
        color: #999;
        text-decoration: none;
        margin-right: 5px;
    }

    .slider-home:hover{
        color: #a8b324;
    }

    .slider-item{
        font-size: 14px;
        color: #000;
        text-decoration: none;
        margin-left: 5px;
        margin-top: 15px;
    }

    .user-avata-top{
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
    }

    .user-avata-top__place{
        width: 50px;
        height: 50px;
    }

    .user-avata-top-img{
        width: 100%;
        border-radius: 50%;
        height: 100%;
    }

    .user-avata-top-nav{
        margin-left: 10px;
    }

    .user-avata-top-user{
        margin: 0;
        font-size: 14px;
        color: #333;
        font-weight: 600;
        margin: 5px 0;

    }

    .user-avata-top-text{
        margin: 0;
        font-size: 14px;
        color: #888;
        margin: 5px 0;
        cursor: pointer;
        text-decoration: none;
    }

    .user-item-bottom{
        margin-top: 20px;
    }

    .user-item-list{
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .user-item-item{
        padding: 10px 5px;
    }

    .user-item-main{
        cursor: pointer;
        text-decoration: none;
    }

    .user-item-text{
        margin-left: 10px;
        color: #333;
    }

    .fa-user{
        color: #90e0ef;
    }

    .fa-lock{
        color: #f94144;
    }

    .fa-shopping-cart{
        color: #a8b324;
    }

    .fa-bell{
        color: #f9c74f;
    }

    .fa-tags{
        color: #14213d;
    }

    .tabs {
        display: flex;
        position: relative;
    }

    .tabs .line {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 6px;
        border-radius: 15px;
        background-color: #a8b324;
        transition: all 0.2s ease;
    }

    .tab-item {
        min-width: 80px;
        padding: 16px 20px 11px 20px;
        font-size: 20px;
        text-align: center;
        color: #a8b324;
        background-color: #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: 5px solid transparent;
        opacity: 0.6;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    .tab-icon {
        font-size: 24px;
        width: 32px;
        position: relative;
        top: 2px;
    }

    .tab-item:hover {
        opacity: 1;
        background-color: rgba(194, 53, 100, 0.05);
        border-color: rgba(194, 53, 100, 0.1);
    }

    .tab-item.active {
        opacity: 1;
    }

    .tab-content {
        padding: 28px 0;
    }

    .tab-pane {
        color: #333;
        display: none;
    }

    .tab-pane.active {
        display: block;
    }

    .tab-pane h2 {
        font-size: 24px;
    }

    .tab-content-product-list__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .tab-content-product-list__header-status{
        font-size: 14px;
    }

    .tab-content-product-list__body{

    }

    .tab-content-product-list__item{
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #eaeaea;
        padding: 20px 0;
    }

    .tab-content-product-list__left{
        display: flex;
    }

    .tab-content-product-list__image{
        width: 80px;
        height: 80px;
        overflow: hidden;
        border: 1px solid #eaeaea;
    }

    .tab-content-product-list__img{
        width: 100%;
    }

    .tab-content-product-list__main{
        margin-left: 10px;
    }

    .discount-and-name{
        display: flex;
        align-items: center;
    }

    .discount-tag{
        padding: 5px;
        border: 1px solid #a8b324;
        color: #a8b324;
    }

    .name-of-product{
        margin: 0;
        margin-left: 10px;
        font-size: 16px;
        color: #333;
    }

    .category-of-product{
        color: #888;
        font: 12px;
        padding-top: 10px;
        display: block;
    }

    .category-of-product-name{

    }

    .quantity-of-product{
        color: #333;
        font: 14px;
        padding-top: 10px;
        display: block;
    }

    .quantity-of-product-num{

    }

    .tab-content-product-list__right{
        display: flex;
        align-items: center;
        font-size: 15px;
    }

    .price-discount{
        display: flex;
        margin-right: 10px;
        text-decoration: line-through;
        color: #888;
    }

    .price-discount-num{

    }

    .price-product{
        display: flex;
        color: #a8b324;
        font-weight: 700;
    }

    .price-product-num{

    }

    .tab-content-bottom{
        border-top: 1px solid #eaeaea;
        padding-top: 30px;
    }

    .tab-content-total{

    }

    .total-and-none{
        display: flex;
        justify-content: space-between;
    }
    .none{

    }

    .tab-content-total-text{

    }

    .tab-content-total-num{
        color: #a8b324;
        font-size: 20px;
        font-weight: 700;
    }

    .curreny{
        color: #a8b324;
        font-size: 20px;
        font-weight: 700;
    }

    .button-and-notice{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 30px;
        align-items: center;
    }

    .notice-of-product{

    }

    .notice-text{

    }

    .button-of-product{

    }

    .received-product-btn{
        padding: 15px 20px;
        margin-right: 20px;
        border: transparent;
        color: #fff;
        background-color: #a8b324;
        font-size: 16px;
        cursor: pointer;
    }

    .contact-product-btn{
        padding: 15px 20px;
        border: 1px solid #a8b324;
        color: #a8b324;;
        background-color: #fff;
        font-size: 16px;
        cursor: pointer;

    }

    .buy-again-product-btn{
        padding: 15px 20px;
        margin-right: 20px;
        border: transparent;
        color: #fff;
        background-color: #a8b324;
        font-size: 16px;
        cursor: pointer;
    }
    .user-infomation-body{

    }

    .h-100{
        height: 100%;
    }

    .w-100{
        width: 100%;
    }

    .pd-0{
        padding: 0;
    }

    .discount-main{
        height: 118px;
        background-color: #fff;
        border: 1px solid #eaeaea;
        box-shadow: 0.125rem 0.125rem 0.3125rem rgb(0 0 0 / 7%);
        margin-bottom: 15px;
    }

    .discount-main-content{
        height: 100%;
    }

    .discount-main-content__left{
        display: flex;
        align-items: center;
        height: 100%;
        text-align: center;

        background-color: #99d98c;
    }

    .big-name{
        padding: 0 5px;
        text-transform: uppercase;
        color: #fff;
        width: 100%;
    }

    .sale-discount{
        background-color: #e56b6f;
    }

    .discount-main-content__behind{
        display: flex;
        flex-direction : column;
        height: 100%;
        text-align: left;

    }

    .discount-main-content__title{
        margin-top: 3px;
        margin-bottom: 5px;
        color: #1a759f;
    }

    .discount-main-content__condition{
        color:  #76c893;
        font-size: 11px;
        padding: 3px;
        border: 1px solid #76c893;
        width: 70%;
        border-radius: 2px;

    }

    .time-over{
        color:  #76c893;
        font-size: 14px;
        padding: 3px;
        margin-top: 5px;
    }

    .discount-main-content__right{
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0;
        justify-content: center;
    }

    .btn-discount-total{
        background-color: transparent;
        color: #34a0a4;
        border: none;
        cursor: pointer;
    }

    .color-discount{
        color: #f50f0f;
    }

    .border-discount{
        border: 1px solid #f50f0f;
    }
    @media (max-width: 1024px){
        .user-item-list{
           display: flex;
           justify-content: space-between;
        }
        .slider-menu{
            display: none;
        }
    }
</style>
