<template>
    <div class="main">
        <div class="slider">
            <img src="../../../assets/img/slider_shop.jpg" alt="" class="slider-img">
            <!-- ../../assets/img/slider_shop.jpg -->
            <div class="slider-main">
                <p class="slider-header">Thông tin tài khoản</p>
                <div class="slider-menu">
                    <a class="slider-home" href="">Trang chủ</a>
                    <i class="fas fa-angle-double-right"></i>
                    <p class="slider-item">Thông tin tài khoản</p>
                </div>
            </div>
        </div>
        <div class="content background-white">
            <div class="my-grid wide">
                <div class="my-row">
                    <div class="my-col my-l-2">
                        <div class="user-avata-top">
                            <div class="user-avata-top__place">
                                <img class="user-avata-top-img" :src="currentUser.avatar"/>
                            </div>
                            <div class="user-avata-top-nav">
                                <p class="user-avata-top-user">{{currentUser.username}}</p>
                                <!-- <p class="user-avata-top-text"><i class="fas fa-pen"></i> Sửa hồ sơ</p> -->
                                <router-link :to="{name: 'myaccount-page'}" class="user-avata-top-text">
                                    <i class="fas fa-pen"></i> Sửa hồ sơ
                                </router-link>
                            </div>
                        </div>

                        <div class="user-item-bottom">
                            <ul class="user-item-list">
                                <li class="user-item-item">
                                    <router-link :to="{name: 'myaccount-page'}" class="user-item-main">
                                        <i class="fas fa-user"></i>
                                        <span class="user-item-text">Tài khoản của tôi</span>
                                    </router-link>
                                </li>
                                <li class="user-item-item">
                                    <router-link :to="{name: 'changepassword-page'}" class="user-item-main">
                                        <i class="fas fa-lock"></i>
                                        <span class="user-item-text">Đổi mật khẩu</span>
                                    </router-link>
                                </li>
                                <li class="user-item-item">
                                    <router-link :to="{name: 'account-page'}" class="user-item-main">
                                        <i class="fas fa-shopping-cart"></i>
                                        <span class="user-item-text">Đơn Mua</span>
                                    </router-link>
                                </li>
                                <li class="user-item-item">
                                    <router-link :to="{name: 'discountcode-page'}" class="user-item-main">
                                        <i class="fas fa-tags"></i>
                                        <span class="user-item-text">Mã giảm giá</span>
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="my-col my-l-10" :key="listAllOrderForUser.length">
                        <div class="status-card">
                            <div class="status-card-header">
                                <div class="tabs">
                                    <div class="tab-item active">
                                        <i class="far fa-clock"></i>
                                        Chờ xác nhận
                                    </div>
                                    <div class="tab-item">
                                        <i class="fas fa-truck-moving"></i>
                                      Đang giao
                                    </div>
                                    <div class="tab-item">
                                        <i class="fas fa-box-open"></i>
                                        Đã hoàn thành
                                    </div>
                                    <div class="line"></div>
                                  </div>

                                  <div class="tab-content">
                                    <!-- Đơn hàng chờ xác nhận -->
                                    <div class="tab-pane active">
                                        <div class="tab-content-product-list">
                                            <div class="tab-content-product-list__header">
                                                    <h2 class="tab-content-product-list__header-name">Đơn hàng đang chờ xác nhận</h2>
                                                    <p class="tab-content-product-list__header-status">
                                                        Có tất cả <span class="tab-content-product-list__header-num">{{listApprovedOrderForUser.length}}</span>
                                                        đơn hàng trong giỏ hàng của bạn
                                                    </p>
                                            </div>

                                            <div class="tab-content-product-list__body">
                                                <div class="tab-content-product-list__item" v-for="item in listApprovedOrderForUser" :key="`approved${item.id}`">
                                                        <div class="tab-content-product-list__left">
                                                            <div class="tab-content-product-list__image">
                                                                <img :src="item.orderDetails[0].product.picture" alt="" class="tab-content-product-list__img">
                                                            </div>
                                                            <div class="tab-content-product-list__main">
                                                                <div class="discount-and-name">
                                                                    <span class="discount-tag">{{OrderStatusText[item.status]}}</span>
                                                                    <p class="name-of-product">
                                                                        Đơn hàng <span class="shiper-bill-number">{{`DH${item.id}`}}</span>
                                                                    </p>
                                                                </div>
                                                                <span class="category-of-product">
                                                                    Phân loại sản phẩm : <span class="category-of-product-name">Rau củ</span>
                                                                </span>
                                                                <span class="quantity-of-product">
                                                                    Tổng giá trị đơn hàng : <span class="quantity-of-product-num">{{item.paymentType === 0 ? item.realTotalCost : 0}}</span> VNĐ
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="tab-content-product-list__right">
                                                            <div class="hide-element form-element-huy">
                                                                <label>Lý do hủy</label>
                                                                <br>
                                                                <textarea v-model="note" cols="30" rows="3" required=""></textarea>
                                                            </div>
                                                            <a href="" class="checkout-by" @click="rejectOrder($event,item)">
                                                                Hủy đơn hàng
                                                            </a>
                                                        </div>
                                                        <check-delete
                                                            id="CheckDeleteOrder"
                                                            @confirmDelete="confirmDelete"
                                                            content="Bạn có muốn hủy đơn hàng này không?"
                                                        ></check-delete>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Đơn hàng đang được giao -->
                                    <div class="tab-pane">
                                        <div class="tab-content-product-list">
                                        <div class="tab-content-product-list__header">
                                                <h2 class="tab-content-product-list__header-name">Đơn hàng đang được giao</h2>
                                                <p class="tab-content-product-list__header-status">
                                                    Có tất cả <span class="tab-content-product-list__header-num">{{listApprovedOrderForUser.length}}</span>
                                                    đơn hàng trong giỏ hàng của bạn
                                                </p>
                                        </div>

                                        <div class="tab-content-product-list__body">
                                            <div class="tab-content-product-list__item" v-for="item in listDeliveringOrderForUser" :key="`approved${item.id}`">
                                                    <div class="tab-content-product-list__left">
                                                        <div class="tab-content-product-list__image">
                                                            <img :src="item.orderDetails[0].product.picture" alt="" class="tab-content-product-list__img">
                                                        </div>
                                                        <div class="tab-content-product-list__main">
                                                            <div class="discount-and-name">
                                                                <span class="discount-tag">{{OrderStatusText[item.status]}}</span>
                                                                <p class="name-of-product">
                                                                    Đơn hàng <span class="shiper-bill-number">{{`DH${item.id}`}}</span>
                                                                </p>
                                                            </div>
                                                            <span class="category-of-product">
                                                                Phân loại sản phẩm : <span class="category-of-product-name">Rau củ</span>
                                                            </span>
                                                            <span class="quantity-of-product">
                                                                Tổng giá trị đơn hàng : <span class="quantity-of-product-num">{{item.paymentType === 0 ? item.realTotalCost : 0}}</span> VNĐ
                                                            </span>
                                                        </div>
                                                    </div>

                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                    <!-- Đơn hàng giao thành công -->
                                    <div class="tab-pane">
                                        <div class="tab-content-product-list">
                                            <div class="tab-content-product-list__header">
                                                    <h2 class="tab-content-product-list__header-name">Đơn hàng đã được giao</h2>
                                                    <p class="tab-content-product-list__header-status">
                                                        Có tất cả <span class="tab-content-product-list__header-num">{{listDeliveredOrderForUser.length}}</span>
                                                        đơn hàng đã được giao
                                                    </p>
                                            </div>

                                            <div class="tab-content-product-list__body">
                                                <div class="tab-content-product-list__item" v-for="item in listDeliveredOrderForUser" :key="`approved${item.id}`">
                                                        <div class="tab-content-product-list__left">
                                                            <div class="tab-content-product-list__image">
                                                                <img :src="item.orderDetails[0].product.picture" alt="" class="tab-content-product-list__img">
                                                            </div>
                                                            <div class="tab-content-product-list__main">
                                                                <div class="discount-and-name">
                                                                    <span class="discount-tag">{{OrderStatusText[item.status]}}</span>
                                                                    <p class="name-of-product">
                                                                        Đơn hàng <span class="shiper-bill-number">{{`DH${item.id}`}}</span>
                                                                    </p>
                                                                </div>
                                                                <span class="category-of-product">
                                                                    Phân loại sản phẩm : <span class="category-of-product-name">Rau củ</span>
                                                                </span>
                                                                <span class="quantity-of-product">
                                                                    Tổng giá trị đơn hàng : <span class="quantity-of-product-num">{{item.paymentType === 0 ? item.realTotalCost : 0}}</span> VNĐ
                                                                </span>
                                                            </div>
                                                        </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import notification from '../../../utils/notification'
import {OrderStatus} from '../../../utils/constant'
import OrderService from '../../../services/order.service'
import CheckDelete from '../../../components/confirm/DeleteConfirm.vue'
import * as moment from 'moment'
export default ({
  name: 'Account',
  components: {
    CheckDelete
  },
  data () {
    return {
      OrderStatusText: ['Đang xử lý', 'Đã duyệt', 'Đang giao', 'Đã giao', 'Hủy', 'Chưa thanh toán'],
      formatDate: (data) => {
        return moment(data).format('DD-MM-YYYY')
      },
      note: '',
      isShowNote: false,
      order: {},
      deleteOrder: null
    }
  },
  mounted () {
    this.loadData()
    this.scriptPage()
  },
  computed: {
    currentUser () {
      return this.$store.getters['user/currentUser']
    },
    listOrderForUserData () {
      return this.$store.getters['order/listOrderForUser']
    },
    listAllOrderForUser () {
      return this.listOrderForUserData.data || []
    },
    listApprovedOrderForUser () {
      return this.listOrderForUserData.data.filter(el => el.status === OrderStatus.Approved || el.status === OrderStatus.Processing) || []
    },
    listDeliveringOrderForUser () {
      return this.listOrderForUserData.data.filter(el => el.status === OrderStatus.Delivering) || []
    },
    listDeliveredOrderForUser () {
      return this.listOrderForUserData.data.filter(el => el.status === OrderStatus.Delivered) || []
    },
    listRejectOrderForUser () {
      return this.listOrderForUserData.data.filter(el => el.status === OrderStatus.Reject) || []
    }
  },
  methods: {
    scriptPage () {
      //       JS từ đây
      // lấy ra 1 phần tử
      const $ = document.querySelector.bind(document)
      // lấy ra tất cả phần tử
      const $$ = document.querySelectorAll.bind(document)
      // lấy ra tất cả thẻ có class là tab-item
      const tabs = $$('.tab-item')
      const panes = $$('.tab-pane')
      const tabActive = $('.tab-item.active')
      const line = $('.tabs .line')
      // lấy vị trí của line ở dưới item
      line.style.left = tabActive.offsetLeft + 'px'
      line.style.width = tabActive.offsetWidth + 'px'
      tabs.forEach((tab, index) => {
        const pane = panes[index]
        tab.onclick = function () {
          // console.log(this);
          // Trước hết cần kiểm tra xem có class nào đang active hay
          // không? nếu có thì xóa class cũ trước rồi mới thêm
          // class active mới vào thẻ mới
          $('.tab-item.active').classList.remove('active')
          $('.tab-pane.active').classList.remove('active')
          // tab = this
          line.style.left = tab.offsetLeft + 'px'
          line.style.width = this.offsetWidth + 'px'
          // thêm class active vào khi click vào 1 tab-item
          this.classList.add('active')
          pane.classList.add('active')
        }
      })
    },
    loadData () {
      console.log('user', this.currentUser)
      if (!this.currentUser.id) {
        notification.error('Bạn phải đăng nhập để thực hiện chức năng này')
        this.$router.push({path: '/login'})
      } else if (this.currentUser.userRole !== 2) {
        notification.error('Bạn phải đăng nhập với tài khoản khách hàng để thực hiện chức năng này')
        this.$router.push({path: '/login'})
      }
      let userId = this.currentUser.id
      this.$store.dispatch('order/getListOrderForUser', userId).then(rs => {
        console.log('this.listOrderForUserData', this.listAllOrderForUser)
        this.listAllOrderForUser.forEach(el => console.log(el.orderDetails.length, el.id))
        this.scriptPage()
      })
    },
    showBillDetail (item) {
      this.order = item
      this.$bvModal.show('BillDetail')
    },
    receiveOrder (item) {
      console.log('receiveOrder', item)
      let userId = this.currentUser.id
      let orderId = item.id
      OrderService.shipperReceiveOrder(orderId, userId).then(rs => {
        if (rs.code === 200) {
          notification.success('Nhận đơn hàng thành công')
          this.loadData()
        }
      })
    },
    rejectOrder (e, item) {
      e.preventDefault()
      this.deleteOrder = item
      this.$bvModal.show('CheckDeleteOrder')
    },
    confirmDelete () {
      this.$bvModal.hide('CheckDeleteOrder')
      this.note = 'Khách hủy đơn hàng'
      if (this.deleteOrder && this.deleteOrder.id) {
        let orderId = this.deleteOrder.id
        OrderService.userRejectOrder(orderId, this.note).then(rs => {
          if (rs.code === 200) {
            notification.success('Hủy thành công')
            this.loadData()
          }
        })
      } else {
        notification.error('Hủy thất bại. Vui lòng kiểm tra lại thông tin đơn hàng')
      }
    }
  }
})
</script>

<style scoped>
    .bg-green{
        background-color: #235a43 !important;
    }

    .slider-main{
        position: absolute;
        top: 10px;
        left: 5%;
    }

    .slider-header{
        text-transform: capitalize;
        color: #0a472e;
        font-size: 40px;
        max-width: 850px;
        margin-bottom: 5px;
        font-weight: 700;
    }

    .slider-menu{
        display: flex;
        align-items: center;
    }

    .slider-home{
        font-size: 14px;
        color: #999;
        text-decoration: none;
        margin-right: 5px;
    }

    .slider-home:hover{
        color: #a8b324;
    }

    .slider-item{
        font-size: 14px;
        color: #000;
        text-decoration: none;
        margin-left: 5px;
        margin-top: 15px;
    }

    .user-avata-top{
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
    }

    .user-avata-top__place{
        width: 50px;
        height: 50px;
    }

    .user-avata-top-img{
        width: 100%;
        border-radius: 50%;
        height: 100%;
    }

    .user-avata-top-nav{
        margin-left: 10px;
    }

    .user-avata-top-user{
        margin: 0;
        font-size: 14px;
        color: #333;
        font-weight: 600;
        margin: 5px 0;

    }

    .user-avata-top-text{
        margin: 0;
        font-size: 14px;
        color: #888;
        margin: 5px 0;
        cursor: pointer;
        text-decoration: none;
    }

    .user-item-bottom{
        margin-top: 20px;
    }

    .user-item-list{
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .user-item-item{
        padding: 10px 5px;
    }

    .user-item-main{
        cursor: pointer;
        text-decoration: none;
    }

    .user-item-text{
        margin-left: 10px;
        color: #333;
    }

    .fa-user{
        color: #90e0ef;
    }

    .fa-lock{
        color: #f94144;
    }

    .fa-shopping-cart{
        color: #a8b324;
    }

    .fa-bell{
        color: #f9c74f;
    }

    .fa-tags{
        color: #14213d;
    }

    .tabs {
        display: flex;
        position: relative;
    }

    .tabs .line {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 6px;
        border-radius: 15px;
        background-color: #a8b324;
        transition: all 0.2s ease;
    }

    .tab-item {
        min-width: 80px;
        padding: 16px 20px 11px 20px;
        font-size: 20px;
        text-align: center;
        color: #a8b324;
        background-color: #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: 5px solid transparent;
        opacity: 0.6;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    .tab-icon {
        font-size: 24px;
        width: 32px;
        position: relative;
        top: 2px;
    }

    .tab-item:hover {
        opacity: 1;
        background-color: rgba(194, 53, 100, 0.05);
        border-color: rgba(194, 53, 100, 0.1);
    }

    .tab-item.active {
        opacity: 1;
    }

    .tab-content {
        padding: 28px 0;
    }

    .tab-pane {
        color: #333;
        display: none;
    }

    .tab-pane.active {
        display: block;
    }

    .tab-pane h2 {
        font-size: 24px;
    }

    .tab-content-product-list__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .tab-content-product-list__header-status{
        font-size: 14px;
    }

    .tab-content-product-list__body{

    }

    .tab-content-product-list__item{
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #eaeaea;
        padding: 20px 0;
    }

    .tab-content-product-list__left{
        display: flex;
    }

    .tab-content-product-list__image{
        width: 80px;
        height: 80px;
        overflow: hidden;
        border: 1px solid #eaeaea;
    }

    .tab-content-product-list__img{
        width: 100%;
    }

    .tab-content-product-list__main{
        margin-left: 10px;
    }

    .discount-and-name{
        display: flex;
        align-items: center;
    }

    .discount-tag{
        padding: 5px;
        border: 1px solid #a8b324;
        color: #a8b324;
    }

    .name-of-product{
        margin: 0;
        margin-left: 10px;
        font-size: 16px;
        color: #333;
    }

    .category-of-product{
        color: #888;
        font: 12px;
        padding-top: 10px;
        display: block;
    }

    .category-of-product-name{

    }

    .quantity-of-product{
        color: #333;
        font: 14px;
        padding-top: 10px;
        display: block;
    }

    .quantity-of-product-num{

    }

    .tab-content-product-list__right{
        /* display: flex;
        align-items: center; */
        font-size: 15px;
        float: right;
    }

    .price-discount{
        display: flex;
        margin-right: 10px;
        text-decoration: line-through;
        color: #888;
    }

    .price-discount-num{

    }

    .price-product{
        display: flex;
        color: #a8b324;
        font-weight: 700;
    }

    .price-product-num{

    }

    .tab-content-bottom{
        border-top: 1px solid #eaeaea;
        padding-top: 30px;
    }

    .tab-content-total{

    }

    .total-and-none{
        display: flex;
        justify-content: space-between;
    }
    .none{

    }

    .tab-content-total-text{

    }

    .tab-content-total-num{
        color: #a8b324;
        font-size: 20px;
        font-weight: 700;
    }

    .curreny{
        color: #a8b324;
        font-size: 20px;
        font-weight: 700;
    }

    .button-and-notice{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 30px;
        align-items: center;
    }

    .notice-of-product{

    }

    .notice-text{

    }

    .button-of-product{

    }

    .received-product-btn{
        padding: 15px 20px;
        margin-right: 20px;
        border: transparent;
        color: #fff;
        background-color: #a8b324;
        font-size: 16px;
        cursor: pointer;
    }

    .contact-product-btn{
        padding: 15px 20px;
        border: 1px solid #a8b324;
        color: #a8b324;;
        background-color: #fff;
        font-size: 16px;
        cursor: pointer;

    }

    .buy-again-product-btn{
    padding: 15px 20px;
    margin-right: 20px;
    border: transparent;
    color: #fff;
    background-color: #a8b324;
    font-size: 16px;
    cursor: pointer;
}
@media (max-width: 1024px){
        .user-item-list{
           display: flex;
           justify-content: space-between;
        }
        .slider-menu{
            display: none;
        }
    }
    .hide-element{
        display: none;
    }
    .checkout-by{
        color: #000;
        text-decoration: none;
    }
    .checkout-by:hover{
        color: #f94144;
    }

</style>
