<template>
    <div class="main">
        <div class="slider">
            <img src="../../assets/img/slider_shop.jpg" alt="" class="slider-img">
            <div class="slider-main">
                <p class="slider-header">Đổi mật khẩu</p>
                <div class="slider-menu">
                    <a class="slider-home" href="">Trang chủ</a>
                    <i class="fas fa-angle-double-right"></i>
                    <p class="slider-item">Đổi mật khẩu</p>
                </div>
            </div>
        </div>

        <div class="content background-white">
            <div class="grid wide">
                <div class="login-form">
                    <div class="login-form-main">
                        <p class="login-form__header">Đổi mật khẩu</p>
                        <form-group-input
                            type="password"
                            label="Nhập mập khẩu mới"
                            invalidFeedback="Vui lòng nhập mật khẩu hợp lệ"
                            v-model="newPassWord1"
                            :touch="$v.newPassWord1.$touch"
                            :invalid="$v.newPassWord1.$error"
                        />
                        <form-group-input
                            type="password"
                            label="Nhập lại mập khẩu mới"
                            invalidFeedback="Vui lòng nhập email hợp lệ và giống nhau"
                            v-model="newPassWord2"
                            :touch="$v.newPassWord2.$touch"
                            :invalid="$v.newPassWord2.$error"
                        />
                        <button @click="handleConfirmButtonClick" class="login-btn">Tiếp tục</button>
                        <p href="" class="signin-text">Chưa có tài khoản? <a href="" class="signin-link">Đăng ký</a> ngay</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import notification from '../../utils/notification'
import FormGroupInput from '../../components/form/FormGroupInput.vue'
import { validationMixin } from 'vuelidate'
import { required, sameAs } from 'vuelidate/lib/validators'
import authService from '../../services/auth.service'
export default ({
  name: 'ForgotPassword',
  mixins: [validationMixin],
  validations: {
    newPassWord1: { required },
    newPassWord2: {
      required,
      sameAs: sameAs('newPassWord1')
    }
  },
  components: {
    FormGroupInput
  },
  data () {
    return {
      newPassWord1: '',
      newPassWord2: ''
    }
  },
  computed: {
    refreshEmail () {
      return this.$store.getters['user/getRefreshEmail']
    }
  },
  mounted () {
  },
  methods: {
    validate () {
      this.$v.$touch()
      return !this.$v.$invalid
    },
    handleConfirmButtonClick () {
      if (!this.validate()) {
        return
      }
      const code = this.$route.query.code
      const email = this.refreshEmail
      let data = {
        'email': email,
        'code': code,
        'newPassword': this.newPassWord1
      }
      authService.confirmPassword(data).then(rs => {
        if (rs.code === 200) {
          notification.success('Đổi mật khẩu thành công')
          this.$router.push({path: '/login'})
        }
      })
    }
  }
})
</script>

<style scoped>
    .bg-green{
        background-color: #235a43 !important;
    }

    .slider-main{
        position: absolute;
        top: 10px;
        left: 5%;
    }

    .slider-header{
        text-transform: capitalize;
        color: #0a472e;
        font-size: 40px;
        max-width: 850px;
        margin-bottom: 5px;
        font-weight: 700;
    }

    .slider-menu{
        display: flex;
        align-items: center;
    }

    .slider-home{
        font-size: 14px;
        color: #999;
        text-decoration: none;
        margin-right: 5px;
    }

    .slider-home:hover{
        color: #a8b324;
    }

    .slider-item{
        font-size: 14px;
        color: #000;
        text-decoration: none;
        margin-left: 5px;
        margin-top: 15px;
    }
    .login-form{
        max-width: 470px;
        margin-left: auto;
        margin-right: auto;
    }

    .login-form-main{
        padding: 20px 50px 30px;
        background-color: #f6f6f6 ;
    }

    .login-form__header{
        font-size: 20px;
        color: #0a472e;
        font-weight: 700;}

    .login-form__text{
        display: block;
        margin-bottom: 10px;
        font-size: 15px;
        color: #0a472e;
    }

    .login-form__input{
        width: 100%;
        padding: 10px;
        font-size: 15px;
        color: #0a472e;
        border: 1px solid transparent;
        border-radius: 3px;
    }

    .login-form__input:focus{
        outline:  1px solid #a8b324;
        border: 1px solid transparent;
        border-radius: 3px;
    }

    .login-btn{
        display: block;
        padding: 12px 0;
        text-align: center;
        color: #fff;
        background-color: #a8b324;
        text-decoration: none;
        border-radius: 3px;
        margin-top: 30px;
        font-weight: 700;
        width: 100%;
    }

    .login-btn:hover{
        background-color: #80891b;
    }

    .signin-text{
        text-align: right;
        margin-top: 30px;
        color: #333;
        font-size: 14px;
    }

    .signin-link{
        color: #a8b324;
        text-decoration: none;
    }

    .fogot-and-remember-pass{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .remeber-pass{
        display: flex;
        align-items: center;

    }

    .remeber-pass-text{
        font-size: 14px;
        color: #000;
        margin-left: 5px;
        margin-top: 15px;
    }

    .fogot-pass__link{
        font-size: 14px;
        color: #a8b324;
    }

    .fogot-pass__link:hover{
        color: #80891b;
    }
</style>
