<template>
    <div class="main">
        <div class="slider">
            <img src="../../assets/img/slider_shop.jpg" alt="" class="slider-img">
            <div class="slider-main">
                <p class="slider-header">Đăng ký</p>
                <div class="slider-menu">
                    <a class="slider-home" href="">Trang chủ</a>
                    <i class="fas fa-angle-double-right"></i>
                    <p class="slider-item">Đăng ký</p>
                </div>
            </div>
        </div>

        <div class="content background-white">
            <div class="grid wide">
                <div class="login-form">
                    <div class="login-form-main">
                        <p class="login-form__header">Đăng ký</p>
                        <form-group-input
                            type="text"
                            label="Họ và tên lót của bạn"
                            invalidFeedback="Vui lòng nhập họ hợp lệ"
                            v-model="firstName"
                            :touch="$v.firstName.$touch"
                            :invalid="$v.firstName.$error"
                        />
                        <form-group-input
                            type="text"
                            label="Tên"
                            invalidFeedback="Vui lòng nhập tên hợp lệ"
                            v-model="lastName"
                            :touch="$v.lastName.$touch"
                            :invalid="$v.lastName.$error"
                        />
                        <form-group-input
                            type="text"
                            label="Địa chỉ email"
                            invalidFeedback="Vui lòng nhập email hợp lệ"
                            v-model="email"
                            :touch="$v.email.$touch"
                            :invalid="$v.email.$error"
                        />
                        <form-group-input
                            type="text"
                            label="Số điện thoại"
                            invalidFeedback="Vui lòng nhập số điện thoại hợp lệ"
                            v-model="phone"
                            :touch="$v.phone.$touch"
                            :invalid="$v.phone.$error"
                        />
                        <div class="info-user-row">
                            <p class="info-user-row-text">Giới tính</p>
                            <input  name="gender" type = "radio" value="male" class="form-control" v-model="gender"> Nam
                            <input  name="gender" type = "radio" value="female" class="form-control" v-model="gender"> Nữ
                            <input  name="gender" type = "radio" value="other" class="form-control" v-model="gender"> Khác
                        </div>
                        <form-group-input
                            type="text"
                            label="Tên đăng nhập"
                            invalidFeedback="Vui lòng nhập tên đăng nhập hợp lệ"
                            v-model="userName"
                            :touch="$v.userName.$touch"
                            :invalid="$v.userName.$error"
                        />
                        <form-group-input
                            type="password"
                            label="Nhập mật khẩu của bạn"
                            invalidFeedback="Vui lòng nhập mật khẩu hợp lệ"
                            v-model="newPassWord1"
                            :touch="$v.newPassWord1.$touch"
                            :invalid="$v.newPassWord1.$error"
                        />
                        <form-group-input
                            type="password"
                            label="Nhập lại mật khẩu của bạn"
                            invalidFeedback="Vui lòng nhập mật khẩu hợp lệ và giống nhau"
                            v-model="newPassWord2"
                            :touch="$v.newPassWord2.$touch"
                            :invalid="$v.newPassWord2.$error"
                        />
                        <button @click="handleConfirmButtonClick" class="login-btn">Đăng ký</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import FormGroupInput from '../../components/form/FormGroupInput.vue'
import { validationMixin } from 'vuelidate'
import { required, email, minLength, maxLength, numeric, sameAs } from 'vuelidate/lib/validators'
import authService from '../../services/auth.service'
import notification from '../../utils/notification'
export default ({
  name: 'Register',
  mixins: [validationMixin],
  validations: {
    email: { required, email },
    firstName: { required },
    lastName: { required },
    userName: { required },
    phone: {
      required,
      numeric,
      minLength: minLength(10),
      maxLength: maxLength(10)
    },
    newPassWord1: { required },
    newPassWord2: {
      required,
      sameAs: sameAs('newPassWord1')
    }
  },
  components: {
    FormGroupInput
  },
  data () {
    return {
      email: '',
      firstName: '',
      lastName: '',
      userName: '',
      phone: '',
      gender: 'male',
      newPassWord1: '',
      newPassWord2: ''
    }
  },
  mounted () {
  },
  methods: {
    validate () {
      this.$v.$touch()
      return !this.$v.$invalid
    },
    handleConfirmButtonClick () {
      if (!this.validate()) {
        return
      }
      console.log('email', this.email)
      this.$store.dispatch('user/setRefreshEmail', this.email)
      let data = {
        'firstName': this.firstName,
        'lastName': this.lastName,
        'username': this.userName,
        'phone': this.phone,
        'sex': this.gender,
        'email': this.email,
        'passWord': this.newPassWord1
      }
      authService.register(data).then(rs => {
        if (rs.code === 200) {
          notification.success('Đăng ký thành công.')
          this.$router.push({path: '/login'})
        }
      })
    }
  }
})
</script>

<style scoped>
    .info-user-row{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
        margin-bottom: 10px;
        align-items: center;
    }
    .info-user-row p {
        margin: 0 !important;
        display: flex;
    }
    .form-control {
        width: 20px;
        outline: none;
    }
    .bg-green{
        background-color: #235a43 !important;
    }

    .slider-main{
        position: absolute;
        top: 10px;
        left: 5%;
    }

    .slider-header{
        text-transform: capitalize;
        color: #0a472e;
        font-size: 40px;
        max-width: 850px;
        margin-bottom: 5px;
        font-weight: 700;
    }

    .slider-menu{
        display: flex;
        align-items: center;
    }

    .slider-home{
        font-size: 14px;
        color: #999;
        text-decoration: none;
        margin-right: 5px;
    }

    .slider-home:hover{
        color: #a8b324;
    }

    .slider-item{
        font-size: 14px;
        color: #000;
        text-decoration: none;
        margin-left: 5px;
        margin-top: 15px;
    }
    .login-form{
        max-width: 470px;
        margin-left: auto;
        margin-right: auto;
    }

    .login-form-main{
        padding: 20px 50px 30px;
        background-color: #f6f6f6 ;
    }

    .login-form__header{
        font-size: 20px;
        color: #0a472e;
        font-weight: 700;}

    .login-form__text{
        display: block;
        margin-bottom: 10px;
        font-size: 15px;
        color: #0a472e;
    }

    .login-form__input{
        width: 100%;
        padding: 10px;
        font-size: 15px;
        color: #0a472e;
        border: 1px solid transparent;
        border-radius: 3px;
    }

    .login-form__input:focus{
        outline:  1px solid #a8b324;
        border: 1px solid transparent;
        border-radius: 3px;
    }

    .login-btn{
        display: block;
        padding: 12px 0;
        text-align: center;
        color: #fff;
        background-color: #a8b324;
        text-decoration: none;
        border-radius: 3px;
        margin-top: 30px;
        font-weight: 700;
        width: 100%;
    }

    .login-btn:hover{
        background-color: #80891b;
    }

    .signin-text{
        text-align: right;
        margin-top: 30px;
        color: #333;
        font-size: 14px;
    }

    .signin-link{
        color: #a8b324;
        text-decoration: none;
    }

    .fogot-and-remember-pass{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .remeber-pass{
        display: flex;
        align-items: center;

    }

    .remeber-pass-text{
        font-size: 14px;
        color: #000;
        margin-left: 5px;
        margin-top: 15px;
    }

    .fogot-pass__link{
        font-size: 14px;
        color: #a8b324;
    }

    .fogot-pass__link:hover{
        color: #80891b;
    }
</style>
