<template>
  <div>
    <div id="AddEditCategory">
      <div class="row">
        <div class="container">
          <div class="row mb-0">
            <div class="col-lg-6 col-sm-12">
                <form-group-input
                    type="text"
                    disabled="disabled == 1"
                    label="Tên người nhận"
                    enable = true
                    invalidFeedback="Vui lòng nhập tên người nhận hợp lệ"
                    v-model="orderReceiverName"
                />
            </div>
            <div class="col-lg-6 col-sm-12">
                <form-group-input
                    type="text"
                    label="Số điện thoại người nhận"
                    disabled="disabled == 1"
                    invalidFeedback="Vui lòng nhập số điện thoại hợp lệ"
                     v-model="orderReceiverPhone"
                />
            </div>
            <div class="col-lg-8 col-sm-12">
                <form-group-input
                    type="text"
                    label="Địa chỉ"
                    disabled="disabled == 1"
                    invalidFeedback="Vui lòng nhập địa chỉ hợp lệ"
                    v-model="orderReceiverAddress"
                />
            </div>
            <div class="col-lg-4 col-sm-12">
                <label for="status">Trạng thái</label>
                <b-form-select class="mb-3" v-model="orderStatus" :options="orderStatuses">
                </b-form-select>
            </div>
            <div class="col-lg-12 col-sm-12">
                <label for="status">Lưu ý</label>
                <b-form-textarea
                  v-model="orderNote"
                    rows="3"
                    max-rows="6"
                    disabled="disabled == 1"
                ></b-form-textarea>
            </div>
            <!-- <div class="col-lg-12 col-sm-12">
                <label for="status">Thêm sản phẩm vào danh sách</label>
                <SelectProduct @change="onSelectProduct"/>
            </div> -->
            <div class="col-lg-12 col-sm-12">
                <label for="status">Danh sách sản phẩm</label>
                <div class="table_responsive">
                    <table>
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Hình ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                            <th>Thao tác</th>
                        </tr>
                        </thead>
                        <tbody v-if="orderDetails.length == 0">
                            <tr>
                                Không có sản phẩm nào được tìm thấy
                            </tr>
                        </tbody>
                        <tbody v-else>
                            <tr v-for="(item, index) in orderDetails" :key="index">
                                <td>{{index + 1}}</td>
                                <td>
                                    <img :src="item.product.picture" alt="">
                                </td>
                                <td>{{item.product.name}}</td>
                                <td>
                                    <b-form-input type="number" v-model="item.quantity" class="form-control"></b-form-input>
                                </td>
                                <td>{{item.quantity * item.product.price}}</td>
                                <td>
                                <span class="action_btn">
                                    <button class="buttonDelete" @click="deleteItemOfDetails(item)">Xóa</button>
                                </span>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot v-if="orderDetails.length > 0">
                          Tổng tiền: {{orderDetails.length > 0 ? orderDetails.reduce((sum, current) => {return sum + current.product.price * current.quantity},0) : 0}} đồng
                        </tfoot>
                    </table>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'
import FormGroupInput from '../../../components/form/FormGroupInput.vue'
// import notification from '../../../utils/notification'
import SelectProduct from '../../../components/form/select/SelectProduct.vue'
export default {
  mixins: [validationMixin],
  components: {
    FormGroupInput,
    SelectProduct
  },
  props: {
    receiverName: { type: String, default: '' },
    receiverPhone: { type: String, default: '' },
    receiverAddress: { type: String, default: '' },
    status: { type: Number, default: 0 },
    note: { type: String, default: '' },
    details: {type: Array, default: null},
    orderId: { type: Number, default: null },
    isEdit: { type: Boolean, default: false }
  },
  validations: {
    orderReceiverName: {required},
    orderReceiverPhone: {required},
    orderReceiverAddress: {required},
    orderStatus: {required},
    orderNote: {required},
    orderDetails: {required}
  },
  data () {
    return {
      orderStatuses: [
        {text: 'Đang xử lý', value: 0},
        {text: 'Đã duyệt', value: 1},
        {text: 'Đang giao', value: 2},
        {text: 'Đã giao', value: 3},
        {text: 'Hủy', value: 4},
        {text: 'Chưa thanh toán', value: 5}
      ],
      orderReceiverName: this.receiverName ? this.receiverName : '',
      orderReceiverPhone: this.receiverPhone ? this.receiverPhone : '',
      orderReceiverAddress: this.receiverAddress ? this.receiverAddress : '',
      orderStatus: this.status ? this.status : 0,
      orderNote: this.note ? this.note : '',
      orderDetails: this.details ? this.details : []
    }
  },
  mounted () { },

  computed: {
  },
  methods: {
    validate () {
      this.$v.$touch()
      return !this.$v.$invalid
    },
    addOrder () {
      console.log('addOrder')
    },
    updateOrder () {
      console.log('updateOrder')
    },
    onSelectProduct (product) {
      if (!this.isEdit) {
        if (this.orderDetails.findIndex(el => el.productId === product.id) === -1) {
          this.orderDetails.push({
            product: product,
            productId: product.id,
            quantity: 1,
            realPrice: product.price
          })
        }
      }
    },
    deleteItemOfDetails (item) {
      console.log('item', item)
    }
  }
}
</script>

<style scoped>
.label {
  margin-bottom: 2px !important ;
}
.table_responsive {
  margin: 0 20px;
  max-width: 100%;
  border: 1px solid #00bcd4;
  background-color: #efefef33;
  padding: 15px;
  overflow: auto;
  margin: auto;
  border-radius: 4px;
}

table {
  width: 100%;
  font-size: 13px;
  color: #444;
  white-space: nowrap;
  border-collapse: collapse;
}

table>thead {
  background-color: #00bcd4;
  color: #fff;
}

table>thead th {
  padding: 15px;
}

table th,
table td {
  border: 1px solid #00000017;
  padding: 10px 15px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: center;
  text-align: center;
}

table>tbody>tr>td>img {
  display: inline-block;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 2px 6px #0003;
}

.action_btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.action_btn>button {
  text-decoration: none;
  color: #444;
  background: #fff;
  border: 1px solid;
  display: inline-block;
  padding: 7px 20px;
  font-weight: bold;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
}

.action_btn>button:nth-child(1) {
  border-color: #26a69a;
}

.action_btn>button:nth-child(2) {
  border-color: orange;
}
.buttonDelete{
    border-color: #ff0000 !important;
}

.action_btn>button:hover {
  box-shadow: 0 3px 8px #0003;
}

table>tbody>tr {
  background-color: #fff;
  transition: 0.3s ease-in-out;
}

table>tbody>tr:nth-child(even) {
  background-color: rgb(238, 238, 238);
}

table>tbody>tr:hover{
  filter: drop-shadow(0px 2px 6px #0002);
}

.my-table{
  margin: 0 20px;
}

</style>
