<template>
    <div class="main">
        <SideBar2/>
        <section class="home-section">
            <Nav/>
            <transition name="router-anim">
              <router-view/>
            </transition>
        </section>

    </div>
</template>

<script>
import SideBar2 from '../../components/sidebar/SideBar2.vue'
import Nav from '../../components/nav/nav.vue'
export default ({
  name: 'AdminLayout',
  components: {
    SideBar2,
    Nav
  },
  data () {
    return {
      // test: []
    }
  },
  mounted () {
    this.reload()
  },
  methods: {
    reload () {
      console.log('reload')
    }
  }
})
</script>

<style scoped>
.main{
    display: flex;
    min-height: 100vh;
    /* justify-content: center;
    align-items: center;
    background: #232c33; */
}
.home-section{
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
  padding-bottom: 50px;
}
.sidebar.active ~ .home-section{
  width: calc(100% - 60px);
  left: 60px;
}
.home-section nav{
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav{
  left: 60px;
  width: calc(100% - 60px);
}
.home-section nav .sidebar-button{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
.home-section nav .search-box{
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px;
}
.home-section nav .profile-details{
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}
.home-section .home-content{
  position: relative;
  padding-top: 104px;
}
@media (max-width: 1240px) {
  .sidebar{
      width: 60px;
  }
  .sidebar.active{
      width: 220px;
  }
  .home-section{
      width: calc(100% - 60px);
      left: 60px;
  }
  .sidebar.active ~ .home-section{
      /* width: calc(100% - 220px); */
      overflow: hidden;
      left: 220px;
  }
  .home-section nav{
      width: calc(100% - 60px);
      left: 60px;
  }
  .sidebar.active ~ .home-section nav{
      width: calc(100% - 220px);
      left: 220px;
  }
}
@media (max-width: 1150px) {
  .home-content .sales-boxes{
      flex-direction: column;
  }
  .home-content .sales-boxes .box{
      width: 100%;
      overflow-x: scroll;
      margin-bottom: 30px;
  }
  .home-content .sales-boxes .top-sales{
      margin: 0;
  }
}
@media (max-width: 1000px) {
  .overview-boxes .box{
      width: calc(100% / 2 - 15px);
      margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i{
      display: none;
  }
  .home-section nav .profile-details{
      height: 50px;
      min-width: 40px;
  }
  .home-content .sales-boxes .sales-details{
      width: 560px;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box{
      width: 100%;
      margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details{
      display: none;
  }
}
</style>
