<template>
  <div class="custom-select" tabindex="1" @blur="open = false">
    <div class="selected" :class="{ open: open }" @click="open = !open">
      {{ selected ? selected.firstName + ' ' + selected.lastName : '' }}
    </div>
    <div v-if="open" class="search-bar">
      <b-form-input v-model="search" type="text" class="search-bar__input" placeholder="Nhập tên hoặc mã người dùng"></b-form-input>
    </div>
    <div class="items" :class="{ selectHide: !open }">
      <div
        v-for="(option, i) of optionUsers"
        :key="i"
        @click="
          selected = option;
          onClickOption($event);
          $emit('change', option);
          $emit('input', option.id);
        "
      >
        <img :src="option.avatar" alt="">
        {{ option.firstName + ' ' + option.lastName }}
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'SelectProduct',
  props: {
    value: {
      type: Number,
      default: null
    }
  },
  data () {
    return {
      selected: null,
      open: false,
      search: ''
    }
  },
  computed: {
    optionUserData () {
      return this.$store.getters['user/allUser']
    },
    optionUsers () {
      return this.optionUserData.data.filter(el => el.firstName.indexOf(this.search) > -1 || el.lastName.indexOf(this.search) > -1 || el.id === +this.search) || []
    }
  },
  mounted () {
    this.selected = this.value
      ? (this.optionUsers.length > 0
        ? this.optionUsers.find(el => el.id === this.value)
        : null)
      : this.optionUsers.length > 0
        ? this.optionProducts[0]
        : null
  },
  methods: {
    onClickOption (e) {
      this.open = false
    }
  }
}
</script>
<style scoped>
.search-bar{
  margin-bottom: 10px;
}
.custom-select {
  position: relative;
  width: 100%;
  text-align: left;
  outline: none;
  height: max-content;
  line-height: 25px;
}

.custom-select .selected {
  background-color: #fff;
  border-radius: 6px;
  border: none;
  color: #000;
  padding-left: 5px;
  cursor: pointer;
  user-select: none;
}

.custom-select .selected.open {
  border: none;
  border-radius: 6px 6px 0px 0px;
}

.custom-select .selected:after {
  position: absolute;
  content: "";
  top: 22px;
  right: 1em;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.custom-select .items {
  color: #000;
  border-radius: 0px 0px 6px 6px;
  overflow: hidden;
  border-right: 1px solid #ad8225;
  border-left: 1px solid #ad8225;
  border-bottom: 1px solid #ad8225;
  position: absolute;
  background-color: #fff;
  left: 0;
  right: 0;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
}

.custom-select .items div {
    margin-top: 5px;
    color: #000;
    padding-left: 1em;
    cursor: pointer;
    user-select: none;
}
.custom-select .items div img {
  width: 50px;
  height: 50px;
}

.custom-select .items div:hover {
  background-color: #1E90FF;
}

.selectHide {
  display: none;
}
</style>
