<template>
    <div class="header">
        <div class="header-top">
            <div class="my-grid wide">
                <div class="header-top__main">
                    <div class="header-top__left hide-on-mobile-tablet">
                        <div class="header-logo">
                            <a href="" class="header-logo__link">
                                <img src="../../assets/img/logo.svg" alt="" class="header-logo__img">
                            </a>
                        </div>
                        <div class="header-search-main">
                            <div class="header-search">
                                <input  type="search" placeholder="Nhập để tìm kiếm" v-model="searchKey" class="header-find ">
                                <i class="header-search__icon fas fa-search"></i>
                                <button @click="searchProduct()" class="btn-search">Tìm kiếm</button>
                            </div>
                            <div class="suggestions">

                            </div>
                        </div>
                    </div>

                    <div class="header-top__right hide-on-mobile-tablet">
                        <div class="header-info">
                            <div class="header-logoHeadphone">
                                <i class="header-logoHeadphone__icon fas fa-headphones-alt"></i>
                            </div>
                            <div class="header-info__main">
                                <span class="header-info__text">Online 24/7</span>
                                <span class="header-info__content">(+39)9469372</span>
                            </div>
                        </div>

                        <div class="header-user">
                            <ul class="header-user__list">
                                <li class="header-user__item">
                                    <div class="header-user__link">
                                        <div class="header-user__icon header-user__icon-1 header-user__user">
                                            <i class="far fa-user"></i>
                                            <ul class="header__navbar-user-menu">
                                                <li @click="redirecMyAccount" v-if="currentUser && currentUser.id" class="header__navbar-user-item">
                                                    <div>Tài khoản của tôi</div>
                                                </li>
                                                <li @click="redirecChangePassword" v-if="currentUser && currentUser.id" class="header__navbar-user-item">
                                                    <div>Đổi mật khẩu</div>
                                                </li>
                                                <li @click="redirecAccount" v-if="currentUser && currentUser.id && currentUser.userRole == 2" class="header__navbar-user-item">
                                                    <div>Đơn mua</div>
                                                </li>
                                                <li @click="redirecToLogin" v-if="currentUser && !currentUser.id" class="header__navbar-user-item header__navbar-user-item--separate">
                                                    <div>Đăng nhập</div>
                                                </li>
                                                <li @click="handleLogOut" v-if="currentUser && currentUser.id" class="header__navbar-user-item header__navbar-user-item--separate">
                                                    <div>Đăng xuất</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="header-user__item">
                                    <a href="" class="header-user__link">
                                         <div class="header-user__icon header-user__icon-2 header-user__heart">
                                            <div @click="redirectToFavorite($event)"><i class="fas fa-heart"></i></div>
                                            <span class="number-of-item">{{numOfFavoriteProduct}}</span>
                                            <div class="cart-item">
                                                <div class="cart-item__main">
                                                    <ul class="cart-item__list">
                                                        <li class="cart-item__item" v-for="(item, index) in favoriteProduct" :key="`favorite${index}`">
                                                            <div class="cart-item__delete">
                                                                <i class="far fa-times-circle"></i>
                                                            </div>

                                                            <div class="cart-item__content">
                                                                <a href="" class="cart-item__picture">
                                                                        <img :src="item.product.picture" alt="" class="cart-item__img">
                                                                </a>
                                                                <div class="cart-item__info">
                                                                    <a href="" class="cart-item__name">{{item.product.name}}</a>
                                                                </div>
                                                                </div>
                                                        </li>
                                                    </ul>

                                                    <div class="cart-item__btn">
                                                        <a href="" @click="redirectToFavorite($event)" class="cart-item__viewCart">Xem danh sách yêu thích</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="header__notify">
                                                    <header class="header__notify-header">
                                                        <h3>Thông báo mới nhận</h3>
                                                    </header>
                                                    <ul class="header__notify-list">
                                                        <li class="header__notify-item">
                                                            <a href="" class="header__notify-link header__notify-item--viewed">
                                                                <img src="https://res.cloudinary.com/donghcmute/image/upload/v1631758326/2_d%C3%A2u_qwuqmp.jpg" alt="" class="header__notify-img">
                                                                <div class="header__notify-info">
                                                                    <span class="header__notify-name">Thông báo về đơn hàng id #32514</span>
                                                                    <span class="header__notify-desc">Sản phẩm đã được giao đến bạn</span>
                                                                </div>
                                                            </a>
                                                        </li>

                                                        <li class="header__notify-item header__notify-item--viewed">
                                                            <a href="" class="header__notify-link">
                                                                <img src="https://res.cloudinary.com/donghcmute/image/upload/v1631758326/2_d%C3%A2u_qwuqmp.jpg" alt="" class="header__notify-img">
                                                                <div class="header__notify-info">
                                                                    <span class="header__notify-name">Sale sốc thực phẩm chức năng nước uống ổi tái tạo trẻ hóa da xinh như cô tiên</span>
                                                                    <span class="header__notify-desc">Sản phẩm đã được giao đến bạn</span>
                                                                </div>
                                                            </a>
                                                        </li>

                                                        <li class="header__notify-item">
                                                            <a href="" class="header__notify-link">
                                                                <img src="https://res.cloudinary.com/donghcmute/image/upload/v1631758326/2_d%C3%A2u_qwuqmp.jpg" alt="" class="header__notify-img">
                                                                <div class="header__notify-info">
                                                                    <span class="header__notify-name">Thông báo</span>
                                                                    <span class="header__notify-desc">Sản phẩm đã được giao đến bạn</span>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <footer class="header__notify-footer">
                                                        <a href="" class="header__notify-footer-btn">Xem tất cả</a>
                                                    </footer>
                                                </div> -->
                                        </div>
                                    </a>
                                </li>
                                <li class="header-user__item header-user__table">
                                    <div class="header-user__link header-user__last">
                                        <div class="header-user__icon header-user__icon-3 header-user__cart" >
                                            <div @click="redirectToCart($event)"><i class="fas fa-shopping-bag" ></i></div>
                                            <span class="number-of-item">{{numOfCart}}</span>
                                            <div class="cart-item">
                                                <div class="cart-item__main">
                                                    <ul class="cart-item__list">
                                                        <li class="cart-item__item" v-for="item in cart" :key="item.name">
                                                            <div class="cart-item__delete" @click="removeCartItem(item.id)">
                                                                <i class="far fa-times-circle"></i>
                                                            </div>

                                                            <div class="cart-item__content">
                                                                <a href="" class="cart-item__picture">
                                                                        <img :src="item.picture" alt="" class="cart-item__img">
                                                                </a>
                                                                <div class="cart-item__info">
                                                                    <a href="" class="cart-item__name">{{item.name}}</a>
                                                                    <div class="cart-item__total-price">
                                                                        <span class="cart-item__quantity">
                                                                            <span class="cart-item__num">{{item.quantity}}</span> x
                                                                        </span>
                                                                        <span class="cart-item__price">
                                                                            <span class="cart-item__num-price">{{item.price}}</span>VNĐ
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                </div>
                                                        </li>
                                                    </ul>

                                                    <div class="cart-item__sub-total">
                                                        <p class="cart-item__sub-total-text">Tổng cộng : </p>
                                                        <p class="cart-item__sub-total-price"><span class="cart-item__sub-total-num">{{totalCostOfCast}}</span>VNĐ</p>
                                                    </div>

                                                    <div class="cart-item__btn">
                                                        <div class="cart-item__checkout" @click="redirectToCheckout">Thanh toán</div>
                                                        <a href="" @click="redirectToCart($event)" class="cart-item__viewCart">Xem giỏ hàng</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="header-user__price">
                                            <span class="user-price">0</span>VNĐ
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="header-top__mobie-and-tablet hiden-on-pc">
                            <div class="header-top__mobie-and-tablet-body">
                                <div class="header-mobie-left">
                                    <label for="nav-mobie-input" class="icon-mobie-nav">
                                        <i class="fas fa-bars"></i>
                                    </label>
                                    <label class="icon-mobie-nav">
                                        <router-link :to="{name: 'login-page'}" class="svg-icon header-main__link-mobile">
                                            <span href="" class="login-in-mobie" :class="checkActive('login-page') ? 'header-main__home' : ''">Đăng nhập</span>
                                        </router-link>
                                    </label>
                                    <input type="checkbox" hidden class="nav__input" id="nav-mobie-input">

                                    <!-- Nav Overlay-->
                                    <label for="nav-mobie-input" class="nav__overlay">

                                    </label>

                                    <nav class="nav__mobie">
                                        <label for="nav-mobie-input" class="nav__mobie-close">
                                            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" class="svg-inline--fa fa-times fa-w-11" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path></svg>
                                        </label>
                                        <ul class="nav__mobie-list">
                                            <li class="header-main__item-mobile">
                                                <router-link :to="{name: 'home-page'}" class="svg-icon header-main__link-mobile">
                                                    <span class="header-main__link-mobile" :class="checkActive('home-page') ? 'header-main__home' : ''">Trang Chủ</span>
                                                </router-link>
                                            </li>
                                            <li class="header-main__item-mobile">
                                                <router-link :to="{name: 'shop-page'}" class="svg-icon header-main__link-mobile">
                                                    <span href="" class="header-main__link-mobile" :class="checkActive('shop-page') ? 'header-main__home' : ''">Cửa hàng</span>
                                                </router-link>
                                            </li>
                                            <li class="header-main__item-mobile">
                                                <router-link :to="{name: 'menu-page'}" class="svg-icon header-main__link-mobile">
                                                    <span href="" class="header-main__link-mobile" :class="checkActive('menu-page') ? 'header-main__home' : ''">Menu</span>
                                                </router-link>
                                            </li>
                                            <li class="header-main__item-mobile">
                                            <router-link :to="{name: 'aboutus-page'}" class="svg-icon header-main__link-mobile">
                                                <span class="header-main__link-mobile" :class="checkActive('aboutus-page') ? 'header-main__home' : ''">Về chúng tôi</span>
                                            </router-link>
                                            </li>
                                            <li class="header-main__item-mobile">
                                                <router-link :to="{name: 'contact-page'}" class="svg-icon header-main__link-mobile">
                                                    <span href="" class="header-main__link-mobile" :class="checkActive('contact-page') ? 'header-main__home' : ''">Liên hệ</span>
                                                </router-link>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="header-mobie-bet">
                                    <div class="header-logo">
                                        <a href="" class="header-logo__link">
                                            <img src="../../assets/img/logo.svg" alt="" class="header-logo__img">
                                        </a>
                                    </div>
                                </div>
                                <div class="header-mobie-right">
                                    <div class="header-user__item header-user__table">
                                      <div class="header-user__link header-user__last">
                                          <div class="header-user__icon header-user__icon-3 header-user__cart" >
                                              <div @click="redirectToCart($event)"><i class="fas fa-shopping-bag" ></i></div>
                                              <span class="number-of-item">{{numOfCart}}</span>
                                              <div class="cart-item">
                                                  <div class="cart-item__main">
                                                      <ul class="cart-item__list">
                                                          <li class="cart-item__item" v-for="item in cart" :key="item.name">
                                                              <div class="cart-item__delete" @click="removeCartItem(item.id)">
                                                                  <i class="far fa-times-circle"></i>
                                                              </div>

                                                              <div class="cart-item__content">
                                                                  <a href="" class="cart-item__picture">
                                                                          <img :src="item.picture" alt="" class="cart-item__img">
                                                                  </a>
                                                                  <div class="cart-item__info">
                                                                      <a href="" class="cart-item__name">{{item.name}}</a>
                                                                      <div class="cart-item__total-price">
                                                                          <span class="cart-item__quantity">
                                                                              <span class="cart-item__num">{{item.quantity}}</span> x
                                                                          </span>
                                                                          <span class="cart-item__price">
                                                                              <span class="cart-item__num-price">{{item.price}}</span>VNĐ
                                                                          </span>
                                                                      </div>
                                                                  </div>
                                                                  </div>
                                                          </li>
                                                      </ul>

                                                      <div class="cart-item__sub-total">
                                                          <p class="cart-item__sub-total-text">Tổng cộng : </p>
                                                          <p class="cart-item__sub-total-price"><span class="cart-item__sub-total-num">{{totalCostOfCast}}</span>VNĐ</p>
                                                      </div>

                                                      <div class="cart-item__btn">
                                                          <div class="cart-item__checkout" @click="redirectToCheckout">Thanh toán</div>
                                                          <a href="" class="cart-item__viewCart">Xem giỏ hàng</a>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <span class="header-user__price">
                                              <span class="user-price">0</span>VNĐ
                                          </span>
                                      </div>
                                  </div>
                                </div>
                            </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer-top__mobie-and-tablet-main hiden-on-pc">
                <div class="footer-search">
                    <input  type="search" placeholder="Nhập để tìm kiếm" v-model="searchKey" class="footer-input">
                    <button @click="searchProduct()" class="btn-search-footer">Tìm kiếm</button>
                </div>
                <ul class="footer-top__mobie-and-tablet-content">
                    <li class="footer-top__mobie-and-tablet-item">
                        <router-link :to="{name: 'shop-page'}" class="link-nav-in-mobile">
                           <div class="nav-footer-icon-color">
                                <i class="fas fa-store"></i>
                            </div>
                            <p class="footer-top__mobie-and-tablet-text">
                                Cửa hàng
                            </p>
                        </router-link>
                    </li>
                    <li class="footer-top__mobie-and-tablet-item">
                        <router-link :to="{name: 'myaccount-page'}" class="link-nav-in-mobile">
                           <div class="nav-footer-icon-color">
                                <i class="far fa-user"></i>
                            </div>
                            <p class="footer-top__mobie-and-tablet-text">
                                Tài khoản
                            </p>
                        </router-link>
                    </li>
                    <li class="footer-top__mobie-and-tablet-item hello-khoa">
                        <div class="nav-footer-icon-color">
                            <i class="fas fa-search"></i>
                        </div>
                        <p class="footer-top__mobie-and-tablet-text">
                            Tìm Kiếm
                        </p>
                    </li>
                    <li class="footer-top__mobie-and-tablet-item">
                        <router-link :to="{name: 'favoriteProduct-page'}" class="link-nav-in-mobile">
                           <div class="nav-footer-icon-color">
                                <i class="far fa-heart"></i>
                            </div>
                            <p class="footer-top__mobie-and-tablet-text">
                                Yêu thích
                            </p>
                        </router-link>
                    </li>
                </ul>
        </div>
        <!-- <div class="header-top__mobie-and-tablet-main hiden-on-pc">
                <div class="header-top__mobie-and-tablet-content">
                    <div class="header-top__mobie-and-tablet-item">
                        <div class="nav-header-icon-color">
                            <i class="fas fa-store"></i>
                        </div>
                        <p class="header-top__mobie-and-tablet-text">
                            Cửa hàng
                        </p>
                    </div>
                    <div class="header-top__mobie-and-tablet-item">
                        <div class="nav-header-icon-color">
                            <i class="far fa-user"></i>
                        </div>
                        <p class="header-top__mobie-and-tablet-text">
                            Tài khoản
                        </p>
                    </div>
                    <div class="header-top__mobie-and-tablet-item">
                        <div class="nav-header-icon-color">
                            <i class="fas fa-search"></i>
                        </div>
                        <p class="header-top__mobie-and-tablet-text">
                            Tìm Kiếm
                        </p>
                    </div>
                    <div class="header-top__mobie-and-tablet-item">
                        <div class="nav-header-icon-color">
                            <i class="far fa-heart"></i>
                        </div>
                        <p class="header-top__mobie-and-tablet-text">
                            Yêu thích
                        </p>
                    </div>
                </div>
        </div> -->

        <div class="header-main hide-on-mobile-tablet">
            <div class="header-main__left ">
                <a href="" class="header-main__first">
                    <i class="fas fa-bars header-main__first-icon"></i> Danh mục sản phẩm
                </a>

                <div class="header-main__category">
                    <ul class="header-main__category-list">
                        <li class="header-main__category-item" v-for="item in listCategories" :key="item.id">
                            <a @click="searchByCategory(item.id)" class="header-main__category-link">
                                <i class="header-main__icon" :class="item.icon"></i>
                                {{item.name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="header-main__list">
                <li class="header-main__item">
                    <router-link :to="{name: 'home-page'}" class="svg-icon header-main__link">
                        <span class="header-main__link" :class="checkActive('home-page') ? 'header-main__home' : ''">Trang Chủ</span>
                    </router-link>
                </li>
                <li class="header-main__item">
                    <router-link :to="{name: 'shop-page'}" class="svg-icon header-main__link">
                        <span href="" class="header-main__link" :class="checkActive('shop-page') ? 'header-main__home' : ''">Cửa hàng</span>
                    </router-link>
                </li>
                <li class="header-main__item">
                    <router-link :to="{name: 'menu-page'}" class="svg-icon header-main__link">
                        <span href="" class="header-main__link" :class="checkActive('menu-page') ? 'header-main__home' : ''">Menu</span>
                    </router-link>
                </li>
                <li class="header-main__item">
                  <router-link :to="{name: 'aboutus-page'}" class="svg-icon header-main__link">
                    <span class="header-main__link" :class="checkActive('aboutus-page') ? 'header-main__home' : ''">Về chúng tôi</span>
                  </router-link>
                </li>
                <li class="header-main__item">
                    <router-link :to="{name: 'contact-page'}" class="svg-icon header-main__link">
                        <span href="" class="header-main__link" :class="checkActive('contact-page') ? 'header-main__home' : ''">Liên hệ</span>
                    </router-link>
                </li>
            </ul>
        </div>
    </div>
</template>
<script>
export default ({
  name: 'Header',
  data () {
    return {
      searchKey: ''
    }
  },
  computed: {
    cart () {
      return this.$store.getters['cart/cart']
    },
    numOfCart () {
      return this.cart.length
    },
    totalCostOfCast () {
      let sum = 0
      this.cart.forEach(el => {
        sum += el.price * el.quantity
      })
      return sum
    },
    categoryData () {
      return this.$store.getters['category/getCategories']
    },
    listCategories () {
      return this.categoryData.data || []
    },
    currentUser () {
      return this.$store.getters['user/currentUser']
    },
    favoriteProduct () {
      return this.$store.getters['favoriteProduct/favoriteProduct']
    },
    numOfFavoriteProduct () {
      return this.favoriteProduct.length
    },
    optionProductData () {
      return this.$store.getters['product/getAllProducts']
    }
  },
  mounted () {
    this.loadData()
    this.pressKeyByUser()
    // this.showSearch()
  },
  methods: {
    redirectToCart (e) {
      e.preventDefault()
      if (this.$route.name !== 'cart') {
        this.$router.push({ path: `/cart` })
      }
    },
    removeCartItem (productId) {
      this.$store.dispatch('cart/deleteproduct', productId)
    },
    redirecToLogin () {
      this.$router.push({ path: `/login` })
    },
    loadData () {
      let dataCat = {
        pageNumber: 1,
        pageSize: 999999
      }
      this.$store.dispatch('category/getCategories', dataCat).then(rs => {
        console.log('rs cat', rs)
      })
    },
    searchByCategory (id) {
      const categoryId = this.$route.query.category
      if (categoryId && parseInt(categoryId) === id) {
        return
      }
      this.$router.push({path: `/shop?searchMode=category&category=${id}`})
    },
    handleLogOut () {
      this.$store.dispatch('user/logout')
      if (this.$route.name !== 'login') {
        this.$router.push({path: '/login'})
      }
    },
    redirecMyAccount () {
      if (this.$route.name !== 'myaccount-page') {
        this.$router.push({path: '/myaccount'})
      }
    },
    redirecChangePassword () {
      if (this.$route.name !== 'changepassword-page') {
        this.$router.push({path: '/changepassword'})
      }
    },
    redirecAccount () {
      if (this.$route.name !== 'account-page') {
        this.$router.push({path: '/account'})
      }
    },
    checkActive (route) {
      if (this.$route.name === route) {
        return true
      }
      if (route.includes(this.$route.name)) {
        return true
      }
    },
    redirectToCheckout () {
      if (this.$route.name !== 'checkout-page') {
        this.$router.push({path: '/checkout'})
      }
    },
    redirectToFavorite (e) {
      e.preventDefault()
      if (this.$route.name !== 'favoriteProduct-page') {
        this.$router.push({path: '/favoriteProduct'})
      }
    },
    async pressKeyByUser () {
      console.log('this.option', this.optionProductData)
      const that = this
      let products = []
      await this.$store.dispatch('product/loadAllProducts').then(rs => {
        if (rs.code === 200) {
          products = rs.data
        }
      })
      const searchInput = document.querySelector('.header-find')
      const suggestionsPanel = document.querySelector('.suggestions')
      const btnSearchPanel = document.querySelector('.btn-search')
      searchInput.addEventListener('keyup', function () {
        suggestionsPanel.classList.remove('search-hide')
        const input = searchInput.value.toLowerCase()
        suggestionsPanel.innerHTML = ''
        const suggestions = products.filter(function (product) {
        //   return product.name.toLowerCase().startsWith(input)
          return that.toLowerCaseNonAccentVietnamese(product.name.toLowerCase()).includes(that.toLowerCaseNonAccentVietnamese(input))
        })
        suggestions.forEach(function (suggested) {
          const div = document.createElement('div')
          div.innerHTML = suggested.name
          div.classList.add('my-key-search')
          div.onclick = function () {
            console.log('value', suggested.name)
            that.searchKey = suggested.name
            that.$router.push({path: `/shop?searchMode=product&searchKey=${that.searchKey}`})
            if (!suggestionsPanel.classList.contains('search-hide')) {
              suggestionsPanel.classList.add('search-hide')
            }
            if (searchInput.classList.contains('search-active')) {
              searchInput.classList.remove('search-active')
            }
          }
          suggestionsPanel.appendChild(div)
          searchInput.classList.add('search-active')
        })
        if (input === '') {
          suggestionsPanel.innerHTML = ''
          searchInput.classList.remove('search-active')
        }
      })
      btnSearchPanel.onclick = function () {
        suggestionsPanel.classList.add('search-hide')
        searchInput.value = ''
        searchInput.classList.remove('search-active')
      }
    },
    toLowerCaseNonAccentVietnamese (str) {
      str = str.toLowerCase()
      str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, 'a')
      str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, 'e')
      str = str.replace(/ì|í|ị|ỉ|ĩ/g, 'i')
      str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, 'o')
      str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, 'u')
      str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, 'y')
      str = str.replace(/đ/g, 'd')
      str = str.replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g, '')
      str = str.replace(/\u02C6|\u0306|\u031B/g, '')
      return str
    },
    searchProduct () {
      console.log('search', this.searchKey)
      this.$router.push({path: `/shop?searchMode=product&searchKey=${this.searchKey}`})
      this.searchKey = ''
    }
    // showSearch () {
    //   document.getElementById('.hello-khoa').addEventListener('click', function () {
    //     var find = document.getElementById('.footer-search')
    //     if (find.style.display === 'none') {
    //       find.style.display = 'block'
    //     } else {
    //       find.style.display = 'none'
    //     }
    //   })
    // }
  }
})
</script>
