<template>
    <div class="main">
        <div class="slider">
            <img src="../../../assets/img/slider_shop.jpg" alt="" class="slider-img">
            <!-- ../../assets/img/slider_shop.jpg -->
            <div class="slider-main">
                <p class="slider-header">Đăng nhập</p>
                <div class="slider-menu">
                    <a class="slider-home" href="">Trang chủ</a>
                    <i class="fas fa-angle-double-right"></i>
                    <p class="slider-item">Đăng nhập</p>
                </div>
            </div>
        </div>

        <div class="content background-white">
            <div class="grid wide">
                <div class="login-form">
                    <div class="login-form-main">
                        <p class="login-form__header">Đăng nhập</p>
                        <p class="login-form__item">
                            <span class="login-form__text">Tài khoản</span>
                            <input type="text" v-model="userName"  class="login-form__input">
                        </p>
                        <p class="login-form__item">
                            <span class="login-form__text">Mật khẩu</span>
                            <input type="password" v-model="passWord" class="login-form__input">
                        </p>
                        <button @click="handleLoginButtonClick" class="login-btn">Đăng Nhập</button>
                        <button @click="Login" class="login-btn">Đăng Nhập với Google</button>
                        <p href="" class="signin-text">Chưa có tài khoản? <a href="" @click="redirectToRegister" class="signin-link">Đăng ký</a> ngay</p>
                    </div>

                    <div class="fogot-and-remember-pass">
                        <div class="remeber-pass">
                            <input type="checkbox" name="" id="" class="remeber-pass-input">
                            <p class="remeber-pass-text">Ghi nhớ mật khẩu</p>
                        </div>
                        <div class="fogot-pass" @click="redirectToForgotPassword">
                            <a class="fogot-pass__link">Bạn đã quên mật khẩu?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import notifycation from '../../../utils/notification'
export default ({
  name: 'Login',
  components: {
  },
  data () {
    return {
      userName: '',
      passWord: '',
      isLogin: false
    }
  },
  mounted () {
  },
  computed: {
    currentUser () {
      return this.$store.getters['user/currentUser']
    }
  },
  methods: {
    handleLoginButtonClick () {
      console.log('username pass', this.userName, this.passWord)
      let data = {
        userName: this.userName,
        passWord: this.passWord
      }
      this.$store.dispatch('user/login', data).then(rs => {
        if (rs.code === 200) {
          notifycation.success('Đăng nhập thành công')
          let userId = this.currentUser.id
          this.$router.push({ path: `/` })
          this.$store.dispatch('favoriteProduct/getProduct', userId)
        }
      })
    },
    redirectToForgotPassword () {
      console.log('redirectToForgotPassword')
      this.$router.push({path: '/forgotpassword'})
    },
    redirectToRegister (e) {
      e.preventDefault()
      console.log('redirectToForgotPassword')
      this.$router.push({path: '/register'})
    },
    async Login () {
      const googleUser = await this.$gAuth.signIn()
      console.log(googleUser)
    }
  }
})
</script>

<style scoped>
    .bg-green{
        background-color: #235a43 !important;
    }

    .slider-main{
        position: absolute;
        top: 10px;
        left: 5%;
    }

    .slider-header{
        text-transform: capitalize;
        color: #0a472e;
        font-size: 40px;
        max-width: 850px;
        margin-bottom: 5px;
        font-weight: 700;
    }

    .slider-menu{
        display: flex;
        align-items: center;
    }

    .slider-home{
        font-size: 14px;
        color: #999;
        text-decoration: none;
        margin-right: 5px;
    }

    .slider-home:hover{
        color: #a8b324;
    }

    .slider-item{
        font-size: 14px;
        color: #000;
        text-decoration: none;
        margin-left: 5px;
        margin-top: 15px;
    }
    .login-form{
        max-width: 470px;
        margin-left: auto;
        margin-right: auto;
    }

    .login-form-main{
        padding: 20px 50px 30px;
        background-color: #f6f6f6 ;
    }

    .login-form__header{
        font-size: 20px;
        color: #0a472e;
        font-weight: 700;}

    .login-form__text{
        display: block;
        margin-bottom: 10px;
        font-size: 15px;
        color: #0a472e;
    }

    .login-form__input{
        width: 100%;
        padding: 10px;
        font-size: 15px;
        color: #0a472e;
        border: 1px solid transparent;
        border-radius: 3px;
    }

    .login-form__input:focus{
        outline:  1px solid #a8b324;
        border: 1px solid transparent;
        border-radius: 3px;
    }

    .login-btn{
        display: block;
        padding: 12px 0;
        text-align: center;
        color: #fff;
        background-color: #a8b324;
        text-decoration: none;
        border-radius: 3px;
        margin-top: 30px;
        font-weight: 700;
        width: 100%;
        border: none;
    }

    .login-btn:hover{
        background-color: #80891b;
    }

    .signin-text{
        text-align: right;
        margin-top: 30px;
        color: #333;
        font-size: 14px;
    }

    .signin-link{
        color: #a8b324;
        text-decoration: none;
    }

    .fogot-and-remember-pass{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .remeber-pass{
        display: flex;
        align-items: center;

    }

    .remeber-pass-text{
        font-size: 14px;
        color: #000;
        margin-left: 5px;
        margin-top: 15px;
    }

    .fogot-pass__link{
        cursor: pointer;
        font-size: 14px;
        color: #a8b324;
    }

    .fogot-pass__link:hover{
        color: #80891b;
    }
</style>
