<template>
  <div class="home-content">
    <div class="overview-boxes">
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Tổng số đơn</div>
          <div class="number">{{totalOrder}}</div>
          <div class="indicator">
            <i class="fas fa-arrow-up"></i>
            <span class="text">Cập nhật từ hôm qua</span>
          </div>
        </div>
        <i class="fas fa-file-invoice cart"></i>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Tổng doanh thu</div>
          <div class="number">{{totalRevenue}}</div>
          <div class="indicator">
            <i class="fas fa-arrow-up"></i>
            <span class="text">Cập nhật từ hôm qua</span>
          </div>
        </div>
        <i class="fas fa-dollar-sign cart two"></i>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Khách hàng</div>
          <div class="number">{{totalUser}}</div>
          <div class="indicator">
            <i class="fas fa-arrow-up"></i>
            <span class="text">Cập nhật từ hôm qua</span>
          </div>
        </div>
        <i class='fas fa-user cart three' ></i>
      </div>
      <div class="box">
        <div class="right-side">
          <div class="box-topic">Đơn hủy</div>
          <div class="number">{{totalRejectOrder}}</div>
          <div class="indicator">
            <i class="fas fa-arrow-down down"></i>
            <span class="text">Cập nhật từ hôm nay</span>
          </div>
        </div>
        <i class="fas fa-times cart four"></i>
      </div>
    </div>
    <div class="container">
      <div class="row mt-5">
        <div class="col-lg-6 col-md-12">
          <h3>Số đơn thành công mỗi tháng</h3>
          <line-chart
            :key="keyLineChart"
            :dataset="datasetLineChart"
          ></line-chart>
        </div>
        <div class="col-lg-6 col-md-12">
          <h3>Số sản phẩm bán được theo loại</h3>
          <pie-chart
            :key="keyPieChart"
            :dataset="datasetPieChart"
          ></pie-chart>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-12 col-md-12">
          <h3>Doanh thu theo từng tháng</h3>
          <bar-chart
            :dataset="datasetBarChart"
            :key="keyBarChart"
          ></bar-chart>
        </div>
        <!-- <div class="col-lg-6 col-md-12">
          <h3>Area Chart</h3>
          <area-chart></area-chart>
        </div> -->
      </div>
    </div>
  </div>
</template>
<script>
import LineChart from '../../../components/chart/LineChart.vue'
import PieChart from '../../../components/chart/PieChart.vue'
import BarChart from '../../../components/chart/BarChart.vue'
import AreaChart from '../../../components/chart/AreaChart.vue'
import DashBoardAPI from '../../../services/dashBoard.service'
export default {
  name: 'App',
  components: {
    LineChart,
    PieChart,
    BarChart,
    AreaChart
  },
  data () {
    return {
      datasetBarChart: {
        labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
        datasets: [
          {
            label: 'Tổng doanh thu theo từng tháng',
            backgroundColor: '#00c3e6',
            data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
          },
          {
            label: 'Tổng đơn bị hủy theo từng tháng',
            backgroundColor: '#ff3c19',
            data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
          }
        ]
      },
      datasetLineChart: {
        labels: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6', 'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
        datasets: [
          {
            label: 'Số đơn thành công',
            backgroundColor: '#f87979',
            pointBackgroundColor: 'white',
            borderWidth: 1,
            pointBorderColor: '#249EBF',
            // Data to be represented on y-axis
            data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
          }
        ]
      },
      datasetPieChart: {
        labels: [],
        datasets: [
          {
            backgroundColor: [],
            data: []
          }
        ]
      },
      backgroundColor: ['#40916C', '#f87979', '#00D8FF', '#FFC233'],
      keyBarChart: 1,
      keyLineChart: 1,
      keyPieChart: 1,
      totalOrder: 0,
      totalRevenue: 0,
      totalUser: 0,
      totalRejectOrder: 0
    }
  },
  mounted () {
    DashBoardAPI.getRevenueData().then(rs => {
      if (rs.code === 200 && rs.data.length > 0) {
        rs.data.forEach(el => {
          this.datasetBarChart.datasets[0].data[el.month - 1] = el.total
        })
        this.keyBarChart = parseInt(Math.random() * 1000)
      }
    })
    DashBoardAPI.getRejectTotalData().then(rs => {
      if (rs.code === 200 && rs.data.length > 0) {
        rs.data.forEach(el => {
          this.datasetBarChart.datasets[1].data[el.month - 1] = el.total
        })
        this.keyBarChart = parseInt(Math.random() * 1000)
      }
    })
    DashBoardAPI.getNumOfOrderByMonth().then(rs => {
      if (rs.code === 200 && rs.data.length > 0) {
        rs.data.forEach(el => {
          this.datasetLineChart.datasets[0].data[el.month - 1] = el.total
        })
        this.keyLineChart = parseInt(Math.random() * 1000)
      }
    })
    DashBoardAPI.getProductTotalOrderByCategory().then(rs => {
      if (rs.code === 200 && rs.data.length > 0) {
        for (let i = 0; i < rs.data.length; i++) {
          this.datasetPieChart.labels.push(rs.data[i].Name)
          this.datasetPieChart.datasets[0].data.push(rs.data[i].Quantity)
          this.datasetPieChart.datasets[0].backgroundColor.push(this.backgroundColor[i % 4])
        }
        this.keyPieChart = parseInt(Math.random() * 1000)
      }
    })
    DashBoardAPI.getParameterTotalOrder().then(rs => {
      if (rs.code === 200) {
        console.log('getParameterTotalOrder', rs.data)
        this.totalOrder = rs.data.total_order[0].Total
      }
    })
    DashBoardAPI.getParameterTotalRevenue().then(rs => {
      if (rs.code === 200) {
        console.log('getParameterTotalRevenue', rs.data)
        this.totalRevenue = rs.data.total_revenue[0].Total
      }
    })
    DashBoardAPI.getParameterTotalUser().then(rs => {
      if (rs.code === 200) {
        console.log('getParameterTotalUser', rs.data)
        this.totalUser = rs.data.total_user[0].total
      }
    })
    DashBoardAPI.getParameterTotalRejectOrder().then(rs => {
      if (rs.code === 200) {
        console.log('getParameterTotalRejectOrder', rs.data)
        this.totalRejectOrder = rs.data.total_reject_order[0].total
      }
    })
  },
  methods: {

  }
}
</script>

<style scoped>
.main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* justify-content: center;
    align-items: center;
    background: #232c33; */
}
.dashboard{
  white-space: nowrap;
}
.home-content .overview-boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
}
.overview-boxes .box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.overview-boxes .box-topic{
  font-size: 20px;
  font-weight: 500;
}
.home-content .box .number{
  display: inline-block;
  font-size: 20 px;
  margin-top: -6px;
  font-weight: 500;
}
.home-content .box .indicator{
  display: flex;
  align-items: center;
}
.home-content .box .indicator i{
  height: 20px;
  width: 20px;
  background: #8FDACB;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 10px;
  margin-right: 5px;
}
.box .indicator i.down{
  background: #e87d88;
}
.home-content .box .indicator .text{
  font-size: 12px;
}
.home-content .box .cart{
  display: inline-block;
  font-size: 10px;
  height: 50px;
  width: 50px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 12px;
  margin: -15px 0 0 6px;
}
.home-content .box .cart.two{
   color: #2BD47D;
   background: #C0F2D8;
 }
.home-content .box .cart.three{
   color: #ffc233;
   background: #ffe8b3;
 }
.home-content .box .cart.four{
   color: #e05260;
   background: #f7d4d7;
 }
.home-content .total-order{
  font-size: 20px;
  font-weight: 500;
}

.picture-colum{
    text-align: center;
}

.center-colum{
    text-align: center;
}

.table_responsive {
  margin: 0 20px;
  max-width: 100%;
  border: 1px solid #00bcd4;
  background-color: #efefef33;
  padding: 15px;
  overflow: auto;
  margin: auto;
  border-radius: 4px;
}

table {
  width: 100%;
  font-size: 13px;
  color: #444;
  white-space: nowrap;
  border-collapse: collapse;
}

table>thead {
  background-color: #00bcd4;
  color: #fff;
}

table>thead th {
  padding: 15px;
}

table th,
table td {
  border: 1px solid #00000017;
  padding: 10px 15px;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: center;
  text-align: center;
}

table>tbody>tr>td>img {
  display: inline-block;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0 2px 6px #0003;
}

.action_btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.action_btn>button {
  text-decoration: none;
  color: #444;
  background: #fff;
  border: 1px solid;
  display: inline-block;
  padding: 7px 20px;
  font-weight: bold;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
}

.action_btn>button:nth-child(1) {
  border-color: #26a69a;
}

.action_btn>button:nth-child(2) {
  border-color: orange;
}

.action_btn>button:hover {
  box-shadow: 0 3px 8px #0003;
}

table>tbody>tr {
  background-color: #fff;
  transition: 0.3s ease-in-out;
}

table>tbody>tr:nth-child(even) {
  background-color: rgb(238, 238, 238);
}

table>tbody>tr:hover{
  filter: drop-shadow(0px 2px 6px #0002);
}

.my-table{
  margin: 0 20px;
}

/* Right box */

/* Responsive Media Query */
@media (max-width: 1150px) {
  .home-content .sales-boxes{
    flex-direction: column;
  }
  .home-content .sales-boxes .box{
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .home-content .sales-boxes .top-sales{
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .overview-boxes .box{
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  .home-content .sales-boxes .sales-details{
    width: 560px;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box{
    width: 100%;
    margin-bottom: 15px;
  }
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
