/* eslint-disable no-tabs */
<template>
    <div class="main">
        <div class="slider" v-if="product">
            <img src="../../../assets/img/slider_shop.jpg" alt="" class="slider-img">
            <div class="slider-main">
                <p class="slider-header">Cửa hàng</p>
                <div class="slider-menu">
                    <a class="slider-home" href="index.html">Trang chủ</a>
                    <i class="fas fa-angle-double-right"></i>
                    <a class="slider-home" href="./shop.html">Cửa hàng</a>
                    <i class="fas fa-angle-double-right"></i>
                    <p class="slider-item">{{product.name ? product.name : ''}}</p>
                </div>
            </div>
        </div>

        <div class="content background-white">
            <div class="my-grid wide">
                <div class="product-content">
                    <div v-if="product" class="product-content__body">
                        <div class="my-row">
                            <div class="my-col my-l-6  my-m-12 my-c-12">
                                <div href="" class="product-content__link">
                                    <!-- <img :src="product.picture" alt="" class="product-content__img"> -->
                                    <zoom-on-hover :img-normal="product.picture" alt="" class="product-content__img"></zoom-on-hover>
                                </div>
                            </div>
                            <div class="my-col my-l-6 my-m-12 my-c-12">
                                <div class="product-content__main">
                                    <p class="product-content__status">{{ product.category.recordStatus == 1 || product.recordStatus == 1 ? "Ngừng kinh doanh" :  product.quantity > 0 ? 'Trong kho' : "Hết hàng"  }}</p>
                                    <p class="product-content__name">{{product.name ? product.name : ''}}</p>
                                    <div class="shop-body__rating">
                                        <i class="shop-body__star-gold fas fa-star" v-for="index in product.star" :key="`star${index}`"></i>
                                                <i class="fas fa-star" v-for="index in 5 - product.star" :key="`unstar${index}`"></i>
                                    </div>
                                    <span class="product-content__price"><span class="gia-km">Giá niêm yết</span> <span class="product-content__num" :class="product.discountPrice && distanceBetweenToDate(product.expirationDiscountDate) >= 0 ? 'line-through' : ''">{{product.price}} VNĐ</span><span class="product-content__unit"> / {{product.unit}}</span></span>
                                    <span class="product-content__price" v-if="product.discountPrice && distanceBetweenToDate(product.expirationDiscountDate) >= 0"><span class="gia-km">Giá khuyến mãi chỉ</span> <span class="product-content__num">{{product.discountPrice && distanceBetweenToDate(product.expirationDiscountDate) >= 0 ? product.discountPrice : product.price}} VNĐ</span><span class="product-content__unit"> / {{product.unit}}</span></span>
                                    <p class="product-content__description">
                                        {{product.description}}
                                    </p>
                                    <p class="product-content__quantity">
                                        <i class="far fa-smile"></i> Còn lại <span class="roduct-content__quantity-num">{{product.quantity}}</span> mặt hàng
                                    </p>
                                    <div class="number-and-add">
                                        <input class="number-of-product" :class="product.category.recordStatus == 1 || product.recordStatus == 1 ? 'btn-disabled' : ''" v-model="numberAdded" type="number" name="" id="" step="1" min="1" :max="product.quantity" value="1" size="4" placeholder="" inputmode="numeric">
                                        <button class="product-content__add" :class="product.category.recordStatus == 1 || product.recordStatus == 1 ? 'btn-disabled' : ''" @click="addProductToCart(product)">
                                            {{product.category.recordStatus == 1 || product.recordStatus == 1 ? "Ngừng kinh doanh" : "Thêm vào giỏ hàng"}}
                                        </button>
                                    </div>
                                    <div class="group-product-button">
                                        <button class="product-content__heart" :class="product.category.recordStatus == 1 || product.recordStatus == 1 ? 'btn-disabled' : ''" @click="addProductToFavoriteProduct(product)">
                                            <i class="far fa-heart"></i> Thêm vào danh sách yêu thích
                                        </button>
                                        <button class="product-content__heart" :class="product.category.recordStatus == 1 || product.recordStatus == 1 ? 'btn-disabled' : ''" @click="showTable(),addProductToProductComputed(product)">
                                            <i class="fas fa-store"></i> So sánh
                                        </button>
                                    </div>
                                </div>
                                <div class="product-content__footer">
                                    <span class="product-content__id">Mã sản phẩm : </span>
                                    <span class="product-content__id-num">{{product.code}}</span>

                                    <div class="product-content__categorys">
                                        <span class="product-content__categorys-name">Loại sản phẩm : </span>
                                        <a href="" @click="searchByCategory(product.category.id)" class="product-content__categorys-link">{{product.category ? product.category.name : ''}}</a>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="comment-of-user">
                        <div class="product-connection__heading">
                            <p class="product-connection__heading-text">Đánh giá sản phẩm (<span class="total-number-comment">{{this.totalComment}}</span>)</p>
                        </div>
                        <div class="comment-of-user-main">
                            <div class="my-row">
                                <div class="my-col my-l-6  my-m-12 my-c-12">
                                    <div class="comment-of-user-left">
                                        <p class="no-comment" v-if="totalComment === 0">Không có đánh giá nào được tìm thấy</p>
                                        <ul class="list-comment">
                                            <li class="user-comment" v-for="comment in commentList" :key="comment.id">
                                                <div class="my-row">
                                                    <div class="my-col my-l-2  my-m-2 my-c-2">
                                                        <div class="user-avata">
                                                            <img :src="comment.user.avatar" alt="" class="user-avata-img">
                                                        </div>
                                                    </div>
                                                    <div class="my-col my-l-10  my-m-10 my-c-10">
                                                        <div class="user-comment-body">
                                                            <div class="user-list-start">
                                                                <i class="shop-body__star-gold fas fa-star" v-for="star in comment.star" :key="`${star}gold`"></i>
                                                                <i class="fas fa-star" v-for="star in (5 - +comment.star)" :key="`${star}no-gold`"></i>
                                                            </div>
                                                        </div>
                                                        <p class="user-name">{{`${comment.user.firstName} ${comment.user.lastName}`}}</p>
                                                        <p class="day-comment-of-user">{{ comment.commentDate}}</p>
                                                        <div class="user-comment-text">
                                                            {{comment.commentContent}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="my-col my-l-6 my-m-12 my-c-12">
                                    <div class="comment-of-user-right">
                                        <p class="comment-right-header">Vui lòng để lại đánh giá(bình luận) về sản phẩm của bạn ở đây. Nghiêm cấm sử dụng các từ ngữ thô tục và không hợp lệ. Các phần có chứ dấu <span class="start-important">(*)</span> là những phần bắt buộc phải điền vào hoặc chọn.</p>
                                        <div class="comment-item ratting-star">
                                            <p class="comment-item-header">Vui lòng đánh giá số sao dựa trên sự hài lòng của bạn <span class="start-important">(*)</span></p>
                                            <div class="center">
                                                <div class="stars">
                                                  <input type="radio" id="five" v-model="commentStar" name="rate" value="5">
                                                  <label for="five"></label>
                                                  <input type="radio" id="four" v-model="commentStar" name="rate" value="4">
                                                  <label for="four"></label>
                                                  <input type="radio" id="three" v-model="commentStar" name="rate" value="3">
                                                  <label for="three"></label>
                                                  <input type="radio" id="two" v-model="commentStar" name="rate" value="2">
                                                  <label for="two"></label>
                                                  <input type="radio" id="one" v-model="commentStar" name="rate" value="1">
                                                  <label for="one"></label>
                                                  <span class="result"></span>
                                                </div>
                                             </div>
                                        </div>
                                        <div class="comment-item">
                                            <p class="comment-item-header">Vui lòng để lại bình luận dựa trên những trải nghiệm của bạn <span class="start-important">(*)</span></p>
                                            <textarea v-model="commentContent" cols="45" rows="8" required="" class="body-coment"></textarea>
                                        </div>
                                        <button @click="onBtnSubmitClick()" class="submit-comment-btn">Gửi</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal">
            <div class="modal-container">
                <div class="table-de-so-sanh-main">
                    <div class="table-de-so-sanh">
                        <table class="table-sosanh">
                            <thead>
                                <tr>
                                    <th>
                                    </th>
                                    <th v-for="item in productComputed" :key="item.id">
                                        <a href="" class="link-sp-in-table">{{item.name}}</a>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="image-table-sosanh">
                                    <td class="td-label">
                                        Ảnh
                                    </td>
                                    <td v-for="item in productComputed" :key="item.id">
                                        <img :src="item.picture" alt="" class="img-product-table">
                                    </td>
                                </tr>
                                <tr class="id-product-table-sosanh">
                                    <td class="td-label">
                                        Mã sản phẩm
                                    </td>
                                    <td v-for="item in productComputed" :key="item.id">
                                        <p class="product-id-item">{{item.code}}</p>
                                    </td>
                                </tr>
                                <tr class="id-product-table-sosanh">
                                    <td class="td-label">
                                        Giá
                                    </td>
                                    <td v-for="item in productComputed" :key="item.id">
                                        <span class="price-table-item">
                                            <span class="price-money-in-table">{{item.price}}</span>VNĐ
                                        </span>
                                    </td>
                                </tr>
                                <tr class="id-product-table-sosanh">
                                    <td class="td-label">
                                        Tình trạng
                                    </td>
                                    <td v-for="item in productComputed" :key="item.id">
                                        <p class="status-table-item">Còn hàng</p>
                                    </td>
                                </tr>
                                <tr class="image-table-sosanh">
                                    <td class="td-label">
                                        Đánh giá
                                    </td>
                                    <td v-for="item in productComputed" :key="item.id">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Star_rating_4_of_5.png" alt="" class="img-start">
                                    </td>
                                </tr>
                                <tr class="id-product-table-sosanh">
                                    <td class="td-label">
                                        Thao tác
                                    </td>
                                    <td v-for="item in productComputed" :key="item.id">
                                        <button @click="addProductToCart(item)" class="status-table-item-btn">Mua</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="btn-close">
                        <button @click="HideTable()" class="btn-close-main">x</button>
                    </div>
                </div>
                <div class="group-btn-table">
                    <div class="group-btn-table-left">
                        <!-- <button class="btn-in-group">
                            <i class="fas fa-plus"></i>
                        </button> -->
                    </div>
                    <div class="group-btn-table-right">
                        <div class="group-btn-table-img">
                            <div v-for="item in productComputed" :key="item.id" class="group-btn-table-img-item">
                                <img :src="item.picture" alt="" class="group-btn-table-image">
                                <button @click="removeProductComputedItem(item.id)" class="btn-delete-product-img">
                                    x
                                </button>
                            </div>
                        </div>
                        <button class="btn-compare">So sánh</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import ProductService from '../../../services/product.service'
import CommentService from '../../../services/comment.service'
import notification from '../../../utils/notification'
import moment from 'moment'
import ZoomOnHover from 'vue-zoom-on-hover'
import Vue from 'vue'
// import { ENTITY_STATE } from '../../../constant/index.js'
Vue.use(ZoomOnHover)
export default ({
  name: 'Product',
  components: {
  },
  data () {
    return {
      product: null,
      numberAdded: 1,
      commentStar: 1,
      commentContent: '',
      pageNum: 1,
      pageSize: 10,
      commentList: [],
      totalComment: 0,
      distanceBetweenToDate: (endDate) => {
        return Math.ceil((new Date(endDate).getTime() - new Date().getTime()) / (1000 * 3600 * 24))
      }
    }
  },
  mounted () {
    this.loadData()
  },
  computed: {
    currentUser () {
      return this.$store.getters['user/currentUser']
    },
    productComputed () {
      return this.$store.getters['productComputed/productComputed']
    }
  },
  methods: {
    loadData () {
      const id = this.$route.query.productId
      if (id) {
        ProductService.getProductById(id).then(rs => {
          console.log('product', rs)
          this.product = rs
        })
        CommentService.getCommentByProductId(id, this.pageNum, this.pageSize).then(rs => {
          this.commentList = rs.data
          this.commentList.forEach(el => {
            el.commentDate = moment(el.commentDate).add(7, 'hours').fromNow()
          })
          this.totalComment = rs.totalElements
        })
      } else {
        ProductService.getProductById(1).then(rs => {
          this.product = rs
        })
        CommentService.getCommentByProductId(1, this.pageNum, this.pageSize).then(rs => {
          this.commentList = rs.data
          this.commentList.forEach(el => {
            el.commentDate = moment(el.commentDate).add(7, 'hours').fromNow()
          })
          this.totalComment = rs.totalElements
        })
      }
    },
    showTable () {
      const modal = document.querySelector('.modal')
      modal.classList.add('open')
    },
    HideTable () {
      const modal = document.querySelector('.modal')
      modal.classList.remove('open')
    },
    addProductToCart (item) {
      let data = {
        ...item,
        id: item.id,
        name: item.name,
        picture: item.picture,
        code: item.code,
        price: item.price,
        quantity: parseInt(this.numberAdded)
      }
      console.log('addProductToCart', data)
      this.$store.dispatch('cart/addProduct', data)
    },
    addProductToProductComputed (item) {
      let data = {
        id: item.id,
        name: item.name,
        picture: item.picture,
        code: item.code,
        price: item.price,
        quantity: parseInt(this.numberAdded),
        rate: item.star
      }
      console.log('addProductToComputed', data)
      this.$store.dispatch('productComputed/addProductComputed', data)
    },
    removeProductComputedItem (productId) {
      this.$store.dispatch('productComputed/deleteProductComputed', productId)
    },
    addProductToFavoriteProduct (item) {
      if (!this.currentUser.id) {
        notification.error('Bạn phải đăng nhập để thực hiện chức năng này')
        return
      }
      let userId = this.currentUser.id
      let data = {
        userId: userId,
        productId: item.id
      }
      this.$store.dispatch('favoriteProduct/likeOrUnlike', data)
    },
    onBtnSubmitClick () {
      if (!this.currentUser.id) {
        notification.warning('Bạn phải đăng nhập để thực hiện chức năng này')
        this.$router.push({path: '/login'})
      }
      let data = {
        'star': this.commentStar,
        'commentDate': new Date(),
        'commentContent': this.commentContent,
        'userId': this.currentUser.id,
        'productId': this.product.id
      }
      CommentService.addComment(data).then(rs => {
        if (rs.code === 200) {
          notification.success('Đánh giá thành công')
          CommentService.getCommentByProductId(this.product.id, this.pageNum, this.pageSize).then(rs => {
            this.commentList = rs.data
            this.commentList.forEach(el => {
              el.commentDate = moment(el.commentDate).add(7, 'hours').fromNow()
            })
            this.totalComment = rs.totalElements
            this.commentStar = 1
            this.commentContent = ''
          })
        }
      })
    },
    searchByCategory (id) {
      const categoryId = this.$route.query.category
      if (categoryId && parseInt(categoryId) === id) {
        return
      }
      this.$router.push({path: `/shop?searchMode=category&category=${id}`})
    }
  }
})
</script>

<style scoped>
.line-through{
    text-decoration: line-through;
}
.gia-km{
    font-size: 14px;
    color: #0a472e;
}
    .btn-disabled{
        pointer-events: none;
        opacity: 0.5;
        user-select: none;
    }
    .product-content__unit{
        color: #0A472E;
        font-size: 20px;
    }
    .slider-main{
        position: absolute;
        top: 10px;
        left: 5%;
    }

    .slider-header{
        text-transform: capitalize;
        color: #0a472e;
        font-size: 40px;
        max-width: 850px;
        margin-bottom: 5px;
        font-weight: 700;
    }

    .slider-menu{
        display: flex;
        align-items: center;
    }

    .slider-home{
        font-size: 14px;
        color: #999;
        text-decoration: none;
        margin-right: 5px;
    }

    .slider-home:hover{
        color: #a8b324;
    }

    .slider-item{
        font-size: 14px;
        color: #000;
        text-decoration: none;
        margin-left: 5px;
        margin-top: 15px;
    }

    .product-content{
    margin: 50px 0;
    }

    .product-content__body{

    }

    .product-content__link{
        display: block;
        border: 1px solid #eaeaea;
    }

    .product-content__img{
        width: 100%;
    }

    .product-content__main{
        margin-left: 30px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 30px;
    }

    .product-content__status{
        font-size: 10px;
        text-transform: uppercase;
        display: inline-block;
        padding: 5px 10px;
        color: #000;
        background: #defaf2;
        line-height: 1;
    }

    .product-content__name{
        font-size: 30px;
        line-height: 1.2;
        color: #0a472e;
        margin: 10px 0 20px;
        font-weight: 700;
    }

    .product-content__price{
        display: block;
        font-size: 24px;
        margin: 15px 0;
        font-weight: 700;
        color: #a8b324;
    }

    .product-content__description{
        color: #555;
        font-size: 14px;
        text-align: justify;
        margin-right: 20px;
    }

    .product-content__quantity{
        font-size: 15px;
        color: #333;
        font-weight: 500;
        margin-top: 10px;
    }

    .number-and-add{
        padding-bottom: 20px;
    }

    .number-of-product{
        width: 100px;
        border-radius: 30px;
        padding: 10px 15px;
        text-align: left;
        font-size: 18px;
        color: #0a472e;
        border: 1px solid;
        border-color: #ebebeb;
        outline: 0;
    }

    .product-content__add{
        padding: 10px 20px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 2.5;
        font-size: 12px;
        white-space: nowrap;
        max-width: 200px;
        border-radius: 30px;
        background-color: #a8b324;
        margin-left: 20px;
        text-decoration: none;
        color: #fff;
        border: none;
    }

    .product-content__add:hover{
        background-color: #80891B;
    }

    .product-content__heart{
        text-decoration: none;
        color: #333;
        font-size: 14px;
        border: none;
        outline: none;
        background: transparent;
    }

    .product-content__heart:hover{
        color: #a8b324;
    }

    .product-content__footer{
        margin-left: 30px;
        margin-top: 30px;
    }

    .product-content__id{
        font-size: 13px;
        color: #333;
    }

    .product-content__id-num{
        font-size: 13px;
        color: #999;
    }

    .product-content__categorys{
        margin-top: 10px;
    }

    .product-content__categorys-name{
        font-size: 13px;
        color: #333;
    }

    .product-content__categorys-link{
        font-size: 13px;
        color: #999;
        text-decoration: none;
    }

    .product-content__categorys-link:hover{
        color: #a8b324;
    }
    /*************************/
    .cart-button {
        position: relative;
        padding: 10px;
        width: 100%;
        height: 60px;
        border: 0;
        border-radius: 10px;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        color: #a8b324;
        transition: .3s ease-in-out;
        overflow: hidden;
        font-size: 16px;

    }
    .cart-button:hover {
        background-color: transparent;
    }
    .cart-button:active {
        transform: scale(.9);
    }

    .cart-button .fa-shopping-cart {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: -10%;
        font-size: 2em;
        transform: translate(-50%,-50%);
    }
    .cart-button .fa-box {
        position: absolute;
        z-index: 3;
        top: -20%;
        left: 52%;
        font-size: 1.2em;
        transform: translate(-50%,-50%);
    }
    .cart-button span {
        z-index: 3;
        left: 50%;
        top: 50%;
        font-size: 1.2em;
        color: #a8b324;
        transform: translate(-50%,-50%);
        text-align: center;
    }

    .cart-button .added{
        position: absolute;
        z-index: 3;
        left: 50%;
        top: 50%;
        font-size: 1.2em;
        color: #a8b324;
        transform: translate(-50%,-50%);
    }
    .cart-button span.add-to-cart {
        opacity: 1;
    }
    .cart-button span.added {
        opacity: 0;
    }

    .cart-button.clicked .fa-shopping-cart {
        animation: cart 1.5s ease-in-out forwards;
    }
    .cart-button.clicked .fa-box {
        animation: box 1.5s ease-in-out forwards;
    }
    .cart-button.clicked span.add-to-cart {
        animation: txt1 1.5s ease-in-out forwards;
    }
    .cart-button.clicked span.added {
        animation: txt2 1.5s ease-in-out forwards;
    }
    @keyframes cart {
        0% {
            left: -10%;
        }
        40%, 60% {
            left: 50%;
        }
        100% {
            left: 110%;
        }
    }
    @keyframes box {
        0%, 40% {
            top: -20%;
        }
        60% {
            top: 40%;
            left: 52%;
        }
        100% {
            top: 40%;
            left: 112%;
        }
    }
    @keyframes txt1 {
        0% {
            opacity: 1;
        }
        20%, 100% {
            opacity: 0;
        }
    }
    @keyframes txt2 {
        0%, 80% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .product-connection{
        margin-top: 120px;
    }

    .product-connection__heading{
        text-align: center;
    }

    .product-connection__heading-text{
        font-size: 30px;
        color: #0a472e;
        font-weight: 700;
    }

    /*****************COMMENT***************/
    .comment-of-user{
        margin-top: 100px ;
    }
    .comment-of-user-left{

    }

    .list-comment{
        list-style: none;
        padding: 0;
        /* overflow-y: auto; */
        /* overflow-x: unset; */
        overflow-x:hidden;
        overflow-y:auto;
        max-height: 600px;
    }

    .user-comment{
        margin-bottom: 50px;
    }

    .user-avata{

    }

    .user-avata-img{
        width: 100%;
    }

    .user-comment-body{

    }

    .user-list-start{
        font-size: 10px;
        color: #999;
    }

    .user-name{
        color: #0a472e;
        font-weight: 700;
        margin: 8px 0 10px;
        font-size: 16px;
    }

    .day-comment-of-user{
        color: #999;
        font-size: 12px;
        margin: 5px 0 8px;
    }

    .user-comment-text{
        color: #333;
        font-size: 14px;
        text-align: justify;
        line-height: 1.6;
    }

    .comment-of-user-right{
        margin-left: 20px;
    }

    .comment-right-header{
        color: #555555;
        font-size: 14px;
        line-height: 1.4;
        margin-right: 10px;
        text-align: justify;
    }

    .comment-item-header{
        color: #555555;
        font-size: 14px;
        line-height: 1.4;
    }

    .ratting-star{
        position: relative;
        height: 80px;
    }

    .start-important{
        color: #d62828;
    }

    .body-coment{
        overflow: auto;
        vertical-align: top;
        width: 96%;
        padding: 10px 15px;
        color: #555;
        border-width: 1px;
        border-style: solid;
        border-color: #ebebeb;
        -webkit-appearance: none;
        box-sizing: border-box;
        font-weight: 400;
        border-radius: 3px;
        outline: 0;
        line-height: 1.8;
        font-size: 14px;
    }

    .body-coment:focus{
        border: 1px solid #000;
    }

    .submit-comment-btn{
        padding: 15px 30px;
        margin-top: 30px;
        border: none;
        color: #fff;
        background-color: #a8b324;
        font-size: 15px;
        font-weight: 700;
        border-radius: 5px;
    }

    .submit-comment-btn:hover{
        cursor: pointer;
        background-color: #80891b;
    }

    .center{
        position: absolute;
        top: 45%;
        left: 0;
        transform: translate(-50%, -50%);
    }
    .center .stars{
        height: 20px;
        width: 500px;
        text-align: center;
    }
    .stars input{
        display: none;
    }
    .stars label{
        float: right;
        font-size: 20px;
        color: lightgrey;
        margin: 0 5px;
        text-shadow: 1px 1px #bbb;
    }
    .stars label:before{
        content: '★';
    }
    .stars input:checked ~ label{
        color: gold;
        text-shadow: 1px 1px #c60;
    }
    .stars:not(:checked) > label:hover,
    .stars:not(:checked) > label:hover ~ label{
        color: gold;
    }
    .stars input:checked > label:hover,
    .stars input:checked > label:hover ~ label{
        color: gold;
        text-shadow: 1px 1px goldenrod;
    }
    .stars .result:before{
        position: absolute;
        content: "";
        width: 100%;
        left: 85%;
        transform: translateX(-47%);
        bottom: -25px;
        font-size: 14px;
        font-weight: 500;
        color: gold;
        font-family: 'Poppins', sans-serif;
        display: none;
    }
    .stars input:checked ~ .result:before{
        display: block;
    }
    .stars #five:checked ~ .result:before{
        content: "Sản phẩm tuyệt vời";
    }
    .stars #four:checked ~ .result:before{
        content: "Sản phẩm tốt ";
    }
    .stars #three:checked ~ .result:before{
        content: "Sản phẩm phù hợp với tôi";
    }
    .stars #two:checked ~ .result:before{
        content: "Sản phẩm không phù hợp với tôi ";
    }
    .stars #one:checked ~ .result:before{
        content: "Sản phẩm tệ ";
    }

    .list-start-product{
        display: flex;
        transform: translate(0%, 0%);
        justify-content: center;
        flex-direction: row-reverse;
        margin-top: 10px;
    }

    .list-start-product input{
        display: none;
        margin: 0 5px;
    }

    .list-start-product label{
        display: block;
        cursor: pointer;
        width: 15x;
        /* background: #ccc; */
        margin: 0 1px;

    }

    .list-start-product label::before{
        content: '\f005';
        font-family: fontAwesome;
        position: relative;
        display: block;
        font-size: 15px;
        color: #ccc;
    }

    .list-start-product label::after{
        content: '\f005';
        font-family: fontAwesome;
        position: absolute;
        display: block;
        font-size: 15px;
        color: #ffd500;
        top : 0;
        opacity: 0;
        transition: 0.5s;
    }

    .list-start-product label:hover::after,
    .list-start-product label:hover ~ label::after,
    .list-start-product label:checked ~label:after{
        opacity: 1;
    }

    .list-market-products {
        --spacing: 20px;
        --columns: 4;
        display: flex;
        flex-wrap: wrap;
        margin-left: calc(-1 * var(--spacing));
        justify-content: flex-start;
    }
    @media screen and (max-width: 1023px) {
        .list-market-products {
        --columns: 2;
        }
    }
    @media screen and (max-width: 767px) {
        .list-market-products {
        --spacing: 15px;
        --columns: 1;
        }
    }

    .market-product-item {
        text-align: center;
        border-radius: 20px;
        overflow: hidden;
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 20px 0px;
        width: calc(calc(100% / var(--columns)) - var(--spacing));
        margin-left: var(--spacing);
        margin-bottom: var(--spacing);
    }

    .market-product-img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        flex-shrink: 0;
    }

    .market-product-top {
        padding: 0 25px 25px;
    }

    .market-product-name {
        margin-top: 20px;
        font-weight: 500;
        margin-bottom: 15px;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
        font-size: 14px;
    }

    .market-product-name:hover{
        color: #a8b324;
        cursor: pointer;
    }

    .market-product-money{
        margin-top: auto;
        flex-shrink: 0;
    }

    .market-product-money-text{
        margin: auto;
        font-size: 16px;
        color: #a8b324;
        font-weight: 700;
    }

    .market-product-bottom {
        padding: 5px;
        border-top: 1px solid #eee;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .market-product-content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    .market-product-top {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .market-product-bottom {
        margin-top: auto;
        flex-shrink: 0;
    }
    .market-product-item {
        display: flex;
        flex-direction: column;
    }

    .market-product-btn{
        width: 100%;
        background: transparent;
        border: none;
        cursor: pointer;
    }
    /*************************/
    .cart-button {
        position: relative;
        padding: 10px;
        width: 100%;
        height: 60px;
        border: 0;
        border-radius: 10px;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        color: #a8b324;
        transition: .3s ease-in-out;
        overflow: hidden;
        font-size: 16px;

    }
    .cart-button:hover {
        background-color: transparent;
    }
    .cart-button:active {
        transform: scale(.9);
    }

    .cart-button .fa-shopping-cart {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: -10%;
        font-size: 2em;
        transform: translate(-50%,-50%);
    }
    .cart-button .fa-box {
        position: absolute;
        z-index: 3;
        top: -20%;
        left: 52%;
        font-size: 1.2em;
        transform: translate(-50%,-50%);
    }
    .cart-button span {
        z-index: 3;
        left: 50%;
        top: 50%;
        font-size: 1.2em;
        color: #a8b324;
        transform: translate(-50%,-50%);
        text-align: center;
    }

    .cart-button .added{
        position: absolute;
        z-index: 3;
        left: 50%;
        top: 50%;
        font-size: 1.2em;
        color: #a8b324;
        transform: translate(-50%,-50%);
    }
    .cart-button span.add-to-cart {
        opacity: 1;
    }
    .cart-button span.added {
        opacity: 0;
    }

    .cart-button.clicked .fa-shopping-cart {
        animation: cart 1.5s ease-in-out forwards;
    }
    .cart-button.clicked .fa-box {
        animation: box 1.5s ease-in-out forwards;
    }
    .cart-button.clicked span.add-to-cart {
        animation: txt1 1.5s ease-in-out forwards;
    }
    .cart-button.clicked span.added {
        animation: txt2 1.5s ease-in-out forwards;
    }
    @keyframes cart {
        0% {
            left: -10%;
        }
        40%, 60% {
            left: 50%;
        }
        100% {
            left: 110%;
        }
    }
    @keyframes box {
        0%, 40% {
            top: -20%;
        }
        60% {
            top: 40%;
            left: 52%;
        }
        100% {
            top: 40%;
            left: 112%;
        }
    }
    @keyframes txt1 {
        0% {
            opacity: 1;
        }
        20%, 100% {
            opacity: 0;
        }
    }
    @keyframes txt2 {
        0%, 80% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .no-comment{
        margin-left: 20px;
    }
    @media (max-width: 1024px){
        .slider-menu{
            display: none;
        }
    }

    /****************************** */
    .modal{
    position: fixed;
    top : 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99999999;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open{
    display: flex;
}

.modal-container{
    position: relative;
    background-color: #fbfbfb;
    width: calc(100% - 20px);
    min-height: calc(100vh - 150px);
    max-height: calc(100vh - 140px);
    padding: 20px 15px;
}

.table-de-so-sanh{
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    max-height: calc(100vh - 160px);
    padding: 10px;
    position: relative;
}

.table-de-so-sanh::-webkit-scrollbar {
    width: 6px;
    background-color: #C0D8C0;
    border-radius: 5px;
}
.table-de-so-sanh::-webkit-scrollbar-thumb {
    background-color: #0a472e;
    height: 2px;
    border-radius: 5px;
}

.table-de-so-sanh::-webkit-scrollbar-track {
    background-color: #C0D8C0;
    border-radius: 5px;
}

.table-sosanh{
    border-spacing: 0;
    border-collapse: collapse;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 6;
}

.table-sosanh thead tr th{
    background-color: rgb(247, 247, 247);
    position: relative;
    top: 0px;
    position: relative;
    border-collapse: collapse;
    z-index: 8!important;
    text-transform: uppercase;
    padding: 15px 15px 15px 0;
    margin: 0;
    width: auto;
    min-width: 200px;
    max-width: 300px;
    vertical-align: middle;
    color: #43454b;
    font-weight: 700;
    text-align: center;
    background-color: #f7f7f7;
    border: none;
    border-image-width: 0;
}

.table-de-so-sanh-main{
    position: relative;
}

.btn-close{
    position: absolute;
    top: -25px;
    right: 0px;
    z-index: 99;
}

.btn-close-main{
    padding: 3px 12px;
    background-color: transparent;
    color: #FC4F4F;
    font-size: 25px;
    font-weight: 700;
    border: 2px;
    cursor: pointer;
}

.link-sp-in-table{
    color: #A3DA8D;
    text-decoration: none;
}

.link-sp-in-table:hover{
    color: #a8b324;
}

.btn-delete-product-img{
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 14px;
    color: #fff;
    padding: 0 5px;
    text-align: center;
    margin: 0;
    border: none;
    background-color: #000;
    display: none;
}

.btn-delete-product-img:hover{
    background-color: #FC4F4F;
}

.table-sosanh thead tr {
    border: none;
    margin: 0;
    padding: 0;
}

.table-sosanh tbody tr {
    border: none;
    margin: 0;
    padding: 0;
}

.table-sosanh tbody tr .td-label{
    position: relative;
    border-collapse: collapse;
    padding: 15px 15px 15px 0;
    vertical-align: middle;
    text-align: left;
    width: auto;
    min-width: 200px;
    max-width: 300px;
    color: #43454b;
    font-weight: 400;
    border: none;
    z-index: 6;
    border-image-width: 0;
}

.table-sosanh tbody tr td{
    position: relative;
    border-collapse: collapse;
    padding: 15px 15px 15px 0;
    vertical-align: middle;
    text-align: center;
    width: auto;
    min-width: 200px;
    max-width: 300px;
    color: #43454b;
    font-weight: 400;
    border: none;
    z-index: 6;
    border-image-width: 0;
}

.table-sosanh tbody tr:nth-child(2n){
    background-color: #fff;
}

.table-sosanh tbody tr:hover{
    background-color: #fbfbfb;
}

.img-product-table{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    height: auto;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: none;}

.img-start{
    width: 50%;
}

/*******************************/
.group-btn-table{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
    bottom: -60px;
}

.group-btn-table-left{

}

.status-table-item-btn{
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    background: 0 0;
    background-color: #a8b324;
    border-color: #a8b324;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    text-shadow: none;
    display: inline-block;
    -webkit-appearance: none;
    font-weight: 700;
}

.btn-in-group{
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    margin: 0 10px 0 0;
    cursor: pointer;
    background-color: #3f4045;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    color: #fff;
    border: none;
}

.group-btn-table-right{
    display: flex;
}

.group-btn-table-img{
    display: flex;
}

.group-btn-table-img-item{
    position: relative;
    margin: 0 5px;
}

.group-btn-table-img-item:hover .btn-delete-product-img{
    display: block;
}

.group-btn-table-image{
    height: 48px;
}

.btn-compare{
    height: 48px;
    line-height: 48px;
    padding: 0 20px 0 20px;
    position: relative;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: #00a0d2;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    order: 1;
    margin-left: 15px;
    cursor: pointer;
    border: none;
}
</style>
