<template>
    <div class="main">
        <!-- <app-header ref="header"/> -->
        <div class="slider">
            <img src="../../../assets/img/slider_shop.jpg" alt="" class="slider-img">
            <!-- ../../assets/img/slider_shop.jpg -->
            <div class="slider-main">
                <p class="slider-header">Cửa hàng</p>
                <div class="slider-menu hide-on-mobile-tablet">
                    <a class="slider-home" href="index.html">Trang chủ</a>
                    <i class="fas fa-angle-double-right"></i>
                    <p class="slider-item">Cửa hàng</p>
                </div>
            </div>
        </div>

        <div class="content background-white">
            <div class="my-grid wide">
                <div class="your-maket">
                    <div class="my-row">
                        <div class="my-col my-l-3">
                            <div class="maket-left hide-on-mobile-tablet">
                                <p class="maket-left__header">
                                    Danh Mục
                                </p>
                                <div class="maket-left__category">
                                    <ul class="maket-left__list">
                                        <li class="maket-left__item" v-for="item in listCategories" :key="item.category.id">
                                            <a @click="searchByCategory(item.category.id)" class="maket-left__link">
                                                <i class="maket-left__icon fas fa-caret-right"></i> {{item.category.name}}
                                                <span class="market-left__item-num">({{item.quantity}})</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="my-col my-l-9">
                            <div class="maket-right">
                                <div class="content-shop__header">
                                    <div class="show-and-sort">
                                        <div class="showing-text">
                                            Hiển thị {{numberOfItemshowed}} sản phẩm trong tổng số <span class="showing-number">{{totalElements}}</span> sản phẩm
                                        </div>

                                        <div class="content-sort">
                                            <!-- <select name="orderby" class="orderby">
                                                <option value="menu_order" selected="selected">Sắp xếp mặc định</option>
                                                <option value="popularity">Sắp xếp theo mức độ nổi tiếng</option>
                                                <option value="rating">Sắp xếp theo đánh giá sao</option>
                                                <option value="date">Sắp xếp theo ngày</option>
                                                <option value="price">Sắp xếp theo từ thấp đến cao</option>
                                                <option value="price-desc">Sắp xếp theo từ cao đến thấp</option>
                                            </select> -->
                                        </div>

                                    </div>
                                </div>

                                <div class="maket-right__body">
                                    <p v-if="totalElements === 0">Không có sản phẩm nào được tìm thấy</p>
                                    <div class="list-market-products">
                                        <div class="market-product-item" v-for="item in listProduct" :key="item.id">
                                            <img :src="item.picture" alt="" class="market-product-img" @click="redirectToProductDetail(item.id)">
                                            <div class="shop-body__rating">
                                                <i class="shop-body__star-gold fas fa-star" v-for="index in item.star" :key="`star${index}`"></i>
                                                <i class="fas fa-star" v-for="index in 5 - item.star" :key="`unstar${index}`"></i>
                                            </div>
                                            <div class="market-product-content">
                                                <div class="market-product-top">
                                                    <h3 class="market-product-name" @click="redirectToProductDetail(item.id)">{{item.name}}</h3>
                                                    <div class="market-product-money">
                                                        <p class="market-product-money-text"><span class="shop-body__num">{{item.discountPrice && distanceBetweenToDate(item.expirationDiscountDate) >= 0 ? item.discountPrice : item.price}}</span>VNĐ</p>
                                                    </div>
                                                </div>
                                                <div class="market-product-bottom">
                                                    <button class="cart-button" @click="addProductToCart($event,item)">                                                        <span class="add-to-cart">Thêm vào giỏ hàng</span>
                                                        <span class="added">Đã thêm </span>
                                                        <i class="fas fa-shopping-cart"></i>
                                                        <i class="fas fa-box"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="content-shop__footer">
                                    <div v-if="totalPage > 0" class="number-pages">
                                        <ul v-if="(pageNumber == 1 && totalPage < 3) || (pageNumber == totalPage && totalPage < 3)" class="number-pages__list">
                                            <li class="number-pages__item"  @click="prevPage">
                                                <div  class="number-pages__link-first">
                                                    Trang trước
                                                </div>
                                            </li>
                                            <li v-for="i in totalPage" :key="i" class="number-pages__item" @click="onPageChange(i)">
                                                <div  class="number-pages__link" :class="i == pageNumber ? 'number-pages__link-active': ''">
                                                    {{i}}
                                                </div>
                                            </li>
                                            <li class="number-pages__item" @click="nextPage">
                                                <div  class="number-pages__link-last">
                                                    Trang sau
                                                </div>
                                            </li>
                                        </ul>
                                        <ul v-else-if="pageNumber == 1 && totalPage >= 3" class="number-pages__list">
                                            <li class="number-pages__item"  @click="prevPage">
                                                <div  class="number-pages__link-first">
                                                    Trang trước
                                                </div>
                                            </li>
                                            <li v-for="i in 3" :key="i" class="number-pages__item" @click="onPageChange(i)">
                                                <div  class="number-pages__link" :class="i == pageNumber ? 'number-pages__link-active': ''">
                                                    {{i}}
                                                </div>
                                            </li>
                                            <li  class="number-pages__item" @click="nextPage">
                                                <div  class="number-pages__link">
                                                    ...
                                                </div>
                                            </li>
                                            <li class="number-pages__item" @click="nextPage">
                                                <div  class="number-pages__link-last">
                                                    Trang sau
                                                </div>
                                            </li>
                                        </ul>
                                        <ul v-else-if="pageNumber == totalPage && totalPage >= 3" class="number-pages__list">
                                            <li class="number-pages__item"  @click="prevPage">
                                                <div  class="number-pages__link-first">
                                                    Trang trước
                                                </div>
                                            </li>
                                            <li  class="number-pages__item" @click="prevPage">
                                                <div  class="number-pages__link">
                                                    ...
                                                </div>
                                            </li>
                                            <li v-for="i in [totalPage - 2, totalPage - 1, totalPage]" :key="i" class="number-pages__item" @click="onPageChange(i)">
                                                <div  class="number-pages__link" :class="i == pageNumber ? 'number-pages__link-active': ''">
                                                    {{i}}
                                                </div>
                                            </li>
                                            <li class="number-pages__item" @click="nextPage">
                                                <div  class="number-pages__link-last">
                                                    Trang sau
                                                </div>
                                            </li>
                                        </ul>
                                        <ul v-else class="number-pages__list">
                                            <li class="number-pages__item"  @click="prevPage">
                                                <div  class="number-pages__link-first">
                                                    Trang trước
                                                </div>
                                            </li>
                                            <li  class="number-pages__item" @click="prevPage">
                                                <div  class="number-pages__link">
                                                    ...
                                                </div>
                                            </li>
                                            <li v-for="i in [pageNumber - 1, pageNumber, pageNumber + 1]" :key="i" class="number-pages__item" @click="onPageChange(i)">
                                                <div  class="number-pages__link" :class="i == pageNumber ? 'number-pages__link-active': ''">
                                                    {{i}}
                                                </div>
                                            </li>
                                            <li  class="number-pages__item" @click="nextPage">
                                                <div  class="number-pages__link">
                                                    ...
                                                </div>
                                            </li>
                                            <li class="number-pages__item" @click="nextPage">
                                                <div  class="number-pages__link-last">
                                                    Trang sau
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

export default ({
  name: 'Shop',
  components: {
    // 'app-header': Header,
    // 'app-footer': Footer
  },
  data () {
    return {
      pageNumber: 1,
      pageSize: 12,
      distanceBetweenToDate: (endDate) => {
        return Math.ceil((new Date(endDate).getTime() - new Date().getTime()) / (1000 * 3600 * 24))
      }
    }
  },
  computed: {
    productData () {
      return this.$store.getters['product/getProducts']
    },
    listProduct () {
      return this.productData.data || []
    },
    totalElements () {
      return this.productData.totalElements || 0
    },
    totalPage () {
      return Math.ceil(this.totalElements / this.pageSize) || 0
    },
    numberOfItemshowed () {
      return this.listProduct.length || 0
    },
    categoryData () {
      return this.$store.getters['category/listCategoryWithQuantity']
    },
    listCategories () {
      return this.categoryData.data || []
    }
  },
  mounted () {
    this.loadData()
  },
  watch: {
    $route (to, from) {
      this.loadData()
    }
  },
  methods: {
    loadData () {
      this.pageNumber = 1
      const searchMode = this.$route.query.searchMode
      if (searchMode) {
        if (searchMode === 'category') {
          const categoryId = this.$route.query.category
          if (categoryId) {
            let data = {
              id: categoryId,
              pageNumber: this.pageNumber,
              pageSize: this.pageSize
            }
            this.$store.dispatch('product/getProductsByCategory', data).then(rs => {
              console.log('product/getProductsByCategory', rs)
              console.log('total', this.totalElements, this.totalPage)
            })
          }
        } else if (searchMode === 'product') {
          const key = this.$route.query.searchKey
          if (key) {
            let data = {
              key: key,
              pageNumber: this.pageNumber,
              pageSize: this.pageSize
            }
            this.$store.dispatch('product/getProductsByProductKey', data).then(rs => {
              console.log('product/getProductsByProductKey', rs)
              console.log('total', this.totalElements, this.totalPage)
            })
          }
        } else {
          let data = {
            pageNumber: this.pageNumber,
            pageSize: this.pageSize
          }
          this.$store.dispatch('product/getProducts', data).then(rs => {
            console.log('product/getProducts', rs)
          })
        }
      } else {
        let data = {
          pageNumber: this.pageNumber,
          pageSize: this.pageSize
        }
        this.$store.dispatch('product/getProducts', data).then(rs => {
          console.log('product/getProducts', rs)
        })
      }
      this.$store.dispatch('category/getCategoriesWithQuantity').then(rs => {
        console.log('rs cat', rs)
      })
    },
    addProductToCart (e, item) {
      this.cartClick(e)
      let data = {
        ...item,
        id: item.id,
        name: item.name,
        code: item.code,
        picture: item.picture,
        price: item.price,
        quantity: 1
      }
      console.log('addProductToCart', data)
      this.$store.dispatch('cart/addProduct', data)
    },
    prevPage () {
      let data
      if (this.pageNumber >= 1) {
        this.pageNumber = this.pageNumber - 1
        data = {
          pageNumber: this.pageNumber,
          pageSize: this.pageSize
        }
      } else {
        data = {
          pageNumber: this.pageNumber,
          pageSize: this.pageSize
        }
      }
      const searchMode = this.$route.query.searchMode
      if (searchMode) {
        if (searchMode === 'category') {
          const categoryId = this.$route.query.category
          if (categoryId) {
            let data = {
              id: categoryId,
              pageNumber: this.pageNumber,
              pageSize: this.pageSize
            }
            this.$store.dispatch('product/getProductsByCategory', data).then(rs => {
              console.log('product/getProductsByCategory', rs)
              console.log('total', this.totalElements, this.totalPage)
            })
          }
        } else if (searchMode === 'product') {
          const key = this.$route.query.searchKey
          if (key) {
            let data = {
              key: key,
              pageNumber: this.pageNumber,
              pageSize: this.pageSize
            }
            this.$store.dispatch('product/getProductsByProductKey', data).then(rs => {
              console.log('product/getProductsByProductKey', rs)
              console.log('total', this.totalElements, this.totalPage)
            })
          }
        } else {
          let data = {
            pageNumber: this.pageNumber,
            pageSize: this.pageSize
          }
          this.$store.dispatch('product/getProducts', data).then(rs => {
            console.log('product/getProducts', rs)
          })
        }
      } else {
        this.$store.dispatch('product/getProducts', data).then(rs => {
          console.log('prev', rs)
        })
      }
    },
    nextPage () {
      let data
      if (this.pageNumber <= this.totalPage - 1) {
        this.pageNumber = this.pageNumber + 1
        data = {
          pageNumber: this.pageNumber,
          pageSize: this.pageSize
        }
      } else {
        data = {
          pageNumber: this.pageNumber,
          pageSize: this.pageSize
        }
      }
      const searchMode = this.$route.query.searchMode
      if (searchMode) {
        if (searchMode === 'category') {
          const categoryId = this.$route.query.category
          if (categoryId) {
            let data = {
              id: categoryId,
              pageNumber: this.pageNumber,
              pageSize: this.pageSize
            }
            this.$store.dispatch('product/getProductsByCategory', data).then(rs => {
              console.log('product/getProductsByCategory', rs)
              console.log('total', this.totalElements, this.totalPage)
            })
          }
        } else if (searchMode === 'product') {
          const key = this.$route.query.searchKey
          if (key) {
            let data = {
              key: key,
              pageNumber: this.pageNumber,
              pageSize: this.pageSize
            }
            this.$store.dispatch('product/getProductsByProductKey', data).then(rs => {
              console.log('product/getProductsByProductKey', rs)
              console.log('total', this.totalElements, this.totalPage)
            })
          }
        } else {
          let data = {
            pageNumber: this.pageNumber,
            pageSize: this.pageSize
          }
          this.$store.dispatch('product/getProducts', data).then(rs => {
            console.log('product/getProducts', rs)
          })
        }
      } else {
        this.$store.dispatch('product/getProducts', data).then(rs => {
          console.log('prev', rs)
        })
      }
    },
    clickbtn () {
      const cartButtons = document.querySelectorAll('.cart-button')
      cartButtons.forEach(button => {
        button.addEventListener('click', cartClick)
      })

      function cartClick () {
        let button = this
        button.classList.add('clicked')
      }
    },
    cartClick (e) {
      let button = e.target
      button.classList.add('clicked')
    },
    onPageChange (pageNum) {
      this.pageNumber = pageNum
      let data = {
        pageNumber: this.pageNumber,
        pageSize: this.pageSize
      }
      const searchMode = this.$route.query.searchMode
      if (searchMode) {
        if (searchMode === 'category') {
          const categoryId = this.$route.query.category
          if (categoryId) {
            let data = {
              id: categoryId,
              pageNumber: this.pageNumber,
              pageSize: this.pageSize
            }
            this.$store.dispatch('product/getProductsByCategory', data).then(rs => {
              console.log('product/getProductsByCategory', rs)
              console.log('total', this.totalElements, this.totalPage)
            })
          }
        } else if (searchMode === 'product') {
          const key = this.$route.query.searchKey
          if (key) {
            let data = {
              key: key,
              pageNumber: this.pageNumber,
              pageSize: this.pageSize
            }
            this.$store.dispatch('product/getProductsByProductKey', data).then(rs => {
              console.log('product/getProductsByProductKey', rs)
              console.log('total', this.totalElements, this.totalPage)
            })
          }
        } else {
          let data = {
            pageNumber: this.pageNumber,
            pageSize: this.pageSize
          }
          this.$store.dispatch('product/getProducts', data).then(rs => {
            console.log('product/getProducts', rs)
          })
        }
      } else {
        this.$store.dispatch('product/getProducts', data).then(rs => {
          console.log('prev', rs)
        })
      }
    },
    redirectToProductDetail (productId) {
      console.log('redirectToProductDetail', productId)
      this.$router.push({path: `/product?productId=${productId}`})
    },
    searchByCategory (id) {
      const categoryId = this.$route.query.category
      if (categoryId && parseInt(categoryId) === id) {
        return
      }
      this.$router.push({path: `/shop?searchMode=category&category=${id}`})
    }
  }
})
</script>

<style scoped>
    .bg-green{
    background-color: #235a43 !important;
    }

    .slider-main{
        position: absolute;
        top: 10px;
        left: 5%;
    }

    .slider-header{
        text-transform: capitalize;
        color: #0a472e;
        font-size: 40px;
        max-width: 850px;
        margin-bottom: 5px;
        font-weight: 700;
    }

    .slider-menu{
        display: flex;
        align-items: center;
    }

    .slider-home{
        font-size: 14px;
        color: #999;
        text-decoration: none;
        margin-right: 5px;
    }

    .slider-home:hover{
        color: #a8b324;
    }

    .slider-item{
        font-size: 14px;
        color: #000;
        text-decoration: none;
        margin-left: 5px;
        margin-top: 15px;
    }

    .content-shop__header{

        padding: 40px 0 20px;
    }

    .show-and-sort{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .showing-text{
        font-size: 14px;
        color: #333;
    }

    .content-sort{
      outline: none;
    }
    .content-sort .orderby{
      outline: none;
    }

    .orderby{
        padding: 10px 5px;
        border: 1px solid #eaeaea;
    }

    .content-shop__footer{
        text-align: center;
    }

    .number-pages{

    }

    .number-pages__list{
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
    }

    .number-pages__item{
        margin: 0 10px;
        cursor: pointer;
    }

    .number-pages__link{
        text-decoration: none;
        color: #0a472e;
        font-weight: 700;
        font-size: 13px;
        cursor: pointer;
    }

    .number-pages__link-active{
        display: block;
        padding: 5px 10px;
        background-color: #a8b324;
        border-radius: 50%;
    }

    .number-pages__link-first{
        text-decoration: none;
        color: #0a472e;
        margin-right: 5px;
    }

    .number-pages__link-last{
        text-decoration: none;
        color: #0a472e;
        margin-left: 5px;
    }

    .maket-left__header{
    font-size: 20px;
    color: #0a472e;
    padding-bottom: 10px;
    font-weight: 700;
    border-bottom: 1px solid #eaeaea;
    }

    .maket-left__category{

    }

    .maket-left__list{
        list-style: none;
        padding: 0;
    }

    .maket-left__item{
        padding: 8px 0;
    }

    .maket-left__link{
        color: #333;
        text-decoration: none;
        font-size: 14px;

    }

    .maket-left__link:hover{
        color: #a8b324;
        cursor: pointer;
    }

    .maket-left__icon{
        margin-right: 10px;
        color: #a8b324;
    }

    /*******************/
    .maket-right{

    }

    .maket-right__header{
        font-size: 14px;
        color: #0a472e;
        padding-bottom: 22px;

        border-bottom: 1px solid #eaeaea;
    }

    .maket-right__body{
        text-align: center;
        margin-top: 40px;
    }

    .maket-right__list{
        padding: 0;
        list-style: none;
    }

    .maket-right__item{
        margin-top: 30px;
        padding: 20px 15px;
    }

    .maket-right__content{

    }

    .maket-right__img{
        width: 100%;
        border: 1px solid #ccc;
        min-height: 300px;
    }

    .maket-right__nav{
        margin-left: 20px;
        padding-top: 10px;
    }

    .maket-name{
        text-decoration: none;
        color: #000;
        font-size: 16px;
        font-weight: 700;
    }
    .maket-name:hover{
        color: #a8b324;
    }

    .maket-right__time{
        font-size: 14px;
        font-weight: 700;
        color: #333;
    }

    .maket-right__hour{
        font-size: 13px;
        font-weight: 700;
        color: #a8b324;
    }

    .maket-right__description{
        font-size: 14px;
        color: #555;
    }

    .maket-right__text{
        font-size: 14px;
        font-weight: 700;
        color: #333;
    }

    .maket-right__category-list{
        display: flex;
        padding: 0;
        list-style: none;
    }

    .maket-right__category-item{
        margin: 0 5px;
    }

    .maket-right__category-link{
        text-decoration: none;
        color: #fff;
        padding: 5px 10px;
        border-radius: 20px;
        background-color: #a8b324;
        font-size: 13px;
    }

    .maket-right__bottom{
        margin: 40px 20px 0;
    }

    .maket-right__bottom-link{
        text-decoration: none;
        color: #000;
        padding: 10px 10px;
        border-radius: 4px;
        background-color: #a8b324;
        font-weight: 700;
    }

    .maket-right__bottom-link:hover{
        color: #fff;
        background-color: #0a472e;
    }

    .list-start-product{
        display: flex;
        transform: translate(0%, 0%);
        justify-content: center;
        flex-direction: row-reverse;
        margin-top: 10px;
    }

    .list-start-product input{
        display: none;
        margin: 0 5px;
    }

    .list-start-product label{
        display: block;
        cursor: pointer;
        width: 15x;
        /* background: #ccc; */
        margin: 0 1px;

    }

    .list-start-product label::before{
        content: '\f005';
        font-family: fontAwesome;
        position: relative;
        display: block;
        font-size: 15px;
        color: #ccc;
    }

    .list-start-product label::after{
        content: '\f005';
        font-family: fontAwesome;
        position: absolute;
        display: block;
        font-size: 15px;
        color: #ffd500;
        top : 0;
        opacity: 0;
        transition: 0.5s;
    }

    .list-start-product label:hover::after,
    .list-start-product label:hover ~ label::after,
    .list-start-product label:checked ~label:after{
        opacity: 1;
    }

    .list-market-products {
        --spacing: 20px;
        --columns: 4;
        display: flex;
        flex-wrap: wrap;
        margin-left: calc(-1 * var(--spacing));
        justify-content: flex-start;
    }
    @media screen and (max-width: 1023px) {
        .list-market-products {
        --columns: 2;
        padding: 20px;
        }
    }
    @media screen and (max-width: 767px) {
        .list-market-products {
        --spacing: 15px;
        --columns: 1;
        padding: 20px;
        }
    }

    .market-product-item {
        border-radius: 20px;
        overflow: hidden;
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 20px 0px;
        width: calc(calc(100% / var(--columns)) - var(--spacing));
        margin-left: var(--spacing);
        margin-bottom: var(--spacing);
    }

    .market-product-img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        flex-shrink: 0;
    }

    .market-product-top {
        padding: 0 25px 25px;
    }

    .market-product-name {
        margin-top: 20px;
        font-weight: 500;
        margin-bottom: 15px;
        word-break: break-all;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
        font-size: 14px;
    }

    .market-product-name:hover{
        color: #a8b324;
        cursor: pointer;
    }

    .market-product-money{
        margin-top: auto;
        flex-shrink: 0;
    }

    .market-product-money-text{
        margin: auto;
        font-size: 16px;
        color: #a8b324;
        font-weight: 700;
    }

    .market-product-bottom {
        padding: 5px;
        border-top: 1px solid #eee;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    .market-product-content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    .market-product-top {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .market-product-bottom {
        margin-top: auto;
        flex-shrink: 0;
    }
    .market-product-item {
        display: flex;
        flex-direction: column;
    }

    .market-product-btn{
        width: 100%;
        background: transparent;
        border: none;
        cursor: pointer;
    }
    /*************************/
    .cart-button {
        position: relative;
        padding: 10px;
        width: 100%;
        height: 60px;
        border: 0;
        border-radius: 10px;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        color: #a8b324;
        transition: .3s ease-in-out;
        overflow: hidden;
        font-size: 16px;

    }
    .cart-button:hover {
        background-color: transparent;
    }
    .cart-button:active {
        transform: scale(.9);
    }

    .cart-button .fa-shopping-cart {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: -10%;
        font-size: 2em;
        transform: translate(-50%,-50%);
    }
    .cart-button .fa-box {
        position: absolute;
        z-index: 3;
        top: -20%;
        left: 52%;
        font-size: 1.2em;
        transform: translate(-50%,-50%);
    }
    .cart-button span {
        z-index: 3;
        left: 50%;
        top: 50%;
        font-size: 1.2em;
        color: #a8b324;
        transform: translate(-50%,-50%);
        text-align: center;
    }

    .cart-button .added{
        position: absolute;
        z-index: 3;
        left: 50%;
        top: 50%;
        font-size: 1.2em;
        color: #a8b324;
        transform: translate(-50%,-50%);
    }
    .cart-button span.add-to-cart {
        opacity: 1;
    }
    .cart-button span.added {
        opacity: 0;
    }

    .cart-button.clicked .fa-shopping-cart {
        animation: cart 1.5s ease-in-out forwards;
    }
    .cart-button.clicked .fa-box {
        animation: box 1.5s ease-in-out forwards;
    }
    .cart-button.clicked span.add-to-cart {
        animation: txt1 1.5s ease-in-out forwards;
    }
    .cart-button.clicked span.added {
        animation: txt2 1.5s ease-in-out forwards;
    }
    @keyframes cart {
        0% {
            left: -10%;
        }
        40%, 60% {
            left: 50%;
        }
        100% {
            left: 110%;
        }
    }
    @keyframes box {
        0%, 40% {
            top: -20%;
        }
        60% {
            top: 40%;
            left: 52%;
        }
        100% {
            top: 40%;
            left: 112%;
        }
    }
    @keyframes txt1 {
        0% {
            opacity: 1;
        }
        20%, 100% {
            opacity: 0;
        }
    }
    @keyframes txt2 {
        0%, 80% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @media (max-width: 1024px){
      .show-and-sort{
        display: block;
        margin-left: 10px;
      }
      .content-sort{
        margin-top: 20px;
      }
      .number-pages__list{
        padding: 0;
      }
      .slider-menu{
        display: none;
      }
    }

    /*Tablet*/
    @media  (min-width: 740px) and (max-width: 1024px) {
      .show-and-sort{
        display: block;
        margin-left: 10px;
      }
      .content-sort{
        margin-top: 20px;
      }
      .number-pages__list{
        padding: 0;
      }
      .slider-menu{
        display: none;
      }
    }

    /*Mobie*/
    @media (max-width: 739px){
      .show-and-sort{
        display: block;
        margin-left: 10px;
      }
      .content-sort{
        margin-top: 20px;
      }
      .number-pages__list{
        padding: 0;
      }
      .slider-menu{
        display: none;
      }
    }

</style>
