<template>
  <div>
    <form id="AddEditComment">
      <div class="row">
        <div class="container">
          <div class="row mb-0">
            <div class="col-lg-5 col-sm-12">
                <!-- <form-group-input
                    type="text"
                    label="ID người dùng"
                    invalidFeedback="Vui lòng nhập nội dung bình luận hợp lệ"
                    v-model="commentUserId"
                    :touch="$v.commentUserId.$touch"
                    :invalid="$v.commentUserId.$error"
                /> -->
                <label for="status">Chọn người dùng</label>
                <select-user v-model="commentUserId" @change="onSelectUser"/>
            </div>
            <div class="col-lg-5 col-sm-12">
                <label for="status">Chọn sản phẩm</label>
                <select-product v-model="commentProductId" @change="onSelectProduct"/>
            </div>
            <div class="col-lg-2 col-sm-12 mb-2">
              <label for="commentIcon">Sao đánh giá</label>
              <b-form-select v-model="commentStar" class="mb-3" :options="listStar">
              </b-form-select>
            </div>
            <div class="col-lg-12 col-sm-12">
                <div class="comment-item">
                  <p class="comment-item-header">Đánh giá sản phẩm</p>
                  <textarea v-model="commentContent" cols="45" rows="8" required="" class="body-coment"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'
import FormGroupInput from '../../../components/form/FormGroupInput.vue'
import commentService from '../../../services/comment.service'
import notification from '../../../utils/notification'
import SelectProduct from '../../../components/form/select/SelectProduct.vue'
import SelectUser from '../../../components/form/select/SelectUser.vue'
export default {
  mixins: [validationMixin],
  props: {
    star: { type: Number, default: 5 },
    content: { type: String, default: '' },
    userId: { type: Number, default: 0 },
    productId: { type: Number, default: 0 },
    commentId: { type: Number, default: 0 }
  },
  validations: {
    commentStar: { required },
    commentContent: { required },
    commentUserId: { required },
    commentProductId: { required }
  },
  data () {
    return {
      commentStar: this.star ? this.star : 5,
      commentContent: this.content ? this.content : '',
      commentUserId: this.userId ? this.userId : 0,
      commentProductId: this.productId ? this.productId : 0,
      cmtId: this.commentId ? this.commentId : 0,
      listStar: [
        {text: '1 sao', value: 1},
        {text: '2 sao', value: 2},
        {text: '3 sao', value: 3},
        {text: '4 sao', value: 4},
        {text: '5 sao', value: 5}
      ]
    }
  },
  components: {
    FormGroupInput,
    SelectProduct,
    SelectUser
  },
  mounted () { },

  computed: {
  },
  methods: {
    validate () {
      this.$v.$touch()
      return !this.$v.$invalid
    },
    addComment () {
      if (!this.validate()) {
        return
      }
      console.log('addComment')
      let data = {
        'star': this.commentStar,
        'commentDate': new Date(),
        'commentContent': this.commentContent,
        'userId': this.commentUserId,
        'productId': this.commentProductId
      }
      commentService.addComment(data).then(rs => {
        if (rs.code === 200) {
          notification.success('Thêm thành công')
          this.$emit('onUpdateData')
          this.$bvModal.hide('CommentAddEdit')
        }
      })
    },
    updateComment () {
      if (!this.validate()) {
        return
      }
      console.log('updateComment')
      let data = {
        id: this.commentId,
        comment: {
          'star': this.commentStar,
          // 'commentDate': new Date(),
          'commentContent': this.commentContent,
          'userId': this.commentUserId,
          'productId': this.commentProductId
        }
      }
      commentService.updateComment(data).then(rs => {
        if (rs.code === 200) {
          notification.success('Cập nhật thành công')
          this.$emit('onUpdateData')
          this.$bvModal.hide('CommentAddEdit')
        }
      })
    },
    onSelectProduct (product) {
      // if (!this.isEdit) {
      //   if (this.orderDetails.findIndex(el => el.productId === product.id) === -1) {
      //     this.orderDetails.push({
      //       product: product,
      //       productId: product.id,
      //       quantity: 1,
      //       realPrice: product.price
      //     })
      //   }
      // }
    },
    onSelectUser (user) {

    }
  }
}
</script>

<style scoped>
.label {
  margin-bottom: 2px !important ;
}
.body-coment{
  width: 100%;
}
</style>
