<template>
    <div class="main">
        <div class="slider">
            <img src="../../../assets/img/slider_shop.jpg" alt="" class="slider-img">
            <!-- ../../assets/img/slider_shop.jpg -->
            <div class="slider-main">
                <p class="slider-header">Danh sách sản phẩm yêu thích</p>
                <div class="slider-menu">
                    <a class="slider-home" href="">Trang chủ</a>
                    <i class="fas fa-angle-double-right"></i>
                    <p class="slider-item">Sản phẩm yêu thích</p>
                </div>
            </div>
        </div>

        <div class="content background-white">
            <div class="my-grid wide">
                <div class="my-row">
                    <div class="my-col my-l-12 my-m-12 my-c-12">
                        <div class="list-item-card">
                            <table class="list-item-table" cellspacing = "0">
                                <thead class="list-item-table__header">
                                    <tr>
                                        <th class="item-product-remove">

                                        </th>
                                        <th class="item-product-image">

                                        </th>
                                        <th class="item-product-name">
                                            Tên sản phẩm
                                        </th>
                                        <th class="item-product-price">
                                            Giá tiền
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cart-item-row" v-for="(item, index) in favoriteProduct" :key="index">
                                        <th class="item-product-remove">
                                            <div class="item-product-remove__link" @click="unlikeProduct(item.product.id)">
                                                <i class="fas fa-heart"></i>
                                            </div>
                                        </th>
                                        <th class="item-product-image">
                                            <div class="item-product-image__main">
                                                <img :src="item.product.picture" alt="" class="item-product__img">
                                            </div>
                                        </th>
                                        <th class="item-product-name" @click="redirectToProductDetail($event,item.product.id)">
                                            <a href="" class="item-product-name__text">{{item.product.name}}</a>
                                        </th>
                                        <th class="item-product-price">
                                            <span class="item-cart__price"><span class="item-cart__num">{{item.product.price}}</span> VNĐ</span>
                                        </th>
                                    </tr>
                                </tbody>
                                <tfoot>

                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import notification from '../../../utils/notification'

export default ({
  name: 'FavoriteProduct',
  components: {
  },
  data () {
    return {

    }
  },
  mounted () {
    this.loadData()
  },
  computed: {
    favoriteProduct () {
      return this.$store.getters['favoriteProduct/favoriteProduct']
    },
    numOfFavoriteProduct () {
      return this.favoriteProduct.length
    },
    currentUser () {
      return this.$store.getters['user/currentUser']
    }
  },
  methods: {
    loadData () {
      if (!this.currentUser.id) {
        notification.error('Bạn phải đăng nhập để thực hiện chức năng này')
        return
      }
      let userId = this.currentUser.id
      this.$store.dispatch('favoriteProduct/getProduct', userId)
    },
    unlikeProduct (productId) {
      if (!this.currentUser.id) {
        notification.error('Bạn phải đăng nhập để thực hiện chức năng này')
        return
      }
      let userId = this.currentUser.id
      let data = {
        userId: userId,
        productId: productId
      }
      this.$store.dispatch('favoriteProduct/likeOrUnlike', data)
    },
    redirectToProductDetail (e, productId) {
      e.preventDefault()
      console.log('redirectToProductDetail', productId)
      this.$router.push({path: `/product?productId=${productId}`})
    }
  }
})
</script>

<style scoped>
    .bg-green{
        background-color: #235a43 !important;
    }

    .slider-main{
        position: absolute;
        top: 10px;
        left: 5%;
    }

    .slider-header{
        text-transform: capitalize;
        color: #0a472e;
        font-size: 40px;
        max-width: 850px;
        margin-bottom: 5px;
        font-weight: 700;
    }

    .slider-menu{
        display: flex;
        align-items: center;
    }

    .slider-home{
        font-size: 14px;
        color: #999;
        text-decoration: none;
        margin-right: 5px;
    }

    .slider-home:hover{
        color: #a8b324;
    }

    .slider-item{
        font-size: 14px;
        color: #000;
        text-decoration: none;
        margin-left: 5px;
        margin-top: 15px;
    }

    .list-item-table{
        width: 100%;
    }

    table {

        border: 0;
        border-collapse: separate;
        border-spacing: 0 5px;
    }

    thead tr th {
        padding: 10px 0 20px;
        border-bottom: 2px solid #eaeaea;
        border-collapse: separate;
        border-spacing: 5px 5px;
    }

    tbody tr th {
        padding: 10px 0;
        border-bottom: 1px solid #eaeaea;
        border-collapse: separate;
        border-spacing: 5px 5px;
    }

    tfoot tr th {
        padding: 10px 0;
        border-bottom: 1px solid #eaeaea;
        border-collapse: separate;
        border-spacing: 5px 5px;
    }

    .list-item-table__header{
        display: table-header-group;
    }

    .item-product-remove{
        width: 5%;
    }

    .item-product-image{
        width: 17%;
    }

    .item-product-name{
        width: 30%;
    }

    .item-product-price{
        width: 16%;
    }

    .item-product-quantity{

    }

    .item-product-remove__link{
        color: #000;
    }

    .item-product-remove__link:hover{
        color: red;
        cursor: pointer;
    }

    .item-product-subtotal{
        width: 16%;
    }

    .table-header__name{
        font-size: 13px;
        color: #333;
        font-weight: 700;
        text-transform: uppercase;
    }

    .list-item-table__body{
        margin-top: 30px;
    }

    .list-item-table__body-row{
        display: flex;
        align-items: center;
    }

    .item-product-image__main{
        display: block;
        padding: 0 20px;
        width: 100%;
    }

    .item-product__img{
        width: 100px;
        height: 100px;
    }

    .item-product-name__text{
        color: #333;
        font-size: 14px;
        text-decoration: none;
        font-weight: 700;
    }

    .item-product-name__text:hover{
        color: #a8b324;;
    }

    .item-cart__quantity{
        padding: 10px;
        width: 50px;
        font-weight: 700;
        color: #0a472e;
    }

    .update-and-coupon{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 200px;
    }

    .coupon-code{
        padding: 15px;
        width: 200px;
        font-weight: 300;
        color: #0a472e;
        border: 1px solid #eaeaea;
        border-radius: 3px;
    }

    .coupon-code:focus{
        outline:  1px solid #a8b324;
        border: 1px solid transparent;
        border-radius: 3px;
    }

    .apply-coupon{
        margin-left: 10px;
        padding: 13px 20px;
        outline: none;
        border: 1px solid transparent;
        color: #fff;
        font-weight: 700;
        background-color: #a8b324;
        border-radius: 3px;
        font-size: 16px;
    }

    .apply-coupon:hover{
        background-color: #0a472e;
        cursor: pointer;
    }

    .update-card{
        padding: 13px 20px;
        outline: none;
        border: 1px solid transparent;
        color: #fff;
        font-weight: 700;
        background-color: #a8b324;
        border-radius: 3px;
        font-size: 16px;
    }

    .update-card:hover{
        background-color: #0a472e;
        cursor: pointer;
    }

    .no-active{
        opacity: 0.6;
    }

    .no-active:hover{
        cursor: default;
        background-color: #a8b324;
    }

    .cart-total{
        border: 5px solid #eaeaea;
    }

    .cart-total-main{
        padding: 15px 35px 30px;
    }

    .cart-total-main__header{
        color: #0a472e;
        font-size: 20px;
        font-weight: 700;
        display: block;
        padding-bottom: 20px;
        border-bottom: 2px solid #eaeaea;
    }
    .cart-total-main__body{

    }
    .cart-total-main__subtotal{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .cart-total-main__text{
        color: #0a472e;
        font-size: 14px;
        font-weight: 700;
    }

    .cart-total-main__price{
        color: #0a472e;
        font-size: 18px;
        font-weight: 700;
    }

    .cart-total-main__discount{
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #eaeaea;
    }

    .cart-total-main__discount-total{
        color: #d62828;
        font-size: 18px;
        font-weight: 700;
    }

    .cart-total-main__total{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    }

    .cart-total-main__price-total{
        color: #a8b324;
        font-size: 20px;
        font-weight: 700;
    }

    .goto-checkout{
        display: block;
        text-align: center;
        text-decoration: none;
        width: 100%;
        padding: 15px 0px;
        background-color: #a8b324;
        margin-top: 60px;
        border-radius: 2px;
        color: #fff;
        font-size: 15px;
        font-weight: 700;
    }

    .goto-checkout:hover{
        background-color: #0A472E;
    }
    @media (max-width: 1024px){
        .slider-menu{
            display: none;
        }
        .slider-header{
            font-size: 20px;
        }
        .list-item-card{
            margin-left: 10px;
        }
    }

</style>
