<template>
    <div class="main">

        <!-- <div class="content background-white">
            <div class="my-grid wide">
                <div class="my-row">
                    <div class="my-col my-l-8">
                        <div class="list-item-card">
                            <table class="list-item-table" cellspacing = "0">
                                <thead class="list-item-table__header">
                                    <tr>
                                        <th class="item-product-remove">

                                        </th>
                                        <th class="item-product-image">

                                        </th>
                                        <th class="item-product-name">
                                            Tên sản phẩm
                                        </th>
                                        <th class="item-product-price">
                                            Giá
                                        </th>
                                        <th class="item-product-quantity">
                                            Số Lượng
                                        </th>
                                        <th class="item-product-subtotal">
                                            Tổng Cộng
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cart-item-row" v-for="item in cart" :key="item.id">
                                        <th class="item-product-remove">
                                            <div class="item-product-remove__link" @click="removeCartItem(item.id)">
                                                <i class="far fa-times-circle"></i>
                                            </div>
                                        </th>
                                        <th class="item-product-image">
                                            <div class="item-product-image__main">
                                                <img :src="item.picture" alt="" class="item-product__img">
                                            </div>
                                        </th>
                                        <th class="item-product-name">
                                            <a href="" class="item-product-name__text">{{item.name}}</a>
                                        </th>
                                        <th class="item-product-price">
                                            <span class="item-cart__price"><span class="item-cart__num">{{item.price}}</span> VNĐ</span>
                                        </th>
                                        <th class="item-product-quantity">
                                            <input type="number" v-model="item.quantity" name="" id="" class="item-cart__quantity" step="1" min="0" max="99" value="1" title="Qty" inputmode="numeric">
                                        </th>
                                        <th class="item-product-subtotal">
                                            <span class="item-cart__price-total"><span class="item-cart__num-total">{{item.price * item.quantity}}</span> VNĐ</span>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td colspan="6" class="cart-item-last123">
                                            <div class="update-and-coupon">
                                                <div class="item-coupon-code">
                                                    <input type="text" name="coupon_code" id="" class="coupon-code" placeholder="Nhập mã giảm giá">
                                                    <button type="button" class="apply-coupon">Sử dụng</button>
                                                </div>
                                                <div class="item-update-card">
                                                    <button type="button" class="update-card no-active">Cập nhật giỏ hàng</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>

                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="my-col my-l-4">
                        <div class="cart-total">
                            <div class="cart-total-main">
                                <p class="cart-total-main__header">GIỎ HÀNG CỦA BẠN</p>
                                <div class="cart-total-main__body">
                                    <div class="cart-total-main__subtotal">
                                        <p class="cart-total-main__text">Tổng giá</p>
                                        <span class="cart-total-main__price"> <span class="cart-total-main__num">{{totalCostOfCast}}</span> VNĐ</span>
                                    </div>
                                    <div class="cart-total-main__discount">
                                        <p class="cart-total-main__text">Giảm giá</p>
                                        <span class="cart-total-main__discount-total"> <span class="cart-total-main__discount-num">10</span> %</span>
                                    </div>
                                    <div class="cart-total-main__total">
                                        <p class="cart-total-main__text">Thành tiền</p>
                                        <span class="cart-total-main__price-total"> <span class="cart-total-main__price-num">{{totalCostOfCast * 0.9}}</span> VNĐ</span>
                                    </div>
                                    <a href="" class="goto-checkout">Tiến hành thanh toán</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="content background-white">
            <div class="my-grid wide">
                <div class="my-row">
                    <div class="my-col my-l-2">
                        <div class="user-avata-top">
                            <div class="user-avata-top__place">
                                <img src="https://res.cloudinary.com/donghcmute/image/upload/v1631758396/6_T%E1%BA%A3o_m%E1%BA%B7t_tr%E1%BB%9Di_t%E1%BB%B1_nhi%C3%AAn_Spirulian_wj9fvq.jpg" alt="" class="user-avata-top-img">
                            </div>
                            <div class="user-avata-top-nav">
                                <p class="user-avata-top-user">khoaphan123</p>
                                <p class="user-avata-top-text"><i class="fas fa-pen"></i> Sửa hồ sơ</p>
                            </div>
                        </div>

                        <div class="user-item-bottom">
                            <ul class="user-item-list">
                                <li class="user-item-item">
                                    <!-- <div class="user-item-main">
                                        <i class="fas fa-user"></i>
                                        <span class="user-item-text">Tài khoản của tôi</span>
                                    </div> -->
                                    <router-link :to="{name: 'shipper-page'}" class="user-item-main">
                                        <i class="fas fa-user"></i>
                                        <span class="user-item-text">Tài khoản của tôi</span>
                                    </router-link>
                                </li>
                                <li class="user-item-item">
                                    <!-- <div class="user-item-main">
                                        <i class="fas fa-lock"></i>
                                        <span class="user-item-text">Đổi mật khẩu</span>
                                    </div> -->
                                    <router-link :to="{name: 'shipper-changepass'}" class="user-item-main">
                                        <i class="fas fa-lock"></i>
                                        <span class="user-item-text">Đổi mật khẩu</span>
                                    </router-link>
                                </li>
                                <li class="user-item-item">
                                    <!-- <div class="user-item-main">
                                        <i class="fas fa-shopping-cart"></i>
                                        <span class="user-item-text">Danh sách đơn hàng</span>
                                    </div> -->
                                    <router-link :to="{name: 'shipper-listbill'}" class="user-item-main">
                                        <i class="fas fa-shopping-cart"></i>
                                        <span class="user-item-text">Danh sách đơn hàng</span>
                                    </router-link>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <div class="my-col my-l-10">
                        <div class="user-infomation">
                            <div class="user-infomation-main">
                                <div class="user-infomation-header">
                                    <h2 class="user-infomation-header-name">Đổi mật khẩu</h2>
                                    <p class="user-infomation-header-text">Vui lòng điền đúng mật khẩu cũ và xác nhận mật khẩu mới để đổi mật khẩu</p>
                                </div>

                                <div class="user-infomation-body">
                                    <div class="row">
                                        <div class="col l-12">
                                            <div class="info-user-row">
                                                <div class="info-user-row-left">
                                                    <p class="info-user-row-text">Tên đăng nhập </p>
                                                </div>
                                                <div class="info-user-row-right">
                                                    <p class="info-user-row-user">khoaphan123</p>
                                                </div>
                                            </div>

                                            <div class="info-user-row">
                                                <div class="info-user-row-left">
                                                    <p class="info-user-row-text">Mật khẩu cũ</p>
                                                </div>
                                                <div class="info-user-row-right">
                                                    <div class="info-user-row-name">
                                                        <input type="password" name="" id="" class="info-user-row-name-text">

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="info-user-row">
                                                <div class="info-user-row-left">
                                                    <p class="info-user-row-text">Mật khẩu mới</p>
                                                </div>
                                                <div class="info-user-row-right">
                                                    <div class="info-user-row-name">
                                                        <input type="password" name="" id="" class="info-user-row-name-text">

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="info-user-row">
                                                <div class="info-user-row-left">
                                                    <p class="info-user-row-text">Nhập lại mật khẩu mới</p>
                                                </div>
                                                <div class="info-user-row-right">
                                                    <div class="info-user-row-name">
                                                        <input type="password" name="" id="" class="info-user-row-name-text" >

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="info-user-row">
                                                <div class="info-user-row-left">
                                                </div>
                                                <div class="info-user-row-right">
                                                    <div class="btn-save-main">
                                                        <button type="submit" class="btn-save">Lưu</button>
                                                        <button type="submit" class="btn-no-save">Hủy</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default ({
  name: 'Account',
  components: {
  },
  data () {
    return {

    }
  },
  mounted () {
    this.scriptPage()
  },
  methods: {
    scriptPage () {
      //       JS từ đây
      // lấy ra 1 phần tử
      const $ = document.querySelector.bind(document)
      // lấy ra tất cả phần tử
      const $$ = document.querySelectorAll.bind(document)
      // lấy ra tất cả thẻ có class là tab-item
      const tabs = $$('.tab-item')
      const panes = $$('.tab-pane')
      const tabActive = $('.tab-item.active')
      const line = $('.tabs .line')
      // lấy vị trí của line ở dưới item
      line.style.left = tabActive.offsetLeft + 'px'
      line.style.width = tabActive.offsetWidth + 'px'
      tabs.forEach((tab, index) => {
        const pane = panes[index]
        tab.onclick = function () {
          // console.log(this);
          // Trước hết cần kiểm tra xem có class nào đang active hay
          // không? nếu có thì xóa class cũ trước rồi mới thêm
          // class active mới vào thẻ mới
          $('.tab-item.active').classList.remove('active')
          $('.tab-pane.active').classList.remove('active')
          // tab = this
          line.style.left = tab.offsetLeft + 'px'
          line.style.width = this.offsetWidth + 'px'
          // thêm class active vào khi click vào 1 tab-item
          this.classList.add('active')
          pane.classList.add('active')
        }
      })
    }
  }
})
</script>

<style scoped>
    .bg-green{
        background-color: #235a43 !important;
    }

    .slider-main{
        position: absolute;
        top: 10px;
        left: 5%;
    }

    .slider-header{
        text-transform: capitalize;
        color: #0a472e;
        font-size: 40px;
        max-width: 850px;
        margin-bottom: 5px;
        font-weight: 700;
    }

    .slider-menu{
        display: flex;
        align-items: center;
    }

    .slider-home{
        font-size: 14px;
        color: #999;
        text-decoration: none;
        margin-right: 5px;
    }

    .slider-home:hover{
        color: #a8b324;
    }

    .slider-item{
        font-size: 14px;
        color: #000;
        text-decoration: none;
        margin-left: 5px;
        margin-top: 15px;
    }

    .user-avata-top{
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
    }

    .user-avata-top__place{
        width: 50px;
        height: 50px;
    }

    .user-avata-top-img{
        width: 100%;
        border-radius: 50%;
        height: 100%;
    }

    .user-avata-top-nav{
        margin-left: 10px;
    }

    .user-avata-top-user{
        margin: 0;
        font-size: 14px;
        color: #333;
        font-weight: 600;
        margin: 5px 0;

    }

    .user-avata-top-text{
        margin: 0;
        font-size: 14px;
        color: #888;
        margin: 5px 0;
        cursor: pointer;
    }

    .user-item-bottom{
        margin-top: 20px;
    }

    .user-item-list{
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .user-item-item{
        padding: 10px 5px;
    }

    .user-item-main{
        cursor: pointer;
        text-decoration: none;
    }

    .user-item-text{
        margin-left: 10px;
        color: #333;
    }

    .fa-user{
        color: #90e0ef;
    }

    .fa-lock{
        color: #f94144;
    }

    .fa-shopping-cart{
        color: #a8b324;
    }

    .fa-bell{
        color: #f9c74f;
    }

    .fa-tags{
        color: #14213d;
    }

    .tabs {
        display: flex;
        position: relative;
    }

    .tabs .line {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 6px;
        border-radius: 15px;
        background-color: #a8b324;
        transition: all 0.2s ease;
    }

    .tab-item {
        min-width: 80px;
        padding: 16px 20px 11px 20px;
        font-size: 20px;
        text-align: center;
        color: #a8b324;
        background-color: #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom: 5px solid transparent;
        opacity: 0.6;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    .tab-icon {
        font-size: 24px;
        width: 32px;
        position: relative;
        top: 2px;
    }

    .tab-item:hover {
        opacity: 1;
        background-color: rgba(194, 53, 100, 0.05);
        border-color: rgba(194, 53, 100, 0.1);
    }

    .tab-item.active {
        opacity: 1;
    }

    .tab-content {
        padding: 28px 0;
    }

    .tab-pane {
        color: #333;
        display: none;
    }

    .tab-pane.active {
        display: block;
    }

    .tab-pane h2 {
        font-size: 24px;
    }

    .tab-content-product-list__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .tab-content-product-list__header-status{
        font-size: 14px;
    }

    .tab-content-product-list__body{

    }

    .tab-content-product-list__item{
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #eaeaea;
        padding: 20px 0;
    }

    .tab-content-product-list__left{
        display: flex;
    }

    .tab-content-product-list__image{
        width: 80px;
        height: 80px;
        overflow: hidden;
        border: 1px solid #eaeaea;
    }

    .tab-content-product-list__img{
        width: 100%;
    }

    .tab-content-product-list__main{
        margin-left: 10px;
    }

    .discount-and-name{
        display: flex;
        align-items: center;
    }

    .discount-tag{
        padding: 5px;
        border: 1px solid #a8b324;
        color: #a8b324;
    }

    .name-of-product{
        margin: 0;
        margin-left: 10px;
        font-size: 16px;
        color: #333;
    }

    .category-of-product{
        color: #888;
        font: 12px;
        padding-top: 10px;
        display: block;
    }

    .category-of-product-name{

    }

    .quantity-of-product{
        color: #333;
        font: 14px;
        padding-top: 10px;
        display: block;
    }

    .quantity-of-product-num{

    }

    .tab-content-product-list__right{
        display: flex;
        align-items: center;
        font-size: 15px;
    }

    .price-discount{
        display: flex;
        margin-right: 10px;
        text-decoration: line-through;
        color: #888;
    }

    .price-discount-num{

    }

    .price-product{
        display: flex;
        color: #a8b324;
        font-weight: 700;
    }

    .price-product-num{

    }

    .tab-content-bottom{
        border-top: 1px solid #eaeaea;
        padding-top: 30px;
    }

    .tab-content-total{

    }

    .total-and-none{
        display: flex;
        justify-content: space-between;
    }
    .none{

    }

    .tab-content-total-text{

    }

    .tab-content-total-num{
        color: #a8b324;
        font-size: 20px;
        font-weight: 700;
    }

    .curreny{
        color: #a8b324;
        font-size: 20px;
        font-weight: 700;
    }

    .button-and-notice{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 30px;
        align-items: center;
    }

    .notice-of-product{

    }

    .notice-text{

    }

    .button-of-product{

    }

    .received-product-btn{
        padding: 15px 20px;
        margin-right: 20px;
        border: transparent;
        color: #fff;
        background-color: #a8b324;
        font-size: 16px;
        cursor: pointer;
    }

    .contact-product-btn{
        padding: 15px 20px;
        border: 1px solid #a8b324;
        color: #a8b324;;
        background-color: #fff;
        font-size: 16px;
        cursor: pointer;

    }

    .user-infomation{

    }

    .user-infomation-main{
    padding: 0 10px 10px;
    }

    .user-infomation-header{
        /* padding-bottom: 15px; */
        border-bottom: 1px solid #eaeaea;
    }

    .user-infomation-header-name{
        margin: 5px 0;
        font-size: 26px;
        font-weight: 700;
    }

    .user-infomation-header-text{
        margin: 10px 0;
    }

    .user-infomation-body{
        margin-top: 30px;
    }

    .info-user-row{
        display: flex;
        margin-bottom: 10px;
        align-items: center;
    }

    .info-user-row-left{
        width: 20%;
        text-align: right;
        color: rgba(85,85,85,.8);
        text-transform: capitalize;
        overflow: hidden;
    }

    .info-user-row-right{
        width: 80%;
        margin-left: 20px;
    }

    .info-user-row-user{

    }

    .info-user-row-name{
        display: flex;
        align-items: center;
    }

    .info-user-row-name-text{
        padding: 10px 15px;
        border: 1px solid #eaeaea;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        min-width: 350px;
    }

    .info-user-row-name-email{
        padding: 10px 15px;
        border: 1px solid #eaeaea;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        min-width: 350px;
    }

    .change-btn{
        margin-left: 15px;
        color: #a8b324;
        cursor: pointer;
        font-size: 13px;
    }

    .btn-save-main{
        margin-top: 20px;
    }

    .btn-save{
        padding: 10px 30px;
        color: #a8b324;
        border: 1px solid #a8b324;
        font-size: 16px;
        background-color: #fff;
        border-radius: 5px;
    }

    .btn-no-save{
        padding: 10px 30px;
        color: #e5383b;
        border: 1px solid #e5383b;
        font-size: 16px;
        background-color: #fff;
        border-radius: 5px;
        margin-left: 30px;
    }

    .btn-save:hover{
        padding: 10px 30px;
        color: #fff;
        border: 1px solid #a8b324;
        font-size: 16px;
        background-color: #a8b324;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn-no-save:hover{
        padding: 10px 30px;
        color: #fff;
        border: 1px solid #e5383b;
        font-size: 16px;
        background-color: #e5383b;
        border-radius: 5px;
        cursor: pointer;
    }

    .avata-user-change{
        margin-top: 20px;
        border-left: 1px solid #ccc;
        padding-left: 50px;

    }

    .avata-user-change-image{
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .avata-user-change-img{
        width: 100%;
        border-radius: 50%;
    }

    .btn-change-main{
        margin: 20px 0;
        text-align: center;
    }

    .btn-change{
        padding: 10px 20px;
        color: #a8b324;
        border: 1px solid #a8b324;
        font-size: 16px;
        background-color: #fff;
        border-radius: 5px;
    }

    input:focus {
        outline: none !important;
        border:1px solid #a8b324;
        box-shadow: 0 0 5px #a8b324;
    }
</style>
