<template>
    <div class="main">
        <div class="background-white">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="bill-info">
                        <p class="bill-info__header">Thông tin người nhận</p>
                        <div class="bill-info__body">
                            <span class="bill-info__name-user">
                                <span class="bill-info__text">Họ và tên người nhận hàng</span>
                                <p class="info-bill-name">{{order.receiverName}}</p>
                            </span>
                            <span class="bill-info__phone-user">
                                <span class="bill-info__text">Số điện thoại người nhận hàng</span>
                                <p class="info-bill-name">{{order.receiverPhone}}</p>
                            </span>
                            <span class="bill-info__address-user">
                                <span class="bill-info__text">Địa chỉ nhận hàng</span>
                                <p class="info-bill-name">{{order.receiverAddress}}</p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="bill-total">
                        <div class="bill-total-main">
                            <p class="bill-total-main__header">CHI TIẾT ĐƠN HÀNG</p>
                            <div class="bill-total-main__body">
                                <table class="bill-total-main__body-main">
                                    <thead>
                                        <tr>
                                            <th class="bill-product-name">Tên sản phẩm</th>
                                            <th class="bill-product-total">Số lượng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="bill-cart_item" v-for="item in order.orderDetails" :key="item.productId">
                                            <th class="bill-product-name">
                                                <span class="bill-product-name__text">
                                                    <span class="name-of-product-buy">{{item.product.name}}</span>
                                                </span>
                                            </th>
                                            <th class="bill-product-total">
                                                <span class="bill-product-total__text">
                                                    <span class="price-of-product-buy">{{item.quantity}}</span>
                                                </span>
                                            </th>
                                        </tr>

                                    </tbody>
                                    <tfoot>
                                        <tr class="bill-cart-subtotal">
                                            <th class="bill-product-name">
                                                <span class="discount-text">
                                                    Trạng thái :
                                                </span>
                                            </th>
                                            <th class="bill-product-total">
                                                <span class="bill-status">
                                                    <span class="bill-status-text">{{OrderStatusText[order.status]}}</span>
                                                </span>
                                            </th>
                                        </tr>
                                        <tr class="bill-order-total">
                                            <th class="bill-order-total-money__left">
                                                <span class="total-all-money__text">
                                                    Tổng cộng :
                                                </span>
                                            </th>
                                            <th class="bill-order-total-money__right">
                                                <span class="total-all-money__price">
                                                    <span class="total-all-money__number">{{order.paymentType === 0 ? order.realTotalCost : 0}}</span> VNĐ
                                                </span>
                                            </th>
                                        </tr>
                                    </tfoot>
                                </table>

                                <div class="HDSD">
                                    <span class="HDSD-text">
                                        Hãy chắc chắn kỹ là bạn đã đọc hết các điều khoản và hướng dẫn
                                            ship hàng của chúng tôi, nếu bạn chưa biết hoặc chưa hiểu
                                            chỗ nào vui lòng <a href="" class="HDSD-link">click vào đây</a>
                                            để tìm hiểu kỹ hơn.
                                    </span>
                                </div>

                                <div class="checkout-btn-group">
                                    <a href="" v-if="order.status === 1" class="checkout-by" @click="receiveOrder">
                                        Xác nhận đơn hàng
                                    </a>
                                    <a href="" class="checkout-by" @click="completeOrder">
                                        Hoàn thành đơn hàng
                                    </a>
                                    <div style="margin-top: 10px" v-if="isShowNote">
                                        <label>Lý do hủy</label>
                                        <br>
                                        <textarea class = "shipper-text" v-model="note" cols="45" rows="4" required=""></textarea>
                                    </div>
                                    <a href="" class="checkout-by" @click="rejectOrder">
                                        Hủy đơn hàng
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
import * as moment from 'moment'
import notification from '../../utils/notification'
import OrderService from '../../services/order.service'
export default ({
  name: 'Account',
  props: {
    order: {type: Object, default () { return {} }}
  },
  components: {
  },
  data () {
    return {
      OrderStatusText: ['Đang xử lý', 'Đã duyệt', 'Đang giao', 'Đã giao', 'Hủy', 'Chưa thanh toán'],
      formatDate: (data) => {
        return moment(data).format('DD-MM-YYYY')
      },
      note: '',
      isShowNote: false
    }
  },
  computed: {
    currentUser () {
      return this.$store.getters['user/currentUser']
    }
  },
  mounted () {
  },
  methods: {
    receiveOrder (e) {
      e.preventDefault()
      let userId = this.currentUser.id
      let orderId = this.order.id
      OrderService.shipperReceiveOrder(orderId, userId).then(rs => {
        if (rs.code === 200) {
          notification.success('Nhận đơn hàng thành công')
          this.$emit('onLoadData')
          this.$bvModal.hide('BillDetail')
        }
      })
    },
    completeOrder (e) {
      e.preventDefault()
      let orderId = this.order.id
      OrderService.shipperCompleteOrder(orderId).then(rs => {
        if (rs.code === 200) {
          notification.success('Giao thành công')
          this.$emit('onLoadData')
          this.$bvModal.hide('BillDetail')
        }
      })
    },
    rejectOrder (e) {
      e.preventDefault()
      if (!this.isShowNote) {
        this.isShowNote = true
        return
      }
      if (!this.note) {
        notification.warning('Vui lòng nhập lý do hủy')
        return
      }
      let orderId = this.order.id
      OrderService.shipperRejectOrder(orderId, this.note).then(rs => {
        if (rs.code === 200) {
          notification.success('Hủy thành công')
          this.$emit('onLoadData')
          this.$bvModal.hide('BillDetail')
        }
      })
    }
  }
})
</script>

<style scoped>
    .bill-info{
        margin-left: 10px;
    }
    .bg-green{
        background-color: #235a43 !important;
    }
    thead tr th {
        padding: 10px 0 20px;
        border-bottom: 1px solid #eaeaea;
        border-collapse: separate;
        border-spacing: 5px 5px;
    }

    tbody tr th {
        padding: 20px 0;
        border-bottom: 1px solid #eaeaea;
        border-collapse: separate;
        border-spacing: 5px 5px;
    }

    tfoot tr th {
        padding: 20px 0;
        border-bottom: 1px solid #eaeaea;
        border-collapse: separate;
        border-spacing: 5px 5px;
    }

    tfoot tr th.bill-order-total-money__right {
        border-bottom: none;
        text-align: right;
    }

    tfoot tr th.bill-order-total-money__left {
        text-align: left;
        border-bottom: none;
    }

    .bill-info__header{
        display: block;
        color: #0a472e;
        font-size: 24px;
        margin-bottom: 10px;
        font-weight: 700;
        text-align: center;
    }

    .bill-info__text{
        display: block;
        color: #0a472e;
        font-size: 15px;
        margin-bottom: 15px;
    }

    .bill-info__input{
        padding: 12px;
        width: 100%;
        font-size: 16px;
        color: #0a472e;
        border: 1px solid #eaeaea;
    }

    .bill-info__input:focus{
        outline:  1px solid #a8b324;
        border: 1px solid transparent;
        border-radius: 3px;
    }

    .bill-total{
        border: 5px solid #eaeaea;
    }

    .bill-total-main{
        padding: 15px 35px 30px;
    }

    .bill-total-main__header{
        color: #0a472e;
        font-size: 20px;
        font-weight: 700;
        display: block;
        padding-bottom: 20px;
        border-bottom: 2px solid #eaeaea;
        text-align: center;
    }

    .bill-total-main__body-main{
        width: 100%;
        align-items: center;
    }

    .bill-product-name{
        width: 55%;
        text-align: left;

    }

    .bill-product-total{
        width: 45%;
        text-align: right;
    }

    .bill-product-name{
        font-size: 16px;
        font-weight: 700;
        color: #0a472e;
    }

    .bill-product-name__text{
        font-size: 13px;
        font-weight: 300;
        color: #0a472e;
    }

    .bill-product-total{
        font-size: 16px;
        font-weight: 700;
        color: #0a472e;
    }

    .discount__total{
        color: #d62828;
    }

    .total-all-money__text{
        font-size: 16px;
        font-weight: 700;
        color: #0a472e;
    }

    .total-all-money__price{
        font-size: 26px;
        font-weight: 700;
        color: #a8b324;
    }

    .HDSD{
        margin-top: 10px;
        text-align: justify;
        line-height: 18px;
    }

    .HDSD-text{
        color: #000;
        font-size: 15px;

    }

    .HDSD-link{
        color: #a8b324;
        text-decoration: none;
    }

    .checkout-btn-group{

    }
    .checkout-by{
        display: block;
        text-align: center;
        padding: 15px 0;
        background-color: #a8b324;
        color: #fff;
        font-size: 15px;
        text-decoration: none;
        border-radius: 2px;
        margin-top: 20px;
        font-weight: 700;
    }

    .checkout-by:hover{
        background-color: #80891b;
    }

    .info-bill-name{
        font-size: 16px;
        font-weight: 500;
        color: #000000;
    }

    .bill-status-text{
        color: #90e0ef;
    }

    .shipper-text{
        width: 100%;
    }

</style>
